[Unit]
Description=daphne daemon
After=network.target

[Service]
Type=simple
User=atlpan
Environment="DJANGO_SETTINGS_MODULE=core.settings"
WorkingDirectory=/data/bigmon/
ExecStart=/opt/bigmon/bin/python /opt/bigmon/bin/daphne -b 0.0.0.0 -p 8000 core.asgi:application
Restart=always
Autostart=true
Autorestart=true
StandardOutput=file:/var/log/daphne.log
StandardError=file:/var/log/daphne_error.log

[Install]
WantedBy=multi-user.target