{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Errors scattering{% endblock %}
{% block subtitle %}Errors scattering <font size=-1>{{ viewParams.selection|safe }}</font> {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/wizardstyles.css'%}" />
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/hideCells.js' %}"></script>
    <script src="{% static 'js/jquery.floatThead.min.js' %}"></script>
{% endblock %}
{% block body %}

<div class="float-left">
{% if requestParams.reqid %}<br><b>Request ID: {{ requestParams.reqid }}</b> <a target="_blank" href="https://monit-grafana.cern.ch/d/5ROeg3QZk/jobs-monitoring-monit-elasticsearch?orgId=17&var-bin=1h&var-groupby=adcactivity&var-country=All&var-federation=All&var-resources=All&var-tier=All&var-cloud=All&var-site=All&var-computingsite=All&var-nucleus=All&var-cores=All&var-eventservice=All&var-groups=All&var-inputdatatypes=All&var-inputprojects=All&var-outputproject=All&var-gshare=All&var-resourceserporting=All&var-processingtype=All&var-jobtype=All&var-jobstatus=All&var-reasonoffailure=All&var-transexitreasonoffailure=All&var-errorcategory=All&var-container_name=All&var-reqids={{ requestParams.reqid }}&var-taskid=All&from=now-7d&to=now"><div class="tooltip-upper"><img src="{% static 'images/grafana.png' %}" width=15 height=15 border=0><span class="tooltip-text">Jobs monitoring (MONIT Grafana)</span></div></a> {% endif %}
{% if requestParams.region %}<br><b>Region: {{ requestParams.region }}</b> {% endif %}
</div>

<div class="float-right">
    {% if view == 'queues' %}
        {% if cloud == 'ALL' and reqid == 'ALL' %}
             <a href="{% url 'errorsScattering' %}{% if scouts == 'exclude' %}?scouts=exclude{% endif %}" class="bluebutton">Switch to region view</a>
        {% else %}
             <a href="{% url 'errorsScatteringDetailed' cloud=cloud|safe reqid=reqid %}{% if scouts == 'exclude' %}?scouts=exclude{% endif %}" class="bluebutton">Switch to region view</a>
        {% endif %}
    {% else %}
        <a href="{% url 'errorsScatteringDetailed' cloud=cloud|safe reqid=reqid %}?view=queues{% if scouts == 'exclude' %}&scouts=exclude{% endif %}" class="bluebutton">Switch to queues view</a>
    {% endif %}
    {% if scouts and scouts == 'exclude' %}
        <a href="{% url 'errorsScatteringDetailed' cloud=cloud|safe reqid=reqid%}" class="bluebutton">Include scouts</a>
    {% else %}
        <a href="{% url 'errorsScatteringDetailed' cloud=cloud|safe reqid=reqid%}?scouts=exclude" class="bluebutton">Exclude scouts</a>
    {% endif %}
    <a id="hidebutton" onclick="toggleLowStatsCells('lowstats', 'errorsscatdetailed', 'hidebutton')" class="bluebutton">Hide low statistics cells</a>
</div>

<br style="clear:both;">
<div class="row" style="width: 100%; max-width: 100%">
  <div id="errorsscat-table" class="column small-10">
  {% if grouping|length == 0 or 'reqid' in grouping and grouping|length == 1 and view == 'queues' %}
    <div class="table-wrap table-scroll">
    <table id="errorsscatdetailed" class="matrix unstriped floatThead">
      <thead>
        <tr>
            <th>Task ID <a class="graylink" href="{% url 'errorsScatteringDetailed' 'ALL' reqid %}{% if requestParams.hours %}?hours={{ requestParams.hours }}{% endif %}{% if scouts == 'exclude' %}{% if requestParams.hours %}&{% else %}?{% endif %}scouts=exclude{% endif %}"><i class="fi-minus"></i></a><br>
                <a class="graylink" href="{% url 'errorsScatteringDetailed' cloud 'ALL' %}{% if requestParams.hours %}?hours={{ requestParams.hours }}{% endif %}{% if scouts == 'exclude' %}{% if requestParams.hours %}&{% else %}?{% endif %}scouts=exclude{% endif %}"><i class="fi-minus"></i></a>
            </th>
            {% for computingSite in computingSites %}
                <th {% for columnname, stats in columnstats.items %}{% if columnname == computingSite %}
                         {% if stats.allc > 10 %}
                            {% if stats.percent < 50 %}class="vertical sm_alarm_fill"
                            {% else %}
                                {% if stats.percent < 80 %}class="vertical sm_warning_fill"
                                {% else %}class="vertical sm_ok_fill"{% endif %}
                            {% endif %}
                          {% elif stats.allc > 0 and stats.allc <= 10 %}
                            {% if stats.percent < 50 %}class="vertical sm_alarm_light_fill"
                            {% else %}
                                {% if stats.percent < 80 %}class="vertical sm_warning_light_fill"
                                {% else %}class="vertical sm_ok_light_fill"{% endif %}
                            {% endif %}
                          {% endif %}
                         {% endif %}{% endfor %}>
                    <div class="vertical"><a class="blacklink bold" href="{% url 'siteInfo' %}{{ computingSite }}/">{{ computingSite }}</a></div></th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for values in taskserrors %}
            <tr{% if values.totalstats.allc <= 100 %} class="low-stat" {% endif %} >
              <th {% if values.totalstats.allc > 10 %}
                    {% if values.totalstats.percent < 50 %}class="sm_alarm_fill"
                    {% else %}
                        {% if values.totalstats.percent < 80 %}class="sm_warning_fill"
                        {% else %}class="sm_ok_fill"{% endif %}
                    {% endif %}
                  {% elif values.totalstats.allc > 0 and values.totalstats.allc <= 10 %}
                    {% if values.totalstats.percent < 50 %}class="sm_alarm_light_fill"
                    {% else %}
                        {% if values.totalstats.percent < 80 %}class="sm_warning_light_fill"
                        {% else %}class="sm_ok_light_fill"{% endif %}
                    {% endif %}
                  {% endif %}>
                  <a class="blacklink bold" href="{% url 'taskInfo' values.jeditaskid %}">{{ values.jeditaskid }}</a>
              </th>
              {% for stats in values.columns %}
                    <td {% if stats.allc > 10 %}
                            {% if stats.percent < 50 %}class="sm_alarm_fill"
                            {% else %}
                                {% if stats.percent < 80 %}class="sm_warning_fill"
                                {% else %}class="sm_ok_fill"{% endif %}
                            {% endif %}
                        {% elif stats.allc > 0 and stats.allc <= 10 %}
                            {% if stats.percent < 50 %}class="sm_alarm_light_fill"
                            {% else %}
                                {% if stats.percent < 80 %}class="sm_warning_light_fill"
                                {% else %}class="sm_ok_light_fill"{% endif %}
                            {% endif %}
                        {% endif %}>
                    {% if stats.allc != 0 %}
                      <a href="{% url 'jobList' %}?jobtype=production&jobstatus=finished|failed&jeditaskid={{ values.jeditaskid }}&computingsite={{ stats.computingsite }}&hours={% if requestParams.hours %}{{ requestParams.hours }}{% else %}8{% endif %}&mode=nodrop" {% if stats.allc < 100 %} class="blacklink lowstats" {% else %} class="blacklink" {% endif %}>
                        {{ stats.percent }}%<br>
                        {{ stats.finishedc }}<br>
                        {{ stats.failedc }}
                      </a>
                    {% endif %}
                    </td>
              {% endfor %}
            </tr>
         {% endfor %}
      </tbody>
    </table>
    </div>
  {% elif 'reqid' in grouping and grouping|length == 1 %}
      <table id="errorsscat" class="unstriped errorsscat floatThead">
      <thead>
        <tr>
            <th>Task ID<br>
                <a class="graylink" href="{% url 'errorsScattering' %}{% if requestParams.hours %}?hours={{ requestParams.hours }}{% endif %}{% if scouts == 'exclude' %}{% if requestParams.hours %}&{% else %}?{% endif %}scouts=exclude{% endif %}"><i class="fi-minus"></i></a>
            </th>
                {% for c in clouds %}
                     <th {% for columnname, stats in columnstats.items %}{% if columnname == c %}
                         {% if stats.allc > 10 %}
                            {% if stats.minpercent < 50 %}class="sm_alarm_fill"
                            {% else %}
                                {% if stats.minpercent < 80 %}class="sm_warning_fill"
                                {% else %}class="sm_ok_fill"{% endif %}
                            {% endif %}
                          {% elif stats.allc > 0 and stats.allc <= 10 %}
                            {% if stats.minpercent < 50 %}class="sm_alarm_light_fill"
                            {% else %}
                                {% if stats.minpercent < 80 %}class="sm_warning_light_fill"
                                {% else %}class="sm_ok_light_fill"{% endif %}
                            {% endif %}
                          {% endif %}
                         {% endif %}{% endfor %}>
                         <a class="blacklink" href="{% url 'siteList' %}?cloud={{ c }}">{{ c }}</a> <br>
                         <a class="graylink" href="{% url 'errorsScatteringDetailed' cloud=c|safe reqid=reqid %}{% if requestParams.hours %}?hours={{ requestParams.hours }}{% endif %}{% if scouts == 'exclude' %}{% if requestParams.hours %}&{% else %}?{% endif %}scouts=exclude{% endif %}"><i class="fi-plus"></i></a>
                     </th>
                {% endfor %}
        </tr>
        <tr>
            <th></th>
            {% for c in clouds %}
                 <td>
                     {% for columnname, stats in columnstats.items %}
                         {% if columnname == c %}
                              <span class="sm_alarm" style="margin-right: 0.5rem">{{ stats.redc }}</span>
                              <span class="sm_warning" style="margin-right: 0.5rem">{{ stats.yellowc }}</span>
                              <span class="sm_ok">{{ stats.greenc }}</span>
                         {% endif %}
                     {% endfor %}
                </td>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for values in taskserrors%}
            <tr{% if values.totalstats.allc <= 100 %} class="low-stat" {% endif %} >
              <th {% if values.totalstats.allc > 10 %}
                    {% if values.totalstats.percent < 50 %}class="sm_alarm_fill"
                    {% else %}
                        {% if values.totalstats.percent < 80 %}class="sm_warning_fill"
                        {% else %}class="sm_ok_fill"{% endif %}
                    {% endif %}
                  {% elif values.totalstats.allc > 0 and values.totalstats.allc <= 10 %}
                    {% if values.totalstats.percent < 50 %}class="sm_alarm_light_fill"
                    {% else %}
                        {% if values.totalstats.percent < 80 %}class="sm_warning_light_fill"
                        {% else %}class="sm_ok_light_fill"{% endif %}
                    {% endif %}
                  {% endif %}>
                  <a class="blacklink bold" href="{% url 'taskInfo' %}?jeditaskid={{ values.jeditaskid }}">{{ values.jeditaskid }}</a></th>
              {% for c in clouds %}
                {% for columnName, stats in values.columns.items %}
                    {% if c == columnName %}
                        <td {% if stats.allc > 10 %}
                                {% if stats.percent < 50 %}class="sm_alarm_fill"
                                {% else %}
                                    {% if stats.percent < 80 %}class="sm_warning_fill"
                                    {% else %}class="sm_ok_fill"{% endif %}
                                {% endif %}
                            {% elif stats.allc > 0 and stats.allc <= 10 %}
                                {% if stats.percent < 50 %}class="sm_alarm_light_fill"
                                {% else %}
                                    {% if stats.percent < 80 %}class="sm_warning_light_fill"
                                    {% else %}class="sm_ok_light_fill"{% endif %}
                                {% endif %}
                            {% endif %}>
                        {% if stats.allc != 0 %}
                          <a href="{% url 'jobList' %}?jobtype=production&jobstatus=finished|failed&jeditaskid={{ values.jeditaskid }}&region={{ c }}&hours={% if requestParams.hours %}{{ requestParams.hours }}{% else %}8{% endif %}&mode=nodrop" {% if stats.allc < 100 %} class="blacklink lowstats" {% else %} class="blacklink" {% endif %}>
                            {{ stats.percent }}%<br>
                            {{ stats.finishedc }}<br>
                            {{ stats.failedc }}
                          </a>
                        {% endif %}
                        </td>
                    {% endif %}
                 {% endfor %}
              {% endfor %}
            </tr>
         {% endfor %}
      </tbody>
    </table>
  {% elif 'cloud' in grouping or view == 'queues' and grouping|length == 2%}
    <div class="table-wrap table-scroll">
    <table id="errorsscatdetailed" class="matrix unstriped floatThead">
      <thead>
        <tr>
            <th>Request ID <a class="graylink" href="{% url 'errorsScattering' %}{% if requestParams.hours %}?hours={{ requestParams.hours }}{% endif %}{% if scouts == 'exclude' %}{% if requestParams.hours %}&{% else %}?{% endif %}scouts=exclude{% endif %}"><i class="fi-minus"></i></a>
            </th>
            <th></th>
            {% for computingSite in computingSites %}
                <th {% for columnname, stats in columnstats.items %}{% if columnname == computingSite %}
                         {% if stats.allc > 10 %}
                            {% if stats.percent < 50 %}class="vertical sm_alarm_fill"
                            {% else %}
                                {% if stats.percent < 80 %}class="vertical sm_warning_fill"
                                {% else %}class="vertical sm_ok_fill"{% endif %}
                            {% endif %}
                          {% elif stats.allc > 0 and stats.allc <= 10 %}
                            {% if stats.percent < 50 %}class="vertical sm_alarm_light_fill"
                            {% else %}
                                {% if stats.percent < 80 %}class="vertical sm_warning_light_fill"
                                {% else %}class="vertical sm_ok_light_fill"{% endif %}
                            {% endif %}
                          {% endif %}
                         {% endif %}{% endfor %}>
                    <div class="vertical"><a class="blacklink bold" href="{% url 'siteInfo' %}{{ computingSite }}/">{{ computingSite }}</a></div></th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for values in reqerrors %}
            <tr{% if values.totalstats.allc <= 100 %} class="low-stat" {% endif %} >
              <th {% if values.totalstats.allc > 10 %}
                    {% if values.totalstats.percent < 50 %}class="sm_alarm_fill"
                    {% else %}
                        {% if values.totalstats.percent < 80 %}class="sm_warning_fill"
                        {% else %}class="sm_ok_fill"{% endif %}
                    {% endif %}
                  {% elif values.totalstats.allc > 0 and values.totalstats.allc <= 10 %}
                    {% if values.totalstats.percent < 50 %}class="sm_alarm_light_fill"
                    {% else %}
                        {% if values.totalstats.percent < 80 %}class="sm_warning_light_fill"
                        {% else %}class="sm_ok_light_fill"{% endif %}
                    {% endif %}
                  {% endif %}>
                  <a class="graylink" href="{% url 'errorsScatteringDetailed' cloud=cloud|safe reqid=values.reqid %}?hours={% if requestParams.hours %}{{ requestParams.hours }}{% else %}8{% endif %}{% if view == 'queues' %}&view=queues{% endif %}{% if scouts == 'exclude' %}&scouts=exclude{% endif %}"><i class="fi-plus"></i></a>
                  <a class="blacklink bold" href="{% url 'taskList' %}?reqid={{ values.reqid  }}&hours={% if requestParams.hours %}{{ requestParams.hours }}{% else %}8{% endif %}">{{ values.reqid  }}</a></th>
              <td>
                  <span class="sm_alarm" style="margin-right: 0.5rem">{{ values.totalstats.redc }}</span>
                  <span class="sm_warning" style="margin-right: 0.5rem">{{ values.totalstats.yellowc }}</span>
                  <span class="sm_ok">{{ values.totalstats.greenc }}</span>
              </td>
                {% for column in values.columns %}
                        <td {% if column.allc > 10 %}
                                {% if column.percent < 50 %}class="sm_alarm_fill"
                                {% else %}
                                    {% if column.percent < 80 %}class="sm_warning_fill"
                                    {% else %}class="sm_ok_fill"{% endif %}
                                {% endif %}
                            {% elif column.allc > 0 and column.allc <= 10 %}
                                {% if column.percent < 50 %}class="sm_alarm_light_fill"
                                {% else %}
                                    {% if column.percent < 80 %}class="sm_warning_light_fill"
                                    {% else %}class="sm_ok_light_fill"{% endif %}
                                {% endif %}
                            {% endif %}>
                        {% if column.allc != 0 %}
                          <a href="{% url 'jobList' %}?jobtype=production&jobstatus=finished|failed&reqid={{ values.reqid }}&computingsite={{ column.computingsite }}&hours={% if requestParams.hours %}{{ requestParams.hours }}{% else %}8{% endif %}{% if 'tk' in values  %}&reqtoken={{ values.tk }}{% endif %}{% if column.allc > 20000 %}&limit={{ column.allc }}{% endif %}&mode=nodrop" {% if column.allc < 100 %} class="blacklink lowstats" {% else %} class="blacklink" {% endif %}>
                            {{ column.percent }}%<br>
                            {{ column.finishedc }}<br>
                            {{ column.failedc }}
                          </a>
                        {% endif %}
                        </td>
                {% endfor %}
            </tr>
         {% endfor %}
      </tbody>
    </table>
    </div>
  {% endif %}
  </div>

  <div id="errorsscat-legend" class="column small-2">
      <div class="callout" data-closable style="padding: 0.5rem">
          <table class="unstriped ledend-table">
            <tbody class="no-border">
                <tr class="no-border">
                    <td colspan="2" class="no-border">
                        <b>Legend</b>
                    </td>
                </tr>
                <tr class="no-border">
                    <td colspan="2" class="no-border">Number of jobs < 10</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_alarm_light_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate < 50%</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_warning_light_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate < 80%</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_ok_light_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate > 80%</td>
                </tr>
                <tr class="no-border">
                    <td colspan="2" class="no-border">Number of jobs > 10</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_alarm_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate < 50%</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_warning_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate < 80%</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_ok_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate > 80%</td>
                </tr>
            </tbody>
          </table>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close style="font-size: 1.5em" onclick="expandTable('errorsscat-table', 'errorsscat-legend')">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
  </div>
</div>

<script nonce={{request.csp_nonce}}>
function expandTable(table_column_id, legend_column_id) {
    var table = $('#'+table_column_id);
        table.toggleClass('small-10');
        table.toggleClass('small-12');

    var legend = $('#'+legend_column_id);
        legend.toggleClass('small-2');
    var nrows = {{ nrows|safe }};
    if (nrows > 15) {
        $('table.floatThead').floatThead('reflow');
    }
}

$(document).ready(function () {
    var nrows = {{ nrows|safe }};
    if (nrows > 15) {
        var $stable = $('table.floatThead');
        $stable.floatThead({
                scrollContainer: function ($stable) {
                    // Now lets find the closest .container and return that
                    return $stable.closest('.table-wrap');
                }
            }
        );
    }
});
</script>
    
{% endblock %}

{% block help %}
{% include "errorScatteringMatrixHelp.html" %}
{% endblock %}