{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Errors scattering{% endblock %}
{% block subtitle %}Errors scattering <font size=-1>{{ viewParams.selection|safe }}</font> {% endblock %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/wizardstyles.css'%}" />
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/hideCells.js' %}"></script>
{% endblock %}

{% block body %}

<div class="float-right">
    <a href="{% url 'errorsScatteringDetailed' cloud='ALL' reqid='ALL' %}?view=queues" class="bluebutton">Switch to queues view</a>
    <a id="hidebutton" onclick="toggleLowStatsCells('lowstats', 'errorsscat', 'hidebutton')" class="bluebutton">Hide low statistics cells</a>
</div>

<br style="clear:both;">
<div class="row" style="width: 100%; max-width: 100%;">
  <div class="column small-10">
    <table id="errorsscat" class="unstriped">
      <thead>
        <tr>
            <th>Request ID</th>
                {% for c in clouds %}
                     <th {% for columnname, stats in columnstats.items %}{% if columnname == c %}
                         {% if stats.allc > 10 %}
                            {% if stats.percent < 50 %}class="sm_alarm_fill"
                            {% else %}
                                {% if stats.percent < 80 %}class="sm_warning_fill"
                                {% else %}class="sm_ok_fill"{% endif %}
                            {% endif %}
                          {% elif stats.allc > 0 and stats.allc <= 10 %}
                            {% if stats.percent < 50 %}class="sm_alarm_light_fill"
                            {% else %}
                                {% if stats.percent < 80 %}class="sm_warning_light_fill"
                                {% else %}class="sm_ok_light_fill"{% endif %}
                            {% endif %}
                          {% endif %}
                         {% endif %}{% endfor %}>
                         {{ c }} <br>
                         <a class="graylink" href="{% url 'errorsScatteringDetailed' c 'ALL' %}"><i class="fi-plus"></i></a>
                     </th>
                {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for values in reqerrors %}
            <tr {% if values.totalstats.allc <= 100 %} class="low-stat" {% endif %} >
              <th {% if values.totalstats.allc > 10 %}
                    {% if values.totalstats.percent < 50 %}class="sm_alarm_fill"
                    {% else %}
                        {% if values.totalstats.percent < 80 %}class="sm_warning_fill"
                        {% else %}class="sm_ok_fill"{% endif %}
                    {% endif %}
                  {% elif values.totalstats.allc > 0 and stats.allc <= 10 %}
                    {% if values.totalstats.percent < 50 %}class="sm_alarm_light_fill"
                    {% else %}
                        {% if values.totalstats.percent < 80 %}class="sm_warning_light_fill"
                        {% else %}class="sm_ok_light_fill"{% endif %}
                    {% endif %}
                  {% endif %}>
                  <a class="graylink" href="{% url 'errorsScatteringDetailed' 'ALL' values.reqid %}"><i class="fi-plus"></i></a> <a class="blacklink bold" href="{% url 'taskList' %}?reqid={{ values.reqid }}&superstatus=submitting|running&sortby=pctfailed&hours=8">{{ values.reqid }}</a></th>
                {% for c in clouds %}
                  {% for cn, stats in values.items %}
                    {% if c == cn %}
                        <td {% if stats.allc > 10 %}
                                {% if stats.percent < 50 %}class="sm_alarm_fill"
                                {% else %}
                                    {% if stats.percent < 80 %}class="sm_warning_fill"
                                    {% else %}class="sm_ok_fill"{% endif %}
                                {% endif %}
                            {% elif stats.allc > 0 and stats.allc <= 10 %}
                                {% if stats.percent < 50 %}class="sm_alarm_light_fill"
                                {% else %}
                                    {% if stats.percent < 80 %}class="sm_warning_light_fill"
                                    {% else %}class="sm_ok_light_fill"{% endif %}
                                {% endif %}
                            {% endif %}>
                        {% if stats.allc != 0 %}
                          <a href="{% url 'jobList' %}?jobtype=production&jobstatus=finished|failed&reqid={{ values.reqid }}&region={{ c }}&days=30{% if 'tk' in values  %}&reqtoken={{ values.tk }}{% endif %}{% if stats.allc > 20000 %}&limit={{ stats.allc }}{% endif %}&mode=nodrop" {% if stats.allc < 100 %} class="blacklink lowstats" {% else %} class="blacklink" {% endif %}>
                            {{ stats.percent }}%<br>
                            {{ stats.finishedc }}<br>
                            {{ stats.failedc }}
                          </a>
                        {% endif %}
                        </td>
                    {% endif %}

                  {% endfor %}
                {% endfor %}
            </tr>
         {% endfor %}
      </tbody>


    </table>
  </div>
  <div class="column small-2">
      <div class="callout" data-closable style="padding: 0.5rem">
          <table class="unstriped ledend-table">
            <tbody class="no-border">
                <tr class="no-border">
                    <td colspan="2" class="no-border">
                        <b>Legend</b>
                    </td>
                </tr>
                <tr class="no-border">
                    <td colspan="2" class="no-border">Number of jobs < 10</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_alarm_light_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate < 50%</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_warning_light_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate < 80%</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_ok_light_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate > 80%</td>
                </tr>
                <tr class="no-border">
                    <td colspan="2" class="no-border">Number of jobs > 10</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_alarm_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate < 50%</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_warning_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate < 80%</td>
                </tr>
                <tr class="no-border">
                    <td class="sm_ok_fill legend lesspadding"></td>
                    <td class="no-border lesspadding">Success rate > 80%</td>
                </tr>
            </tbody>
          </table>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close style="font-size: 1.5em">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
  </div>
</div>

{% endblock %}
