<div class="card bp-container-simple help">
<div class="card-divider"><p>ART GRID jobs help</p></div>
<div class="card-section">

<b>The color coding of test result is the following:</b>
<ul class="no-bullet">
    <li> <div class="art-legend active_job">Active</div> - PanDA job still running. </li>
    <li> <div class="art-legend finished_job">Succeeded</div> - PanDA job finished, sub-steps results are not loaded yet;</li>
    <li> <div class="art-legend succeeded_job">Succeeded</div> - Athena and sub-steps succeeded;</li>
    <li> <div class="art-legend finished_job">Finished</div> - Athena succeeded, sub-steps failed; </li>
    <li> <div class="art-legend failed_job">Failed</div> - Athena failed or PanDA job failed; </li>
</ul>

<p>If you would like to get daily reports to email, please contact us via <a href="mailto:atlas-adc-pandamon-support@cern.ch">atlas-adc-pandamon-support@cern.ch</a>
or </p>

</div>
</div>

