<tr class="helpsection"><th><a name="artHelp"></a> {{ helptitle }} </th></tr>
<tr><td class="helplight">

{% if viewParams.MON_VO == 'ATLAS' %}
<b>The color coding of test result is the following:</b>
<ul>
    <li> <div class="art-legend done_job">Done</div> - Athena and sub-steps succeeded;</li>
    <li> <div class="art-legend finished_job">Finished</div> - Athena succeeded, sub-steps failed; </li>
    <li> <div class="art-legend failed_job">Failed</div> - Athena failed or PanDA job failed; </li>
    <li> <div class="art-legend active_job">Active</div> - PanDA job still running. </li>
</ul>

{% endif %}
</td>

