{% extends "_base_core.html" %}
{% load static %}
{% block page_title %}ART nightly tests{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/art/art-style.css" %}">
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
function loadJobSubResult(testname, urltail) {
    var id = "div-subresults-" + testname;
    var div = document.getElementById(id);
{#    $("#div-subresults-" + testname).html("<img src='{% static "images/load.gif" %}'>  ");#}
    div.innerHTML = "<img src='{% static "images/load.gif" %}'>  ";
    $.ajax({
        url: '{% url 'artJobSubResults' %}',
        data: urltail,
        async: true
    })
    .done(function (response) {
{#       $("#div-subresults-" + testname).html(response);#}
        div.innerHTML = response;
   })
    ;

}
</script>
{% endblock %}

{% block subtitle %}ART nightly tests {{ viewParams.selection|safe }}{% endblock %}
{% block body %}

<a href="{% url 'art-mainPage' %}" class="button back-to-home"><i class="fi-home"></i> Back to main page</a>
{% if requestParams.view and requestParams.view == 'branches' %}
    <a href="{{ noviewurl }}view=packages" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to packages view</a>
{% else %}
    <a href="{{ noviewurl }}view=branches" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to branches view</a>
{% endif %}
{% if taskids|length == 1 %}
    <div style="float: right">
        <a href="{% url 'taskInfo' taskids.0 %}#jobsconsumptionplots" class="button back-to-home"><i class="fi-graph-bar"></i> Show job consumption plots</a>
    </div>
{% endif %}
    <br>

{% if requestParams.package %}<b>Package: {{ requestParams.package }}</b> <br>{% endif %}
{% if requestParams.branch %}<b>Branch: {{ requestParams.branch }}</b> <br>{% endif %}
{% if requestParams.ntag %}<b>Listed tests are for {{ requestParams.ntag|date:"d b Y" }}</b> <br>{% endif %}
{% if requestParams.ntag_from %}<b>Listed tests are from {{ requestParams.ntag_from|date:"d b Y" }}</b>{% endif %}
{% if requestParams.ntag_to %}<b>to {{ requestParams.ntag_to|date:"d b Y" }}</b> <br>{% endif %}

<div class="row">
  <div class="columns accordion-art-container">
    <ul class="accordion-art" data-accordion data-allow-all-closed="true" data-multi-expand="true">
      {% for pname,pack in artjobs.items %}
      <li class="accordion-art-item is-active" data-accordion-item>
        <a href="#" class="accordion-art-title">{{ pname }}</a>
        <div class="accordion-art-content" data-tab-content >
          <ul class="accordion-art-nested" data-accordion data-allow-all-closed="true" data-multi-expand="true">
            {% for brname, tests in pack.items %}
                <li class='accordion-art-nested-item is-active' data-accordion-item>
                  <a href="#" class="accordion-art-nested-title">{{ brname }}</a>
                  <div class="accordion-art-nested-content" data-tab-content >
                      <table class="no-border">
                          <tr>
                              <th class="cell" ></th>
                                {% for test,tags in tests.items %}
                                  {% if forloop.first %}
                                      {% for ntag in ntaglist %}
                                          {% for ntname,status in tags.items %}
                                              {% if ntname == ntag %}
                                                <th class="header">{{ status.ntag_hf }}</th>
                                                {% if ntaglist|length == 1 %}
                                                    <th class="header">Computing site</th>
                                                    <th class="header">Duration</th>
                                                    <th class="header">CPU time, s</th>
                                                    <th class="header">MaxVMEM, MB</th>
                                                {% endif %}
                                              {% endif %}
                                          {% endfor %}
                                      {% endfor %}
                                  {% endif %}
                                {% endfor %}
                          </tr>
                          {% for test,tags in tests.items %}
                              <tr>
                              <td class="cell-left">
                                    {{ test }}
                              </td>
                              {% for ntag in ntaglist %}
                                  {% for ntname,jobs in tags.items  %}
                                    {% if ntname == ntag %}
                                      <td class="cell">
                                        {% if jobs.jobs|length > 0 %}
                                            {% for pandaid,job in jobs.jobs.items %}
                                                {% if job.jobstatus %}
                                                    <div class="with-link-to-logs">
                                                      {% if ntaglist|length == 1 %}
                                                        <div class="testsubresultscontainer">
                                                            <ul>{% for r in job.testresult %}<li class="testsubresultbox {% if r.result > 0 %}failed{% else %}finished{% endif %}test tooltiptestresult" {% if r.name|length > 0 or r.result > -1 %}style="text-decoration: underline"{% endif %}>{{ forloop.counter }}<span class="tooltiptext">{% if r.name|length > 1 %} {{ r.name }}:{% endif %}{{ r.result }}</span></li>{% endfor %}</ul>
                                                        </div>
                                                      {% endif %}
                                                        <div class="clickable {% if ntaglist|length != 1 %}nosubresults {% endif %}">
{#                                                            <div {% if job.jobstatus == 'failed' or job.jobstatus == 'finished' %} class="{{ job.jobstatus }}_job">{{ job.jobstatus }} {% else %} class="active_job"> active {% endif %}  </div>#}
                                                            <div {% if job.finalresult == 'failed' or job.finalresult == 'finished' %} class="{{ job.finalresult }}_job">{{ job.finalresult }} {% else %} class="active_job"> active {% endif %}  </div>
                                                            <a href="{% url 'jobInfo' %}?pandaid={{ job.origpandaid }}">{{ job.origpandaid }}</a>
                                                        </div>
                                                        <span class="tarindex tarindex_tooltip"> {{ job.tarindex }}</span>
                                                        <a  class="to-logs" target="_blank" href="{% url "filebrowser" %}?{% if job.guid %}guid={{job.guid}}&{% endif %}lfn={{job.lfn}}&site={{job.computingsite}}&scope={{job.scope}}"><i class="fi-link"></i></a>
                                                    </div>
                                                    {% if jobs.jobs|length > 1 %} <br> {% endif %}
                                                {% else %}
                                                    <div class="nodata">
                                                        ---
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <div class="nodata">
                                                ---
                                            </div>
                                        {% endif %}
                                      </td>
                                      {% if ntaglist|length == 1 %}
                                        {% for pandaid,job in jobs.jobs.items %}
                                          <td class="cell">{{ job.computingsite }}</td>
                                          <td class="cell">{{ job.duration }}</td>
                                          <td class="cell">{{ job.cpuconsumptiontime }}</td>
                                          <td class="cell">{{ job.maxvmem }}</td>
                                        {% endfor %}
                                      {% endif %}
                                    {% endif %}
                                  {%  endfor %}
                              {% endfor %}
                              </tr>
                          {% endfor %}
                      </table>
                  </div>
                </li>
            {% endfor %}

          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>



{% endblock %}