{% extends "_base_core.html" %}
{% load static %}
{% block page_title %}ART nightly tests{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/art/art-style.css" %}">
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
function loadJobSubResult(testname, urltail) {
    var id = "div-subresults-" + testname;
    var div = document.getElementById(id);
{#    $("#div-subresults-" + testname).html("<img src='{% static "images/load.gif" %}'>  ");#}
    div.innerHTML = "<img src='{% static "images/load.gif" %}'>  ";
    $.ajax({
        url: '{% url 'artJobSubResults' %}',
        data: urltail,
        async: true
    })
    .done(function (response) {
{#       $("#div-subresults-" + testname).html(response);#}
        div.innerHTML = response;
   })
    ;

}
</script>
{% endblock %}

{% block subtitle %}ART nightly tests {{ viewParams.selection|safe }}{% endblock %}
{% block body %}

<a href="{% url 'art-mainPage' %}" class="button back-to-home"><i class="fi-home"></i> Back to main page</a>
{% if requestParams.view and requestParams.view == 'branches' %}
    <a href="{{ noviewurl }}view=packages" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to packages view</a>
{% else %}
    <a href="{{ noviewurl }}view=branches" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to branches view</a>
{% endif %}
    <br>

{% if requestParams.package %}<b>Package: {{ requestParams.package }}</b> <br>{% endif %}
{% if requestParams.branch %}<b>Branch: {{ requestParams.branch }}</b> <br>{% endif %}
{% if requestParams.ntag %}<b>Listed tests is for {{ requestParams.ntag|date:"d b Y" }}</b> <br>{% endif %}
{% if requestParams.ntag_from %}<b>Listed tests is from {{ requestParams.ntag_from|date:"d b Y" }}</b>{% endif %}
{% if requestParams.ntag_to %}<b>to {{ requestParams.ntag_to|date:"d b Y" }}</b> <br>{% endif %}

<div class="row">
  <div class="columns accordion-art-container">
    <ul class="accordion-art" data-accordion data-allow-all-closed="true" data-multi-expand="true">
      {% for pname,pack in artjobs.items %}
      <li class="accordion-art-item is-active" data-accordion-item>
        <a href="#" class="accordion-art-title">{{ pname }}</a>
        <div class="accordion-art-content" data-tab-content >
          <ul class="accordion-art-nested" data-accordion data-allow-all-closed="true" data-multi-expand="true">
            {% for brname, tests in pack.items %}
                <li class='accordion-art-nested-item is-active' data-accordion-item>
                  <a href="#" class="accordion-art-nested-title">{{ brname }}</a>
                  <div class="accordion-art-nested-content" data-tab-content >
                      <table class="no-border">
                          <tr>
                              <th class="cell" ></th>
                                {% for test,tags in tests.items %}
                                  {% if forloop.first %}
                                      {% for ntag in ntaglist %}
                                          {% for ntname,status in tags.items %}
                                              {% if ntname == ntag %}
                                                <th class="header">{{ status.ntag_hf }}</th>
                                              {% endif %}
                                          {% endfor %}
                                      {% endfor %}
                                  {% endif %}
                                {% endfor %}
                          </tr>
                          {% for test,tags in tests.items %}
                              <tr>
                              <td class="cell-left">
{#                                {% if ntaglist|length == 1 %}#}
{#                                    {% for ntname, jobs in tags.items %}{% for pandaid, jobparams in jobs.jobs.items %}#}
{#                                      {% if jobparams.guid and jobparams.lfn and jobparams.scope %}#}
{#                                        <i id="div-subresults-plussign-{{ test }}-{{ pandaid }}" class="fi-plus"></i>#}
{#                                      {% endif %}#}
{#                                    {% endfor %}{% endfor %}#}
{#                                {% endif %}#}
{#                                    {{ test }}#}
                                {% if ntaglist|length == 1 %}
                                    {% for ntname, jobs in tags.items %}{% for pandaid, jobparams in jobs.jobs.items %}
                                      {% if not 'testresult' in jobparams %}
                                          {% if jobparams.guid and jobparams.lfn and jobparams.scope %}
                                            <i id="div-subresults-plussign-{{ test }}-{{ pandaid }}" class="fi-plus"></i>
                                          {% endif %}
                                      {% endif %}
                                    {% endfor %}{% endfor %}
                                {% endif %}
                                    {{ test }}
                                {% if ntaglist|length == 1 %}
                                    {% for ntname, jobs in tags.items %}{% for pandaid, jobparams in jobs.jobs.items %}
                                      {% if 'testresult' in jobparams or 'testexitcode' in jobparams %}
                                          <ul class="no-bullet" style="margin-left: 1rem">
                                            {% if 'testexitcode' in jobparams %}
                                                <li>Test exit code: {{ jobparams.testexitcode }}</li>
                                            {% endif %}
                                            <ol>
                                              {% if 'testresult' in jobparams and jobparams.testresult|length > 0 %}
                                                {% for r in jobparams.testresult %}
                                                <li> {% if r.name|length > 1 %} {{ r.name }}: {% endif %} {{ r.result }}</li>
                                                {% endfor %}
                                              {% endif %}
                                            </ol>
                                        </ul>
                                      {% else %}
                                        <div id="div-subresults-{{ test }}-{{ pandaid }}"></div>
                                      {% endif %}
                                    {% endfor %}{% endfor %}
                                {% endif %}</td>
                              {% for ntag in ntaglist %}
                                  {% for ntname,jobs in tags.items  %}
                                    {% if ntname == ntag %}
                                      <td class="cell">
                                        {% if jobs.jobs|length > 0 %}
                                            {% for pandaid,job in jobs.jobs.items %}
                                                {% if job.jobstatus %}
                                                    <div class="with-link-to-logs">
                                                        <div class="clickable">
                                                            <div {% if job.jobstatus == 'failed' or job.jobstatus == 'finished' %} class="{{ job.jobstatus }}_job">{{ job.jobstatus }} {% else %} class="active_job"> active {% endif %}  </div>
                                                            <a href="{% url 'jobInfo' %}?pandaid={{ job.origpandaid }}">{{ job.origpandaid }}</a>
                                                        </div>
                                                        <span class="tarindex tarindex_tooltip"> {{ job.tarindex }}</span>
                                                        <a  class="to-logs" target="_blank" href="{% url "filebrowser" %}?{% if job.guid %}guid={{job.guid}}&{% endif %}lfn={{job.lfn}}&site={{job.computingsite}}&scope={{job.scope}}"><i class="fi-link"></i></a>
                                                    </div>
                                                    {% if jobs.jobs|length > 1 %} <br> {% endif %}
                                                {% else %}
                                                    <div class="nodata">
                                                        ---
                                                    </div>
                                                {% endif %}
                                                {% if ntaglist|length == 1 and not 'testresult' in job and job.guid and job.lfn and job.scope %}
                                                    <script>
                                                        $.ajax({
                                                            url: '{% url 'artJobSubResults' %}',
                                                            data: 'guid={{ job.guid}}&lfn={{ job.lfn }}&scope={{ job.scope }}&jeditaskid={{ job.jeditaskid }}&pandaid={{ pandaid }}',
                                                            async: true
                                                        })
                                                         .done(function (response) {
                                                            document.getElementById("div-subresults-" + "{{ test }}-" + "{{ pandaid }}").innerHTML = response;
                                                            document.getElementById("div-subresults-plussign-" + "{{ test }}-" + "{{ pandaid }}").parentNode.removeChild(document.getElementById("div-subresults-plussign-" + "{{ test }}-" + "{{ pandaid }}"));
                                                        });
                                                    </script>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <div class="nodata">
                                                ---
                                            </div>
                                        {% endif %}
                                      </td>
                                    {% endif %}
                                  {%  endfor %}
                              {% endfor %}
                              </tr>
                          {% endfor %}
                      </table>
                  </div>
                </li>
            {% endfor %}

          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>



{% endblock %}