{% extends "_base_core.html" %}
{% load static %}
{% block page_title %}ART nightly tests{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/art/art-style.css" %}">
{% endblock %}
{% block subtitle %}Overview of ART nightly tests {{ viewParams.selection|safe }}{% endblock %}
{% block body %}

<a href="{% url 'art-mainPage' %}" class="button back-to-home"><i class="fi-home"></i> Back to main page</a>
{% if requestParams.view and requestParams.view == 'branches' %}
    <a href="{{ noviewurl }}view=packages" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to packages view</a>
{% else %}
    <a href="{{ noviewurl }}view=branches" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to branches view</a>
{% endif %}
    <br>

{% if requestParams.package %}<b>Package: {{ requestParams.package }}</b> <br>{% endif %}
{% if requestParams.branch %}<b>Branch: {{ requestParams.branch }}</b> <br>{% endif %}
{% if requestParams.ntag %}<b>Listed tests are for {{ requestParams.ntag|date:"d b Y" }}</b> <br>{% endif %}
{% if requestParams.ntag_from %}<b>Listed tests are from {{ requestParams.ntag_from|date:"d b Y" }}</b>{% endif %}
{% if requestParams.ntag_to %}<b>to {{ requestParams.ntag_to|date:"d b Y" }}</b> <br>{% endif %}

<div class="row">
  <div class="columns">
    <ul class="accordion-art" data-accordion data-allow-all-closed="true" data-multi-expand="true">
      {% for pname,pack in artpackages.items %}
      <li class="accordion-art-item is-active" data-accordion-item>
        <a href="#" class="accordion-art-title">{{ pname }}</a>
        <div class="accordion-art-content" data-tab-content >
          <table class="no-border">
              <tr>
                  <th class="cell" ></th>
                  {% for ntag in ntaglist %}
                      {% for tags,files in pack.items %}
                        {% if tags == ntag %}
                            <th class="header">{{ files.ntag_hf }}</th>
                        {% endif %}
                      {% endfor %}
                  {% endfor %}
              </tr>
              <tr>
                  <td class="cell-left">
                      {% if requestParams.view and requestParams.view == 'packages' %}
                        <a class="link-in-table" href="{%  url "artTasks" %}?package={{ pname }}&ntag_from={{ requestParams.ntag_from }}&ntag_to={{ requestParams.ntag_to }}&view={{ requestParams.view }}">All branches</a>
                      {% else %}
                        <a class="link-in-table" href="{%  url "artTasks" %}?branch={{ pname }}&ntag_from={{ requestParams.ntag_from }}&ntag_to={{ requestParams.ntag_to}}&view={{ requestParams.view }}">All packages</a>
                      {% endif %}</td>
                  {% for ntag in ntaglist %}
                      {% for tags,files in pack.items %}
                          {% if tags == ntag %}
                              <td class="cell">
                                {% if files.finished > 0 or files.failed > 0 or files.active > 0 %}
                                    <div class="clickable">
                                        <div class="finished">{{ files.finished }}</div>
                                        <div class="failed">{{ files.failed }}</div>
                                        <div class="active">{{ files.active }}</div>
                                        <a href="{% url 'artTasks' %}{% if requestParams.view and requestParams.view == 'packages' %}?package={{ pname }}{% if requestParams.branch  %}&branch={{ requestParams.branch }}{% endif %}{% else %}?branch={{ pname }}{% if requestParams.package  %}&package={{ requestParams.package }}{% endif %}{% endif %}&ntag={{ tags }}"></a>
                                    </div>
                                {% else %}
                                    <div class="nodata">
                                        ---
                                    </div>
                                {% endif %}
                              </td>
                          {% endif %}
                      {% endfor %}
                  {% endfor %}
              </tr>
          </table>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}