{% extends "_base_core.html" %}
{% load static %}{% load common_tags %}
{% block page_title %}ART overview{% endblock %}

{% block css_page %}
  <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
  <link rel="stylesheet" href="{% static "css/art/art-style.css" %}?{% cache_bust "css/art/art-style.css" %}">
  <!-- Load c3.css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.css" rel="stylesheet">
{% endblock %}
{% block js_head_page_library %}
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
  <!-- Load d3.js and c3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.js"></script>
{% endblock %}
{% block subtitle %}Overview of ART nightly tests {{ viewParams.selection|safe }}{% endblock %}
{% block body %}

<div data-ng-controller="artOverviewController">
<a href="{% url 'art-mainPage' %}" class="button back-to-home"><i class="fi-home"></i> Back to main page</a>
{% if requestParams.view and requestParams.view == 'branches' %}
    <a href="{{ noviewurl }}view=packages" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to packages view</a>
{% else %}
    <a href="{{ noviewurl }}view=branches" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to branches view</a>
{% endif %}

<div style="float: right">
  <a class="button back-to-home" ng-click="art.plot.toggle()">Show results plot</a>
</div>
<br>
<div id="plot" class="ng-hide" ng-hide="art.plot.is_hidden">
  <p ng-bind-html="art.plot.message"></p>
</div>

</div>

<div class="bp-selected-params">
  {% if requestParams.package %}<p>Package: <b>{{ requestParams.package }}</b> </p>{% endif %}
  {% if requestParams.branch %}<p>Branch: <b>{{ requestParams.branch }}</b> </p>{% endif %}
  {% if viewParams.ntag %}<p>Listed tests are for builds done on <b>{{ viewParams.ntag }}</b> </p>{% endif %}
  {% if viewParams.ntag_full %}<p>Listed tests are for the following build: <b>{{ viewParams.ntag_full }}</b> </p>{% endif %}
  {% if viewParams.ntag_from %}<p>Listed tests are for builds done from <b>{{ viewParams.ntag_from }}</b>{% endif %}
  {% if viewParams.ntag_to %}<p>to <b>{{ viewParams.ntag_to }}</b> </p>{% endif %}
</div>

{% if artoverview|length > 0 %}
<div class="card bp-container-simple secondary">
  <div class="card-divider">
    <p>Tests results per {% if requestParams.view and requestParams.view == 'branches' %}branch{% else %}package{% endif %}:</p>
  </div>
  <div class="card-section">
    <table id="art_table" class="data-table" >
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% else %}
<div class="callout alert" data-closable>
  <h5>No tests were found for provided selection parameters!</h5>
    <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

{% endblock %}

{% block help %}
    <a name="help"></a>
    {% include "artHelp.html" %}
{% endblock %}

{% block js_body_page %}
<script src="{% static 'js/draw-plots-c3.js' %}?{% cache_bust "js/draw-plots-c3.js" %}"></script>
<script type="text/javascript">
var table_data = JSON.parse(JSON.stringify({{ artoverview | safe }}));
var table_title = table_data.shift()
var request_params = {{ requestParams|safe }};
var ao1 = (table_title[0] === 'package') ? 'branch' : 'package';
var columns = []
columns.push({
  title: table_title[0],
  render: function (data, type, row, meta) {
    return '<a href="{% url 'artTasks' %}?' + table_title[0] + '=' + row[0] + '&' + Object.keys(request_params).reduce((res, key) => (key !== table_title[0]) ? res + key + '=' + request_params[key] + '&' : res , '') + '">' + data + '</a>'}
})
for (let i=1; i<table_data[0].length; i++) {
  columns.push({
    title: table_title[i].charAt(0).toUpperCase() + table_title[i].slice(1),
    render: function (data, type, row, meta) {
      if (type === 'sort') {
        return (data.active + data.succeeded + data.finished + data.failed > 0) ? data.failed : -1;
      }
      else {
        if (data.active + data.succeeded + data.finished + data.failed == 0) {
          return '<div class="nodata">---</div> '
        }
        else {
          return '<div class="clickable"><div class="active">' + data.active + '</div>' +
            '<div class="succeeded">' + data.succeeded + '</div>' +
            '<div class="finished">' + data.finished + '</div>' +
            '<div class="failed">' + data.failed + '</div>' +
            '<a target="_blank" href="{% url 'artTasks' %}?' + table_title[0] + '=' + row[0] + '&ntag=' + data.ntag + `${(ao1 in request_params) ? '&' + ao1 + '=' + request_params[ao1] : ''}` + '"></a>' +
            '</div>';
        }
      }
    }
  })
}

console.log(ao1, request_params)

let columnDefs =  [{"type": "num-html", "targets": [...Array(table_title.length).keys()].slice(1) }];

var art_table = $('#art_table').DataTable({
  lengthChange: false,
  paging: false,
  bFilter: false,
  scrollX: true,
  order: [[0, "desc"]],
  columnDefs: columnDefs,
  columns: columns,
  data: table_data,
});

app.controller('artOverviewController', function($scope, $sce) {
  $scope.art = {
    plot: {
      is_hidden: true,
      message: '',
      options: {
        title: 'Overall ART tests result',
        timeFormat: '%Y-%m-%d',
        labels: ['Nightly tag, date', 'Number of tests'],
        size: [getWidth()-40, 400],
        grouped: true,
        legend: true,
        colors: {
          active: '#6495ED',
          finished: '#FADA5E',
          succeeded: '#3adb76',
          failed: '#ff6347',
        }
      },
      data: []
    },
    data_raw: {{ artpackages|safe }},
    test_states: ['succeeded', 'finished', 'failed', 'active'],
  };

  $scope.art.plot.toggle = function () {
    $scope.art.plot.is_hidden = false;
    $scope.art.plot.message = $sce.trustAsHtml('<img src="{% static 'images/load.gif' %}"> Loading... ');

    if ($scope.art.plot.data.length === 0) {$scope.art.plot.prepare_data();}
    $scope.art.plot.message = $sce.trustAsHtml('');
    draw_bar_cat(
      $scope.art.plot.data,
      'plot',
      $scope.art.plot.options.title,
      $scope.art.plot.options
    );

  };

  $scope.art.plot.prepare_data = function () {
    let tmp_dict = {};
    Object.keys($scope.art.data_raw).forEach((key) => {
      Object.keys($scope.art.data_raw[key]).forEach((ntag) => {
        if (!(ntag in tmp_dict)) {
          tmp_dict[ntag] = $scope.art.test_states.reduce((a, c) => (a[c]=0, a), {});
        }
        $scope.art.test_states.forEach((v) => {
          (v in $scope.art.data_raw[key][ntag]) ? tmp_dict[ntag][v] += $scope.art.data_raw[key][ntag][v] : tmp_dict[ntag][v] += 0;
        })
      })
    });

    $scope.art.plot.options.y_grid_lines = [{
      text: '',
      value: Math.max(...Object.keys(tmp_dict).map((d) => Object.values(tmp_dict[d]).reduce((a, c) => a + c))),
    }];

    $scope.art.plot.data.push(['x', ...Object.keys(tmp_dict)]);
    $scope.art.test_states.forEach((v) => {
      let tmp_list = [v,];
      Object.keys(tmp_dict).forEach((ntag) => {
        tmp_list.push(tmp_dict[ntag][v]);
      });
      $scope.art.plot.data.push(tmp_list);
    });

  }


});
</script>


{% endblock %}