{% extends "_base_core.html" %}
{% load static %}
{% block page_title %}ART nightly tests{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/art/art-style.css" %}">
{% endblock %}
{% block body %}

<a href="{% url 'art-mainPage' %}" class="button back-to-home"><i class="fi-home"></i> Back to main page</a>
{% if requestParams.view and requestParams.view == 'branches' %}
    <a href="{{ noviewurl }}view=packages" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to packages view</a>
{% else %}
    <a href="{{ noviewurl }}view=branches" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to branches view</a>
{% endif %}
    <br>

{% if requestParams.package %}<b>Package: {{ requestParams.package }}</b> <br>{% endif %}
{% if requestParams.branch %}<b>Branch: {{ requestParams.branch }}</b> <br>{% endif %}
{% if requestParams.ntag %}<b>Listed tests is for {{ requestParams.ntag|date:"d b Y" }}</b> <br>{% endif %}
{% if requestParams.ntag_from %}<b>Listed tests is from {{ requestParams.ntag_from|date:"d b Y" }}</b>{% endif %}
{% if requestParams.ntag_to %}<b>to {{ requestParams.ntag_to|date:"d b Y" }}</b> <br>{% endif %}

<div class="row">
  <div class="columns">
    <ul class="accordion-art" data-accordion data-allow-all-closed="true" data-multi-expand="true">
      {% for pname,pack in arttasks.items %}
      <li class="accordion-art-item is-active" data-accordion-item>
        <a href="#" class="accordion-art-title">{{ pname }}</a>
        <div class="accordion-art-content" data-tab-content >
          <table class="no-border">
              <tr>
                  <th class="cell" ></th>
                  {% for brname,tags in pack.items %}
                      {% if forloop.first %}
                      {% for ntname,files in tags.items %}
                        <th class="header">{{ files.ntag_hf }}</th>
                      {% endfor %}
                      {% endif %}
                  {% endfor %}
              </tr>
              {% for brname,tags in pack.items %}
                  <tr>
                      <td class="cell">{{ brname }}</td>
                      {% for ntname,files in tags.items %}
                          <td class="cell">
                            {% if 'finished' in files or 'failed' in files %}
                                <div class="clickable">
                                    <div class="finished">{{ files.finished }}</div>
                                    <div class="failed">{{ files.failed }}</div>
                                    <a href="{% url 'artJobs' %}{% if requestParams.view and requestParams.view == 'packages' %}?package={{ pname }}&branch={{ brname }}{% else %}?package={{ brname }}&branch={{ pname }}{% endif %}&ntag={{ ntname|date:"Y-m-d" }}&view={{ requestParams.view }}"></a>
                                </div>
                            {% else %}
                                <div class="nodata">
                                    ---
                                </div>
                            {% endif %}
                          </td>
                      {% endfor %}
                  </tr>
              {% endfor %}
          </table>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>





{% endblock %}