{% extends "_base_core.html" %}
{% load static %}
{% block page_title %}ART nightly tests{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/art/art-style.css" %}?version=1">
{% endblock %}
{% block subtitle %}ART nightly tasks {{ viewParams.selection|safe }}{% endblock %}
{% block body %}

<a href="{% url 'art-mainPage' %}" class="button back-to-home"><i class="fi-home"></i> Back to main page</a>
{% if requestParams.view and requestParams.view == 'branches' %}
    <a href="{{ noviewurl }}view=packages" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to packages view</a>
{% else %}
    <a href="{{ noviewurl }}view=branches" class="button back-to-home"><i class="fi-arrow-left"></i><i class="fi-arrow-right"></i> Switch to branches view</a>
{% endif %}
    <br>

{% if requestParams.package %}<b>Package: {{ requestParams.package }}</b> <br>{% endif %}
{% if requestParams.branch %}<b>Branch: {{ requestParams.branch }}</b> <br>{% endif %}
{% if requestParams.ntag %}<b>Listed tests are for builds done on {{ requestParams.ntag|date:"d b Y" }}</b> <br>{% endif %}
{% if requestParams.ntag_from %}<b>Listed tests are for builds done from {{ requestParams.ntag_from|date:"d b Y" }}</b>{% endif %}
{% if requestParams.ntag_to %}<b>to {{ requestParams.ntag_to|date:"d b Y" }}</b> <br>{% endif %}

<div class="row">
  <div class="columns">
    <ul class="accordion-art" data-accordion data-allow-all-closed="true" data-multi-expand="true">
      {% for pname,pack in arttasks.items %}
      <li class="accordion-art-item is-active" data-accordion-item>
        <a href="#" class="accordion-art-title">{{ pname }}</a>
        <div class="accordion-art-content" data-tab-content >
          <table class="no-border">
              <tr>
                  <th class="cell" ></th>
                  {% for brname,tags in pack.items %}
                      {% if forloop.first %}
                          {% for ntag in ntaglist %}
                              {% for ntname,tasks in tags.items %}
                                {% if ntname == ntag %}
                                    <th class="header left-aligned">{{ tasks.ntag_hf }}</th>
                                {% endif %}
                              {% endfor %}
                          {% endfor %}
                      {% endif %}
                  {% endfor %}
              </tr>
              {% for brname,tags in pack.items %}
                  <tr>
                      <td class="cell-left"><a class="blacklink" href="{% url 'artTasks' %}{% if requestParams.view and requestParams.view == 'packages' %}?package={{ pname }}&branch={{ brname }}{% else %}?package={{ brname }}&branch={{ pname }}{% endif %}&ntags={% for ntg in ntaglist %}{{ ntg }}{% if not forloop.last %},{% endif %}{% endfor %}">{{ brname }}</a></td>
                      {% for ntag in ntaglist %}
                          {% for ntname,ntfulldict in tags.items %}
                              {% if ntname == ntag %}
                                  <td class="cell-left">
                                    {% if ntfulldict|length > 1 %}
                                        {% for ntfull, files in ntfulldict.items %}
                                          {% if ntname in ntfull %}
                                            {% if files.finished > 0 or files.active > 0 or files.failed > 0 or files.done > 0 %}
                                              <div class="with-ntagfull">
                                                <div class="clickable">
                                                    <div class="active">{{ files.active }}</div>
                                                    <div class="done">{{ files.done }}</div>
                                                    <div class="finished">{{ files.finished }}</div>
                                                    <div class="failed">{{ files.failed }}</div>
                                                    <a href="{% url 'artJobs' %}{% if requestParams.view and requestParams.view == 'packages' %}?package={{ pname }}&branch={{ brname }}{% else %}?package={{ brname }}&branch={{ pname }}{% endif %}&ntag_full={{ ntfull }}&view={{ requestParams.view }}"></a>
                                                </div>
                                                &nbsp;<b>{{ ntfull|get_time }}</b>
                                              </div>
                                              {% if not forloop.last %}<br>{% endif %}
                                            {% else %}
                                                <div class="nodata">
                                                    ---
                                                </div>
                                            {% endif %}
                                          {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="nodata">
                                            ---
                                        </div>
                                    {% endif %}
                                  </td>
                              {% endif %}
                          {% endfor %}
                      {% endfor %}
                  </tr>
              {% endfor %}
          </table>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}

{% block helptext %}
{% include "artHelp.html" with helptitle="ART GRID jobs help" %}
{% endblock %}