<tr class="docsection"><th><a name="harvesterInfoHelp"></a> {{ helptitle }} </th></tr>
<tr><td class="doctextlight">
<p>
Available filters for this page:
</p>
<ul>
<li>
    <p><b>Information for a specific computingsite.</b> E.g. /harvesters/?instance=act403&computingsite=ANALY_UIO</p>
</li>
<li>
    <p><b>Information for a specific resourcetype.</b> E.g. /harvesters/?instance=act403&resourcetype=SCORE</p>
</li>
<li>
    <p><b>Information for a specific computingelement.</b> E.g. /harvesters/?instance=act403&computingelement=None</p>
</li>
<li>
    <p><b>Information for a specific status.</b> E.g. /harvesters/?instance=act403&status=field</p>
</li>
<li>
    <p><b>Information for a specific workerid or workerids.</b> E.g. /harvesters/?instance=act403&workerid=759585,759584</p>
</li>
<li>
    <p><b>Information for the last days.</b> E.g. /harvesters/?instance=act403&days=365</p>
</li>
<li>
    <p><b>Information for the last hours (default 24 hours).</b> E.g. /harvesters/?instance=act403&hours=48</p>
</li>
</ul>
<p>If you need information about workers which are associated with a specific computingsite, use computingsite parameter instead of instance parameter. E.g. /harvesters/?computingsite=ANALY_UIO</p>
</td>

