{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Harvester monitor page{% endblock %}
{% block title %}PanDA monitor{% endblock %}
{% block subtitle %}Harvester <font size=-1>{{ viewParams.selection|safe }}</font> {% endblock %}
{% block body %}
  <link rel="stylesheet" type="text/css" href="/static/js/datatables/datatables.min.css"/>
  <script type="text/javascript" src="/static/js/datatables/datatables.min.js"></script>
  <script type="text/javascript" src="/static/js/datatables/dataTables.rowsGroup.js"></script>
  <script src="/static/js/d3jsplot.js"></script>
  <script type="text/javascript" src="{% static "/js/jquery.shorten.1.0.js" %}"></script>
    <style type="text/css">
        #workerList p{ display:none; }
        #loadMore {color:#0a47ff; cursor:pointer;}
        #loadMore:hover { color:black;}
        #loadAll {color:#0a47ff; cursor:pointer;}
        #loadAll:hover { color:black;}
  </style>


    {% if  type == 'instances'%}


    <table id="harvesterinstances" style="width: 100%">
          <caption  style="height: 30px;vertical-align: middle">Instances</caption>
     <thead>
                <th>Instance</th>
                <th>Total</th>
                <th>Recently</th>
                <th>When</th>
                <th>Description</th>
     </thead>
     <tbody>
     {% for instance in instances %}
     <tr>
     <td>
         <a href="{% url "harvesterfm" %}?instance={{ instance.instance }}&display_limit_workers=30000">{{ instance.instance }}</a>
     </td>
     <td>
         {{ instance.total }}
     </td>
    <td>
        {{ instance.recently }}
    </td>
     <td>
        {{ instance.when }}
    </td><td>
        {{ instance.descr }}
    </td>
     </tr>

     {% endfor %}
     </tbody>
    </table>
    <script>

        $(document).ready(function () {
        $('#harvesterinstances').dataTable({
             "iDisplayLength": 100
        });

    });
    </script>
     {% elif  type == 'workers'%}
        <table>
        {% for name,value in generalInstanseInfo.items %}
            <tr>
                {% if name == 'Statuses'%}
                <td><b>{{ name }}</b> ({{ value|length }})</td>
                    <td>
                    {% for n,v in value.items %}
                        {{ n }} <a href="{{xurl}}&status={{ n }}">({{ v }})</a>
                    {% endfor %}
                </td>
                {% elif name ==  'Computingsites' %}
                    <td><b>{{ name }}</b> ({{ value|length }})</td>
                    <td>
                    {% for n,v in value.items %}
                        {{ n }} <a href="{{xurl}}&computingsite={{ n }}">({{ v }})</a>
                    {% endfor %}
                </td>
                {% elif name ==  'wrkpandaids' %}
                    <td><b>WorkerID (jobs)</b></td>
                    <td>
                     <div id = 'workerList'>
                    {% for n,v in value.items %}
                         <p>{{ n }} <a href="{% url 'jobList' %}?instance={{ instance }}&workerid={{ n }}">({{ v }})</a></p>
                    {% endfor %}
                     </div>
                    <div id="loadMore" style="display: inline">Load more</div> || <div id="loadAll" style="display: inline">Load all</div>
                    </td>
                {% else %}
                    <td><b>{{ name }}</b></td><td>{{ value }}</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        <hr/>

          <table id="harvesterworkers" style="width: 100%">
          <caption  style="height: 30px;vertical-align: middle">Workers</caption>
     <thead>
                <th>WorkerID (jobs)</th>
                <th>Total number of jobs</th>
                <th>Last update</th>
                <th>Status</th>
                <th>BatchID</th>
                <th>NodeID</th>
                <th>Queuename</th>
                <th>Computingsite</th>
                <th>Submit time</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Ncore</th>
                <th>Error code</th>
                <th>Stdout</th>
                <th>Stderr</th>
                <th>Batchlog</th>
                <th>Resource type</th>
                <th>Nativeexitcode</th>
                <th>Native status</th>
                <th>Diag message</th>
     </thead>
     <tbody>
     </tbody>
    </table>
   <script>

    $(document).ready(function () {
        var items = 100
        $('#workerList p').slice( 0, items ).show().css("display", "inline");
        var shown =  50;
        $('#loadMore').click(function () {
        var pritems = items
        items = items + shown
        $('#workerList p').slice( pritems, items ).show().css("display", "inline");
    });
        $('#loadAll').click(function () {
        items = $('#workerList p').length
        $('#workerList p').slice( 0, items ).show().css("display", "inline");
    });
        workersTable();
    });

    function workersTable() {
    $('#harvesterworkers').dataTable({
        //"bRetrieve": true,
        "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
        paging: true,
        "scrollX": true,
        "ajax": {
            "processing": true,
            "url": "{% url 'harvesterfm' %}?instance={{ instance }}&tk={{ tk }}&dt",
            "dataSrc" : ''},
        "aoColumns": [
            {
                "data": "workerid",
                sDefaultContent: "",
                "render": function(data, type, full, meta) {
                    return ''+full['workerid']+'<a href = "{% url 'jobList' %}?instance={{ instance }}&workerid='+full['workerid']+'">'+' ('+full['harvesterpandaids']+')' +'</a>'
                 }
            },
            {
                "data": "totalpandaids",
                sDefaultContent: "",
                "render": function(data, type, full, meta) {
                    return '<a href = "{% url 'jobList' %}?workerid='+full['workerid']+'">'+full['totalpandaids']+'</a>'
                 }
            },
            {
                "data": "wrklastupdate",
                sDefaultContent: ""
            },
            {
                "data": "status",
                sDefaultContent: "",

            },
            {
                "data": "batchid",
                sDefaultContent: "",
            },
            {
                "data": "nodeid",
                sDefaultContent: "",
            }
            ,
            {
                "data": "queuename",
                sDefaultContent: "",
            }
            ,
            {
                "data": "computingsite",
                sDefaultContent: "",
            }
            ,
            {
                "data": "submittime",
                sDefaultContent: "",
            }
            ,
            {
                "data": "wrkstarttime",
                sDefaultContent: "",
            }
            ,
            {
                "data": "wrkendtime",
                sDefaultContent: "",
            }
            ,
            {
                "data": "ncore",
                sDefaultContent: "",
            }
            ,
            {
                "data": "errorcode",
                sDefaultContent: "",
            }
            ,
            {
                "data": "stdout",
                sDefaultContent: "",
            }
            ,
            {
                "data": "stderr",
                sDefaultContent: "",
            }
            ,
            {
                "data": "batchlog",
                sDefaultContent: "",
            }
            ,
            {
                "data": "resourcetype",
                sDefaultContent: "",
            }
            ,
            {
                "data": "nativeexitcode",
                sDefaultContent: "",
            },
            {
                "data": "nativestatus",
                sDefaultContent: "",
            } ,
            {
                "data": "diagmessage",
                sDefaultContent: "",
            }
        ],
    });
    }
      </script>
     {% endif %}

{% endblock %}


