{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}
{% load common_tags %}

{% block page_title %}Harvester monitor page{% endblock %}
{% block title %}PanDA monitor{% endblock %}
{% block subtitle %}Harvester slots {{ viewParams.selection|safe }} {% endblock %}

{% block css_page_library %}
  <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}"/>
  <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.css' %}">
{% endblock %}

{% block css_page %}
  <link rel="stylesheet" href="{% static "css/harvester.css" %}?{% cache_bust "css/harvester.css" %}">
{% endblock %}

{% block js_head_page_library %}
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
  <script src="{% static 'js/datatables/moment.min.js' %}"></script>
  <script src="{% static 'js/datatables/datetime-moment.js' %}"></script>
  <script src="{% static 'js/datatables/datetime.js' %}"></script>
  <script src="{% static 'js/datatables/jquery-ui.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.rowsGroup.js' %}"></script>
  <script src="{% static "/js/jquery.shorten.1.0.js" %}"></script>
{% endblock %}

{% block body %}

<table id="harvesterslots">
    <caption style="height: 30px;vertical-align: middle">Harvester slots</caption>
    <thead>
            <th>Pandaqueuename</th>
            <th>Gshare</th>
            <th>Resourcetype</th>
            <th>Numslots</th>
            <th>Modificationtime</th>
            <th>Expirationtime</th>
    </thead>
{% for slot in harvesterslots %}
<tr>
<td>
 <a href="{% url "harvesters" %}?computingsite={{ slot.pandaqueuename }}">{{ slot.pandaqueuename }}</a>
</td>
<td>
{{ slot.gshare }}
</td>
<td>
{{ slot.resourcetype }}
</td>
<td>
{{ slot.numslots }}
</td>
 <td>
{{ slot.modificationtime }}
</td>
<td>
{{ slot.expirationtime }}
</td>
</tr>
{% endfor %}
</table>

{% endblock %}

{% block js_body_page %}
  <script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD-MM-YYYY HH:mm:ss');
        $('#harvesterslots').dataTable({"iDisplayLength": 100, responsive: true,});
    });
  </script>
{% endblock %}