{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Harvester monitor page{% endblock %}
{% block title %}PanDA monitor{% endblock %}
{% block subtitle %} <font size=-1>{{ viewParams.selection|safe }}</font> {% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}"/>
  <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.css' %}">
  <style type="text/css">
       #harvesterworkers_wrapper .row {
            max-width: 99%;
        }
       #harvesterworkerstats_wrapper .row {
            max-width: 99%;
        }
       #harvesterdialogs_wrapper .row {
            max-width: 99%;
        }
       #harvesterinstances_wrapper .row {
            max-width: 99%;
        }
        #workerList p {
            display: none;
        }
        #loadMore {
            color: #0a47ff;
            cursor: pointer;
        }
        #loadMore:hover {
            color: black;
        }
        #loadAll {
            color: #0a47ff;
            cursor: pointer;
        }
        #loadAll:hover {
            color: black;
        }
        #reloadDialogs {
            color: #0a47ff;
            cursor: pointer;
        }
        #reloadDialogs:hover {
            color: black;
        }
        #reloadWorkers {
            color: #0a47ff;
            cursor: pointer;
        }

        #reloadWorkers:hover {
            color: black;
        }

       #reloadWorkersList {
            color: #0a47ff;
            cursor: pointer;
        }

        #reloadWorkersList:hover {
            color: black;
        }

       #reloadJobs {
            color: #0a47ff;
            cursor: pointer;
        }

        #reloadJobs:hover {
            color: black;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
    <script type="text/javascript" src="/static/js/datatables/dataTables.rowsGroup.js"></script>
    <script src="/static/js/d3jsplot.js"></script>
    <script type="text/javascript" src="{% static "/js/jquery.shorten.1.0.js" %}"></script>
    <script type="text/javascript" src="/static/js/datatables/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/datatables/datetime-moment.js"></script>
    <script type="text/javascript" src="/static/js/datatables/datetime.js"></script>
    <script type="text/javascript" src="/static/js/datatables/jquery-ui.js"></script>

{% endblock %}
{% block body %}
    {% if  type == 'instances' %}
        <table id="harvesterinstances" style="width: 100%" class="data-table bluelinks">
            <caption style="height: 30px;vertical-align: middle">Harvester instances</caption>
            <thead>
            <th>Instance</th>
            <th>SW version</th>
            <th>Commit stamp</th>
            <th>Description</th>
            <th>Last update</th>
            </thead>
            <tbody>
            {% for instance in instances %}
                <tr>
                    <td>
                        <a href="{% url "harvesters" %}?instance={{ instance.instance|safe }}">{{ instance.instance|safe }}</a>
                    </td>
                    <td>
                        {{ instance.sw_version }}
                    </td>
                    <td>
                        {{ instance.commit_stamp }}
                    </td>
                    <td>
                        {{ instance.descr }}
                    </td>
                    <td>
                        {{ instance.lastupdate }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{#        <br/><br/>#}
{#        <iframe src="https://es-atlas6.cern.ch/kibana/app/kibana::/dashboard/e776b290-8594-11e8-be57-2be8d64792c0?embed=true&_g=(refreshInterval%3A(display%3A'5%20seconds'%2Cpause%3A!f%2Csection%3A1%2Cvalue%3A5000)%2Ctime%3A(from%3Anow-24h%2Cmode%3Aquick%2Cto%3Anow))" height="900" width="100%"></iframe>#}
        <br/><br/>
        <div class="callout warning">
        Dear BigPanDA monitor users,<br><br>

        We propose to participate in testing the <a href="https://es-atlas6.cern.ch/kibana/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(_source),index:'9184d500-8428-11e8-a7e3-ffbb2f24f6b4',interval:auto,query:(language:lucene,query:''),sort:!('@timestamp',desc))" target="_blank"> first prototype </a> (only CERN inside) of Elasticsearch+Kibana engine for harvester monitoring. <br>
        Data in Elasticsearch is synchronized with PanDA DB every minute. Timestamp field = submittime field. <br>
        If you find an error or you have comments or suggestions, please inform us to the following address:<br>
        atlas-adc-pandamon-support@cern.ch<br><br>
        </div>


        <script>

            $(document).ready(function () {
{#                $.fn.dataTable.moment('DD-MM-YYYY HH:mm:ss');#}
                $('#harvesterinstances').dataTable({"iDisplayLength": 100, responsive: true,});
{#                $('#harvesterinstances').addClass("data-table bluelinks")#}
            });
        </script>
    {% elif  type == 'workers' %}
        <table>
            {% for name,value in generalInstanseInfo.items %}
                <tr>
                    {% if name == 'Statuses' %}
                        <td><b>{{ name }} ({{ value|length }})</b></td>
                        <td>
                            {% for n,v in value.items %}
                                <a href="https://es-atlas6.cern.ch/kibana/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(_source),index:'9184d500-8428-11e8-a7e3-ffbb2f24f6b4',interval:auto,query:(language:lucene,query:'status: &quot;{{ n }}&quot;%20AND%20{% if instance != 0%}harvesterid:&quot;{{ instance|safe }}&quot;'){% else %}computingsite:&quot;{{ computingsite|safe }}&quot;'){% endif %},sort:!('@timestamp',desc))" target="_blank"> <span class='{{ n }} item'>{{ n }}</span></a>
                                <a href="{{ xurl }}status={{ n|safe }}">({{ v }})</a>
                            {% endfor %}
                        </td>
                    {% elif name ==  'Computingsites' %}
                        <td><b>{{ name }} ({{ value|length }})</b></td>
                        <td><div class="comment more">
                            {% for n,v in value.items %}
                                <a href="https://es-atlas6.cern.ch/kibana/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(_source),index:'9184d500-8428-11e8-a7e3-ffbb2f24f6b4',interval:auto,query:(language:lucene,query:'computingsite: &quot;{{ n }}&quot;%20AND%20{% if instance != 0%}harvesterid:&quot;{{ instance|safe }}&quot;'){% else %}computingsite:&quot;{{ computingsite|safe }}&quot;'){% endif %},sort:!('@timestamp',desc))" target="_blank"> {{ n }}</a> <a href="{{ xurl }}computingsite={{ n|safe }}">({{ v }})</a>
                            {% endfor %}
                        </div>
                        </td>
                    {% elif name ==  'Resourcetypes' %}
                        <td><b>{{ name }} ({{ value|length }})</b></td>
                        <td><div class="comment more">
                            {% for n,v in value.items %}
                                <a href="https://es-atlas6.cern.ch/kibana/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(_source),index:'9184d500-8428-11e8-a7e3-ffbb2f24f6b4',interval:auto,query:(language:lucene,query:'resourcetype: &quot;{{ n }}&quot;%20AND%20{% if instance != 0%}harvesterid:&quot;{{ instance|safe }}&quot;'){% else %}computingsite:&quot;{{ computingsite|safe }}&quot;'){% endif %},sort:!('@timestamp',desc))" target="_blank"> {{ n }}</a> <a href="{{ xurl }}resourcetype={{ n|safe }}">({{ v }})</a>
                            {% endfor %}
                        </div>
                        </td>
                    {% elif name ==  'Computingelements' %}
                        <td><b>{{ name }} ({{ value|length }})</b></td>
                        <td><div class="comment more">
                            {% for n,v in value.items %}
                                <a href="https://es-atlas6.cern.ch/kibana/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(_source),index:'9184d500-8428-11e8-a7e3-ffbb2f24f6b4',interval:auto,query:(language:lucene,query:'computingelement: &quot;{{ n }}&quot;%20AND%20{% if instance != 0%}harvesterid:&quot;{{ instance|safe }}&quot;'){% else %}computingsite:&quot;{{ computingsite|safe }}&quot;'){% endif %},sort:!('@timestamp',desc))" target="_blank"> {{ n }}</a> <a href="{{ xurl }}computingelement={{ n|safe }}">({{ v }})</a>
                            {% endfor %}
                        </div>
                        </td>
                    {% elif name ==  'Harvesters' %}
                        <td><b>{{ name }} ({{ value|length }})</b></td>
                        <td><div class="comment more">
                            {% for n,v in value.items %}
                                <a href="https://es-atlas6.cern.ch/kibana/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(_source),index:'9184d500-8428-11e8-a7e3-ffbb2f24f6b4',interval:auto,query:(language:lucene,query:'harvesterid: &quot;{{ n }}&quot;%20AND%20computingsite:&quot;{{ computingsite|safe }}&quot;'),sort:!('@timestamp',desc))" target="_blank"> {{ n }}</a> <a href="{{ xurl }}instance={{ n|safe }}">({{ v }})</a>
                            {% endfor %}
                        </div>
                        </td>
                    {% elif name ==  'wrkpandaids' %}
                        <td><b>WorkerID (jobs)</b></td>
                        <td>
                            <div id='workerList'>
                                {% for n,v in value.items %}
                                    <p>{{ n }} <a
                                            href="{% url 'jobList' %}?harvesterinstance={{ instance|safe }}&workerid={{ n|safe }}">({{ v }})</a>
                                    </p>
                                {% endfor %}
                            </div>
                            <div id="loadMore" style="display: inline">Load more</div>
                            ||
                            <div id="loadAll" style="display: inline">Load all</div>
                        </td>
                    {% elif name ==  'Jobscount' %}
                         <td><b>Jobs count</b></td>
                         <td>
                            <a href="{% url 'jobList' %}?harvesterinstance={{ instance|safe }}">{{ value }}</a>
                        </td>
                    {% else %}
                        <td><b>{{ name }}</b></td>
                        <td>{{ value }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
         {% if instance or computingsite %}
        <a href="javascript:ReverseDisplay('harvesterdialogsdiv','harvesterdialogslink','harvesterdialogs')"
           id="harvesterdialogslink" class="bluebutton">Show dialog messages / worker stats / jobs</a> <br/><br/>
        {% endif %}
        <div id="harvesterdialogsdiv" style="display: none">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1" class="ui-tabs-anchor">Dialog messages</a></li>
                    <li><a href="#tabs-2" class="ui-tabs-anchor">Worker stats</a></li>
                    <li><a href="#tabs-3" class="ui-tabs-anchor">Jobs</a></li>
                </ul>
                <div id="tabs-1">
                    <span style="display: inline;">Number of entries:</span> <input type="text" id="numberD" value="100"
                                                                                    size="35"
                                                                                    style="width: 150px; display: inline;">
                    <div id="reloadDialogs" style="display: inline">Reload table</div>
                    <br/>
                    <table id="harvesterdialogs" style="width: 100%" class="data-table bluelinks">
                        <caption style="height: 30px;vertical-align: middle">Dialog messages from harvester instances
                        </caption>
                        <thead>
                        <th>Creation time</th>
                        <th>Module name</th>
                        <th>Message level</th>
                        <th>Diag message</th>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <div id="tabs-2">
                    <span style="display: inline;">Number of entries:</span> <input type="text" id="numberW" value="100"
                                                                                    size="35"
                                                                                    style="width: 150px; display: inline;">
                    <div id="reloadWorkers" style="display: inline">Reload table</div>
                    <br/>
                    <table id="harvesterworkerstats" style="width: 100%" class="data-table bluelinks">
                        <caption style="height: 30px;vertical-align: middle">The table for realtime statistics of
                            harvester workers
                        </caption>
                        <thead>
                        {% if instance == 0 %}
                        <th>Harvester</th>
                        {% else %}
                        <th>Computing site</th>
                        {% endif %}
                        <th>Resource type</th>
                        <th>Status</th>
                        <th>Number of workers</th>
                        <th>Last update</th>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <div id="tabs-3">
                    <span style="display: inline;">Number of entries:</span> <input type="text" id="numberJ" value="100"
                                                                                    size="35"
                                                                                    style="width: 150px; display: inline;">
                    <div id="reloadJobs" style="display: inline">Reload table</div>
                    <br/>
                    <table id="harvesterjobs" style="width: 100%" class="data-table bluelinks">
                        <thead>
                        <th>Last update</th>
                        <th>Harvester</th>
                        <th>Workerid</th>
                        <th>Pandaid</th>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                </div>
        </div>
        {% if instance or computingsite %}
        <a href="javascript:ReverseDisplay('harvesterplotsdiv','harvesterplotslink','harvesterplots')"
           id="harvesterplotslink" class="bluebutton">Show plots [DEV]</a> <br/><br/>
        {% endif %}
        <div id="harvesterplotsdiv" style="display: none">
            <div id="plotstabs">
                <ul>
                    <li><a href="#tabs-1" class="ui-tabs-anchor">General info [DEV]</a></li>
                </ul>
                <div id="tabs-1">
                    {% if instance == 0 %}
                          <a style="color: #0a47ff" href="https://es-atlas6.cern.ch/kibana/app/kibana#/dashboard/069f92c0-843e-11e8-be57-2be8d64792c0?_g=(refreshInterval:('5%20seconds':'object:418',display:'5%20seconds',pause:!f,section:1,value:5000),time:(from:now-24h,mode:quick,to:now))&_a=(description:'',
filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'9184d500-8428-11e8-a7e3-ffbb2f24f6b4',key:computingsite.keyword,negate:!f,params:(query:{{ computingsite|safe }},type:phrase),
type:phrase,value:{{ computingsite|safe }}),query:(match:(computingsite.keyword:(query:{{ computingsite|safe }},type:phrase))))),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),
panels:!((gridData:(h:3,i:'1',w:6,x:6,y:6),id:'44015690-843d-11e8-be57-2be8d64792c0',panelIndex:'1',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'2',w:6,x:0,y:3),
id:'23221db0-843d-11e8-be57-2be8d64792c0',panelIndex:'2',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'3',w:6,x:6,y:3),id:cf4f6030-843c-11e8-be57-2be8d64792c0,panelIndex:'3',
type:visualization,version:'6.2.4'),(gridData:(h:3,i:'4',w:7,x:5,y:0),id:a3b25e00-843c-11e8-be57-2be8d64792c0,panelIndex:'4',type:visualization,version:'6.2.4'),
(gridData:(h:3,i:'5',w:6,x:0,y:9),id:fbbecd90-843c-11e8-be57-2be8d64792c0,panelIndex:'5',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'6',w:6,x:0,y:6),
id:a9207bf0-843d-11e8-a7e3-ffbb2f24f6b4,panelIndex:'6',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'7',w:5,x:0,y:0),id:'23173650-843f-11e8-a7e3-ffbb2f24f6b4',panelIndex:'7',type:visualization,version:'6.2.4'),
(gridData:(h:3,i:'8',w:6,x:6,y:9),id:ed82b2a0-859f-11e8-be57-2be8d64792c0,panelIndex:'8',type:visualization,version:'6.2.4')),
query:(language:lucene,query:''),timeRestore:!f,title:'Harvester%20main%20dashboard',viewMode:view)" target="_blank">Link (es-atlas6.cern.ch)</a> <br/><br/>
                   <iframe src="https://es-atlas6.cern.ch/kibana/app/kibana#/dashboard/069f92c0-843e-11e8-be57-2be8d64792c0?embed=true&_g=(refreshInterval:('5%20seconds':'object:418',display:'5%20seconds',pause:!f,section:1,value:5000),time:(from:now-24h,mode:quick,to:now))&_a=(description:'',
filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'9184d500-8428-11e8-a7e3-ffbb2f24f6b4',key:computingsite.keyword,negate:!f,params:(query:{{ computingsite|safe }},type:phrase),
type:phrase,value:{{ computingsite|safe }}),query:(match:(computingsite.keyword:(query:{{ computingsite|safe }},type:phrase))))),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),
panels:!((gridData:(h:3,i:'1',w:6,x:6,y:6),id:'44015690-843d-11e8-be57-2be8d64792c0',panelIndex:'1',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'2',w:6,x:0,y:3),
id:'23221db0-843d-11e8-be57-2be8d64792c0',panelIndex:'2',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'3',w:6,x:6,y:3),id:cf4f6030-843c-11e8-be57-2be8d64792c0,panelIndex:'3',
type:visualization,version:'6.2.4'),(gridData:(h:3,i:'4',w:7,x:5,y:0),id:a3b25e00-843c-11e8-be57-2be8d64792c0,panelIndex:'4',type:visualization,version:'6.2.4'),
(gridData:(h:3,i:'5',w:6,x:0,y:9),id:fbbecd90-843c-11e8-be57-2be8d64792c0,panelIndex:'5',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'6',w:6,x:0,y:6),
id:a9207bf0-843d-11e8-a7e3-ffbb2f24f6b4,panelIndex:'6',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'7',w:5,x:0,y:0),id:'23173650-843f-11e8-a7e3-ffbb2f24f6b4',panelIndex:'7',type:visualization,version:'6.2.4'),
(gridData:(h:3,i:'8',w:6,x:6,y:9),id:ed82b2a0-859f-11e8-be57-2be8d64792c0,panelIndex:'8',type:visualization,version:'6.2.4')),
query:(language:lucene,query:''),timeRestore:!f,title:'Harvester%20main%20dashboard',viewMode:view)"
height="1000" width="100%"></iframe>
                    {% else %}
                   <a style="color: #0a47ff" href="https://es-atlas6.cern.ch/kibana/app/kibana#/dashboard/069f92c0-843e-11e8-be57-2be8d64792c0?_g=(refreshInterval:('5%20seconds':'object:418',display:'5%20seconds',pause:!f,section:1,value:5000),time:(from:now-24h,mode:quick,to:now))&_a=(description:'',
filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'9184d500-8428-11e8-a7e3-ffbb2f24f6b4',key:harvesterid.keyword,negate:!f,params:(query:{{ instance|safe }},type:phrase),
type:phrase,value:{{ instance|safe }}),query:(match:(harvesterid.keyword:(query:{{ instance|safe }},type:phrase))))),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),
panels:!((gridData:(h:3,i:'1',w:6,x:6,y:6),id:'44015690-843d-11e8-be57-2be8d64792c0',panelIndex:'1',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'2',w:6,x:0,y:3),
id:'23221db0-843d-11e8-be57-2be8d64792c0',panelIndex:'2',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'3',w:6,x:6,y:3),id:cf4f6030-843c-11e8-be57-2be8d64792c0,panelIndex:'3',
type:visualization,version:'6.2.4'),(gridData:(h:3,i:'4',w:7,x:5,y:0),id:a3b25e00-843c-11e8-be57-2be8d64792c0,panelIndex:'4',type:visualization,version:'6.2.4'),
(gridData:(h:3,i:'5',w:6,x:0,y:9),id:fbbecd90-843c-11e8-be57-2be8d64792c0,panelIndex:'5',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'6',w:6,x:0,y:6),
id:a9207bf0-843d-11e8-a7e3-ffbb2f24f6b4,panelIndex:'6',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'7',w:5,x:0,y:0),id:'23173650-843f-11e8-a7e3-ffbb2f24f6b4',panelIndex:'7',type:visualization,version:'6.2.4'),
(gridData:(h:3,i:'8',w:6,x:6,y:9),id:ed82b2a0-859f-11e8-be57-2be8d64792c0,panelIndex:'8',type:visualization,version:'6.2.4')),
query:(language:lucene,query:''),timeRestore:!f,title:'Harvester%20main%20dashboard',viewMode:view)" target="_blank">Link (es-atlas6.cern.ch)</a> <br/><br/>
                   <iframe src="https://es-atlas6.cern.ch/kibana/app/kibana#/dashboard/069f92c0-843e-11e8-be57-2be8d64792c0?embed=true&_g=(refreshInterval:('5%20seconds':'object:418',display:'5%20seconds',pause:!f,section:1,value:5000),time:(from:now-24h,mode:quick,to:now))&_a=(description:'',
filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'9184d500-8428-11e8-a7e3-ffbb2f24f6b4',key:harvesterid.keyword,negate:!f,params:(query:{{ instance|safe }},type:phrase),
type:phrase,value:{{ instance|safe }}),query:(match:(harvesterid.keyword:(query:{{ instance|safe }},type:phrase))))),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),
panels:!((gridData:(h:3,i:'1',w:6,x:6,y:6),id:'44015690-843d-11e8-be57-2be8d64792c0',panelIndex:'1',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'2',w:6,x:0,y:3),
id:'23221db0-843d-11e8-be57-2be8d64792c0',panelIndex:'2',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'3',w:6,x:6,y:3),id:cf4f6030-843c-11e8-be57-2be8d64792c0,panelIndex:'3',
type:visualization,version:'6.2.4'),(gridData:(h:3,i:'4',w:7,x:5,y:0),id:a3b25e00-843c-11e8-be57-2be8d64792c0,panelIndex:'4',type:visualization,version:'6.2.4'),
(gridData:(h:3,i:'5',w:6,x:0,y:9),id:fbbecd90-843c-11e8-be57-2be8d64792c0,panelIndex:'5',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'6',w:6,x:0,y:6),
id:a9207bf0-843d-11e8-a7e3-ffbb2f24f6b4,panelIndex:'6',type:visualization,version:'6.2.4'),(gridData:(h:3,i:'7',w:5,x:0,y:0),id:'23173650-843f-11e8-a7e3-ffbb2f24f6b4',panelIndex:'7',type:visualization,version:'6.2.4'),
(gridData:(h:3,i:'8',w:6,x:6,y:9),id:ed82b2a0-859f-11e8-be57-2be8d64792c0,panelIndex:'8',type:visualization,version:'6.2.4')),
query:(language:lucene,query:''),timeRestore:!f,title:'Harvester%20main%20dashboard',viewMode:view)"
height="1000" width="100%"></iframe>
                  {% endif %}
                </div>
            </div>
        </div>

        <hr/>

        <span style="display: inline;">Number of entries:</span> <input type="text" id="numberWL" value="1000" size="35"  style="width: 150px; display: inline;">
        <div id="reloadWorkersList" style="display: inline">Reload table</div>
        <br/><br/>
        <table id="harvesterworkers" style="width: 100%" class="data-table bluelinks">
            <caption style="height: 30px;vertical-align: middle">Workers submitted by harvesters</caption>
            <thead>
            <th>WorkerID</th>
            <th>Jobs</th>
            <th>Last update</th>
            <th>Status</th>
            <th>BatchID</th>
            <th>NodeID</th>
            <th>Queuename</th>
            <th>Computingsite</th>
            <th>Instance</th>
            <th>Submit time</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Ncore</th>
            <th>Error code</th>
            <th>Stdout</th>
            <th>Stderr</th>
            <th>Batchlog</th>
            <th>Resource type</th>
            <th>Nativeexitcode</th>
            <th>Native status</th>
            <th>Diag message</th>
            <th>Computing element</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
{#                $.fn.dataTable.moment('DD-MM-YYYY HH:mm:ss');#}
                $("#tabs").tabs();
                $("#plotstabs").tabs();
                var items = 100
                $('#workerList p').slice(0, items).show().css("display", "inline");
                var shown = 50;
                $('#loadMore').click(function () {
                    var pritems = items
                    items = items + shown
                    $('#workerList p').slice(pritems, items).show().css("display", "inline");
                });
                $('#loadAll').click(function () {
                    items = $('#workerList p').length
                    $('#workerList p').slice(0, items).show().css("display", "inline");
                });
                $('#reloadDialogs').click(function () {
                    var number = $('#numberD').val();
                    var instance = "{{ instance|safe }}";
                    var computingsite = "{{ computingsite|safe }}";
                    if (instance!="0") {
                    var url = "{% url 'harvesters' %}?instance={{ instance|safe }}&dialogs&limit=" + number
                    }
                    else {var url = "{% url 'harvesters' %}?computingsite={{ computingsite|safe }}&instancelist={{ instancelist|safe }}&dialogs&limit=" + number}
                    $('#harvesterdialogs').DataTable().ajax.url(url).load();
                    {#            $('#harvesterdialogs').DataTable().ajax.reload();#}
                });
                $('#reloadWorkers').click(function () {
                    var number = $('#numberW').val();
                    var instance = "{{ instance|safe }}";
                    var computingsite = "{{ computingsite|safe }}";
                    if (instance!="0") {
                    var url = "{% url 'harvesters' %}?instance={{ instance|safe }}&workersstats&limit=" + number
                    }
                    else {var url = "{% url 'harvesters' %}?computingsite={{ computingsite|safe }}&workersstats&limit=" + number}
                    $('#harvesterworkerstats').DataTable().ajax.url(url).load();
                    {#            $('#harvesterdialogs').DataTable().ajax.reload();#}
                });
                $('#reloadJobs').click(function () {
                    var number = $('#numberJ').val();
                    var instance = "{{ instance|safe }}";
                    var computingsite = "{{ computingsite|safe }}";
                    var urlN = "{% url 'harvesters' %}{{ url|safe }}&pandaids&limit=" + number;
                    var url = "{% url 'harvesters' %}?instance={{ instance|safe }}&pandaids&limit=" + number

                    $('#harvesterjobs').DataTable().ajax.url(urlN).load();
                    {#            $('#harvesterdialogs').DataTable().ajax.reload();#}
                });
                $('#reloadWorkersList').click(function () {
                    var number = $('#numberWL').val();
                    var url = "{% url 'workers' %}{{url}}&dt&display_limit_workers=" + number
                    $('#harvesterworkers').DataTable().ajax.url(url).load();
                    {#            $('#harvesterdialogs').DataTable().ajax.reload();#}
                });
                workersTable();

            });

            function workersTable() {
                {#var instance = "{{ instance|safe}}";#}
                {#    if (instance!="0") {#}
                {#        dt = "computingsite"#}
                {#    } else  {#}
                {#        dt = "harvesterid"#}
                {#    }#}

                $('#harvesterworkers').dataTable({
                    "order": [[ 8, "desc" ]],
                    "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
                    "paging": true,
                    "scrollX": true,

                    "ajax": {
                        "processing": true,
                        "url": "{% url 'workers' %}{{url|safe}}&dt&display_limit_workers=1000",
                        "dataSrc": ''
                    },
                        columnDefs: [ {
                        targets: [2,9,10,11],
                        render: $.fn.dataTable.render.moment( 'YYYY-MM-DDTHH:mm:ss','YYYY-MM-DD HH:mm:ss')
                        } ],
                    "aoColumns": [
                        {
                            data: "workerid",
                            sDefaultContent: "",
                            "render": function (data, type, full, meta) {
                                if (type === "sort" || type === 'type') {
                                    return data;
                                }
                                else {
                                    if (full['njobs']!=null) {
                                        if("harvesterid" in full){
                                        return '' +'<a href="{% url 'harvesterWorkerInfo' %}?harvesterid='+ full['harvesterid'] +'&workerid='+full['workerid']+'">'+full['workerid']+'</a>'
                                            {#+' <a href = "{% url 'jobList' %}?harvesterinstance='+full['harvesterid']+'&workerid=' + full['workerid'] + '">' + ' (' + full['njobs'] + ')' + '</a>'#}
                                        }
                                        else {
                                        return '' + full['workerid'] + '<a href = "{% url 'jobList' %}?computingsite='+full['computingsite']+'&workerid=' + full['workerid'] + '">'
                                            {#+ ' (' + full['njobs'] + ')' + '</a>'#}
                                        }
                                    }
                                    else {
                                        return '' + '<a href="{% url 'harvesterWorkerInfo' %}?harvesterid='+ full['harvesterid'] +'&workerid='+full['workerid']+'">'+full['workerid']+'</a>' +  ' (' + 0 + ')'
                                    }

                                }
                            }
                        },
                        {
                            data: "njobs",
                            sDefaultContent: "",
                            "render": function (data, type, full, meta) {
                                if (type === "sort" || type === 'type') {
                                    return data;
                                }
                                else {
                                    if (full['njobs']!=null) {
                                        if("harvesterid" in full){
                                        return  '<a href = "{% url 'jobList' %}?harvesterinstance='+full['harvesterid']+'&workerid=' + full['workerid'] + '">' +  full['njobs']  + '</a>'
                                        }
                                        else {
                                        return '<a href = "{% url 'jobList' %}?computingsite='+full['computingsite']+'&workerid=' + full['workerid'] + '">' +  full['njobs'] +  '</a>'
                                        }
                                    }
                                    else {
                                        return '-'
                                    }

                                }
                            }
                        },
                        {
                            "data": "lastupdate",
                            sDefaultContent: ""
                        },
                        {
                            "data": "status",
                            sDefaultContent: "",
                        },
                        {
                            "data": "batchid",
                            sDefaultContent: "",
                            "render": function (data, type, full, meta) {
                                if (type === "sort" || type === 'type') {
                                    return data;
                                }
                                else {
                                        if("harvesterid" in full){
                                        return '<a href = "{% url 'jobList' %}?harvesterinstance='+full['harvesterid']+'&workerid=' + full['workerid']  +'&batchid=' +full['batchid'] +'">' + full['batchid'] + '</a>'
                                        }
                                        else {
                                        return  '<a href = "{% url 'jobList' %}?computingsite='+full['computingsite']+'&workerid=' + full['workerid'] +'&batchid=' +full['batchid'] +'">' + full['batchid'] + '</a>'
                                        }

                                }
                            }
                        },
                        {
                            "data": "nodeid",
                            sDefaultContent: "",
                        },
                        {
                            "data": "queuename",
                            sDefaultContent: "",
                        },
                        {
                            "data": "computingsite",
                            sDefaultContent: "",
                        },
                                                {
                            "data": "harvesterid",
                            sDefaultContent: "",
                        },
                        {
                            "data": "submittime",
                            sDefaultContent: "",
                        },
                        {
                            "data": "starttime",
                            sDefaultContent: "",
                        },
                        {
                            "data": "endtime",
                            sDefaultContent: "",
                        },
                        {
                            "data": "ncore",
                            sDefaultContent: "",
                        },
                        {
                            "data": "errorcode",
                            sDefaultContent: "",
                        },
                        {
                            "data": "stdout",
                            sDefaultContent: "",
                            "render": function (data, type, full, meta) {
                                if (full['stdout'] == 0 || full['stdout']==null) {
                                    return "-"
                                }
                                else {
                                    return '<a href = "' + full['stdout'] + '" target="_blank">' + 'Link' + '</a>'
                                }
                            }
                        },
                        {
                            "data": "stderr",
                            sDefaultContent: "",
                            "render": function (data, type, full, meta) {
                                if (full['stderr'] == 0  || full['stderr']==null) {
                                    return "-"
                                }
                                else {
                                    return '<a href = "' + full['stderr'] + '" target="_blank">' + 'Link' + '</a>'
                                }
                            }
                        },
                        {
                            "data": "batchlog",
                            sDefaultContent: "",
                            "render": function (data, type, full, meta) {

                                if (full['batchlog'] == 0  || full['batchlog']==null) {
                                    return "-"
                                }
                                else {
                                    return '<a href = "' + full['batchlog'] + '" target="_blank">' + 'Link' + '</a>'
                                }
                            }
                        },
                        {
                            "data": "resourcetype",
                            sDefaultContent: "",
                        },
                        {
                            "data": "nativeexitcode",
                            sDefaultContent: "",
                        },
                        {
                            "data": "nativestatus",
                            sDefaultContent: "",
                        },
                        {
                            "data": "diagmessage",
                            sDefaultContent: "",
                        },
                        {
                            "data": "computingelement",
                            sDefaultContent: "",
                        },
                    ],
                    "createdRow": function (row, data, index) {
                        $('td', row).eq(2).addClass(data['status'] + '_fill');
                        $('td', row).eq(18).addClass("textleft")
                    }
                });
            }

            function dialogsTable(number) {
                var instance =  "{{ instance|safe}}";
                if (instance!="0")
                {
                var url = "{% url 'harvesters' %}?instance={{ instance|safe }}&dialogs&limit=" + number
                } else {
                var url = "{% url 'harvesters' %}?computingsite={{ computingsite|safe }}&instancelist={{ instancelist|safe }}&dialogs&limit=" + number
                }
                $('#harvesterdialogs').dataTable({
                    "order": [[0, "desc"]],
                    "retrieve": true,
                    "searching": true,
                    "bLengthChange": false,
                    "ajax": {
                        "processing": true,
                        "url": url,
                        "dataSrc": ''
                    },
                    "aoColumns": [
                        {
                            "data": "creationtime",
                            sDefaultContent: ""
                        },
                        {
                            "data": "modulename",
                            sDefaultContent: ""
                        },
                        {
                            "data": "messagelevel",
                            sDefaultContent: ""
                        },
                        {
                            "data": "diagmessage",
                            "orderable": false,
                            sDefaultContent: "",
                        },

                    ],

                    "createdRow": function (row, data, index) {
                    if (data["messagelevel"] == 'ERROR') {

                        $('td', row).eq(2).addClass('errspan');
                    }
                    else{
                    $('td', row).eq(2).addClass(data["messagelevel"].toString().toLowerCase());
                    }
                    $('td', row).eq(3).addClass("textleft")
                    },
                    initComplete: function () {
                        this.api().columns([1, 2]).every(function () {
                            var column = this;
                            var select = $('<select><option value="">Show all</option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        });
                    }
                });
            }
            function jobsTable(number) {
                var instance = "{{ instance|safe}}";
                if (instance!="0")
                {
                var url = "{% url 'harvesters' %}?instance={{ instance|safe }}&pandaids&limit=" + number;
                dt = "computingsite"
                } else {
                var url = "{% url 'harvesters' %}?computingsite={{ computingsite|safe }}&pandaids&limit=" + number
                dt = "harvesterid"
                }
                var urlN = "{% url 'harvesters' %}{{ url|safe }}&pandaids&limit=" + number;
                $('#harvesterjobs').dataTable({
                    "order": [[0, "desc"]],
                    "retrieve": true,
                    "searching": true,
                    "bLengthChange": false,
                    "ajax": {
                        "processing": true,
                        "url": urlN,
                        "dataSrc": ''
                    },
                    "aoColumns": [
                        {
                            "data": "lastupdate",
                            sDefaultContent: "",
                        },
                        {
                            "data": "harvesterid",
                            sDefaultContent: "",
                        },
                        {
                            "data": "workerid",
                            sDefaultContent: ""
                        },
                        {
                            "data": "pandaid",
                            sDefaultContent: "",
                            "render": function (data, type, full, meta) {
                                if (type === "sort" || type === 'type') {
                                    return data;
                                }
                                else {
                                    return '<a href = "{% url 'jobInfo' %}/'+full['pandaid']+'">' + full['pandaid'] + '</a>'
                                }
                            }
                        },

                    ],
                    "createdRow": function (row, data, index) {
                        if (data["status"] == 'running') {
                            $('td', row).eq(0).addClass('running_fill');
                            $('td', row).eq(1).addClass('running_fill');
                            $('td', row).eq(2).addClass('running_fill');
                            $('td', row).eq(3).addClass('running_fill');

                        }
                    },

                });

            }
            function workerstatsTable(number) {
                var instance = "{{ instance|safe}}";
                if (instance!="0")
                {
                var url = "{% url 'harvesters' %}?instance={{ instance|safe }}&workersstats&limit=" + number;
                dt = "computingsite"
                } else {
                var url = "{% url 'harvesters' %}?computingsite={{ computingsite|safe }}&workersstats&limit=" + number
                dt = "harvesterid"
                }
                $('#harvesterworkerstats').dataTable({
                    "order": [[0, "desc"]],
                    "retrieve": true,
                    "searching": true,
                    "bLengthChange": false,
                    "ajax": {
                        "processing": true,
                        "url": url,
                        "dataSrc": ''
                    },
                    "aoColumns": [
                        {   "data": dt,
                             sDefaultContent: "",
                            {#"render": function (data, type, full, meta) {#}
                            {#    if (type === "sort" || type === 'filter') {#}
                                    {#return $('#harvesterworkerstats').DataTable().cell(meta.row, meta.col).nodes().to$().find('input').val();#}
                            {#        return data#}
                            {#    }#}
                            {#    else {#}
                            {#        if("computingsite" in full){#}
                            {#            return full['computingsite']#}
                            {#        }#}
                            {#        else if ("harvesterid" in full) {#}
                            {#            return full['harvesterid']#}
                            {#        }#}
                            {#    }#}
                        },
                        {
                            "data": "resourcetype",
                            sDefaultContent: ""
                        },
                        {
                            "data": "status",
                            sDefaultContent: "",
                        },
                        {
                            "data": "nworkers",
                            sDefaultContent: "",
                        },
                        {
                            "data": "lastupdate",
                            sDefaultContent: "",
                        },
                    ],
                    "createdRow": function (row, data, index) {
                        if (data["status"] == 'running') {
                            $('td', row).eq(0).addClass('running_fill');
                            $('td', row).eq(1).addClass('running_fill');
                            $('td', row).eq(2).addClass('running_fill');
                            $('td', row).eq(3).addClass('running_fill');
                            $('td', row).eq(4).addClass('running_fill');
                        }
                    },

                    initComplete: function () {
                        this.api().columns([0,1,2]).every(function () {
                            var column = this;

                                var select = $('<select><option value="">Show all</option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {

                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw(true);
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>')
                                });
                        });
                    }
                });

            }
            function ReverseDisplay(d, hlink, table) {
                if (document.getElementById(d).style.display == "none") {
                    document.getElementById(d).style.display = "block";
                    var urlname = document.getElementById(hlink).innerText;
                    urlname = urlname.replace("Show", "Hide");
                    document.getElementById(hlink).innerText = urlname;
                    if (table == 'harvesterdialogs') {
                        var number = $('#numberD').val();
                        dialogsTable(number);
                        $("#harvesterdialogs_filter").hide();
                    }
                }
                else {
                    document.getElementById(d).style.display = "none";
                    var urlname = document.getElementById(hlink).innerText;
                    urlname = urlname.replace("Hide", "Show");
                    document.getElementById(hlink).innerText = urlname;
                    {#            if(table=='harvesterdialogs'){#}
                    {#               $('#harvesterdialogs').dataTable().fnDestroy();#}
                    {#            }#}
                }
            }

            $("#tabs").on("tabsactivate", function (event, ui) {
                switch (ui.newPanel.attr('id')) {
                    case 'tabs-2':
                        var number = $('#numberW').val();
                        workerstatsTable(number);
                        $("#harvesterworkerstats_filter").hide();
                        break;
                    case 'tabs-3':
                        var number = $('#numberJ').val();
                        jobsTable(number);
                        $("#harvesterjobs_filter").hide();
                        break;
                }
            });
        </script>
    {% endif %}
{% endblock %}

{% block helptext %}
{% include "harvesterInfoHelp.html" with helptitle="Harvester list help" show="all" %}
{% endblock %}
