{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Harvester monitor page{% endblock %}
{% block title %}PanDA monitor{% endblock %}
{% block subtitle %}Harvester <font size=-1>{{ viewParams.selection|safe }}</font> {% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style type="text/css">
       #harvesterworkers_wrapper .row {
            max-width: 99%;
        }
       #harvesterworkerstats_wrapper .row {
            max-width: 99%;
        }
       #harvesterdialogs_wrapper .row {
            max-width: 99%;
        }
       #harvesterinstances_wrapper .row {
            max-width: 99%;
        }
        #workerList p {
            display: none;
        }
        #loadMore {
            color: #0a47ff;
            cursor: pointer;
        }
        #loadMore:hover {
            color: black;
        }
        #loadAll {
            color: #0a47ff;
            cursor: pointer;
        }
        #loadAll:hover {
            color: black;
        }
        #reloadDialogs {
            color: #0a47ff;
            cursor: pointer;
        }
        #reloadDialogs:hover {
            color: black;
        }
        #reloadWorkers {
            color: #0a47ff;
            cursor: pointer;
        }

        #reloadWorkers:hover {
            color: black;
        }

       #reloadWorkersList {
            color: #0a47ff;
            cursor: pointer;
        }

        #reloadWorkersList:hover {
            color: black;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
    <script type="text/javascript" src="/static/js/datatables/dataTables.rowsGroup.js"></script>
    <script src="/static/js/d3jsplot.js"></script>
    <script type="text/javascript" src="{% static "/js/jquery.shorten.1.0.js" %}"></script>
    <script type="text/javascript" src="/static/js/datatables/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/datatables/datetime-moment.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block body %}
    {% if  type == 'instances' %}
        <table id="harvesterinstances" style="width: 100%" class="data-table bluelinks">
            <caption style="height: 30px;vertical-align: middle">Harvester instances</caption>
            <thead>
            <th>Instance</th>
            <th>Total</th>
            <th>Recently</th>
            <th>When</th>
            <th>SW version</th>
            <th>Commit stamp</th>
            <th>Last update</th>
            <th>Description</th>
            </thead>
            <tbody>
            {% for instance in instances %}
                <tr>
                    <td>
                        <a href="{% url "harvesters" %}?instance={{ instance.instance|safe }}">{{ instance.instance|safe }}</a>
                    </td>
                    <td>
                        {{ instance.total }}
                    </td>
                    <td>
                        {{ instance.recently }}
                    </td>
                    <td>
                        {{ instance.when }}
                    </td>
                    <td>
                        {{ instance.sw_version }}
                    </td>
                    <td>
                        {{ instance.commit_stamp }}
                    </td>
                    <td>
                        {{ instance.lastupdate }}
                    </td>
                    <td>
                        {{ instance.descr }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br/><br/>
        <div class="callout warning">
        Dear BigPanDA monitor users,<br><br>

        We propose to participate in testing the <a href="http://aaleksee-dev.cern.ch:5601/app/kibana#/discover?_g=()&_a=(columns:!(_source),index:'78af0b20-695e-11e8-b969-53421f193d9e',interval:auto,query:(language:lucene,query:''),sort:!('@timestamp',desc))" target="_blank"> first prototype </a> (only CERN inside) of Elasticsearch+Kibana engine for harvester monitoring. <br>
        Data in Elasticsearch is synchronized with PanDA DB every minute. Timestamp field = submittime field. <br><br>
        Demo dashboards are available by links: <a href="http://aaleksee-dev.cern.ch:5601/app/kibana#/dashboard/b79801b0-688d-11e8-b969-53421f193d9e" target="_blank">link1</a>, <a href="http://aaleksee-dev.cern.ch:5601/app/kibana#/dashboard/27e3e330-68ac-11e8-b969-53421f193d9e" target="_blank">link2</a>.<br><br>
        If you find an error or you have comments or suggestions, please inform us to the following address:<br>
        atlas-adc-pandamon-support@cern.ch<br><br>
        </div>


        <script>

            $(document).ready(function () {
                $.fn.dataTable.moment('DD-MM-YYYY HH:mm:ss');
                $('#harvesterinstances').dataTable({"iDisplayLength": 100, responsive: true,});
{#                $('#harvesterinstances').addClass("data-table bluelinks")#}
            });
        </script>
    {% elif  type == 'workers' %}
        <table>
            {% for name,value in generalInstanseInfo.items %}
                <tr>
                    {% if name == 'Statuses' %}
                        <td><b>{{ name }} ({{ value|length }})</b></td>
                        <td>
                            {% for n,v in value.items %}
                                <span class='{{ n }} item'>{{ n }}</span>
                                <a href="{{ xurl }}status={{ n|safe }}">({{ v }})</a>
                            {% endfor %}
                        </td>
                    {% elif name ==  'Computingsites' %}
                        <td><b>{{ name }} ({{ value|length }})</b></td>
                        <td><div class="comment more">
                            {% for n,v in value.items %}
                                {{ n }} <a href="{{ xurl }}computingsite={{ n|safe }}">({{ v }})</a>
                            {% endfor %}
                        </div>
                        </td>
                    {% elif name ==  'Harvesters' %}
                        <td><b>{{ name }} ({{ value|length }})</b></td>
                        <td><div class="comment more">
                            {% for n,v in value.items %}
                                {{ n }} <a href="{{ xurl }}instance={{ n|safe }}">({{ v }})</a>
                            {% endfor %}
                        </div>
                        </td>
                    {% elif name ==  'wrkpandaids' %}
                        <td><b>WorkerID (jobs)</b></td>
                        <td>
                            <div id='workerList'>
                                {% for n,v in value.items %}
                                    <p>{{ n }} <a
                                            href="{% url 'jobList' %}?instance={{ instance|safe }}&workerid={{ n|safe }}">({{ v }})</a>
                                    </p>
                                {% endfor %}
                            </div>
                            <div id="loadMore" style="display: inline">Load more</div>
                            ||
                            <div id="loadAll" style="display: inline">Load all</div>
                        </td>
                    {% else %}
                        <td><b>{{ name }}</b></td>
                        <td>{{ value }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <a href="javascript:ReverseDisplay('harvesterdialogsdiv','harvesterdialogslink','harvesterdialogs')"
           id="harvesterdialogslink" class="bluebutton">Show dialog messages / worker stats</a> <br/><br/>

        <div id="harvesterdialogsdiv" style="display: none">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1" class="ui-tabs-anchor">Dialog messages</a></li>
                    <li><a href="#tabs-2" class="ui-tabs-anchor">Worker stats</a></li>

                </ul>
                <div id="tabs-1">
                    <span style="display: inline;">Number of entries:</span> <input type="text" id="numberD" value="100"
                                                                                    size="35"
                                                                                    style="width: 150px; display: inline;">
                    <div id="reloadDialogs" style="display: inline">Reload table</div>
                    <br/>
                    <table id="harvesterdialogs" style="width: 100%" class="data-table bluelinks">
                        <caption style="height: 30px;vertical-align: middle">Dialog messages from harvester instances
                        </caption>
                        <thead>
                        <th>Creation time</th>
                        <th>Module name</th>
                        <th>Message level</th>
                        <th>Diag message</th>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <div id="tabs-2">
                    <span style="display: inline;">Number of entries:</span> <input type="text" id="numberW" value="100"
                                                                                    size="35"
                                                                                    style="width: 150px; display: inline;">
                    <div id="reloadWorkers" style="display: inline">Reload table</div>
                    <br/>
                    <table id="harvesterworkerstats" style="width: 100%" class="data-table bluelinks">
                        <caption style="height: 30px;vertical-align: middle">The table for realtime statistics of
                            harvester workers
                        </caption>
                        <thead>
                        {% if instance == 0 %}
                        <th>Harvester</th>
                        {% else %}
                        <th>Computing site</th>
                        {% endif %}
                        <th>Resource type</th>
                        <th>Status</th>
                        <th>Number of workers</th>
                        <th>Last update</th>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        <hr/>

        <span style="display: inline;">Number of entries:</span> <input type="text" id="numberWL" value="1000" size="35"  style="width: 150px; display: inline;">
        <div id="reloadWorkersList" style="display: inline">Reload table</div>
        <br/><br/>
        <table id="harvesterworkers" style="width: 100%" class="data-table bluelinks">
            <caption style="height: 30px;vertical-align: middle">Workers submitted by harvesters</caption>
            <thead>
            <th>WorkerID (jobs)</th>
            {#                <th>Total number of jobs</th>#}
            <th>Last update</th>
            <th>Status</th>
            <th>BatchID</th>
            <th>NodeID</th>
            <th>Queuename</th>
            {% if instance == 0 %}
            <th>Harvester</th>
            {% else %}
            <th>Computingsite</th>
            {% endif %}
            <th>Submit time</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Ncore</th>
            <th>Error code</th>
            <th>Stdout</th>
            <th>Stderr</th>
            <th>Batchlog</th>
            <th>Resource type</th>
            <th>Nativeexitcode</th>
            <th>Native status</th>
            <th>Diag message</th>
            <th>Computing element</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $.fn.dataTable.moment('DD-MM-YYYY HH:mm:ss');
                $("#tabs").tabs();
                var items = 100
                $('#workerList p').slice(0, items).show().css("display", "inline");
                var shown = 50;
                $('#loadMore').click(function () {
                    var pritems = items
                    items = items + shown
                    $('#workerList p').slice(pritems, items).show().css("display", "inline");
                });
                $('#loadAll').click(function () {
                    items = $('#workerList p').length
                    $('#workerList p').slice(0, items).show().css("display", "inline");
                });
                $('#reloadDialogs').click(function () {
                    var number = $('#numberD').val();
                    var instance = "{{ instance|safe }}";
                    var computingsite = "{{ computingsite|safe }}";
                    if (instance!="0") {
                    var url = "{% url 'harvesters' %}?instance={{ instance|safe }}&dialogs&limit=" + number
                    }
                    else {var url = "{% url 'harvesters' %}?computingsite={{ computingsite|safe }}&instancelist={{ instancelist|safe }}&dialogs&limit=" + number}
                    $('#harvesterdialogs').DataTable().ajax.url(url).load();
                    {#            $('#harvesterdialogs').DataTable().ajax.reload();#}
                });
                $('#reloadWorkers').click(function () {
                    var number = $('#numberW').val();
                    var instance = "{{ instance|safe }}";
                    var computingsite = "{{ computingsite|safe }}";
                    if (instance!="0") {
                    var url = "{% url 'harvesters' %}?instance={{ instance|safe }}&workersstats&limit=" + number
                    }
                    else {var url = "{% url 'harvesters' %}?computingsite={{ computingsite|safe }}&workersstats&limit=" + number}
                    $('#harvesterworkerstats').DataTable().ajax.url(url).load();
                    {#            $('#harvesterdialogs').DataTable().ajax.reload();#}
                });
                $('#reloadWorkersList').click(function () {
                    var number = $('#numberWL').val();
                    var url = "{% url 'workers' %}{{url}}&dt&display_limit_workers=" + number
                    $('#harvesterworkers').DataTable().ajax.url(url).load();
                    {#            $('#harvesterdialogs').DataTable().ajax.reload();#}
                });
                workersTable();
            });

            function workersTable() {
                var instance = "{{ instance|safe}}";
                    if (instance!="0") {
                        dt = "computingsite"
                    } else {
                        dt = "harvester_id"
                    }
                $('#harvesterworkers').dataTable({

                    //"bRetrieve": true,
                    "order": [[ 7, "desc" ]],
                    "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
                    "paging": true,
                    "scrollX": true,

                    "ajax": {
                        "processing": true,
                        "url": "{% url 'workers' %}{{url|safe}}&dt&display_limit_workers=1000",
                        "dataSrc": ''
                    },
                    "aoColumns": [
                        {
                            data: "workerid",
                            sDefaultContent: "",
                            "render": function (data, type, full, meta) {
                                if (type === "sort" || type === 'type') {
                                    return data;
                                }
                                else {
                                    if (full['njobs']!=null) {
                                        if("harvester_id" in full){
                                        return '' + full['workerid'] + '<a href = "{% url 'jobList' %}?instance='+full['harvester_id']+'&workerid=' + full['workerid'] + '">' + ' (' + full['njobs'] + ')' + '</a>'
                                        }
                                        else {
                                        return '' + full['workerid'] + '<a href = "{% url 'jobList' %}?computingsite='+full['computingsite']+'&workerid=' + full['workerid'] + '">' + ' (' + full['njobs'] + ')' + '</a>'
                                        }
                                    }
                                    else {
                                        return '' + full['workerid'] +  ' (' + 0 + ')'
                                    }

                                }
                            }
                        },
                        {
                            "data": "wrklastupdate",
                            sDefaultContent: ""
                        },
                        {
                            "data": "status",
                            sDefaultContent: "",
                        },
                        {
                            "data": "batchid",
                            sDefaultContent: "",
                        },
                        {
                            "data": "nodeid",
                            sDefaultContent: "",
                        },
                        {
                            "data": "queuename",
                            sDefaultContent: "",
                        },
                        {
                            "data": dt,
                            sDefaultContent: "",
                        },
                        {
                            "data": "submittime",
                            sDefaultContent: "",
                        },
                        {
                            "data": "wrkstarttime",
                            sDefaultContent: "",
                        },
                        {
                            "data": "wrkendtime",
                            sDefaultContent: "",
                        },
                        {
                            "data": "ncore",
                            sDefaultContent: "",
                        },
                        {
                            "data": "errorcode",
                            sDefaultContent: "",
                        },
                        {
                            "data": "stdout",
                            sDefaultContent: "",
                            "render": function (data, type, full, meta) {
                                if (full['stdout'] == 0) {
                                    return "-"
                                }
                                else {
                                    return '<a href = "' + full['stdout'] + '" target="_blank">' + 'Link' + '</a>'
                                }
                            }
                        },
                        {
                            "data": "stderr",
                            sDefaultContent: "",
                            "render": function (data, type, full, meta) {
                                if (full['stderr'] == 0) {
                                    return "-"
                                }
                                else {
                                    return '<a href = "' + full['stderr'] + '" target="_blank">' + 'Link' + '</a>'
                                }
                            }
                        },
                        {
                            "data": "batchlog",
                            sDefaultContent: "",
                            "render": function (data, type, full, meta) {

                                if (full['batchlog'] == 0) {
                                    return "-"
                                }
                                else {
                                    return '<a href = "' + full['batchlog'] + '" target="_blank">' + 'Link' + '</a>'
                                }
                            }
                        },
                        {
                            "data": "resourcetype",
                            sDefaultContent: "",
                        },
                        {
                            "data": "nativeexitcode",
                            sDefaultContent: "",
                        },
                        {
                            "data": "nativestatus",
                            sDefaultContent: "",
                        },
                        {
                            "data": "diagmessage",
                            sDefaultContent: "",
                        },
                        {
                            "data": "computingelement",
                            sDefaultContent: "",
                        },
                    ],
                    "createdRow": function (row, data, index) {
                        $('td', row).eq(2).addClass(data['status'] + '_fill');
                        $('td', row).eq(18).addClass("textleft")
                    }
                });
            }

            function dialogsTable(number) {
                var instance =  "{{ instance|safe}}";
                if (instance!="0")
                {
                var url = "{% url 'harvesters' %}?instance={{ instance|safe }}&dialogs&limit=" + number
                } else {
                var url = "{% url 'harvesters' %}?computingsite={{ computingsite|safe }}&instancelist={{ instancelist|safe }}&dialogs&limit=" + number
                }
                $('#harvesterdialogs').dataTable({
                    "order": [[0, "desc"]],
                    "retrieve": true,
                    "searching": true,
                    "bLengthChange": false,
                    "ajax": {
                        "processing": true,
                        "url": url,
                        "dataSrc": ''
                    },
                    "aoColumns": [
                        {
                            "data": "creationtime",
                            sDefaultContent: ""
                        },
                        {
                            "data": "modulename",
                            sDefaultContent: ""
                        },
                        {
                            "data": "messagelevel",
                            sDefaultContent: ""
                        },
                        {
                            "data": "diagmessage",
                            "orderable": false,
                            sDefaultContent: "",
                        },

                    ],

                    "createdRow": function (row, data, index) {
                    if (data["messagelevel"] == 'ERROR') {

                        $('td', row).eq(2).addClass('errspan');
                    }
                    else{
                    $('td', row).eq(2).addClass(data["messagelevel"].toString().toLowerCase());
                    }
                    $('td', row).eq(3).addClass("textleft")
                    },
                    initComplete: function () {
                        this.api().columns([1, 2]).every(function () {
                            var column = this;
                            var select = $('<select><option value="">Show all</option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        });
                    }
                });
            }

            function workerstatsTable(number) {
                var instance = "{{ instance|safe}}";
                if (instance!="0")
                {
                var url = "{% url 'harvesters' %}?instance={{ instance|safe }}&workersstats&limit=" + number;
                dt = "computingsite"
                } else {
                var url = "{% url 'harvesters' %}?computingsite={{ computingsite|safe }}&workersstats&limit=" + number
                dt = "harvesterid"
                }
                $('#harvesterworkerstats').dataTable({
                    "order": [[0, "desc"]],
                    "retrieve": true,
                    "searching": true,
                    "bLengthChange": false,
                    "ajax": {
                        "processing": true,
                        "url": url,
                        "dataSrc": ''
                    },
                    "aoColumns": [
                        {   "data": dt,
                             sDefaultContent: "",
                            {#"render": function (data, type, full, meta) {#}
                            {#    if (type === "sort" || type === 'filter') {#}
                                    {#return $('#harvesterworkerstats').DataTable().cell(meta.row, meta.col).nodes().to$().find('input').val();#}
                            {#        return data#}
                            {#    }#}
                            {#    else {#}
                            {#        if("computingsite" in full){#}
                            {#            return full['computingsite']#}
                            {#        }#}
                            {#        else if ("harvesterid" in full) {#}
                            {#            return full['harvesterid']#}
                            {#        }#}
                            {#    }#}
                        },
                        {
                            "data": "resourcetype",
                            sDefaultContent: ""
                        },
                        {
                            "data": "status",
                            sDefaultContent: "",
                        },
                        {
                            "data": "nworkers",
                            sDefaultContent: "",
                        },
                        {
                            "data": "lastupdate",
                            sDefaultContent: "",
                        },
                    ],
                    "createdRow": function (row, data, index) {
                        if (data["status"] == 'running') {
                            $('td', row).eq(0).addClass('running_fill');
                            $('td', row).eq(1).addClass('running_fill');
                            $('td', row).eq(2).addClass('running_fill');
                            $('td', row).eq(3).addClass('running_fill');
                            $('td', row).eq(4).addClass('running_fill');
                        }
                    },

                    initComplete: function () {
                        this.api().columns([0,1,2]).every(function () {
                            var column = this;

                                var select = $('<select><option value="">Show all</option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {

                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw(true);
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>')
                                });
                        });
                    }
                });

            }
            function ReverseDisplay(d, hlink, table) {
                if (document.getElementById(d).style.display == "none") {
                    document.getElementById(d).style.display = "block";
                    var urlname = document.getElementById(hlink).innerText;
                    urlname = urlname.replace("Show", "Hide");
                    document.getElementById(hlink).innerText = urlname;
                    if (table == 'harvesterdialogs') {
                        var number = $('#numberD').val();
                        dialogsTable(number);
                        $("#harvesterdialogs_filter").hide();
                    }
                }
                else {
                    document.getElementById(d).style.display = "none";
                    var urlname = document.getElementById(hlink).innerText;
                    urlname = urlname.replace("Hide", "Show");
                    document.getElementById(hlink).innerText = urlname;
                    {#            if(table=='harvesterdialogs'){#}
                    {#               $('#harvesterdialogs').dataTable().fnDestroy();#}
                    {#            }#}
                }
            }

            $("#tabs").on("tabsactivate", function (event, ui) {
                switch (ui.newPanel.attr('id')) {
                    case 'tabs-2':
                        var number = $('#numberW').val();
                        workerstatsTable(number);
                        $("#harvesterworkerstats_filter").hide();
                        break;
                }
            });
        </script>
    {% endif %}
{% endblock %}


