<div class="card bp-container-simple help">
<div class="card-divider"><p>Harvester list help:</p></div>
<div class="card-section">

<p>This page is a summary of Harvester workers. It is better to specify <code>instance</code> as this is the indexed field and therefore works faster.
  The default time range is last 12 hours, you can change it using <code>hours=N</code> filter. </p>

<p>See the Harvester documentation on workers <a href="https://github.com/HSF/harvester/wiki/State-and-sequence-diagrams">status transitions</a>.</p>
<p>
Available filters for this page:
</p>
<ul>
<li>
  by  <code>instance</code>,
  e.g. <a href="{% url 'harvesterWorkerList' %}?instance=CERN_central_A">/harvesters/?instance=CERN_central_A</a>
</li>
<li>
  by  <code>computingsite</code>,
  e.g. <a href="{% url 'harvesterWorkerList' %}?instance=CERN_central_A&computingsite= MWT2">/harvesters/?instance=CERN_central_A&computingsite= MWT2</a>
</li>
<li>
  by <code>resourcetype</code>,
  e.g. <a href="{% url 'harvesterWorkerList' %}?instance=CERN_central_A&resourcetype=SCORE">/harvesters/?instance=CERN_central_A&resourcetype=SCORE</a>
</li>
<li>
  by <code>computingelement</code>,
  e.g. <a href="{% url 'harvesterWorkerList' %}?instance=CERN_central_A&computingelement=iut2-gk02.mwt2.org:9619">/harvesters/?instance=CERN_central_A&computingelement=iut2-gk02.mwt2.org:9619</a>
</li>
<li>
  by <code>status</code>,
  e.g. <a href="{% url 'harvesterWorkerList' %}?instance=CERN_central_A&status=running">/harvesters/?instance=CERN_central_A&status=running</a>
</li>
<li>
  by <code> workerid</code> or list of <code>workerids</code>,
  e.g. <a href="{% url 'harvesterWorkerList' %}?instance=CERN_central_A&workerids=467254600,467374162">/harvesters/?instance=CERN_central_A&workerid=467254600,467374162</a>
</li>
</ul>

</div>
</div>

