{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}
{% load common_tags %}

{% block page_title %}Harvester monitor page{% endblock %}
{% block title %}PanDA monitor{% endblock %}
{% block subtitle %}Harvester slots {{ viewParams.selection|safe }} {% endblock %}

{% block css_page_library %}
  <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}"/>
  <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.css' %}">
{% endblock %}

{% block css_page %}
  <link rel="stylesheet" href="{% static "css/harvester.css" %}?{% cache_bust "css/harvester.css" %}">
{% endblock %}

{% block js_head_page_library %}
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
  <script src="{% static 'js/datatables/moment.min.js' %}"></script>
  <script src="{% static 'js/datatables/datetime-moment.js' %}"></script>
  <script src="{% static 'js/datatables/datetime.js' %}"></script>
  <script src="{% static 'js/datatables/jquery-ui.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.rowsGroup.js' %}"></script>
  <script src="{% static "/js/jquery.shorten.1.0.js" %}"></script>
{% endblock %}

{% block body %}
<div class="card bp-container-simple secondary">
  <div class="card-divider"><p>Harvester slots</p></div>
  <div class="card-section">
    <table id="harvesterslots" class="data-table">
    <thead>
      <tr>
        <th>PQ name</th>
        <th>Global share</th>
        <th>Resource type</th>
        <th>#slots</th>
        <th>Modification time</th>
        <th>Expiration time</th>
      </tr>
    </thead>
    <tbody>
      {% for slot in harvesterslots %}
      <tr>
        <td><div class="tooltip-right"><a href="{% url "harvesterWorkerList" %}?computingsite={{ slot.pandaqueuename }}">{{ slot.pandaqueuename }}</a><span class="tooltip-text">See workers for {{ slot.pandaqueuename }} site</span></div></td>
        <td>{{ slot.gshare }}</td>
        <td>{{ slot.resourcetype }}</td>
        <td>{{ slot.numslots }}</td>
        <td>{{ slot.modificationtime }}</td>
        <td>{{ slot.expirationtime }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block js_body_page %}
  <script nonce={{request.csp_nonce}}>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD-MM-YYYY HH:mm:ss');
        $('#harvesterslots').dataTable({"iDisplayLength": 100, responsive: true,});
    });
  </script>
{% endblock %}