asgiref==3.11.1
boto3==1.42.77
channels==4.3.2
confluent-kafka==2.13.2
daphne==4.2.1
Django==5.2.13
django-csp==4.0
django-debug-toolbar==6.2.0
django-extensions==4.1
djangorestframework==3.17.1
elasticsearch==8.19.3
humanize==4.15.0
idds-client==2.6.1
idds-common==2.6.1
idds-workflow==2.6.1
kafka-python==2.3.0
kubernetes==35.0.0
numpy==2.4.3
opensearch-py==3.1.0
openshift==0.13.2
oracledb==3.4.2
panda-client==1.6.13
pandas==3.0.1
pillow==12.1.1
psutil==7.2.2
psycopg2-binary==2.9.11
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
PyYAML==6.0.3
reportlab==4.4.10
requests==2.33.0
rucio-clients==39.4.1
schedule==1.2.2
scikit-learn==1.8.0
scipy==1.17.1
social-auth-app-django==5.7.0
social-auth-core==4.8.5
stomp.py==8.2.0
urllib3==2.6.3
websocket-client==1.9.0