{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Data Carousel Tails{% endblock %}
{% block subtitle %}Data Carousel Tails {{ viewParams.selection|safe }} {% endblock %}

{% block css_page_library %}
  <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
{% endblock %}
{% block js_head_page_library %}
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
{% endblock %}

{% block body %}

<div data-ng-controller="tails_view_ctrl">
  <div class="row" >
    <div class="medium-3 columns text-center">
      <select id="timewindow">
        <option ng-repeat="timeitem in selecttime" ng-value="timeitem.name" ng-selected="timeitem.selected == 1" >
            {$ timeitem.name $}
        </option>
      </select>
    </div>

{#    <div class="large-3 columns text-center">#}
{#        <select id="sourcese" ng-model="selectedSE" ng-options="timeitem as timeitem for timeitem in selecttime" >#}
{#               <option value="" disabled>All Source Tape SEs</option>#}
{#        </select>#}
{#    </div>#}

    <div class="medium-1 columns">
        <a ng-click="updateTimeWindow();" class="button primary">Update</a>
    </div>
    <div class="medium-8 columns"></div>
  </div>
  <div id="outliers_container">
    <p ng-bind-html="dctails.message"></p>
    <div class="card bp-container-simple secondary ng-hide" ng-hide="dctails.is_hidden">
    <div class="card-divider"><p>Outliers</p></div>
    <div class="card-section">
      <table class="data-table left-aligned nowrap" id="outlierstable">
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>
    </div>
  </div>
  <div id="chart_container"></div>
</div>

{% endblock %}

{% block js_body_page %}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']});

        app.service('Service', ['$http', service]).controller('tails_view_ctrl', ['$scope', '$sce', 'Service', controller]);

        function service($http, $scope) {
            var get = function (requestparams) {
                return $http({
                    method: 'GET',
                    url: '{% url 'datacartaildata' %}' + requestparams,
                    cache: false
                })
            };
            return {
                get: get
            }
        }

        function controller($scope, $sce, Service) {
            var request = "";
            request = "?days=3";
            $scope.selecttime =[
                    {name:'1 day', value:1, selected:0},
                    {name:'3 days',value:3, selected:1},
                    {name:'10 days', value:10, selected:0},
                    {name:'20 days', value:20, selected:0},
                    {name:'30 days', value:30, selected:0},
                    {name:'60 days', value:60, selected:0}
                ];
            $scope.dctails = {
              is_hidden: true,
              message: $sce.trustAsHtml('<img src="{% static 'images/load.gif' %}"> Loading... '),
            };

            google.charts.setOnLoadCallback(function () {
                $scope.updateTimeWindow();
            });

            $scope.updateTimeWindow = function(){

                $scope.dctails.is_hidden = false;
                $scope.dctails.message = $sce.trustAsHtml('<img src="{% static 'images/load.gif' %}"> Loading... ');
                angular.element(document.getElementById('chart_container')).empty();
                if ('table' in $scope.dctails) $('#outlierstable').DataTable().clear().destroy();

                request = "";
                var e = document.getElementById("timewindow");
                request = "?days=" + ($scope.selecttime[e.selectedIndex].value);

                Service.get(request).then(function successCallback(response) {
                    $scope.processResponce(response);
                }, function errorCallback(response) {
                    $scope.processResponce(response);
                });
            };

            $scope.processResponce = function (response) {
                $scope.dctails.message = '';
                var chartContainer = document.getElementById('chart_container');

                if (response.data) {
                    if (response.data.tasks_rucio.length > 0) {
                      $scope.buildDataTable(response.data.tasks_rucio);
                    }
                    else {
                      $scope.dctails.message = $sce.trustAsHtml('No outliers found for the selected time period');
                      $scope.dctails.is_hidden = true;
                    }
                    for (var key in response.data.plotsdata) {
                        drawChart(response.data.plotsdata[key], key, chartContainer);
                    }
                } else {
                  $scope.dctails.message = $sce.trustAsHtml('<span class="alert">Failed to load data :(</span>');
                }
            };

            $scope.buildDataTable = function (data) {
              $scope.dctails.table = $('#outlierstable').DataTable({
                "paging": false,
                "info": false,
                "aaSorting": [[0,'asc']],
                "data": data,
                "aoColumns": [
                  {
                    title: "RSE",
                    data: "rse",
                    sDefaultContent: "-",
                  },
                  {
                    title: "Task ID",
                    data: "jeditaskid",
                    sDefaultContent: "-",
                    render: function(data, type, full, meta) {
                      if (data.length > 0) {
                        return '<a href = "{% url 'taskInfo' %}' + data + '/">' + data + '</a>'
                      }
                      else {
                        return data;
                      }
                    }
                  },
                  {
                    title: "Rucio rule",
                    data: "rucio_rule",
                    sDefaultContent: "-",
                    render: function(data, type, full, meta) {
                      if (data.length > 0) {
                        return '<a target="_blank" href="https://rucio-ui.cern.ch/rule?rule_id=' + data + '">' + data + '</a>'
                      }
                      else {
                        return data;
                      }
                    }
                  },

                ],
              })
            };

            function drawChart(data, se_name, targetElement) {
                var linewight = {};
                var colors = [];
                var index = 0;
                for (var key in data.outliers) {
                    if (data.outliers[key]) {
                        linewight[index] = {lineWidth: 7};
                        //colors[index] = 'red';
                    } else {
                        //colors[index] = 'gray';
                        linewight[index] = {lineWidth: 2};
                    }
                    index++;
                }

                var options = {
                    title: se_name,
                    intervals: {'style': 'line'},
                    series: linewight,
                    //colors: colors,
                    hAxis: {
                        title: "Hours since staging queued",
                    },
                    vAxis: {
                        title: "N files staged"
                    },
                    chartArea: {width: '100%', height: '100%', left: 80, top: 20, bottom: 40, right:150}
                };

                var newEle = angular.element('<div class="c3-chart-block" id=\"chart_' + se_name + '\" style=\"width: 700px; height: 400px;\" ></div>');
                angular.element(targetElement).append(newEle);

                var datatails = google.visualization.arrayToDataTable(data.series);
                var chart_series = new google.visualization.LineChart(document.getElementById('chart_' + se_name));
                chart_series.draw(datatails, options);
            }
        }

    </script>
{% endblock %}