{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Job problems{% endblock %}
{% block subtitle %}Job problems{{ viewParams.selection|safe }}{% endblock %}


{% block extra_css %}
<!-- Load c3.css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

<table class="minimalistic-table">
  <thead>
    <tr>
        <th>Time range, last hours</th>
        <th>Jobtype</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>
            <input type="number" min="1" max="12" id="timerange_hours"
                    {% if requestParams.hours %} value="{{ requestParams.hours }}" {% else %} value="12" {% endif %}>
        </td>
        <td>
            <select id="jobtype">
                <option value="all" selected="selected" {% if requestParams.jobtype == 'all' %} disabled="disabled" {% endif %}>All</option>
                <option value="prod" {% if requestParams.jobtype == 'prod' %} selected="selected" {% endif %}>Production</option>
                <option value="analy" {% if requestParams.jobtype == 'analy' %} selected="selected" {% endif %}>Analysis</option>
            </select>
        </td>
        <td>
            <a onclick="go()" class="button secondary">Go!</a>
        </td>
    </tr>
  </tbody>
</table>

{% if 'warning' in message %}
    <p>
    <div class="callout warning" data-closable>
      <h5>Warning!</h5>
      <p>{{ message.warning }}</p>
      <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}

<div id="time-window-chart_c3js" style="height: 300px; width: 100%;"></div>

<table class="minimalistic-table unstriped">
<tbody>
{% for spot in spots %}
<tr><th>{{ spot.period }}</th></tr>
<tr><td>
<div class="tiles row small-up-1 medium-up-4 large-up-6">
{% for problem in spot.spot %}
    <div class="column">
    <a href="{{ problem.url }}">
    <div class="card tile {% if problem.impact >= 100 %}alert{% elif problem.impact > 50 %}warning{% else %}warning-light{% endif %}">
        <div class="card-divider">
            <b>{{ problem.impact }}</b>
        </div>
        <div class="card-section">
        {% for iparam, ivalue in problem.params.items %}
            <p>{{ iparam }}: <b>{{ ivalue }}</b></p>
        {% endfor %}
        </div>
    </div>
    </a>
    </div>
{% endfor %}
</div>
</td></tr>
{% endfor %}
</tbody>
</table>


{% endblock %}

{% block extra_js_bottombody %}
<script>
function go() {

var query = '{% url 'jobProblems' %}';
let timerange_hours_Q = "";
let jobtype_Q = "";
let timerange_hours = document.getElementById("timerange_hours");
let jobtype = document.getElementById("jobtype");

if (timerange_hours.value.length > 0) timerange_hours_Q = "hours="+timerange_hours.value;
if (jobtype.value.length > 0) jobtype_Q = "jobtype="+jobtype.value;

if ((timerange_hours_Q.length>1) || (jobtype_Q.length>1)) {
    query += "?";
    if (timerange_hours_Q.length > 1) {
        query += timerange_hours_Q+"&";
    }
    if (jobtype_Q.length > 1) {
        query += jobtype_Q+"&";
    }
    query = query.substring(0, query.length - 1);
}
window.location = query;
}
</script>

<!-- Load d3.js and c3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.js"></script>

<script>
$(document).ready(function () {
    let timestamps_hist = {{ plots.hist|safe }};
    let c3js_data = [['x', 'number of failed jobs']];
    for (let timestamp in timestamps_hist) {
        c3js_data.push([timestamp, timestamps_hist[timestamp]]);
    }
    var tw_c3js = c3.generate({
        bindto: '#time-window-chart_c3js',
        data: {
            x: 'x',
            xFormat: '%Y-%m-%d %H:%M:%S',
            rows: c3js_data,
            type: 'bar'
        },
        bar: {
            width: {
                ratio: 0.5
            }
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m-%d %H:%M:%S'
                }
            }
        },
        color: {
            pattern: ['#801919']
        },
        subchart: {
            show: true
        }
    });
    {#d3.select('#time-window-chart_c3js').select("svg").append("text")#}
    {#    .attr("x", 500 )#}
    {#    .attr("y", 10)#}
    {#    .style("text-anchor", "middle")#}
    {#    .text("Total number of found jobs: " + nentries);#}

});

{#function update_timewindow_from_chart(tw_chart) {#}
{#    let selected_timewindow = tw_chart.zoom();#}
{#    let base_url = '{{ notime_url|safe }}';#}
{#    base_url += 'date_from=' + moment(selected_timewindow[0]).format('YYYY-MM-DDTHH:mm:ss');#}
{#    base_url += '&date_to=' + moment(selected_timewindow[1]).format('YYYY-MM-DDTHH:mm:ss');#}
{#    window.location.replace(base_url)#}
{# } #}
</script>

{% endblock %}