{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Jobs Buster{% endblock %}
{% block subtitle %}Jobs Buster{{ viewParams.selection|safe }}{% endblock %}


{% block css_page_library %}
<!-- Load c3.css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.css" rel="stylesheet">
{% endblock %}

{% block js_head_page_library %}
  <!-- Load d3.js and c3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.min.js"></script>
  <script src="{% static 'js/datatables/moment.min.js' %}"></script>
{% endblock %}

{% block body %}

<table class="minimalistic-table">
  <thead>
    <tr>
        <th>Time range, last hours</th>
        <th>Jobtype</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>
            <input type="number" min="1" max="12" id="timerange_hours"
                    {% if requestParams.hours %} value="{{ requestParams.hours }}" {% else %} value="12" {% endif %}>
        </td>
        <td>
            <select id="jobtype">
                <option disabled value="all" selected="selected" {% if requestParams.jobtype == 'all' %} disabled="disabled" {% endif %}>All</option>
                <option value="prod" {% if requestParams.jobtype == 'prod' %} selected="selected" {% endif %}>Production</option>
                <option disabled value="analy" {% if requestParams.jobtype == 'analy' %} selected="selected" {% endif %}>Analysis</option>
            </select>
        </td>
        <td>
            <a onclick="go()" class="button secondary">Go!</a>
        </td>
    </tr>
  </tbody>
</table>

{% if 'warning' in message %}
    <p>
    <div class="callout warning" data-closable>
      <h5>Warning!</h5>
      <p>{{ message.warning }}</p>
      <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true"><i class="fi-x"></i></span>
      </button>
    </div>
{% endif %}

<div id="time-window-chart_c3js" style="height: 300px; width: 100%;"></div>

{% if spots|length > 0 %}
<table class="minimalistic-table unstriped">
<tbody>
{% for spot in spots %}
<tr><th>Spotted peak in a period from {{ spot.period }}. Top-{{ spot.spot|length }} found clusters:</th></tr>
<tr><td>
<div class="tiles row small-up-1 medium-up-4 large-up-6">
{% for problem in spot.spot %}
    <div class="column">
    <a href="{{ problem.url }}" target="_blank">
    <div class="card tile {% if problem.impact_tot|to_float >= 1.0 %}alert{% elif problem.impact_tot|to_float > 0.5 %}warning{% else %}warning-light{% endif %}">
        <div class="card-divider">
            <b>Lost {{ problem.impact }} / {{ problem.impact_tot }}<sup>*</sup> years</b>
        </div>
        <div class="card-section">
        {% for iparam, ivalue in problem.params.items %}
            <p>{{ iparam }}: <b>{{ ivalue }}</b></p>
        {% endfor %}
        </div>
    </div>
    </a>
    </div>
{% endfor %}
</div>
</td></tr>
{% endfor %}
</tbody>
</table>
{% else %}
    <p>No error peaks were spotted. Please extend time range.</p>
{% endif %}


{% endblock %}

{% block js_body_page %}
<script>
function go() {

var query = '{% url 'jobProblems' %}';
let timerange_hours_Q = "";
let jobtype_Q = "";
let timerange_hours = document.getElementById("timerange_hours");
let jobtype = document.getElementById("jobtype");

if (timerange_hours.value.length > 0) timerange_hours_Q = "hours="+timerange_hours.value;
if (jobtype.value.length > 0) jobtype_Q = "jobtype="+jobtype.value;

if ((timerange_hours_Q.length>1) || (jobtype_Q.length>1)) {
    query += "?";
    if (timerange_hours_Q.length > 1) {
        query += timerange_hours_Q+"&";
    }
    if (jobtype_Q.length > 1) {
        query += jobtype_Q+"&";
    }
    query = query.substring(0, query.length - 1);
}
window.location = query;
}

$(document).ready(function () {
    let timestamps_hist = {{ plots.hist|safe }};
    let spots = {{ spots|safe }};
    let spotted_peak_timeranges = [];
    for (let i=0; i<spots.length; i++) {
        spotted_peak_timeranges.push(spots[i]['time_range']);
    }
    let c3js_data = [['x'], ['data1']];
    for (let timestamp in timestamps_hist) {
        c3js_data[0].push(timestamp);
        c3js_data[1].push(timestamps_hist[timestamp]/3600.0/24.0/360.0);
    }
    var tw_c3js = c3.generate({
        bindto: '#time-window-chart_c3js',
        data: {
            x: 'x',
            xFormat: '%Y-%m-%d %H:%M:%S',
            columns: c3js_data,
            names: {
                data1: 'walltime * cores loss'
            },
            type: 'bar',
            colors: {
                data1: function(d) {
                    if (d.x) {
                        let bar_date = moment(d.x);
                        for (let i = 0; i < spotted_peak_timeranges.length; i++) {
                            let start_time = moment(spotted_peak_timeranges[i][0]);
                            let end_time = moment(spotted_peak_timeranges[i][1]);
                            if (bar_date > start_time && bar_date < end_time) {
                                return '#c02626'
                            }
                        }
                    }
                    return '#801919'
                }
            }
        },
        bar: {
            width: {
                ratio: 0.5
            }
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m-%d %H:%M:%S'
                }
            },
            y: {
                tick: {
                    format: function (d) { return d; }
                },
                label: {
                  text: 'walltime * cores loss [years]',
                  position: 'outer-middle'
                }
            }
        },
        color: {
            pattern: ['#801919']
        },
    });
    {#d3.select('#time-window-chart_c3js').select("svg").append("text")#}
    {#    .attr("x", 500 )#}
    {#    .attr("y", 10)#}
    {#    .style("text-anchor", "middle")#}
    {#    .text("Total number of found jobs: " + nentries);#}

});

{#function update_timewindow_from_chart(tw_chart) {#}
{#    let selected_timewindow = tw_chart.zoom();#}
{#    let base_url = '{{ notime_url|safe }}';#}
{#    base_url += 'date_from=' + moment(selected_timewindow[0]).format('YYYY-MM-DDTHH:mm:ss');#}
{#    base_url += '&date_to=' + moment(selected_timewindow[1]).format('YYYY-MM-DDTHH:mm:ss');#}
{#    window.location.replace(base_url)#}
{# } #}
</script>

{% endblock %}

{% block help %}
    <a name="help"></a>
    {% include "jobBusterHelp.html" %}
{% endblock %}