{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Jobs Buster{% endblock %}
{% block subtitle %}Jobs Buster{{ viewParams.selection|safe }}{% endblock %}


{% block extra_css %}
<!-- Load c3.css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

<table class="minimalistic-table">
  <thead>
    <tr>
        <th><h1><a href="?&metric=loss">Order by lost walltime</a></h1></th>
        <th><h1><a href="?&metric=fails">Order by failures counts</a></h1></th>
        <th></th>
    </tr>

{#    <tr>#}
{#        <th>Time range, last hours</th>#}
{#        <th>Jobtype</th>#}
{#        <th></th>#}
{#    </tr>#}
  </thead>
  <tbody>
{#    <tr>#}
{#        <td>#}
{#            <input type="number" min="1" max="12" id="timerange_hours"#}
{#                    {% if requestParams.hours %} value="{{ requestParams.hours }}" {% else %} value="12" {% endif %}>#}
{#        </td>#}
{#        <td>#}
{#            <select id="jobtype">#}
{#                <option disabled value="all" selected="selected" {% if requestParams.jobtype == 'all' %} disabled="disabled" {% endif %}>All</option>#}
{#                <option value="prod" {% if requestParams.jobtype == 'prod' %} selected="selected" {% endif %}>Production</option>#}
{#                <option disabled value="analy" {% if requestParams.jobtype == 'analy' %} selected="selected" {% endif %}>Analysis</option>#}
{#            </select>#}
{#        </td>#}
{#        <td>#}
{#            <a onclick="go()" class="button secondary">Go!</a>#}
{#        </td>#}
{#    </tr>#}
  </tbody>
</table>

{% if 'warning' in message %}
    <p>
    <div class="callout warning" data-closable>
      <h5>Warning!</h5>
      <p>{{ message.warning }}</p>
      <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true"><i class="fi-x"></i></span>
      </button>
    </div>
{% endif %}

<div id="time-window-chart_c3js" style="height: 300px; width: 100%;"></div>

{% if spots|length > 0 %}
<div class="tiles small-up-1 medium-up-6 large-up-10">
{% for problem in spots %}
    <div class="column">
    <a href="{{ problem.url }}" target="_blank">
    <div class="card tile warning-light" style="background-color: {{ problem.color }};">
        <div class="card-divider">
            <b>Lost {{ problem.impactloss }} years / {{ problem.impactfails }} jobs failed</b>

        </div>
        <div class="card-section">
        {% for iparam, ivalue in problem.params.items %}
            <p>{{ iparam }}: <b>{{ ivalue }}</b></p>
        {% endfor %}
        </div>
    </div>
    </a>
    </div>
{% endfor %}
{% else %}
    <p>No error peaks were spotted. Please extend time range.</p>
{% endif %}


{% endblock %}

{% block extra_js_bottombody %}
{#<script>#}
{#function go() {#}
{##}
{#var query = '{% url 'jobProblems' %}';#}
{#let timerange_hours_Q = "";#}
{#let jobtype_Q = "";#}
{#let timerange_hours = document.getElementById("timerange_hours");#}
{#let jobtype = document.getElementById("jobtype");#}
{##}
{#if (timerange_hours.value.length > 0) timerange_hours_Q = "hours="+timerange_hours.value;#}
{#if (jobtype.value.length > 0) jobtype_Q = "jobtype="+jobtype.value;#}
{##}
{#if ((timerange_hours_Q.length>1) || (jobtype_Q.length>1)) {#}
{#    query += "?";#}
{#    if (timerange_hours_Q.length > 1) {#}
{#        query += timerange_hours_Q+"&";#}
{#    }#}
{#    if (jobtype_Q.length > 1) {#}
{#        query += jobtype_Q+"&";#}
{#    }#}
{#    query = query.substring(0, query.length - 1);#}
{#}#}
{#window.location = query;#}
{#}#}
{#</script>#}

<!-- Load d3.js and c3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.min.js"></script>
<script src="{% static 'js/datatables/moment.min.js' %}"></script>

<script>
$(document).ready(function () {

    var tw_c3js = c3.generate({
        bindto: '#time-window-chart_c3js',
        data: {
            x: 'x',
            xFormat: '%Y-%m-%d %H:%M:%S',
            columns: {{ mesures|safe }},
            {% if doGroup %}
            groups: [{{ issnames|safe }}],
            {% endif %}
            type: 'bar',
            colors: {{ colors|safe }},
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m-%d %H:%M:%S',
                    rotate: -30,
                }
            },
            y: {
                tick: {
                    format: function (d) { return d; }
                },
                label: {
                  text: 'walltime * cores loss [years]',
                  position: 'outer-middle'
                }
            }
        },

    });

});

</script>

{% endblock %}

{% block helptext %}
    <a name="help"></a>
    {% include "jobProblemsHelp.html" with helptitle="Job problems help" %}
{% endblock %}