{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Campaign Progress Dash{% endblock %}
{% block subtitle %}Campaign Progress Dash {{ viewParams.selection|safe }} {% endblock %}

{% block base_css %}
    <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
{% endblock %}
{% block base_js %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
{% endblock %}


{% block body %}
<div>

     {% if events_progress_wrap %}
         <h1>Events progress:</h1>
        <table id="events_progress_table" class="stripe">
         <thead>
            <th></th>
            {% for item in events_progress_wrap.steps %}
                <th>{{ item }}</th>
            {% endfor %}
         </thead>
         <tbody></tbody>
        </table>
    {% endif %}


    {% if tasks_progress_wrap %}
         <h1>Tasks progress:</h1>

        <table id="tasks_progress_table">
         <thead>
            <th></th>
            {% for item in tasks_progress_wrap.steps %}
                <th>{{ item }}</th>
            {% endfor %}
         </thead>
         <tbody></tbody>
        </table>

    {% endif %}
</div>

{% endblock %}

{% block extra_js %}

<script>
$(document).ready(function () {
    {% if events_progress_wrap %}
        var json_ev = JSON.stringify({{ events_progress_wrap.events_progress | safe }});

        var events_progress_table = $('#events_progress_table').dataTable({
            "data": JSON.parse(json_ev),
            "order": [],
            searching: false,
            paging: false,
            info: false,
            "bSort": false,

        });
    {% endif %}
    {% if tasks_progress_wrap %}
        var json_tasks = JSON.stringify({{ tasks_progress_wrap.tasks_progress | safe }});

        var tasks_progress_table = $('#tasks_progress_table').dataTable({
            "data": JSON.parse(json_tasks),
            "order": [],
            searching: false,
            paging: false,
            info: false,
            "bSort": false,
            autoWidth: true,
        });

        $($.fn.dataTable.tables(true)).DataTable()
            .columns.adjust();

    {% endif %}
});
</script>
{% endblock %}