{% load static %}
<div class="card bp-container-simple help">
<div class="card-divider"><p>Job summary region view:</p></div>
<div class="card-section">
  <p><a href="{% url 'dashRegion' %}">This page</a> summarizes recent job status for regions and queues. The time limit is not applied for jobs in active states.</p>
  <p>Use <b>drop-down select menus</b> on top of the page to select particular queue type and status, job type and resource type.
    Use <b>Split by check boxes</b> to separate the region/site statistics by job and/or resource type.
      I.e. if you check the <b>split by job type</b> checkbox, you will get up to 2 rows in tables for each Region/PQ showing number of production and analysis jobs separately.
      If you check the <b>split by resource type</b> checkbox, you will get up to 4 rows in tables for each Region/PQ showing number of jobs using SCORE, MCORE, SCORE_HIMEM and MCORE_HIMEM resources separately.
      If you check both checkboxes, you will get up to 8 rows for each Region/PQ showing split statistics of jobs.
    Click on <b>Update</b> button to apply selection.</p>
  <p><b>By default the view is minimized</b>, i.e. some short transient states and Harvester workers summary numbers are hidden.
    Press <b>Show details</b> buttons to see all the states of jobs and workers.</p>
  <p>Click the job counts to go to job listings. Click on workers counts to go to harvester workers listings.
    Use the <b>Search</b> text input on the top of second table to find a PQ by name.</p>
  <p>Click on PQ name to go to a BigPanDA site info page. Next to a PQ name there are 3 links:</p>
  <p><ul class="no-bullet">
    <li><img src="{% static '/images/grafana.png' %}" width=14 height=14 border=0> goes to Jobs accounting for a PQ at MONIT Grafana;
    <li><img src="{% static '/images/grafana-black.png' %}" width=14 height=14 border=0> opens a new tab with rendered plot of Jobs monitoring for a PQ at MONIT Grafana (Eric's monitoring);
    <li><img src="{% static '/images/kibana-logo.png' %}" width=14 height=14 border=0> goes to recent brokerage actions related to a PQ at Kibana.
  </ul></p>
  <p>Click on a PQ status to go to blacklisting history at CRIC UI.</p>
  <p><b>N running workers</b> column has the next color coding scheme:
    <span class="alert"><b>dark red</b></span> if N running workers > N running jobs for more than 20%,
    <span class="warning"><b>orange</b></span> if N running workers > N running jobs for more than 10% and less than 20%.</p>
  <p><b>Job states description:</b></p>
  <p>
  <ul>
  {% if show == 'all' or  job.jobstatus == 'pending' %} <li>  Status <b class='pending'>pending</b> indicates that the job record has been injected into the PanDA DB but PanDA has not yet dealt with it. {% endif %}
  {% if show == 'all' or  job.jobstatus == 'defined' %} <li>  Status <b class='defined'>defined</b> indicates that the job has been received by PanDA and the process of assigning it for execution has begun. {% endif %}
  {% if show == 'all' or job.jobstatus == 'waiting' %} <li>  Status <b class='waiting'>waiting</b> indicates that data handling preparations for the job are underway and have to be completed before the job can be activated. {% endif %}
  {% if show == 'all' or job.jobstatus == 'assigned' %} <li>  Status <b class='assigned'>assigned</b> indicates the job has been assigned to a site and preparations to have the input data ready are underway (e.g. subscriptions, tape staging). {% endif %}
  {% if show == 'all' or  job.jobstatus == 'throttled' %} <li>  Status <b class='throttled'>throttled</b> indicates that dispatch of the job has been postponed due to heavy network use by other jobs. {% endif %}
  {% if show == 'all' or  job.jobstatus == 'activated' %} <li>  Status <b class='activated'>activated</b> indicates that the job is ready to be dispatched to a pilot at the site where it will run. {% endif %}
  {% if show == 'all' or  job.jobstatus == 'sent' %} <li>  Status <b class='sent'>sent</b> indicates that the job was sent to a pilot for execution but the pilot has not yet acknowledged receipt. If this state persists for any length of time, all is not well with the job.{% endif %}
  {% if show == 'all' or  job.jobstatus == 'starting' %} <li>  Status <b class='starting'>starting</b> indicates that the job has been picked up for execution but not yet launched by a pilot on a worker node. Used in environments where pilots don't directly pick up jobs (e.g. Nordugrid). {% endif %}
  {% if show == 'all' or  job.jobstatus == 'running' %} <li>  Status <b class='running'>running</b> indicates that the job is running at its execution site. {% endif %}
  {% if show == 'all' or  job.jobstatus == 'holding' %} <li>  Status <b class='holding'>holding</b> indicates that the job has completed but output validation and processing (eg. registering outputs in datasets) is still underway. {% endif %}
  {% if show == 'all' or  job.jobstatus == 'transferring' %} <li>  Status <b class='transferring'>transferring</b> indicates that transferring of outputs to their final destination after job completion is underway. {% endif %}
  {% if show == 'all' or  job.jobstatus == 'merging' %} <li>  Status <b class='transferring'>merging</b> indicates that job is waiting while the correspondent merge job is done and merged files are transferred to the final destination. {% endif %}
  {% if show == 'all' or  job.jobstatus == 'finished' %} <li>  Status <b class='finished'>finished</b> indicates that the job has successfully completed. {% endif %}
  {% if show == 'all' or  job.jobstatus == 'failed' %} <li>  Status <b class='failed'>failed</b> indicates that the job has failed at some stage. Information on where the error occurred and with what error condition can be found in the job parameters table. {% endif %}
  {% if show == 'all' or  job.jobstatus == 'cancelled' %} <li>  Status <b class='cancelled'>cancelled</b> indicates that the job has been cancelled, either by the user or by the system. Further information may be available in the job parameters table. {% endif %}
  {% if show == 'all' or  job.jobstatus == 'closed' %} <li>  Status <b class='closed'>closed</b> terminated by the system before completing the allocated workload. E.g., killed to be reassigned to another site.{% endif %}
  </ul>
  </p>

</div>
</div>