{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %} Task Problem Explorer {% endblock %}
{% block title %} <a class="menu-link" href="{% url 'index' %}">{{ viewParams.MON_VO }} Task Problem Explorer</a>{% endblock %}
{% block subtitle %}Task Problem Explorer{% endblock %}


{% block css_page_library %}
  <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
{% endblock %}
{% block js_head_page_library %}
  <script src="{% static 'js/humanize.min.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
{% endblock %}


{% block body %}
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}