<!DOCTYPE html>
<html>
<head>
    <h4>Warning about staging from {{ summary.rse }} in ATLAS Data Carousel</h4>
</head>
<body>

<p><b>{{ summary.name }}</b></p>
{% for row in summary.rules %}
<p>The Rucio rule <b><a href="https://rucio-ui.cern.ch/rule?rule_id={{ row.rr }}">{{ row.rr }}</a></b> started on
  <b>{{ row.start_time }}</b>, updated last time <b>{{ row.update_time }}</b> ago, and is needed for <b>{{ row.tasks|length }}</b> task(s): {% for taskid in row.tasks %} <b><a href="https://bigpanda.cern.ch/task/{{ taskid }}/">{{ taskid }}</a></b>{% if not forloop.last %}, {% endif %} {% endfor %} is still lasting. Current progress is <b>{{ row.staged_files }}</b> out of <b>{{ row.tot_files }}</b> files.
  The problematic file(s) listed below [{{ forloop.counter }}], look for errors on <a target="_blank" href="https://prodtask-dev.cern.ch/ng/dataset/{{ row.dataset }}">ProdSys dataset page</a>.</p>
{% endfor %}

<p>Please perform necessary interventions if you found it wrong.</p>

Truly yours,<br>
Data Carousel Team

{% for row in summary.rules %}
<p>[{{ forloop.counter }}] {% for f in row.stuck_files %}<b>{{ f.name }}</b>{% if f.errors|length > 0 %}, last errors: {% for error in f.errors %}{{ error }};&nbsp{% endfor %}{% endif %}{% if not forloop.last %},<br> {% endif %} {% endfor %}</p>
{% endfor %}

</body>
</html>
