{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}
{% block page_title %} Events summary {% endblock %}
{% block subtitle %} Events
{% endblock %}
{% block js_head_page_library %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="{% static 'js/d3.v3.min.js' %}"></script>

{% endblock %}
{% block body %}

<div>
    {% if requestParams.processingtype %}<br><b>Processing type:</b> {{ requestParams.processingtype }} {% endif %}
</div>
<p>

<div class="d3splot" id="lineChart" style="float:left"></div>

{% endblock %}

{% block js_body_page %}
<script src="{% static 'js/d3jsplot.js' %}"></script>
<script>
  var data ={{ plotData|safe }};
  var title = "Nevents";
  var view = '{{ requestParams.view|safe }}';
  if (view == "separated") {
      title += '[separated]';
  }
  multiLineChartFunc(data,"#lineChart", title);

  function toggleByID(id, idplus) {
      if ($("#" + id).is(':visible')){
          $("#" + id).hide();
          $("#" + idplus).removeClass('fi-minus');
          $("#" + idplus).addClass('fi-plus');
      }
      else {
          $("#" + id).show();
          $("#" + idplus).removeClass('fi-plus');
          $("#" + idplus).addClass('fi-minus');
      }
  }
</script>

{% endblock %}