{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}
{% block page_title %} PanDA requests{% endblock %}
{% block subtitle %}Running production request list
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
    <style>
        #reqlist_wrapper .row {
            max-width: 100%;
        }
        .tablesection {
            border-bottom-style: none;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="{% static 'js/d3.v3.min.js' %}"></script>
    <script src="/static/js/d3jsplot.js"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
{% endblock %}
{#<script type="text/javascript" src="{% static "/js/jquery-1.9.1.min.js"%}"></script>#}
{% block body %}

{% if requests %}

<div class="callout warning" data-closable>
  <h5>Only active tasks are taken into account! </h5>
  <p>The age column shows an age of the oldest active task belongs to a particular request.</p>
    <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
  </button>
</div>

    <table class="minimalistic-table">
      <thead>
        <tr>
            <th> Events</th>
            <th> Allocated slots</th>
{#            <th> Task age</th>#}
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
{#                <br>#}
                Total events done <b>{{ neventsUsedTotSum }}M</b> of <b>{{ neventsTotSum }}M</b> in
                <b>{{ nrequests }}</b> requests
{#                <br>#}
{#                        Number of currently running events <b id="running"></b><b>M</b>  <progress id="runningprogressbar" value="0" max="100"></progress><br>#}
{#                        Number of waiting events <b id="waiting"></b><b>M</b> <progress id="waitingprogressbar" value="0" max="100"></progress><br>#}
{#                        Total 1-core jobs <b>{{ rjobs1coreTot }}</b> and 8-cores <b>{{ rjobs8coreTot }}</b> jobs#}
            </td>
            {#<td><div class="d3splot" id="slots" style="float:left"></div></td>#}
            <td>
{#                        {% if aslotsByType|length > 0 %}<div class="d3splot" id="pieChartSlots"></div>{% endif %}#}
                Number of allocated slots: {{ aslots }}</td>
{#                    <td colspan=20>{% if plotageshistogram == 1 %}#}
{#                        <div class="d3splot" id="sumPlot" style="float:left"></div>{% else %}#}
{#                        <p> All tasks age is 0 days</p> {% endif %} </td>#}
        </tr>
      </tbody>
    </table>
{#            <script nonce={{request.csp_nonce}}>#}
{#                var progressBarR = $('#runningprogressbar');#}
{#                var progressBarW = $('#waitingprogressbar');#}
{#                var ages = {{ ages|safe }};#}
{#                var productiontype = {{ productiontype | safe }};#}
{#                var plotageshistogram = {{ plotageshistogram }};#}
{#                if (plotageshistogram == 1) {#}
{#                    pandamonProdRunTaskSumPlotFunc(ages, "#sumPlot", 'Task age histogram', 24, productiontype);#}
{#                }#}
{#                var neventsFStasksSum ={{ neventsFStasksSum|safe }};#}
{#                var neventsAFIItasksSum ={{ neventsAFIItasksSum|safe }};#}
{#                var neventsByProcessingType ={{ neventsByProcessingType|safe }};#}
{#                if (productiontype == 'MC') {#}
{#                    runningProdTasksPieChartFunc(neventsFStasksSum, "#pieChartFS", 'FS');#}
{#                    runningProdTasksPieChartFunc(neventsAFIItasksSum, "#pieChartAFII", 'AFII');#}
{#                    pandamonPieChartFunc(neventsFStasksSum, "#pieChartFS", 'FS');#}
{#                    pandamonPieChartFunc(neventsAFIItasksSum, "#pieChartAFII", 'AFII');#}
{#                }#}
{#                else {#}
{#                    runningProdTasksPieChartFunc(neventsByProcessingType, "#pieChartByPT", 'N Events')#}
{#                }#}
{##}
{#                var slots = {{ aslotsByType|safe }};#}
{#                runningProdTasksPieChartFunc(slots, '#pieChartSlots', 'Slots');#}
{##}
        {#var gauges = [];#}
        {#$(document).ready(function() {#}
        {#createGauge("slots", "Slots");#}
        {#gauges['slots'].redraw(slots);});#}
{##}
{##}
{#            </script>#}


<table id = 'reqlist' class="data-table">
    <thead>
    <tr>
        <th>Campaign</th>
        <th>Req ID</th>
        <th>Ntasks</th>
        <th>RJobs</th>
        <th>Status</th>
        <th>Request type</th>
        <th>Evts total</th>
        <th>Evts done</th>
        <th>Evts running</th>
        <th>Evts to be used</th>
        <th>%</th>
        <th>Failed files</th>
{#        <th>AVG Priority</th>#}
        <th>Age</th>
        <th>Group</th>
{#        <th>Cores</th>#}
        <th>CPU Time per Event</th>
    </tr>
    </thead>
<tbody>
</tbody>
</table>




{% else %}
    <p>No matches to query.</p>
{% endif %}

<script nonce={{request.csp_nonce}}>
{#    var hereiam = 1;#}
{#    $(document).ready(function() {#}
{#        $('#reqlist').DataTable({#}
{#            "columnDefs": [#}
{#                {"type": "num-html", "targets": [0,1,2,3,4,5,6,7,8,9,10] }#}
{#            ],#}
{#            "lengthMenu" : [[10, 25, 50, 100, -1], [10 ,25, 50, 100, "All"]] ,#}
{#            "scrollX": true#}
{#        });#}
{#    });#}
    $(document).ready(function () {
            requestListTable();
    });
    function requestListTable() {
      $('#reqlist').dataTable({
        //"bRetrieve": true,
        "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
        "paging": true,
        "scrollX": true,

        "ajax": {
            "processing": true,
            "url": "{% url 'runningProdRequests' %}?tk={{ transKey }}&dt", "dataSrc" : ''},
        "columnDefs": [
            {"type": "num-html", "targets": [1,2,3,6,7,8,9,10,11,13,14] }
        ],
        "aoColumns": [
            {
                "data": "fullcampaign",
                sDefaultContent: "---",
                "render": function(data, type, row, meta) {
                    return '<a href = "{{ xurl }}fullcampaign=' + row['fullcampaign'] + '">'+row['fullcampaign']+'</a>'
                 }
            },
            {
                "data": "reqid",
                sDefaultContent: "",
                "render": function ( data, type, full, meta ) {
                    return '<a href = "{{ xurl }}reqid=' + full['reqid'] + '">' + full['reqid'] + '</a> <a href="https://prodtask-dev.cern.ch/reqtask/' + full['reqid'] + '/" target="_blank"><i class="fi-link"></i></a>'
                }
            },
            {
                "data": "ntasks",
                sDefaultContent: "",
                "render": function ( data, type, full, meta ) {
                    return '<a href = "{% url 'taskList' %}?superstatus=waiting|registered|submitting|assigning|running|exhausted|broken&reqid=' + full['reqid'] + '">' + full['ntasks'] + '</a>'
                }
            },
            {
                "data": "rjobs",
                sDefaultContent: "",
                "render": function(data, type, full, meta) {
                    if (data > 0) {
                        return '<a href = "{% url 'jobList' %}?jobstatus=running&reqid=' + full['reqid'] + '">' + full['rjobs'] + '</a>'
                    }
                    else {
                        return data;
                    }
                }
            },
            {
                "data": "status",
                sDefaultContent: "",
                "render": function(data, type, full, meta) {
                    return '<a href = "{{ xurl }}status=' + full['status'] + '">' + full['status'] + '</a>'
                }
            },
            {
                "data": "requesttype",
                sDefaultContent: "",
                "render": function(data, type, full, meta) {
                    return '<a href = "{{ xurl }}requesttype=' + full['requesttype'] + '">' + full['requesttype'] + '</a>'
                }
            },
            {
                "data": "nevents",
                sDefaultContent: "---",
                render: $.fn.dataTable.render.number( ',', '.')

            },
            {
                "data": "neventsused",
                sDefaultContent: "",
                render: $.fn.dataTable.render.number( ',', '.')
            },
            {
                "data": "neventsrunning",
                sDefaultContent: "0",
                render: $.fn.dataTable.render.number( ',', '.')
            },
            {
                "data": "neventstobeused",
                sDefaultContent: "---",
                render: $.fn.dataTable.render.number( ',', '.')
            },
            {
                "data": "percentage",
                sDefaultContent: "",
            },
            {
                "data": "nfilesfailed",
                sDefaultContent: "---",
            },
            {
                "data": "age",
                sDefaultContent: "",
            },
            {
                "data": "group",
                sDefaultContent: "",
                "render": function(data, type, full, meta) {
                    return '<a href = "{{ xurl }}group=' + full['group'] + '">' + full['group'] + '</a>'
                }
            },
            {
                "data": "cputime",
                sDefaultContent: "---",
                render: $.fn.dataTable.render.number( ',', '.')
            }
        ],
        "createdRow": function ( row, data, index ) {
            $('td', row).eq(4).addClass(data['status'] + '_fill');
        }
      });
    }
</script>

{% endblock %}
