/* ART Main Menu styles */
/* --------------------------------------------------------------------------------------------------- */
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

fieldset.artmenu {
    margin: 0 0.3rem;
    padding: 0 0.5rem;
}
fieldset.artmenu.scrollable {
    height: 85vh;
    overflow-y: scroll;
}

li.artmenu-item {
    margin-bottom: 0.3rem;
}

li.artmenu-item > input {
    vertical-align: middle;
    margin: 0;
}

li.artmenu-item > label {
    vertical-align: middle;
}

fieldset.artmenu li.input-group {
  font-size: 0.875rem;
}

fieldset.artmenu li.input-group span.input-group-label {
  max-width: 3rem;
  min-width: 3rem;
  padding: 0 0.3rem;
}

fieldset.artmenu li.input-group button.hollow.alert {
  border-color: #cacaca;
  border-left: 0;
}

/* ART clickable containers */
/* --------------------------------------------------------------------------------------------------- */
.flex_column_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  .flex_column_container > span {
    align-self: start;
    line-height: 23px;
  }

.with-link-to-logs {
    margin: auto 0 auto auto;
    background-color: transparent;
    max-width: 500px; /*250 px for status box with tar index and link to logs, +250px for sub results  */
    display: inline-flex;
    white-space: normal;
    height: auto;
}
.text > .flex_column_container > .with-link-to-logs {
  margin: auto auto auto 0;
}

.with-ntagfull {
    background-color: transparent;
    max-width: 165px; /*120 px for status boxes +45px for cut ntag  */
    display: inline-flex;
}

/* stats divs */

.clickable {
  background-color: transparent;
  width: 90px;
  position: relative;
  font-size: 0;
  border: 1px solid #dbdbdb;
}
  .clickable.traffic-lights {
    width: 120px;
  }
  .clickable.nosubresults {
    margin: auto;
  }
  .clickable a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .clickable a:hover {
      border: 1px solid black;
  }

  .clickable > [class$="_job"] {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    display: inline-block;
    color: black;
    font-size: 0.875rem;
    font-weight: bold;
  }

  .clickable .done, .clickable .succeeded, .clickable .failed, .clickable .active, .clickable .finished {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 25%;
    display: inline-block;
    color: black;
    font-size: 14px;
    font-weight: bold;
  }

  .clickable .done {
    background: #73e889;
    /*#3adb76;*/
  }
  .clickable .succeeded {
    background: #73e889;
  }
  .clickable .failed {
    background: #ff7259;
  }
  .clickable .active {
    background: #78b0f3;
  }
  .clickable .finished {
    background: #fadd6e;
  }

[class$="_job"] {
  font-weight: bold;
}

  .done_job {
    background: #73e889;
  }
  .succeeded_job {
    background: #73e889;
  }
  .active_job {
    background: #78b0f3;
  }
  .failed_job {
    background: #ff7259;
  }
  .finished_job {
    background: #fadd6e;
  }

/* extra links style */

.extra-links {
  text-align: left;
  white-space: nowrap;
  height: 22px;
}
.extra-links > span, .extra-links > a {
  margin-left: 0.3rem;
}
.extra-links > span.bp-tooltip {
  border-bottom: 1px dotted;
}

.nodata {
  text-align: left;
  margin-left: 30px;
  background-color: transparent;
  max-width: 380px;
  height: 21px;
  position: relative;
  font-size: 14px;
}

/* test sub results traffic lights */
/* --------------------------------------------------------------------------------------------------- */

.testsubresultscontainer {
    margin: auto;
    clear: both;
    overflow: auto;
    width: 200px;
    display:table;
    text-align: right;
    z-index: 2;
    height: 100%;
}
  .testsubresultscontainer ul {
    list-style: none;
    line-height: 20px;
    padding: 0;
    margin:0;
    display: block;
  }
  .testsubresultscontainer ul li {
    display:inline-block;
    text-align: center;
    list-style: none;
  }

.testsubresultbox {
    width: 22px;
    height: 22px;
    border: 1px solid #dbdbdb;
}
.testsubresultbox.finishedtest {
    background-color: #73e889;
}
.testsubresultbox.failedtest {
    background-color: #ff7259;
}
.testsubresultbox.bp-tooltip:hover  {
  border-color: #0a0a0a;
}

.subresult_finished {
  color: #50a25f;
}
.subresult_failed {
  color: #cc5b47;
}

.left-aligned {
    text-align: left;
}

/* Style for navigation buttons */

.back-to-home {
  background: rgba(53,86,129, 0.8);
  color: #fefefe !important;
  font-size: 14px;
  margin: 0 0 0.7rem 0;
}
.back-to-home:hover, .back-to-home:focus {
    background-color: rgba(53,86,129, 0.8);
    color: #fefefe; }

.back-to-home > i {
  font-size: 20px;
}

/* Style for extra information about tests */
a.away {
  border-bottom: 1px dotted;
  font-weight: bold;
}

.bluelink {
    color: rgba(53,86,129, 0.8) !important;
}
.redlink {
    color: firebrick !important;
}
.data-table td .with-link-to-logs a.greylink {
    color: grey !important;
}

.art-legend {
    width: 120px;
    line-height: 21px;
    position: relative;
    border: 1px solid #dbdbdb;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: #222222;
    font-size: 14px;
    font-weight: bold;
}

.na_fill {color:black;  background-color:#fefefe}
.active_fill {color:black;  background-color:#E6F0F6}
.alert_fill {  color:black;  background-color:#ffcccc }
.warning_fill { color:black;  background-color:#fffdb1 }
.warning_b_fill { color:black;  background-color:#ecfeb8 }
.warning_w_fill { color:black;  background-color:#fff0b3 }
.ok_fill {color:black;  background-color:#d6f5d6}
