.row {
    max-width: 100%;
    margin-top: 1rem;
}

/* ART Main Menu styles */
fieldset.artmenu {
    margin: 1rem 0.3rem;
    padding: 0.5rem 0.5rem;
}

li.artmenu-item {
    margin-bottom: 0.5rem;
}

li.artmenu-item > input {
    vertical-align: middle;
    margin: 0;
}

li.artmenu-item > label {
    vertical-align: middle;
}

.with-link-to-logs {
    margin: auto;
    background-color: transparent;
    max-width: 500px; /*250 px for status box with tar index and link to logs, +250px for sub results  */
    display: inline-flex;
    white-space: normal;
}

.with-ntagfull {
    margin: auto;
    background-color: transparent;
    max-width: 165px; /*120 px for status boxes +45px for cut ntag  */
    display: inline-flex;
}

/* stats divs*/
.clickable {
    background-color: transparent;
    width: 120px;
    line-height: 21px;
    position: relative;
    font-size: 0;
    border: 1px solid #dbdbdb;
}

.clickable.nosubresults {
    margin: auto;
}

.clickable a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
}
  .clickable a:hover {
      border-color: black;
  }

.clickable .done {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 25%;
  display: inline-block;
  background: #3adb76;
  color: black;
  font-size: 14px;
  font-weight: bold;

}
.clickable .failed {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 25%;
  display: inline-block;
  background: tomato;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.clickable .active {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 25%;
  display: inline-block;
  background: cornflowerblue;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.clickable .finished {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 25%;
  display: inline-block;
  background: #FADA5E;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.clickable .done_job {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  display: inline-block;
  background: #3adb76;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border-color: #3adb76;

}
.clickable .active_job {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  display: inline-block;
  background: cornflowerblue;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border-color: cornflowerblue;
}
.clickable .failed_job {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  display: inline-block;
  background: tomato;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border-color: tomato;
}
.clickable .finished_job {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  display: inline-block;
  background: #FADA5E;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

/*extra links style*/
.extra-links {
    width: 170px;
    text-align: left;
}

.nodata {
    text-align: left;
    margin-left: 30px;
    background-color: transparent;
    max-width: 380px;
    height: 21px;
    position: relative;
    font-size: 14px;
}

/*Accordion for pages*/

.columns .accordion-art-container {
    padding-left: 0;
    padding-right: 0;
}
.accordion-art {
  margin-left: 0;
  background: rgba(53,86,129, 0.8);
  list-style-type: none; }

.accordion-art-item:first-child > :first-child {
  border-radius: 0 0 0 0; }

.accordion-art-item:last-child > :last-child {
  border-radius: 0 0 0 0; }

.accordion-art-title {
  position: relative;
  display: block;
  padding: 1.25rem 1rem;
  border: 0px solid rgba(53,86,129, 0.8);
  border-bottom: 0;
  font-size: 16px;
  line-height: 1;
  color: #fefefe !important; }
  :last-child:not(.is-active) > .accordion-art-title {
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0 0 0 0; }
  .accordion-art-title:hover, .accordion-art-title:focus {
    background-color: rgba(53,86,129, 0.8); }
  .accordion-art-title::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.5rem;
    content: '+'; }
  .is-active > .accordion-art-title::before {
    content: '\2013'; }

.accordion-art-content {
  display: none;
  padding: 0;
  border: 1px solid rgba(53,86,129, 0.8);
  border-bottom: 0;
  background-color: #fefefe;
  color: #0a0a0a; }
  :last-child > .accordion-art-content:last-child {
    border-bottom: 1px solid rgba(53,86,129, 0.8); }



.accordion-art-nested {
  margin-left: 0;
  background: lightsteelblue;
  list-style-type: none; }

.accordion-art-nested-item:first-child > :first-child {
  border-radius: 0 0 0 0; }

.accordion-art-nested-item:last-child > :last-child {
  border-radius: 0 0 0 0; }

.accordion-art-nested-title {
  position: relative;
  display: block;
  padding: 1rem 0.75rem;
  border: 0px solid lightsteelblue;
  border-bottom: 0;
  font-size: 14px;
  line-height: 1;
  color: #fefefe !important; }
  :last-child:not(.is-active) > .accordion-art-nested-title {
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0 0 0 0; }
  .accordion-art-nested-title:hover, .accordion-art-nested-title:focus {
    background-color: rgb(147, 174, 210); }
  .accordion-art-nested-title::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.5rem;
    content: '+'; }
  .is-active > .accordion-art-nested-title::before {
    content: '\2013'; }

.accordion-art-nested-content {
  display: none;
  padding: 0;
  border: 1px solid lightsteelblue;
  border-bottom: 0;
  background-color: #fefefe;
  color: #0a0a0a; }
  :last-child > .accordion-art-nested-content:last-child {
    border-bottom: 1px solid lightsteelblue; }



.no-border {
    margin-bottom: 0;
}

.no-border .cell {
    border: none;
    text-align: center;
    white-space: nowrap;
}

.no-border .cell-left {
    border: none;
    text-align: left;
}

.no-border .header {
    border: none;
}

.left-aligned {
    text-align: left;
}

.right-aligned-ntag {
    text-align: right;
    padding-right: 8rem;
}

.center-aligned {
    text-align: center;
}

.cell.header {
    background: lightsteelblue;
}

.back-to-home {
  background: rgba(53,86,129, 0.8);
  color: #fefefe !important;
  font-size: 14px;
}
.back-to-home:hover, .back-to-home:focus {
    background-color: rgba(53,86,129, 0.8);
    color: #fefefe; }

.back-to-home > i {
  font-size: 20px;
}

.link-in-table {
    color: #0a0a0a !important;
}
.link-in-table:hover, .link-in-table:focus {
    text-decoration: underline;
}

.to-logs {
    width: 15px;
    height: 100%;
    padding-left: 2px;
}

.tarindex {
    width: 35px;
    height: 100%;
    padding-left: 2px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-align: center;
}

.tarindex_tooltip {
  position: relative;
}
.tarindex_tooltip:hover {
    cursor: hand;
    text-decoration:underline;
}
.tarindex_tooltip:after {
    content: 'index of tar file';
    display:none;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}
.tarindex_tooltip:before {
    content: '';
    position: absolute;
    display:none;
    top: 50%;
    right: -10%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tarindex_tooltip:hover:before {
   display: inline-block;
}
.tarindex_tooltip:hover:after {
   display: inline-block;
}

.attempt {
    width: 35px;
    height: 100%;
    padding-left: 2px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-align: center;
}

.attempt_tooltip {
  position: relative;
}
.attempt_tooltip:hover {
    cursor: hand;
    text-decoration:underline;
}
.attempt_tooltip:after {
    content: 'attempt number / max attempts';
    display:none;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}
.attempt_tooltip:before {
    content: '';
    position: absolute;
    display:none;
    top: 50%;
    right: -10%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.attempt_tooltip:hover:before {
   display: inline-block;
}
.attempt_tooltip:hover:after {
   display: inline-block;
}


/* test sub results traffic lights */

.testsubresultscontainer {
    margin: auto;
    clear: both;
    overflow: auto;
    width: 210px;
    display:table;
    text-align: right;
    z-index: 2;
    height: 100%;
}

.testsubresultscontainer  ul {
    list-style: none;
    line-height: 20px;
    padding: 0;
    margin:0;
    display: block;
}

.testsubresultscontainer  ul li {
    display:inline-block;
    text-align: center;
    list-style: none;
}
.testsubresultbox {
    width: 20px;
    border: 1px solid #dbdbdb;
}

.testsubresultbox.finishedtest {
    background-color: #3adb76;
}

.testsubresultbox.failedtest {
    background-color: tomato;
}

/* Top tooltip for sub-job results */

.tooltiptestresult {
    position: relative;
    display: inline-block;
}

.tooltiptestresult .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    max-width: 400px;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltiptestresult .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0a0a0a transparent transparent transparent;
}

.tooltiptestresult:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* Style for extra information about tests */

.bluelink {
    color: rgba(53,86,129, 0.8) !important;
}

.redlink {
    color: firebrick !important;
}

.greylink {
    color: grey !important;
}

.test-extra-info {
    display: none;
}

.art-legend {
    width: 120px;
    line-height: 21px;
    position: relative;
    border: 1px solid #dbdbdb;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: #222222;
    font-size: 14px;
    font-weight: bold;
}

.art-legend.finished_job {
    background: #FADA5E;
}

.art-legend.done_job {
    background: #3adb76;
}

.art-legend.failed_job {
    background: tomato;
}

.art-legend.active_job {
    background: cornflowerblue;
}