{% extends '_base_core.html' %}
{% load static %}
{% load common_tags %}
{% block css_page_library %}
    <link rel="stylesheet" href="{% static "css/login-buttons.css" %}?{% cache_bust "css/login-buttons.css" %}">
{% endblock %}
{% block subtitle %}Login{% endblock %}

{% block body %}

{% if warning %}
    <div class="callout alert" data-closable>
      <h5>Warning! </h5>
      <p>{{ warning }} <a href="mailto:atlas-adc-pandamon-support@cern.ch">PanDA monitor support</a> specifying browser you use and OS.</p>
      <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}

  <div id='buttons' class="button-group-v">
    <a href="{% url 'social:begin' 'cernoidc' %}" class="button social cern" >
        <img width="40" width="40" src="{% static "images/cern-logo.png"%}">
        Log in with CERN (recommended)
    </a>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="button social google-plus">
      <i class="fi-social-google-plus" aria-hidden="true"></i> Log in with Google
    </a>
    <a href="{% url 'social:begin' 'github' %}" class="button social github">
    <i class="fi-social-github" aria-hidden="true"></i> Log in with Github
    </a>
  </div>


<div id='message' class="callout alert" style="display: none">
  <h5>Warning!</h5>
  <p>Cookies disabled or your browser does not support it. Please check your browser settings or download a new version.</p>
</div>



{% endblock %}

{% block js_body_page %}
<script>
    $(document).ready(function() {
    checkCookie();
  });
  function checkCookie(){
  var cookieEnabled = navigator.cookieEnabled;
  if (!cookieEnabled){
      document.cookie = "testcookie";
      cookieEnabled = document.cookie.indexOf("testcookie")!=-1;
  }
  return cookieEnabled || showCookieFail();
  }

  function showCookieFail(){
    $("#buttons").hide();
    $("#message").show()
  }
</script>
{% endblock %}