{% load staticfiles %}<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href='{% static "images/favicon.png" %}' />

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{% block page_title %}{% if viewParams.MON_VO %} {{ viewParams.MON_VO }} {% endif %}{{ PAGE_TITLE }}{% endblock %}</title>

<!-- Included CSS Files -->

{#<link rel="stylesheet" href="{% static "css/foundation/foundation.css" %}">#}
{#<link rel="stylesheet" href="{% static "css/foundation/foundation-icons/foundation-icons.css" %}">#}
{#<link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.css' %}">#}
{#<link rel="stylesheet" href="{% static "css/main-nav.css" %}?version=1">#}
{#<link rel="stylesheet" href="{% static "css/state-colors.css" %}?version=1">#}
{#<link rel="stylesheet" href="{% static "css/table.css" %}?version=4">#}
{#<link rel="stylesheet" href="{% static "css/d3js-plots.css" %}">#}
{#<link rel="stylesheet" href="{% static "css/taskstatestooltip.css" %}">#}
{#<link rel="stylesheet" href="{% static "css/page-sections.css" %}?version=3">#}

<link rel="stylesheet" href="{% static "core/css/app.css" %}">
{% block extra_css %}{% endblock %}

<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium" id="main-menu-small">
  <button class="menu-icon" type="button" data-toggle="main-menu"><i class="fi-list"></i></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="canvas-settings off-canvas position-right" id="offCanvasRight" data-off-canvas>
    {% block settings-offcanvas %}{% endblock %}
    <button type="button" class="save button" onclick="saveSettings()">Save & Reload</button>
</div>

<!-- Header and Nav -->
<div class="top-bar stacked-for-medium" id="main-menu">
    <div class="top-bar-left">
      <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
        <li class="menu-text"><a href="{% url 'index' %}">{% block title %}{% if viewParams.MON_VO %} {{ viewParams.MON_VO }} {% endif %}  PanDA {% endblock %}</a></li>
        <li class="has-submenu">
        <a href="#">Dash</a>
        <ul class="submenu menu vertical">
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li>
                    <a href="#">Analysis</a>
                    <ul class="vertical menu">
                        <li><a href="{% url 'dashAnalysis' %}">Jobs - Region view</a></li>
                        <li><a href="{% url 'dashAnalysis' %}?mode=task">Tasks</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Production</a>
                    <ul class="vertical menu">
                        <li><a href="{% url 'dashProduction' %}?cloudview=world">Jobs - World view</a></li>
                        <li><a href="{% url 'dashProduction' %}?cloudview=region">Jobs - Region view</a></li>
                        <li><a href="{% url 'dashProduction' %}?mode=task">Production tasks</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Event Service</a>
                    <ul class="vertical menu">
                        <li><a href="{% url 'dashProduction' %}?cloudview=world&es=true">Jobs - World view</a></li>
                        <li><a href="{% url 'dashProduction' %}?cloudview=region&es=true">Jobs - Region view</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'workingGroups' %}">Working group jobs</a></li>
                <li><a href="{% url 'worldHS06s' %}">World HS06s</a></li>
                <li><a href="{% url 'globalshares' %}">Global Shares</a></li>
                <li><a href="{% url 'dashObjectStore' %}">Objectstore view</a></li>
                <li><a href="{% url 'art-mainPage' %}">ART tests</a></li>
                <li><a href="{% url 'dataCarouselleDashBoard' %}">Data Carousel</a></li>
                <li><a href="{% url 'BuildGlobal' %}">Nightlies and CI</a></li>


            {% else %}
                <li><a href="{% url 'dashboard' %}">VOs, sites</a></li>
                <li><a href="{% url 'workingGroups' %}">Working groups</a></li>
            {% endif %}
        </ul>
        </li>

        <li class="has-submenu">
        <a href="#">Tasks</a>
        <ul class="submenu menu vertical">
            <li><a href="{% url 'taskList' %}?display_limit=300">All</a></li>
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="{% url 'taskList' %}?tasktype=anal&display_limit=300">Analysis</a></li>
                <li><a href="{% url 'taskList' %}?tasktype=prod&display_limit=300">Production</a></li>
                <li><a href="{% url 'taskList' %}?eventservice=eventservice&display_limit=300">Event service</a></li>
                <li><a href="{% url 'runningProdTasks' %}?preset=MC">All running MC production</a></li>
                <li><a href="{% url 'runningProdTasks' %}?preset=DPD">All running derivation production</a></li>
                <li><a href="{% url 'runningProdTasks' %}?preset=DATA">All running reprocessing production</a></li>
            {% endif %}
        </ul>
        </li>

        <li class="has-submenu">
        <a href="#">Jobs</a>
        <ul class="submenu menu vertical">
            <li><a href="{% url 'jobList' %}?display_limit=100">All</a></li>
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="{% url 'jobList' %}?jobtype=analysis&display_limit=100">Analysis</a></li>
                <li><a href="{% url 'jobList' %}?jobtype=production&display_limit=100">Production</a></li>
                <li><a href="{% url 'jobList' %}?jobtype=groupproduction&display_limit=100">Group production</a></li>
                <li><a href="{% url 'jobList' %}?jobtype=eventservice&display_limit=100">Event service</a></li>
                <li><a href="{% url 'status_summary-index' %}">Status Summary</a></li>
            {% endif %}
            <li><a href="{% url 'jobList' %}?jobtype=test&display_limit=100">Test</a></li>
        </ul>
        </li>

        <li class="has-submenu">
        <a href="#">Errors</a>
        <ul class="submenu menu vertical">
            <li><a href="{% url 'errorSummary' %}?sortby=count">All</a></li>
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="{% url 'errorSummary' %}?jobtype=analysis&sortby=count">Analysis</a></li>
                <li><a href="{% url 'errorSummary' %}?jobtype=production&sortby=count">Production</a></li>
                <li><a href="{% url 'errorSummary' %}?sortby=count&prodsourcelabel=rc_test">rc_test</a></li>
                <li><a href="{% url 'errorsScattering' %}">Scattering matrix</a></li>
                {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="{% url 'incidentList' %}">Recent incidents</a></li>
                {% endif %}
                <li><a href="{% url 'esatlasPandaLogger' %}">PanDA logger</a> </li>
                {% comment %}
                <li><a href="{% url 'jobProblems' %}">Problem report</a></li>
                {% endcomment %}
            {% endif %}
        </ul>
        </li>

        <li class="has-submenu">
        <a href="#">Users</a>
        <ul class="submenu menu vertical">
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="{% url 'userList' %}?sortby=date&view=database">Usage stats view</a></li>
            {% endif %}
            <li><a href="{% url 'userList' %}?sortby=date&view=dynamic">Dynamic view</a></li>
        </ul>
        </li>

        <li class="has-submenu">
        <a href="#">Sites</a>
        <ul class="submenu menu vertical">
            <li><a href="{% url 'siteList' %}">Clouds, sites</a></li>
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="{% url 'siteList' %}?cloud=CA">CA</a></li>
                <li><a href="{% url 'siteList' %}?cloud=CERN">CERN</a></li>
                <li><a href="{% url 'siteList' %}?cloud=DE">DE</a></li>
                <li><a href="{% url 'siteList' %}?cloud=ES">ES</a></li>
                <li><a href="{% url 'siteList' %}?cloud=FR">FR</a></li>
                <li><a href="{% url 'siteList' %}?cloud=IT">IT</a></li>
                <li><a href="{% url 'siteList' %}?cloud=ND">ND</a></li>
                <li><a href="{% url 'siteList' %}?cloud=NL">NL</a></li>
                <li><a href="{% url 'siteList' %}?cloud=RU">RU</a></li>
                <li><a href="{% url 'siteList' %}?cloud=TW">TW</a></li>
                <li><a href="{% url 'siteList' %}?cloud=UK">UK</a></li>
                <li><a href="{% url 'siteList' %}?cloud=US">US</a></li>
                <li><a href="{% url 'siteList' %}?CATCHALL=*jobseed%3Des*|*jobseed%3Dall*">Event Service sites</a></li>
            {% endif %}
            <li><a href="{% url 'workQueues' %}">Work queues</a></li>
        </ul>
        </li>


        <li class="has-submenu">
        <a href="#">Harvester</a>
        <ul class="submenu menu vertical">
            <li><a href="{% url 'harvesters' %}">Harvester instances</a></li>
            <li><a href="{% url 'harvesterslots' %}">Harvester slots</a></li>
        </ul>
        </li>

        <li>
            <a href="{% url 'userInfo' %}">My BigPanDA</a>
        </li>
        <li>
        {% comment %}
            <a href="{% url 'index' %}?mode=quicksearch">Search</a>
            <a href="{% url 'admin:adMain' %}">Admin</a>
        {% endcomment %}
        </li>

      </ul>
    </div>

    <div class="top-bar-right">
        <ul class="dropdown medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
            {% if viewParams.MON_VO == 'ATLAS' %}
              {% if request.user and request.user.is_authenticated %}
                <li>
                <div class="grid-x collapse searchbox show-for-large">
                  <div class="cell large-6">
                    <select id="searchselectid" name="objectstosearch" class="searchselect" onchange="getSelectValue();">
                        <option class="searchoption" value="pandaid">Job by ID</option>
                        <option class="searchoption" value="batchid">Jobs for batch ID</option>
                        <option class="searchoption" value="jeditaskid">Task by ID</option>
                        <option class="searchoption" value="taskname">Task by name</option>
                        <option class="searchoption" value="reqid">Tasks for request ID</option>
                        <option class="searchoption" value="campaign">Tasks for campaign</option>
                        <option class="searchoption" value="project">Tasks for project</option>
                        <option class="searchoption" value="tag">Tasks for tag</option>
                        <option class="searchoption" value="hashtag">Tasks for #</option>
                        <option class="searchoption" value="site">Site by name</option>
                        <option class="searchoption" value="user">User</option>
                        <option class="searchoption" value="dataset">Dataset by name</option>
                        <option class="searchoption" value="filename">File by name</option>
                      </select>
                  </div>
                  <div class="cell large-5">

                  <input id="searchinputid" name="searchinputid" class="searchinput" type="text" placeholder="Enter...">
                  </div>

                  <div class="cell large-1 medium-1">
                    <a onclick="bpsearch('searchselectid', 'searchinputid')" class="button prefix expand searchbutton"><i class="fi-magnifying-glass"></i></a>
                  </div>
                </div>
                </li>
              {% endif %}
                {% comment %}
                <li class="name">
                    <a href="https://bigpanda.cern.ch{% url 'userInfo' %}">My BigPanDA</a>
                </li>
                {% endcomment %}

                <li class="has-submenu">
                <a href="#">Prodsys</a>
                <ul  class="submenu menu vertical">
                    <li><a href="https://prodtask-dev.cern.ch/prodtask/task_table/">Prodsys task list</a>
                    <li><a href="https://prodtask-dev.cern.ch/prodtask/task_manage/">Manage tasks</a>
                    <li><a href="https://prodtask-dev.cern.ch/prodtask/task_create/">Create task</a>
                    <li><a href="https://prodtask-dev.cern.ch/prodtask/request_table/">Requests</a>
                    <li><a href="https://prodtask-dev.cern.ch/getdatasets/">Input dataset search</a>
                    <li><a href="https://prodtask-dev.cern.ch/prodtask/production_dataset_table/">Aborted and obsolete datasets</a>
                </ul>
                </li>

                <li class="has-submenu">
                <a href="#">Services</a>
                <ul class="submenu menu vertical">
                    <li><a href="http://apfmon.lancs.ac.uk/">Pilot factory monitor</a>
                    {% comment %} <li><a href="http://bigpanda.cern.ch/pbm/">PanDA Brokerage Monitor</a>{% endcomment %}
                    <li><a href="http://dashb-atlas-job.cern.ch/dashboard/request.py/dailysummary#button=jobstatus&sites%5B%5D=All+T3210&sitesCat%5B%5D=All+Clouds&activities%5B%5D=Data+Processing&activities%5B%5D=Extra+Production&activities%5B%5D=Group+Production&activities%5B%5D=MC+Reconstruction&activities%5B%5D=MC+Simulation&activities%5B%5D=Others&activities%5B%5D=T0+Processing&resourcetype=All&sitesSort=7&sitesCatSort=1&start=null&end=null&timerange=last24&granularity=Hourly&generic=3&sortby=3&series=All">Dashboard historical views</a></li>
                    <li><a href="https://monit-grafana.cern.ch/d/FtSFfwdmk/ddm-transfers?orgId=17">DDM dashboard</a>
                    <li><a href="http://dashb-atlas-ssb.cern.ch/dashboard/request.py/siteview#currentView=Shifter+view&highlight=false">Site Status Board</a>
                    <li><a href="http://adc-monitoring.cern.ch/">All ADC monitoring services</a>
                </ul>
                </li>

            {% endif %}

            {% if request.session.username %}
            <li>
            <a href="{% url 'userInfo' request.session.username %}?display_limit=200">{{request.session.username}}</a>
            </li>
            {% endif %}

            <li class="has-submenu">
            <a href="#"><span class='help'>Help</span></a>
            <ul class="submenu menu vertical">
                <li><a href="#doc"><span class='help'>See the bottom of the page for contextual help on current page</span></a>
                <li><a href="/help/"><span class='help'>Complete PanDA monitor help page</span></a>
                {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="https://twiki.cern.ch/twiki/bin/viewauth/AtlasComputing/AtlasDAST">Distributed analysis support</a>
                {% endif %}
                <li><a href="mailto:atlas-adc-pandamon-support@cern.ch">PanDA monitor support</a>
                <li><a href="https://github.com/PanDAWMS"> PanDA repository </a>
                <li><a href="http://twiki.cern.ch/twiki/bin/view/PanDA/PanDA">PanDA home</a>
            </ul>
            </li>

            {% if request.user and request.user.is_authenticated %}
              <li class="has-submenu">
                <a href="#"><i class="fi-torso"></i><span>{{ request.user.first_name }}</span></a>
                <ul class="submenu menu vertical">
                    <li class="loggeduser">{{ request.user.first_name }} {{ request.user.last_name }}, {{ request.user.email }}
                    {% if request.user.is_tester %}
                        <li><a href="{% url 'compareJobs' %}?timestamp={% now "H:i:s" %}">Go to jobs comparison</a>
                        <li><a onclick="clearComparisonList('job')">Clear jobs comparison list</a>
                    {% endif %}
                    <li><a href="{% url 'userInfo' %}">My BigPanDA</a>
                    {% if request.user.is_tester %}
                        <li><a onclick="denyRights('tester')">Abandon tester rights</a>
                    {% else %}
                        <li><a onclick="grantRights('tester')">Become a tester</a>
                    {% endif %}
                    <li><a href="{% url 'logout' %}"><span class="reassign">Logout</span></a>
                </ul>
              </li>
            {% else %}
                <li>
                 <a href="{% url 'loginauth2' %}">Login</a>
                </li>
            {% endif %}

            {% if request.user and request.user.is_authenticated and request.user.is_tester and '/errors/' in request.path %}
            <li class="settings-button">
             <button type="button" data-open="offCanvasRight"><i class="fi-widget"></i></button>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- End Header and Nav -->
</head>

<body>

<!-- sub-title -->
<div class="grid-x align-middle top-subbar">
    <div class="cell small-12 medium-9 large-10" id="">
        {% block subtitle %}Subtitle goes here{% endblock %}
    </div>

    {% comment %}
    <div class="cell auto center">
        {% block time_window %}{% endblock %}
        <a class="button time-window" data-toggle="time-window-change-panel">Change</a>
    </div>
    {% endcomment %}

    <div class="cell medium-3 large-2 right show-for-medium">
        {% if request.session.hostname %}{{ request.session.hostname }} {% endif %} |
        {% if built != None %} {{ built }}, {% endif %} <a href="{{ request.session.notimestampurl }}timestamp={% now "H:i:s" %}"><i class="fi-refresh"></i></a>
    </div>
</div>
<!-- End sub-title -->

<!-- body content -->
<div class="grid-x full" id="content">
{% block body %}

{% endblock %}
</div>
<!-- End body content -->

<!-- Main Grid Section -->
{% block bottom_info %}
{% comment %} {% if query %} Query: <i>{{ query }}</i> {% endif %}  {% endcomment %}
{% endblock %}
<br>
<!-- End Main Grid Section -->
</body>


<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/what-input/dist/what-input.min.js' %}"></script>
<script src="{% static 'node_modules/foundation-sites/dist/js/foundation.min.js' %}"></script>
<script src="{% static 'core/js/app.js' %}"></script>

{#<script src="{% static 'core/js/modernizr.js' %}"></script>#}
{#<script src="{% static 'js/d3.v3.min.js' %}"></script>#}
{#<script src="{% static 'js/user-settings.js' %}"></script>#}
{#<script src="{% static "/js/clipboardjs/clipboard.min.js" %}"></script>#}
{#<script src="{% static 'js/jquery-ui/jquery-ui.js' %}"></script>#}




<script>
    // Processing search box in the top menu
    function bpsearch(selectid, inputid) {

        var urlBase= "https://bigpanda.cern.ch";
        var url = "";
        var searchparam = document.getElementById(selectid);
        var searchvalue = document.getElementById(inputid);

        if (searchparam.value.length > 0) {
            switch (searchparam.value) {
                case 'pandaid':
                    urlBase = "{% url 'jobInfo' %}" ;
                    url = "/";
                    break;
                case 'batchid':
                    urlBase = "{% url 'jobList' %}" ;
                    url = "?batchid=";
                    break;
                case 'jeditaskid':
                    urlBase = "{% url 'taskInfo' %}" ;
                    url = "/";
                    break;
                case 'taskname':
                    urlBase = "{% url 'taskList' %}" ;
                    url = "?taskname=";
                    break;
                case 'reqid':
                    urlBase = "{% url 'taskList' %}" ;
                    url = "?reqid=";
                    break;
                case 'campaign':
                    urlBase = "{% url 'taskList' %}" ;
                    url = "?campaign=";
                    break;
                case 'project':
                    urlBase = "{% url 'taskList' %}" ;
                    url = "?project=";
                    break;
                case 'tag':
                    urlBase = "{% url 'taskList' %}" ;
                    url = "/?tag=";
                    break;
                case 'hashtag':
                    urlBase = "{% url 'taskList' %}" ;
                    url = "?hashtag=";
                    break;
                case 'site':
                    urlBase = "{% url 'siteInfo' %}" ;
                    url = "?site=";
                    break;
                case 'user':
                    urlBase = "{% url 'userInfo' %}" ;
                    url = "?user=";
                    break;
                case 'dataset':
                    urlBase = "{% url 'datasetInfo' %}" ;
                    url = "?dataset=";
                    break;
                case 'filename':
                    urlBase = "{% url 'fileInfo' %}" ;
                    url = "?filename=";
                    break;
            }
            url += searchvalue.value;
        }
        window.location = urlBase + url;
    }
    function clearComparisonList(object) {
        var newURL = document.getElementById('reloadlink').href;
        $.ajax({
            url: '/clearcomparison/',
            data: 'object='+object,
            async: true,
            cache: false
        }).done(function (response) {
            window.location = newURL
            });
    }

    function grantRights(type) {
        var newURL = document.getElementById('reloadlink').href;
        $.ajax({
            url: '/grantrights/',
            data: 'type='+type,
            async: true,
            cache: false
        }).done(function (response) {
            window.location = newURL
            });
    }

    function denyRights(type) {
        var newURL = document.getElementById('reloadlink').href;
        $.ajax({
            url: '/denyrights/',
            data: 'type='+type,
            async: true,
            cache: false
        }).done(function (response) {
            window.location = newURL
            });
    }

    function saveSettings() {
        var settingTables = getSettings('switch-table');
        var settingJobAttr = getSettings('switch-jobsattr');
{#        var url = window.location.href;#}
        var url = '';
        if (settingTables.length > 0) {
            url += '&tables=' + settingTables;
        }
        url += '&jobattr=' + settingJobAttr;
        url+='&page=' + 'errors';
{#        window.location = url;#}

        $.ajax({
            url: {% url 'saveSettings' %},
            data: url,
            async: true,
            success: function() {
                window.location = '{{ request.session.notimestampurl|safe }}timestamp={% now "H:i:s" %}'
            }
        });
    }
</script>



{#  <script src="{% static 'js/app.js' %}"></script>#}
  <script>
    $(document).foundation();
  </script>
<script src="{% static 'js/user-settings.js' %}?{% cache_bust "js/user-settings.js" %}"></script>
</body>

<!-- Footer -->
<footer>
{% block helptext %}{% endblock %}

<img src="{% url 'statpixel' %}?uid=" style="width:1px;height:1px;">

{#{% if debuginfo %}#}
{#<p>********** DEBUG:<br>#}
{#{{ debuginfo|safe }}#}
{#<br><br>********** Request:<br>{{ request }}#}
{#<br><br>********** Session:<br>#}
{#{% for key, val in request.session.items %}#}
{#{{ key }} = {{ val }} <br>#}
{#{% endfor %}#}
{#</p>#}
{#{% endif %}#}

<div class="grid-x bp-footer">
    <div class="cell small-4 medium-2 large-1">
        <a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PanDA"><img src="{% static "images/panda-logo-reversed.png" %}"></a>
    </div>
    <div class="cell small-4 medium-5 large-5">
        Brought to you by the PanDA team.
    </div>
    <div class="cell small-4 medium-5 large-6">
        <br> All times are in UTC. Page may be cached; check the build time above.
        <br><a href="http://twiki.cern.ch/twiki/bin/view/PanDA/PanDA">PanDA home</a>
    </div>
</div>

</footer>
<!-- End Footer -->
</html>
