{% load static %}{% load common_tags %}<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href='{% static "images/favicon.ico" %}' />

<!-- Set the viewport width to device width for mobile -->
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{% block page_title %}{% if viewParams.MON_VO %} {{ viewParams.MON_VO }} {% endif %}{{ PAGE_TITLE }}{% endblock %}</title>

<!-- Included CSS Files -->
{% block css %}
  {% block css_site_library %}
    <link rel="stylesheet" href="{% static "css/foundation/foundation.css" %}?{% cache_bust "css/foundation/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/foundation/foundation-icons/foundation-icons.css" %}?{% cache_bust "css/foundation/foundation-icons/foundation-icons.css" %}">
    <link rel="stylesheet" href="{% static "js/foundation-datepicker/css/foundation-datepicker.css" %}?{% cache_bust "js/foundation-datepicker/css/foundation-datepicker.css" %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.css' %}?{% cache_bust 'js/jquery-ui/jquery-ui.css' %}">
  {% endblock %}
  {% block css_page_library %}{% endblock %}
  {% block css_site %}
    <link rel="stylesheet" href="{% static "css/main-nav.css" %}?{% cache_bust "css/main-nav.css" %}">
    <link rel="stylesheet" href="{% static "css/page-sections.css" %}?{% cache_bust "css/page-sections.css" %}">
    <link rel="stylesheet" href="{% static "css/table.css" %}?{% cache_bust "css/table.css" %}">
    <link rel="stylesheet" href="{% static "css/state-colors.css" %}?{% cache_bust "css/state-colors.css" %}">
    <link rel="stylesheet" href="{% static "css/d3js-plots.css" %}?{% cache_bust "css/d3js-plots.css" %}">
    <link rel="stylesheet" href="{% static "css/taskstatestooltip.css" %}?{% cache_bust "css/taskstatestooltip.css" %}">
  {% endblock %}
  {% block css_page %}{% endblock %}
  {% block extra_css %}{% endblock %}
{% endblock %}

<!-- Included JS library Files -->
{% block js_head %}
  {% block js_head_site_library %}
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
    <script src="{% static 'js/foundation-datepicker/js/foundation-datepicker.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'js/angular/angular.min.js' %}"></script>
  {% endblock %}
  {% block js_head_page_library %}{% endblock %}
  {% block js_head_site %}
  <script nonce={{request.csp_nonce}}>
    var app = angular.module('bp-app', []);
    app.config(function ($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
      });
    app.config(['$compileProvider', function ($compileProvider) {
      $compileProvider.debugInfoEnabled(true);
      }]);
    app.config(['$httpProvider', function($httpProvider) {
      $httpProvider.defaults.xsrfCookieName = 'csrftoken';
      $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    }]);
  </script>
  {% endblock %}
{% endblock %}

</head>




<body ng-app="bp-app">

<!-- Header and Nav -->
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large" id="main-menu-small">
  <button class="menu-icon" type="button" data-toggle="main-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="canvas-settings off-canvas position-right" id="offCanvasRight" data-off-canvas>
{% block settings-offcanvas %}

{% endblock %}
  <button type="button" class="save button" id="button-save-settings">Save & Reload</button>
</div>

<div class="top-bar stacked-for-large" id="main-menu">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
    <strong><a href="{% url 'index' %}" style="color: #fefefe !important; font-weight: normal">{% block title %}{% if viewParams.MON_VO %} {{ viewParams.MON_VO }} {% endif %}  PanDA {% endblock %}</a></strong>
  </div>
    <div class="top-bar-left">
      <ul class="dropdown vertical large-horizontal menu" data-responsive-menu="accordion large-dropdown">
        <li class="has-submenu">
        <a href="#">Dash</a>
        <ul class="submenu menu vertical">
            {% if 'core.iDDS' in request.session.installed_apps %}
              <li><a href="/idds/wfprogress/">Workflows progress</a></li>
            {% endif %}
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a>Region view</a>
                    <ul class="submenu menu">
                        <li><a href="{% url 'dashRegion' %}">All jobs</a></li>
                        <li><a href="{% url 'dashRegion' %}?jobtype=analy&splitby=jobtype">Analysis jobs</a></li>
                        <li><a href="{% url 'dashRegion' %}?jobtype=prod&splitby=jobtype">Production jobs</a></li>
                        <li><a href="{% url 'dashProduction' %}?cloudview=region&es=true">Event Service jobs</a></li>
                    </ul>
                </li>
                <li><a>World view</a>
                    <ul class="submenu menu">
                        <li><a href="{% url 'dashWorld' %}">Production jobs</a></li>
                        <li><a href="{% url 'dashProduction' %}?cloudview=world&es=true">Event Service jobs</a></li>
                    </ul>
                </li>
                {% if 'installed_apps' in request.session and 'core.datacarousel' in request.session.installed_apps %}
                  <li><a>Data Carousel</a>
                    <ul class="submenu menu">
                        <li><a href="/dc/dash/">Dashboard</a></li>
                        <li><a href="/dc/tails/">Staging Tails</a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if 'installed_apps' in request.session and 'core.iDDS' in request.session.installed_apps %}
                  <li><a href="/idds/">iDDS</a></li>
                {% endif %}
                {% if 'installed_apps' in request.session and 'core.globalshares' in request.session.installed_apps %}
                  <li><a href="/globalshares/">Global Shares</a></li>
                {% endif %}
                {% if 'installed_apps' in request.session and 'core.art' in request.session.installed_apps %}
                  <li><a href="/art/">ART tests</a></li>
                {% endif %}
                {% if 'installed_apps' in request.session and 'core.buildmonitor' in request.session.installed_apps %}
                  <li><a href="/globalpage/">Nightlies and CI</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'dashboard' %}">VOs, sites</a></li>
            {% endif %}
        </ul>
        </li>

        <li class="has-submenu">
        <a href="#">Tasks</a>
        <ul class="submenu menu vertical">
            <li><a href="{% url 'taskList' %}?display_limit=300">All</a></li>
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="{% url 'taskList' %}?tasktype=analy&display_limit=300">Analysis</a></li>
                <li><a href="{% url 'taskList' %}?tasktype=prod&display_limit=300">Production</a></li>
                <li><a href="{% url 'taskList' %}?eventservice=eventservice&display_limit=300">Event service</a></li>
                <li><a href="{% url 'taskList' %}?container_name=all&display_limit=300">Containerized</a></li>
                <li><a>Running production</a>
                    <ul class="submenu menu">
                        <li><a href="/runningprodtasks/">All</a></li>
                        <li><a href="/runningprodtasks/?preset=MC">MC production</a></li>
                        <li><a href="/runningprodtasks/?preset=DPD">Derivation production</a></li>
                        <li><a href="/runningprodtasks/?preset=DATA">Reprocessing production</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'taskProblemExplorer' %}">Slow analysis</a></li>
            {% endif %}
        </ul>
        </li>

        <li class="has-submenu">
        <a href="#">Jobs</a>
        <ul class="submenu menu vertical">
            <li><a href="{% url 'jobList' %}?display_limit=100">All</a></li>
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="{% url 'jobList' %}?jobtype=analysis&display_limit=100">Analysis</a></li>
                <li><a href="{% url 'jobList' %}?jobtype=production&display_limit=100">Production</a></li>
                <li><a href="{% url 'jobList' %}?jobtype=groupproduction&display_limit=100">Group production</a></li>
                <li><a href="{% url 'jobList' %}?jobtype=eventservice&display_limit=100">Event service</a></li>
                <li><a href="{% url 'jobList' %}?container_name=all&display_limit=100">Containerized</a></li>
                <li><a href="{% url 'status_summary-index' %}">Status Summary</a></li>
            {% endif %}
            <li><a href="{% url 'jobList' %}?jobtype=test&display_limit=100">Test</a></li>
        </ul>
        </li>

        <li class="has-submenu">
        <a href="#">Errors</a>
        <ul class="submenu menu vertical">
            <li><a href="{% url 'errorSummary' %}?sortby=count&display_limit=20">All</a></li>
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="{% url 'errorSummary' %}?jobtype=analysis&sortby=count&display_limit=20">Analysis</a></li>
                <li><a href="{% url 'errorSummary' %}?jobtype=production&sortby=count&display_limit=20">Production</a></li>
                <li><a href="{% url 'errorSummary' %}?sortby=count&prodsourcelabel=rc_test2">rc_test2</a></li>
                <li><a href="/errorsscat/">Scattering matrix</a></li>
                <li><a href="{% url 'pandaLogger' %}">PanDA logger</a> </li>
            {% endif %}
        </ul>
        </li>

        <li class="has-submenu">
        <a href="#">Users</a>
        <ul class="submenu menu vertical">
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="{% url 'userList' %}?sortby=date&view=database">Usage stats view</a></li>
            {% endif %}
            <li><a href="{% url 'userList' %}?sortby=date&view=dynamic">Dynamic view</a></li>
        </ul>
        </li>

        <li class="has-submenu">
        <a href="#">Sites</a>
        <ul class="submenu menu vertical">
            <li><a href="{% url 'siteList' %}">Clouds, sites</a></li>
            {% if viewParams.MON_VO == 'ATLAS' %}
                <li><a href="{% url 'siteList' %}?cloud=CA">CA</a></li>
                <li><a href="{% url 'siteList' %}?cloud=CERN">CERN</a></li>
                <li><a href="{% url 'siteList' %}?cloud=DE">DE</a></li>
                <li><a href="{% url 'siteList' %}?cloud=ES">ES</a></li>
                <li><a href="{% url 'siteList' %}?cloud=FR">FR</a></li>
                <li><a href="{% url 'siteList' %}?cloud=IT">IT</a></li>
                <li><a href="{% url 'siteList' %}?cloud=ND">ND</a></li>
                <li><a href="{% url 'siteList' %}?cloud=NL">NL</a></li>
                <li><a href="{% url 'siteList' %}?cloud=RU">RU</a></li>
                <li><a href="{% url 'siteList' %}?cloud=TW">TW</a></li>
                <li><a href="{% url 'siteList' %}?cloud=UK">UK</a></li>
                <li><a href="{% url 'siteList' %}?cloud=US">US</a></li>
                <li><a href="{% url 'siteList' %}?CATCHALL=*jobseed%3Des*|*jobseed%3Dall*">Event Service sites</a></li>
            {% endif %}
            <li><a href="{% url 'workQueues' %}">Work queues</a></li>
        </ul>
        </li>

        {% if 'installed_apps' in request.session and 'core.harvester' in request.session.installed_apps %}
          <li class="has-submenu">
          <a href="#">Harvester</a>
          <ul class="submenu menu vertical">
              <li><a href="/harvester/instances/">Instances</a></li>
              <li><a href="/harvester/workers/">Workers</a></li>
              <li><a href="/harvester/slots/">Slots</a></li>
          </ul>
          </li>
        {% endif %}

        <li>
            <a href="{% url 'userInfo' %}">My BigPanDA</a>
        </li>
        <li>
{#        <a href="{% url 'index' %}?mode=quicksearch">Search</a>#}

        {% comment %}<a href="{% url 'admin:adMain' %}">Admin</a>{% endcomment %}
        </li>

      </ul>
    </div>



    <div class="top-bar-right">
      <ul class="dropdown vertical large-horizontal menu" data-responsive-menu="accordion large-dropdown">
          {% if request.user and request.user.is_authenticated %}
            <li>
            <div class="row collapse searchbox show-for-large">
              <div class="large-7 medium-7 columns">
                <select id="searchselectid" name="objectstosearch" class="searchselect">
                  <option class="searchoption" value="pandaid">Job by ID</option>
                  <option class="searchoption" value="batchid">Jobs for batch ID</option>
                  <option class="searchoption" value="jeditaskid">Task by ID</option>
                  <option class="searchoption" value="taskname">Task by name</option>
                  <option class="searchoption" value="reqid">Tasks for request ID</option>
                  {% if viewParams.MON_VO == 'ATLAS' %}
                    <option class="searchoption" value="campaign">Tasks for campaign</option>
                    <option class="searchoption" value="project">Tasks for project</option>
                    <option class="searchoption" value="tag">Tasks for tag</option>
                    <option class="searchoption" value="hashtag">Tasks for #</option>
                  {% endif %}
                  <option class="searchoption" value="site">Site by name</option>
                  <option class="searchoption" value="sitewn">WNs for site</option>
                  <option class="searchoption" value="user">User</option>
                  <option class="searchoption" value="dataset">Dataset by name</option>
                  <option class="searchoption" value="filename">File by name</option>
                </select>
              </div>
              <div class="large-4 medium-4 columns">

              <input id="searchinputid" name="searchinputid" class="searchinput" type="text" placeholder="Enter...">
              </div>

              <div class="large-1 medium-1 columns">
                <a id="button-bpsearch" class="button prefix expand searchbutton"><i class="fi-magnifying-glass"></i></a>
              </div>
            </div>
            </li>
          {% endif %}
          {% if viewParams.MON_VO == 'ATLAS' %}
              <li>
                <a href="https://prodtask-dev.cern.ch/">ProdSys</a>
              </li>

              <li class="has-submenu">
              <a href="#">Services</a>
              <ul class="submenu menu vertical">
                  <li><a href="http://apfmon.lancs.ac.uk/">Pilot factory monitor</a>
                  <li><a href="http://dashb-atlas-job.cern.ch/dashboard/request.py/dailysummary#button=jobstatus&sites%5B%5D=All+T3210&sitesCat%5B%5D=All+Clouds&activities%5B%5D=Data+Processing&activities%5B%5D=Extra+Production&activities%5B%5D=Group+Production&activities%5B%5D=MC+Reconstruction&activities%5B%5D=MC+Simulation&activities%5B%5D=Others&activities%5B%5D=T0+Processing&resourcetype=All&sitesSort=7&sitesCatSort=1&start=null&end=null&timerange=last24&granularity=Hourly&generic=3&sortby=3&series=All">Dashboard historical views</a></li>
                  <li><a href="https://monit-grafana.cern.ch/d/FtSFfwdmk/ddm-transfers?orgId=17">DDM dashboard</a>
                  <li><a href="http://dashb-atlas-ssb.cern.ch/dashboard/request.py/siteview#currentView=Shifter+view&highlight=false">Site Status Board</a>
                  <li><a href="http://adc-monitoring.cern.ch/">All ADC monitoring services</a>
              </ul>
              </li>

          {% endif %}

          {% if "username" in request.session %}
          <li>
          <a href="{% url 'userInfo' request.session.username %}?display_limit=200">{{request.session.username}}</a>
          </li>
          {% endif %}

          <li class="has-submenu">
          <a href="#"><span class='help'>Help</span></a>
          <ul class="submenu menu vertical">
              <li><a href="#doc"><span class='help'>See the bottom of the page for contextual help on current page</span></a>
              <li><a href="/help/"><span class='help'>Complete PanDA monitor help page</span></a>
              {% if viewParams.MON_VO == 'ATLAS' %}
              <li><a href="https://twiki.cern.ch/twiki/bin/viewauth/AtlasComputing/AtlasDAST">Distributed analysis support</a>
              {% endif %}
              <li><a href="mailto:atlas-adc-pandamon-support@cern.ch">PanDA monitor support</a>
              <li><a href="https://github.com/PanDAWMS"> PanDA repository </a>
              <li><a href="https://panda-wms.readthedocs.io/en/latest/index.html">PanDA home</a>
          </ul>
          </li>

          {% if request.user and request.user.is_authenticated %}
            <li class="has-submenu">
              <a style="padding-bottom: 0.4rem; padding-top: 0.4rem" href="#"><i style="font-size: 1rem; vertical-align: middle" class="fi-torso"></i><span>{{ request.user.first_name }}</span></a>
              <ul class="submenu menu vertical">
                  <li><span class="li-text loggeduser">{{ request.user.first_name }} {{ request.user.last_name }},</span>
                  <li><span class="li-text loggeduser">{{ request.user.email }}</span>
                  {% if request.user.is_tester and 'core.compare' in request.session.installed_apps %}
                      <li><a href="/compare/jobs/?timestamp={% now "H:i:s" %}">Go to jobs comparison</a>
                      <li><a id="button-clear-comparison-list">Clear jobs comparison list</a>
                  {% endif %}
                  <li><a href="{% url 'userInfo' %}">My BigPanDA</a>
                  {% if request.user.is_tester %}
                      <li><a id="button-deny-rights">Abandon tester rights</a>
                  {% else %}
                      <li><a id="button-grant-rights">Become a tester</a>
                  {% endif %}
                  <li><a href="{% url 'logout' %}"><span class="reassign">Logout</span></a>
              </ul>
            </li>
          {% else %}
              <li>
               <a href="{% url 'loginauth2' %}">Login</a>
              </li>
          {% endif %}

          {% if request.user and request.user.is_authenticated and request.user.is_tester and '/errors/' in request.path %}
          <li class="settings-button">
           <button type="button" data-open="offCanvasRight"><i class="fi-widget"></i></button>
          </li>
          {% endif %}
      </ul>
    </div>
</div>
<!-- End Header and Nav -->

<!-- sub-title -->
<div id="time-window-change-panel" class="time-window-change is-hidden" data-toggler="is-hidden" data-ng-controller="timeWindowController">
    <div class="row">
        <div class="column">
            <ul class="tabbed-time-window-change tabs" data-tabs id="time-window-change-tabs">
              <li class="tabs-title is-active"><a href="#tab-quick" aria-selected="true">Select time window</a></li>
            </ul>
            <div class="tabbed-time-window-change-content tabs-content" data-tabs-content="time-window-change-tabs">
              <div class="tabs-panel is-active" id="tab-quick">
                <ul class="no-bullet">
                    <li class="row">
                        <div class="column large-3 medium-6">
                            <div class="input-group">
                                <input type="radio" name="time-window-radio" value="hours" id="time-window-radio-hours" ng-model="timewindow.data.quick" ng-change="change()">
                                <span class="input-group-label">Last hours:</span>
                                <input type="number" class="time-window-input input-group-field time-window-input-hours" min="1" ng-model="timewindow.data.hours"  ng-change="change()">
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="column large-3 medium-6">
                            <div class="input-group">
                                <input type="radio" name="time-window-radio" value="days" id="time-window-radio-days" ng-model="timewindow.data.quick" ng-change="change()">
                                <span class="input-group-label">Last days:</span>
                                <input type="number" class="time-window-input input-group-field time-window-input-days" min="1" ng-model="timewindow.data.days"  ng-change="change()">
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="column large-6 medium-12">
                            <div class="input-group">
                                <input type="radio" name="time-window-radio" value="custom" id="time-window-radio-custom" ng-model="timewindow.data.quick" ng-change="change()">
                                <span class="input-group-label">Custom:</span>
                                <span class="input-group-label">from</span>
                                <input type="text" class="fdatetimepicker time-window-input-date input-group-field time-window-input-custom" id="time-window-input-date-from" min="2017-01-01" value="{{ timerange.0 }}" ng-model="timewindow.selection.from">

                                <span class="input-group-label">to</span>
                                <input type="text" class="fdatetimepicker time-window-input-date input-group-field time-window-input-custom" id="time-window-input-date-to" value="{{ timerange.1 }}" ng-model="timewindow.selection.to">
                            </div>
                        </div>
                    </li>
                </ul>
              </div>
            </div>
        </div>
    </div>
    <a class="button" ng-click="update()">Apply</a>
</div>

<div class="row collapse top-subbar">
    <div class="column {% if timerange and timerange|length > 0 %} small-6 medium-2 large-2 {% else %} small-6 medium-9 large-10 {% endif %}" id="">
        <p>
            {% block subtitle %}Subtitle goes here{% endblock %}
            {% if not timerange %}
                {% block subtitle_params %} {% endblock %}
            {% endif %}
        </p>
    </div>

    {% if timerange and timerange|length > 0 %}
    <div class="column medium-7 large-8 center show-for-medium">
        {% block time_window %}{% endblock %}
        <a class="button time-window" data-toggle="time-window-change-panel">Change</a>
    </div>
    {% endif %}

    <div class="column small-6 medium-3 large-2 right">
        {% if request.session.hostname %}{{ request.session.hostname }} {% endif %} |
        {% if built != None %} {{ built }}, {% endif %} <a id="button-refresh-page"> Refresh</a>
    </div>
</div>
<!-- End sub title -->

<!-- Main Grid Section -->
<div class="large-12 columns body-content" id="content">
{% block body %}

{% endblock %}

{% block bottom_info %}
{% comment %} {% if query %} Query: <i>{{ query }}</i> {% endif %}  {% endcomment %}
{% endblock %}
<!-- End Main Grid Section -->

<!-- Help section -->
<a name="doc"></a>
{% block help %}{% endblock %}

<table width=1000 class="hide-for-small">

{% block helptext %}

{% endblock %}
</table>

<img src="{% url 'statpixel' %}" style="width:1px;height:1px;">

</div>


<!-- Footer -->
<footer>

<div class="footer-wrap">
  <div class="sub-footer row collapse">
    <div class="column small-4">
      <p>Brought to you by the PanDA team.</p>
    </div>
    <div class="column small-8 right">
      <p>All times are in UTC. Page may be cached, check the build time above.
        {% if 'version' in request.session.meta %}Release {{ request.session.meta.version }}{% endif %}</p>
    </div>
  </div>
  <div class="footer row collapse">
    <div class="columns medium-4 small-5">
      <img src="{% static "images/panda-verysmall-notext.png" %}"><p style="display: inline"><a target="_blank" href="https://panda-wms.readthedocs.io/en/latest/">PanDA docs</a></p>
    </div>
    <div class="columns medium-8 small-7">
      <p>In case of suggestions, questions, or problems with:</p>
      {% if viewParams.MON_VO == 'ATLAS' %}
        <p>running analysis - <a href="mailto:hn-atlas-dist-analysis-help@cern.ch">email DAST experts</a></p>
      {% endif %}
        <p>
          monitoring - <a href="mailto:atlas-adc-pandamon-support@cern.ch">email</a>
          {% if viewParams.MON_VO == 'ATLAS' %}
            ,<a target="_blank" href="https://its.cern.ch/jira/projects/ATLASPANDA/"><img src="{% static 'images/jira-logo.png' %}"></a>
            , or <a target="_blank" href="https://mattermost.web.cern.ch/adcvcr/channels/adc-bigpanda"><img src="{% static 'images/mattermost-logo.png' %}"> mattermost</a>
          {% endif %}
        </p>
    </div>
  </div>
</div>

</footer>

<!-- Body JS  -->
{% block js_body %}
  {% block js_body_site %}
    <script src="{% static 'js/app.js' %}?{% cache_bust "js/app.js" %}"></script>
    <script src="{% static 'js/user-settings.js' %}?{% cache_bust "js/user-settings.js" %}"></script>
    <script nonce={{request.csp_nonce}}>

      document.getElementById("button-save-settings").addEventListener("click", saveSettings);
      document.getElementById("button-bpsearch").addEventListener("click", bpsearch);
      if ('{{ request.user.is_tester }}' === 'True') {
        document.getElementById("button-clear-comparison-list").addEventListener("click", clearComparisonList);
        document.getElementById("button-deny-rights").addEventListener("click", denyRights);
      }
      else {
        document.getElementById("button-grant-rights").addEventListener("click", grantRights);
      }
      document.getElementById("button-refresh-page").addEventListener("click", refreshPage);

      document.getElementById("searchselectid").addEventListener("change", getSelectValue);


      {% if timerange %}
          var timerange = {{ timerange|safe }};
      {% else %}
          var timerange =  ['', ''];
      {% endif %}
      {% if request.session.urls_cut.notimerangeurl %}
          var notimerangeurl = '{{ request.session.urls_cut.notimerangeurl|safe }}';
      {% else %}
          var notimerangeurl =  window.location.href + '?';
      {% endif %}

      {% if request.session.urls_cut.notimestampurl %}
          var notimestampurl = '{{ request.session.urls_cut.notimestampurl|safe }}';
      {% else %}
          var notimestampurl =  window.location.href + '?' ;
      {% endif %}


      app.controller('timeWindowController', ['$scope', function($scope) {
        $scope.timewindow = {
            selection : {
                from: timerange[0],
                to: timerange[1],
            }
        };
        $scope.timewindow.data = {
            hours: 12,
            days: 0,
            quick: 'hours',
        };
        $scope.timewindow.availableOptions = ['hours', 'days', 'custom'];

        var dt_from = new Date(timerange[0]);
        var dt_to = new Date(timerange[1]);

        if (diff_hours(dt_to, dt_from) % 24 === 0 ) {
            $scope.timewindow.data.quick = 'days';
            $scope.timewindow.data.days = diff_hours(dt_to, dt_from)/24;
            disable_input('days', $scope.timewindow.availableOptions);
        }
        else if (diff_hours(dt_to, dt_from) % 24 > 1 ) {
            $scope.timewindow.data.quick = 'hours';
            $scope.timewindow.data.hours = diff_hours(dt_to, dt_from);
            disable_input('hours', $scope.timewindow.availableOptions);
        }
        else {
            $scope.timewindow.data.quick = 'custom';
            disable_input('custom', $scope.timewindow.availableOptions);
        }

        $scope.change = function () {
            if ($scope.timewindow.data.quick === 'hours') {
                disable_input('hours', $scope.timewindow.availableOptions);
                dt_to = new Date();
                dt_from = subtract_hours(dt_to, $scope.timewindow.data.hours);
                $scope.timewindow.selection.to = dt_to.toISOString().substring(0, dt_to.toISOString().indexOf('.'));
                $scope.timewindow.selection.from = dt_from.toISOString().substring(0, dt_from.toISOString().indexOf('.'));
            }
            else if ($scope.timewindow.data.quick === 'days') {
                disable_input('days', $scope.timewindow.availableOptions);
                dt_to = new Date();
                dt_from = new Date(dt_to.getTime() - $scope.timewindow.data.days * 86400000 );
                $scope.timewindow.selection.to = dt_to.toISOString().substring(0, dt_to.toISOString().indexOf('.'));
                $scope.timewindow.selection.from = dt_from.toISOString().substring(0, dt_from.toISOString().indexOf('.'));
            }

            else if ($scope.timewindow.data.quick === 'custom') {
                disable_input('custom', $scope.timewindow.availableOptions);
            }
        };

        $scope.update = function() {
            let query = notimerangeurl;
            if (location.pathname.indexOf('jobsbuster') > -1) {
              let timeparamname = 'endtime';
              query += timeparamname + '_from=' + $scope.timewindow.selection.from.replace(' ', 'T') + '&';
              query += timeparamname + '_to=' + $scope.timewindow.selection.to.replace(' ', 'T');
            }
            else {
              switch ($scope.timewindow.data.quick) {
                case 'hours':
                  query += 'hours=' + $scope.timewindow.data.hours;
                  break;
                case 'days':
                  query += 'days=' + $scope.timewindow.data.days;
                  break;
                case 'custom':
                  query += 'date_from=' + $scope.timewindow.selection.from.replace(' ', 'T') + '&';
                  query += 'date_to=' + $scope.timewindow.selection.to.replace(' ', 'T');
                  break;
              }
            }
            window.location = query;
        };
      }]);

      function bpsearch() {

          var urlBase= "https://bigpanda.cern.ch";
          var url = "";
          var searchparam = document.getElementById('searchselectid');
          var searchvalue = document.getElementById('searchinputid');

          if (searchparam.value.length > 0) {
              switch (searchparam.value) {
                  case 'pandaid':
                      urlBase = "{% url 'jobInfo' %}" ;
                      url = "/";
                      break;
                  case 'batchid':
                      urlBase = "{% url 'jobList' %}" ;
                      url = "?batchid=";
                      break;
                  case 'jeditaskid':
                      urlBase = "{% url 'taskInfo' %}" ;
                      url = "/";
                      break;
                  case 'taskname':
                      urlBase = "{% url 'taskList' %}" ;
                      url = "?taskname=";
                      break;
                  case 'reqid':
                      urlBase = "{% url 'taskList' %}" ;
                      url = "?reqid=";
                      break;
                  case 'campaign':
                      urlBase = "{% url 'taskList' %}" ;
                      url = "?campaign=";
                      break;
                  case 'project':
                      urlBase = "{% url 'taskList' %}" ;
                      url = "?project=";
                      break;
                  case 'tag':
                      urlBase = "{% url 'taskList' %}" ;
                      url = "/?tag=";
                      break;
                  case 'hashtag':
                      urlBase = "{% url 'taskList' %}" ;
                      url = "?hashtag=";
                      break;
                  case 'site':
                      urlBase = "{% url 'siteInfo' %}" ;
                      url = "?site=";
                      break;
                  case 'sitewn':
                      urlBase = "{% url 'wnInfo' %}" ;
                      url = "";
                      break;
                  case 'user':
                      urlBase = "{% url 'userInfo' %}" ;
                      url = "?user=";
                      break;
                  case 'dataset':
                      urlBase = "{% url 'datasetList' %}" ;
                      url = "?datasetname=";
                      break;
                  case 'filename':
                      urlBase = "{% url 'fileInfo' %}" ;
                      url = "?filename=";
                      break;

              }
              url += encodeURIComponent(searchvalue.value);
          }

          window.location = urlBase + url;
      }

      function refreshPage() {
        let d = new Date().toLocaleTimeString([], {hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false});
        window.location = notimestampurl + 'timestamp=' + d;
      }

      function clearComparisonList() {
          let object_name = 'job';
          var newURL = '{{ request.session.notimestampurl|safe }}';
          $.ajax({
              url: '/clearcomparison/',
              data: 'object='+object_name,
              async: true,
              cache: false
          }).done(function (response) {
              window.location = newURL
              });
      }

      function toggleComparisonList(buttonid, value) {
        var button_class = document.getElementById(buttonid).className;
        if (button_class.includes('add')) {
            $.ajax({
                url: '/addtocomparison/',
                data: 'object=job&value='+value,
                async: true,
                cache: false
            }).done(function (response) {
                let button_icon = document.querySelector('#' + buttonid + ' i');
                button_icon.className = "fi-minus";
                let tooltip_text = document.querySelector('#' + buttonid + ' .tooltip-right .tooltip-text');
                tooltip_text.innerHTML = 'Remove from comparison';
                document.getElementById(buttonid).className = "button remove";
                });
        }
        else if (button_class.includes('remove')) {
            $.ajax({
                url: '/deletefromcomparison/',
                data: 'object=job&value='+value,
                async: true,
                cache: false
            }).done(function (response) {
                let button_icon = document.querySelector('#' + buttonid + ' i');
                button_icon.className = "fi-plus";
                let tooltip_text = document.querySelector('#' + buttonid + ' .tooltip-right .tooltip-text');
                tooltip_text.innerHTML = 'Add to comparison';
                document.getElementById(buttonid).className = "button add";
                });
        }
      }

      function grantRights() {
          var newURL = '{{ request.session.notimestampurl|safe }}';
          $.ajax({
              url: '/grantrights/',
              data: 'type=tester',
              async: true,
              cache: false
          }).done(function (response) {
              window.location = newURL
              });
      }

      function denyRights() {
          var newURL = '{{ request.session.notimestampurl|safe }}';
          $.ajax({
              url: '/denyrights/',
              data: 'type=tester',
              async: true,
              cache: false
          }).done(function (response) {
              window.location = newURL
              });
      }

      function saveSettings() {
          var settingTables = getSettings('switch-table');
          var settingJobAttr = getSettings('switch-jobsattr');
          var url = '';
          if (settingTables.length > 0) {
              url += '&tables=' + settingTables;
          }
          url += '&jobattr=' + settingJobAttr;
          url+='&page=' + 'errors';

          $.ajax({
              url: {% url 'saveSettings' %},
              data: url,
              async: true,
              success: function() {
                  window.location = '{{ request.session.notimestampurl|safe }}timestamp={% now "H:i:s" %}'
              }
          });
      }

      function getSelectValue() {
      var selectedValue = document.getElementById("searchselectid").value;
      switch (selectedValue) {
         case 'site':
              $("#searchinputid").autocomplete({
                  source: "{% url 'getsites' %}",
                  select: function (event, ui) { //item selected
                      AutoCompleteSelectHandler(event, ui);
                  },
                  minLength: 1,
              });
              break;
         case 'sitewn':
              $("#searchinputid").autocomplete({
                  source: "{% url 'getsites' %}",
                  select: function (event, ui) { //item selected
                      AutoCompleteSelectHandler(event, ui);
                  },
                  minLength: 1,
              });
              break;
         }
      }
      function AutoCompleteSelectHandler(event, ui) {
         var selectedObj = ui.item;
      }

    </script>
  {% endblock %}
  {% block js_body_page %}{% endblock %}
  {% block extra_js %}{% endblock %}
{% endblock %}
<!-- End Body JS  -->
</body>
</html>
