{% extends "_base_core.html" %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA{% endblock %}
{% block subtitle %}{{ viewParams.MON_VO }} PanDA monitor home{% endblock %}

{% block bottom_info %}
{% if requestParams|length < 2 %}

{% if viewParams.MON_VO == 'ATLAS' %}

<ul class="accordion light" data-accordion data-multi-expand="true">
  <li class="accordion-item light is-active" data-accordion-item>
    <a href="#" class="accordion-title light">Global concurrent running job core counts, all sites, all job types, by cloud, last 1, 7, 30 days  (new Monit)</a>
    <div class="accordion-content light" data-tab-content>
      <div class="expanded row">
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=96&fullscreen&orgId=17'>
            <img src="{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?&orgId=17&panelId=96&width=1000&height=1000" alt='Daily World All Queues'></a>
          </div>
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=97&fullscreen&orgId=17'>
            <img src='{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?panelId=97&orgId=17&width=1000&height=1000' alt='Weekly World All Queues'></a>
          </div>
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=95&fullscreen&orgId=17'>
            <img src='{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?panelId=95&orgId=17&width=1000&height=1000' alt='Monthly World All Queues'></a>
          </div>
      </div>
    </div>
  </li>
  <li class="accordion-item light is-active" data-accordion-item>
    <a href="#" class="accordion-title light">Global concurrent running job core counts, all sites, all job types, by activity, last 1, 7, 30 days  (new Monit)</a>
    <div class="accordion-content light" data-tab-content>
      <div class="expanded row">
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=103&fullscreen&orgId=17'>
            <img src='{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?panelId=103&orgId=17&width=1000&height=1000' alt='Daily World All Queues'></a>
          </div>
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=108&fullscreen&orgId=17'>
            <img src='{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?panelId=108&orgId=17&width=1000&height=1000' alt='Weekly World All Queues'></a>
          </div>
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=107&fullscreen&orgId=17'>
            <img src='{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?panelId=107&orgId=17&width=1000&height=1000' alt='Monthly World All Queues'></a>
          </div>
      </div>
    </div>
  </li>  <li class="accordion-item light is-active" data-accordion-item>
    <a href="#" class="accordion-title light">Global concurrent running job core counts, all sites, all job types, by resource type, last 1, 7, 30 days (new Monit)</a>
    <div class="accordion-content light" data-tab-content>
      <div class="expanded row">
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=104&fullscreen&orgId=17'>
            <img src='{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?panelId=104&orgId=17&height=600' alt='Daily World All Queues'></a>
          </div>
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=110&fullscreen&orgId=17'>
            <img src='{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?panelId=110&orgId=17&height=600' alt='Weekly World All Queues'> </a>
          </div>
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=109&fullscreen&orgId=17'>
            <img src='{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?panelId=109&orgId=17&height=600' alt='Monthly World All Queues'></a>
          </div>
      </div>
    </div>
  </li>  <li class="accordion-item light is-active" data-accordion-item>
    <a href="#" class="accordion-title light">Global concurrent running job core counts, all sites, all job types, by country, last 1, 7, 30 days (new Monit)</a>
    <div class="accordion-content light" data-tab-content>
      <div class="expanded row">
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=101&fullscreen&orgId=17'>
            <img src='{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?panelId=101&orgId=17&width=1000&height=1000' alt='Daily World All Queues'></a>
          </div>
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=105&fullscreen&orgId=17'>
            <img src='{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?panelId=105&orgId=17&width=1000&height=1000' alt='Weekly World All Queues'> </a>
          </div>
          <div class="columns small-12 medium-4 large-4">
            <a target='_blank' href='https://monit-grafana.cern.ch/d/000000806/bigpanda-monitoring?panelId=106&fullscreen&orgId=17'>
            <img src='{% url 'grafana_image' %}?url=https://monit-grafana.cern.ch/render/d-solo/000000806/bigpanda-monitoring?panelId=106&orgId=17&width=1000&height=1000' alt='Monthly World All Queues'></a>
          </div>
      </div>
    </div>
  </li>
</ul>

{% else %}

<p>
Welcome to the {{ viewParams.MON_VO }} PanDA monitor.
Select what you'd like to have a look at in the top menu bar: dashboard overview; job and task lists; error summaries; user lists and pages; site, cloud and WN information; etc.

{% endif %}

{% endif %}
<p>
<script nonce={{request.csp_nonce}}>
  $(function() {
    $("#site").autocomplete({
      source: "{% url 'getsites' %}",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 1,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }
</script>
<div class="row" style="max-width: 100%; padding: 3px">
<fieldset class="fieldset">
<legend>Search</legend>
  <div class="small-12 medium-6 columns">
      <form action="{% url 'jobInfo' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">PanDA job ID or name</span>
              <input class="input-group-field" type="text" placeholder="Enter job ID or name..." id="pandaid" name="pandaid">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'jobList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Jobs for batch ID</span>
              <input class="input-group-field" type="text" placeholder="Enter batch ID..." id="batchid" name="batchid">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'taskInfo' %}?" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Task ID</span>
              <input class="input-group-field" type="text" placeholder="Enter task ID..." id="jeditaskid" name="jeditaskid">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'taskList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Tasks for task name</span>
              <input class="input-group-field" type="text" placeholder="Enter task name..." id="taskname" name="taskname">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'taskList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Tasks for request ID </span>
              <input class="input-group-field" type="text" placeholder="Enter job ID or name..." id="reqid" name="reqid">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'taskList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Tasks for Request IDs: from </span>
              <input class="input-group-field" type="text"  id="reqid_from" name="reqid_from">
              <span class="input-group-label">to: </span>
              <input class="input-group-field" type="text"  id="reqid_to" name="reqid_to">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'jobList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Jobs for Request IDs: from </span>
              <input class="input-group-field" type="text"  id="reqid_from" name="reqid_from">
              <span class="input-group-label">to: </span>
              <input class="input-group-field" type="text"  id="reqid_to" name="reqid_to">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'jobList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Stalled jobs</span>
              <span class="input-group-label">in:</span>
              <select name="jobstatus" class="input-group-field">
                <option value="defined"><span class="defined">defined</span></option>
                <option value="waiting"><span class="waiting">waiting</span></option>
                <option value="assigned"><span class="assigned">assigned</span></option>
                <option value="activated"><span class="activated">activated</span></option>
                <option value="starting"><span class="starting">starting</span></option>
                <option value="running"><span class="running">running</span></option>
                <option value="holding"><span class="holding">holding</span></option>
                <option value="transferring"><span class="transferring">transferring</span></option>
              </select>
              <span class="input-group-label">for over</span>
              <input class="input-group-field" type="number"  id="statenotupdated" name="statenotupdated">
              <span class="input-group-label">hours</span>
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'taskList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Stalled tasks</span>
              <span class="input-group-label">in:</span>
              <select name="superstatus" class="input-group-field">
                <option value="registered"><span class="registered">registered</span></option>
                <option value="submitting"><span class="submitting">submitting</span></option>
                <option value="running"><span class="running">running</span></option>
              </select>
              <span class="input-group-label">for over</span>
              <input class="input-group-field" type="number"  id="statenotupdated" name="statenotupdated">
              <span class="input-group-label">hours</span>
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
  </div>
  <div class="small-12 medium-6 columns">
      <form action="{% url 'taskList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Tasks for campaign </span>
              <input class="input-group-field" type="text" placeholder="Enter campaign..." id="campaign" name="campaign">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'taskList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Tasks for project</span>
              <input class="input-group-field" type="text" placeholder="Enter project..." id="project" name="project">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'taskList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Tasks for tag </span>
              <input class="input-group-field" type="text" placeholder="Enter tag..." id="tag" name="tag">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'taskList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Tasks for hashtag </span>
              <input class="input-group-field" type="text" placeholder="Enter hashtag..." id="hashtag" name="hashtag">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'taskList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Tasks for stream </span>
              <input class="input-group-field" type="text" placeholder="Enter stream..." id="stream" name="stream">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'siteInfo' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Site </span>
              <input class="input-group-field" type="text" placeholder="Enter site name..." id="site" name="site">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'userInfo' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">User  </span>
              <input class="input-group-field" type="text" placeholder="Enter user name..." id="user" name="user">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'datasetList' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">Dataset </span>
              <input class="input-group-field" type="text" placeholder="Enter name of dataset..." id="datasetname" name="datasetname">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>
      <form action="{% url 'fileInfo' %}" method='get' class="search-form">
          <div class="input-group">
              <span class="input-group-label">File </span>
              <input class="input-group-field" type="text" placeholder="Enter name of file..." id="filename" name="filename">
            <div class="input-group-button">
                  <input type="submit" value="Submit" class="button secondary">
            </div>
          </div>
      </form>

  </div>
</fieldset>
</div>

{% endblock %}

{% block help %}

{% include "introductionHelp.html" %}
{% include "searchHelp.html" %}

{% endblock %}

