{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Tasks errors scattering{% endblock %}
{% block title %}Tasks errors scattering{% endblock %}
{% block subtitle %}Tasks errors scattering <font size=-1>{{ viewParams.selection|safe }}</font> {% endblock %}
{% block body %}

		<link rel="stylesheet" type="text/css" href="{% static '/css/wizardstyles.css'%}" />



    <table>
        <tr>
            <th>Request ID</th>
                {% for c in clouds %}
                     <th>
                         {{ c }}
{#                         <a href="{% url 'tasksErrorsScatteringForNucleus' nucleus=nuc %}?tk={{ tk }}">{{ nuc }}</a>#}
                     </th>
                {% endfor %}
        </tr>

        {% for rid, values in reqerrors.items %}
            <tr>
              <td><a href="{% url 'taskList' %}?reqid={{ rid }}">{{ rid }}</a></td>
                {% for c in clouds %}
                    {% if c in values %}
                        <td {% for p in values|get_item:c %}{% if forloop.first %}id="{{ p }}"{% if p <= 10 %}class="failed_fill"{% else %}{% if p <= 50 %}class="discarded_fill"{% else %}class="finished_fill"{% endif %}{% endif %}{% endif %}{% endfor %}>
{#                        <span>{{ values.c }}</span>#}
                        <span>
                            {% for p in values|get_item:c %}
                                {{ p }}{% if forloop.first %}%{% endif %}{% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        </span>
                        </td>
                    {% else %}
                        <td> </td>
                    {% endif %}
                {% endfor %}
            </tr>
         {% endfor %}



    </table>

{% endblock %}
