{% extends "_base_core.html" %}
{% load static %}
{% block page_title %} {{ viewParams.MON_VO }} PanDA job errors{% endblock %}

{% block settings-offcanvas %}
    <p>
        <span style="font-weight: bold">Errors page settings</span>
    </p>

  {% for table, desc in userPreferences.defaulttables.items %}
          <div class="switch-toggle-wrapper">
            <div class="switch tiny">
              <input class="switch-input" id="switch-table-{{ table }}" type="checkbox" name="switch-table"
                      {% if table in userPreferences.tables %} checked="checked" {% endif %}
                        onchange="disableDetails('{{ table }}');">
              <label class="switch-paddle" for="switch-table-{{ table }}">
                <span class="show-for-sr">{{ desc }}</span>
              </label>
            </div>
            <span>{{desc }}</span>
          </div>
  {% endfor %}


<div class="row">
  <div class="columns offCanvasRight-columns">
    <ul class="accordion " data-accordion data-allow-all-closed="true">
    <li id="jobattr-menu" class="accordion-item is-active " data-accordion-item><a href="#" class="menu-link" id="jobattr-link" class="accordion-title">Job Attribute Summary Table</a>
     <div class="accordion-content" data-tab-content >
      <ul id="jobattr-menu-item" class="menu vertical nested">

        {% for attr in userPreferences.defaultjobattr %}
          <div class="switch-toggle-wrapper">
            <div class="switch tiny">
              <input class="switch-input" id="switch-jobsattr-{{ attr }}" type="checkbox" name="switch-jobsattr"
                {% if attr in userPreferences.jobattr %} checked="checked" {% endif %}>
              <label class="switch-paddle" for="switch-jobsattr-{{ attr }}">
                <span class="show-for-sr">{{ attr }}</span>
              </label>
            </div>
            <span>{{ attr }}</span>
          </div>
        {% endfor %}
       </ul>
     </div>
    </li>
  </ul>
  </div>
</div>

{% endblock %}


{% block subtitle %}PanDA job error summary{{ viewParams.selection|safe }}
{% if user %}     user={{ user }} {% endif %}
{% if site %}     site={{ site }} {% endif %}
{% if vo %}     VO={{ vo }} {% endif %}
{% endblock %}
{% block subtitle_params %}
{% if jobsErrorsTotalCount != None%} <b> Total jobs found &#x7E; <a href="{% url 'errorSummary' %}?{% if requestString != None %}{{ requestString }}{% endif %}hours={{hours}}&limit={{jobsErrorsTotalCount}}&mode=nodrop">{{ jobsErrorsTotalCount }}</a></b> {% endif %}
{% endblock %}


{% block body %}
{{ viewParams.header }}

<div class="bp-container-simple">
<p><b>{{ njobs }} jobs in this selection</b>
{% if showwarn and njobs%}
    <span class="warning"><b>. Warning: limit {{ joblimit }} per job table</b></span>
{% endif %}
</p>
<p><b> Show jobs: </b>
    <a href="{% url 'jobList' %}?{% if requestString != None %}{{ requestString }}{% endif %}jobstatus=failed&hours={{hours}}&limit={{limit}}&mode=nodrop"><b>Failed </b></a>,
    <a href="{% url 'jobList' %}?{% if requestString != None %}{{ requestString }}{% endif %}hours={{hours}}&limit={{limit}}&mode=nodrop"><b> All</b></a>
</p>

{% if requestParams.transferringnotupdated %}<p><b>Jobs in transferring state for more than {{ requestParams.transferringnotupdated }} hours</b></p> {% endif %}
{% if requestParams.statenotupdated %}<p><b>Jobs in <span class="{{ requestParams.jobstatus }}">{{ requestParams.jobstatus }}</span> state for more than {{ requestParams.statenotupdated }} hours</b></p> {% endif %}
{% if requestParams.workinggroup %}<p><b>Working group: {{ requestParams.workinggroup }}</b></p> {% endif %}
{% if requestParams.jobtype %}<p><b>Job type: {{ requestParams.jobtype }}</b></p> {% endif %}
{% if requestParams.jobstatus %}<p><b>Job status: <span class={{requestParams.jobstatus}}>{{ requestParams.jobstatus }}</span></b></p> {% endif %}
{% if requestParams.cloud %}<p><b>Cloud: {{ requestParams.cloud }}</b></p> {% endif %}
{% if requestParams.computingsite %}<p><b>Site: <a href="{% url 'siteInfo' requestParams.computingsite %}">{{ requestParams.computingsite }}</a> <a href="{% url 'siteInfo' requestParams.computingsite %}">Show site information page</a></b></p> {% endif %}
{% if user %}<p><b>User: <a href="{% url 'userInfo' user %}?display_limit=100">{{ user }}</a> <a href="{% url 'userInfo' user %}?display_limit=100"> Show user page</a></b></p> {% endif %}
{% if requestParams.jeditaskid and requestParams.jeditaskid != 'None' %}<p><b>Task: <a href="{% url 'taskInfo' requestParams.jeditaskid  %}">{{ requestParams.jeditaskid }}      {{ taskname }}</a> </b></p> {% endif %}
{% if requestParams.taskid and requestParams.taskid != 'None' %}<p><b>Task: <a href="{% url 'taskInfo' requestParams.taskid  %}">{{ requestParams.taskid }}      {{ taskname }}</a></b></p> {% endif %}
{% if requestParams.jobsetid %}<p><b>Jobset ID: {{ requestParams.jobsetid }}</b></p> {% endif %}
{% if requestParams.parentid %}<p><b>Parent ID: {{ requestParams.parentid }}</b></p> {% endif %}

{% if requestParams.reqid %}<p><b>Request ID: {{ requestParams.reqid }}</b></p> {% endif %}
{% if requestParams.reqid_from %}<p><b>From request ID: {{ requestParams.reqid_from }}</b></p> {% endif %}
{% if requestParams.reqid_to %}<p><b>To request ID: {{ requestParams.reqid_to }}</b></p> {% endif %}

{% if requestParams.jobname %}<p><b>Job name: {{ requestParams.jobname }}</b></p> {% endif %}
{% if requestParams.priorityrange %}<p><b>Current priority range: {{ requestParams.priorityrange }}</b></p> {% endif %}
{% if requestParams.processingtype %}<p><b>Processing type: {{ requestParams.processingtype }}</b></p> {% endif %}
{% if requestParams.transformation %}<p><b>Transformation: {{ requestParams.transformation }}</b></p> {% endif %}

<p>Job <b>modification times</b> in this listing range from <b>{{ tfirst }}</b> to <b>{{ tlast }}</b>,
{% if warning.notimelimit %} although {{ warning.notimelimit }}, {% endif %}
<a id="copy-button" class="bluelink" data-clipboard-text="https://{{ request.get_host }}{{ time_locked_url }}">copy time locked link</a></p>
<p>Job <b>current priorities</b> in this listing range from <b>{{ plow }}</b> to <b>{{ phigh }}</b>. See priorityrange in the job attribute summary to see how priorities are distributed.</p>

<p>Go to {% if errsByCount %} <a href="#summary">overall</a>, {% endif %} {% if errsBySite %} <a href="#sites">site</a>,{% endif %} {% if errsByUser %} <a href="#users">user</a>, {% endif %} {% if errsByTask %} <a href="#tasks">task</a> {% endif %} summary</p>
</div>

{% if errHist %}
<div id="chart_div" class="bp-plot"></div>
{% endif %}

{% if sumd %}
<div class="card bp-container">
<div class="card-divider">
    <p>Error occurrences by job attribute, sort by {% if requestParams.sortby == 'count' %} count, <a href="{{ nosorturl }}">alpha</a> {% else %} <a href="{{ nosorturl }}sortby=count">count</a>, alpha {% endif %}</p>
</div>
<div class="card-section">
<table class="bp-table">
<tbody>
{% for fdict in sumd %}
<tr><th> {{ fdict.field }} ({{ fdict.list|length }})</th>
    <td><div class="comment more">
        {% for item in fdict.list %}<span class="attrval-count-pair">
            {% if fdict.field == 'jeditaskid' %} <a href="{% url 'taskInfo' item.kname %}"> {{ item.kname }} </a><a href="{{xurl}}{{fdict.field}}={{item.kname}}" >({{ item.kvalue }})</a>
            {% elif fdict.field  == 'jobsetid'%} <a href="{% url 'jobList' %}?jobsetid={{ item.kname }}"> {{ item.kname }}</a> <a href="{{xurl}}{{fdict.field}}={{item.kname}}" >({{ item.kvalue }})</a>
            {% elif fdict.field  == 'harvesterinstance' %} {{ item.kname }} <a href="{{xurl}}{{fdict.field}}={{item.kname}}" >({{ item.kvalue }})</a>
            {% elif fdict.field  == 'durationmin' %} {% if item.kvalue > 0 %} {{ item.kname }} <a href="{{nodurminurl}}{{fdict.field}}={{item.kname}}" >({{ item.kvalue }})</a> {% endif %}
            {% else %}
                {% if fdict.field == 'jobstatus' %} <span class='{{item.kname}} item'> {% else %} <span class="item"> {% endif %}  {{ item.kname }} </span>
                {% if fdict.field == 'eventservicestatus' %} ({{ item.kvalue }}) {% else %}
                    <a {% if item.kname == 'closed:toreassign' %} href="{{xurl}}{{fdict.field}}=closed&jobsubstatus=toreassign"{% else %}
                                                                  href="{{xurl}}{{fdict.field}}={{item.kname}}" {% endif %}>({{ item.kvalue }})</a>
                {% endif %}
            {% endif %}
            </span>
        {% endfor %}
        </div>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endif %}

{% if errsByCount %}
<a name="summary"></a>
<div class="card bp-container">
  <div class="card-divider">
    <h6 class="float-left"><b>Overall error summary</b></h6>
    <ul class="tabs menu align-right" data-active-collapse="true" data-tabs id="collapsing-tabs">
      <li class="tabs-title is-active"><a href="#panel_groupbycode" aria-selected="true">Grouped by error code</a></li>
      <li class="tabs-title"><a href="#panel_groupbymessage">Grouped by error message</a></li>
     </ul>
  </div>
  <div class="tabs-content" data-tabs-content="collapsing-tabs">
    <div class="tabs-panel is-active" id="panel_groupbycode">
      <div class="card-section">
        <div class="callout success small" data-closable>
        <p>If you need to explore all error description messages, please use the 'Grouped by error message' link on the right above. </p>
        <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <table id="errorsummary_groupbycode" class="data-table left-aligned">
        <thead>
        <tr>
            <th>Category:code</th>
            <th>Nerrors</th>
            <th>Sample error description</th>
        </tr>
        </thead>
        <tbody>
        {% for errval in errsByCount %}
        <tr>
            <td> <a href="{{xurl}}jobstatus=failed&{{errval.codename}}={{errval.codeval}}&display_limit=100"> {{ errval.error }} </a> </td>
            <td> {{ errval.count }} </td>
            <td> {{ errval.diag|safe }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
    </div>

    <div class="tabs-panel" id="panel_groupbymessage">
      <div class="card-section">
        <table id="errorsummary_groupbymessage" class="data-table left-aligned">
        <thead>
          <tr>
            <th>Category:code</th>
            <th>Error message</th>
            <th class="num">Number of error message</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
        <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if errsBySite %}
<a name="sites"></a>
<div class="card bp-container">
<div class="card-divider">
    <p>Site error summary{% if requestParams.display_limit %}, limited to top-{{ requestParams.display_limit }}. To remove this limit, delete display_limit param from URL.{% endif %}</p>
</div>
<div class="card-section">
<table class="bp-table">
<tbody>
{% for site in errsBySite %}
    <tr>
        <th class="wrap-words"> <a href="{{xurlsubstNoSite}}computingsite={{ site.name }}"> {{ site.name }} </a> </th>
        <th> {{ site.toterrors }} </th>
        <th> Total errors in {{ site.toterrjobs }} jobs.
            <a href="{% url 'jobList' %}{{jobsurlNoSite}}computingsite={{ site.name }}&jobstatus=finished&hours={{ hours }}"><span class='finished'> Finished: {{ site.finished }} </span></a>
            <a href="{% url 'jobList' %}{{jobsurlNoSite}}computingsite={{ site.name }}&jobstatus=failed&hours={{ hours }}"><span class='failed'> Failed: {{ site.failed }} </span></a> % failed: {{ site.pctfail }}
            <a href="{% url 'jobList' %}{{jobsurlNoSite}}computingsite={{ site.name }}&jobstatus=holding&hours={{ hours }}"><span class='holding'> Holding: {{ site.holding }} </span></a>
            <a href="{% url 'jobList' %}{{jobsurlNoSite}}computingsite={{ site.name }}&jobstatus=cancelled&hours={{ hours }}"><span class='cancelled'> Cancelled: {{ site.cancelled }} </span></a>
        </th>
    </tr>
    {% for errval in site.errorlist %}
        <tr>
            <td></td>
            <td><a href="{{jobsurlNoSite}}?computingsite={{site.name}}&{{errval.codename}}={{errval.codeval}}&hours={{hours}}&display_limit=100&mode=nodrop">{{ errval.count }}</a></td>
            <td class="wrap-words"> <b>{{ errval.error }}</b> {{ errval.diag }}</td>
        </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endif %}

{% if errsByUser %}
<a name="users"></a>
<div class="card bp-container">
<div class="card-divider">
    <p>User error summary{% if requestParams.display_limit %}, limited to top-{{ requestParams.display_limit }}. To remove this limit, delete display_limit param from URL.{% endif %}</p>
</div>
<div class="card-section">
<table class="bp-table">
<tbody>
{% for user in errsByUser %}
    <tr>
        <th class="wrap-words"><a href="{{xurl}}produsername={{ user.name }}"> {{ user.name }} </a></th>
        <th> {{ user.toterrors }} </th>
        <th> Total errors </th>
    </tr>
    {% for errval in user.errorlist %}
        <tr>
            <td></td>
            <td><a href="{{jobsurl}}produsername={{user.name}}&{{errval.codename}}={{errval.codeval}}&hours={{hours}}&display_limit=100&mode=nodrop">{{ errval.count }}</a></td>
            <td class="wrap-words"> <b>{{ errval.error }}</b> {{ errval.diag }}</td>
        </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endif %}

{% if errsByTask %}
<a name="tasks"></a>
<div class="card bp-container">
<div class="card-divider">
    <p>Task error summary{% if requestParams.display_limit %}, limited to top-{{ requestParams.display_limit }}. To remove this limit, delete display_limit param from URL.{% endif %}</p>
</div>
<div class="card-section">
<table class="bp-table">
<tbody>
{% for task in errsByTask %}
    <tr>
        <th class="wrap-words"><a href="{{xurlsubst}}{{task.tasktype}}={{ task.name }}">{{ task.tasktype }} {{ task.name }} </a>
            {% if task.longname != '' %} <a href="{{xurlsubst}}{{task.tasktype}}={{ task.name }}">{{ task.longname }}</a>{% endif %}</th>
        <th> {{ task.toterrors }} </th>
        <th> Total errors in {{ task.toterrjobs }} jobs.
            <a href="{% url 'jobList' %}?taskid={{ task.name }}&jobstatus=finished&hours={{ hours }}"><span class='finished'> Finished: {{ task.finished }} </span></a>
            <a href="{% url 'jobList' %}?taskid={{ task.name }}&jobstatus=failed&hours={{ hours }}"><span class='failed'> Failed: {{ task.failed }} </span></a> % failed: {{ task.pctfail }}
            <a href="{% url 'jobList' %}?taskid={{ task.name }}&jobstatus=holding&hours={{ hours }}"><span class='holding'> Holding: {{ task.holding }} </span></a>
            <a href="{% url 'jobList' %}?taskid={{ task.name }}&jobstatus=cancelled&hours={{ hours }}"><span class='cancelled'> Cancelled: {{ task.cancelled }} </span></a>
        </th>
    </tr>
    {% for errval in task.errorlist %}
        <tr>
            <td></td>
            <td><a href="{{jobsurl}}{{task.tasktype}}={{task.name}}&{{errval.codename}}={{errval.codeval}}&hours={{hours}}&display_limit=100&mode=nodrop">{{ errval.count }}</a></td>
            <td class="wrap-words"> <b>{{ errval.error }}</b> {{ errval.diag }}</td>
        </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endif %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static "node_modules/jquery.shorten/src/jquery.shorten.min.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/clipboard/dist/clipboard.min.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript"
           src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['sankey','corechart']}]}">
</script>
<script type="text/javascript">
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Time', 'Count'],
      {% for time, count in errHist %}
               ['{{ time|date:"m-d H:i" }}', {{ count }}],
      {% endfor %}
    ]);
    var options = {
      title: 'Error count timeline',
      legend: { position: 'none' },
      hAxis: {title: 'Time (empty bins suppressed)', titleTextStyle: {color: 'black'},  textStyle: { fontSize:11},},
    };
    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
<script>
var err_list_data = {{ errsByMessage|safe }};
var errorMessagesListDataTable;
var errorCountListTableData;

$(document).ready(function () {

    $(".comment").shorten({
        showChars: 2000,
    });

    DisplayErrorCountListTableData();
    DisplayErrorMessagesListTableData();

    let clipboard = new ClipboardJS('#copy-button'); //needed for copy to clipboard button
    clipboard.on('success', function (e) {
        let copy_button = document.getElementById('copy-button');
        copy_button.innerHTML = 'copied!';
        copy_button.classList.add('disabled');
        e.clearSelection();
    });
    clipboard.on('error', function (e) {
        let copy_button = document.getElementById('copy-button');
        copy_button.innerHTML = 'copying failed!';
        copy_button.classList.add('disabled');
    });
});

function DisplayErrorCountListTableData() {
    errorCountListTableData = $('#errorsummary_groupbycode').dataTable({
        "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
        "paging": true,
        "aaSorting": [[1, 'desc']],
    })
}

function DisplayErrorMessagesListTableData() {
    errorMessagesListDataTable = $('#errorsummary_groupbymessage').dataTable({
        "sPaginationType": "full_numbers",
        "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
        "paging": true,
        "aaSorting": [[2, 'desc'],],
        "data": err_list_data,
        "columns": [
            {
                "data": "errcode",
                sDefaultContent: "",
                "render": function (data, type, row, meta) {
                    return '<a href="{{ xurl }}' + row['errcodename'] + '=' + row['errcodeval'] + '">' + data + '</a>'
                }
            },
            {
                "data": "errmessage",
                sDefaultContent: "",
            },
            {
                "data": "errmessagecount",
                sDefaultContent: "",
                className: "num",
                render: function (data, type, row) {
                    let encdesc = encodeURIComponent(row['errmessage']);
                    return '<a href="{{ jobsurl }}' + row['errcodename'] + '=' + row['errcodeval'] + '&errormessage=' + encdesc +'" target="_blank">' + data + '</a>'
                }
            },
        ],
        initComplete: function () {
            this.api().columns([0]).every(function (i) {
                var column = this;
                var select = $('<select><option value="">All</option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search(val ? '^' + val + '$' : '', true, false)
                            .draw();
                    });
                if (i === 0) {
                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                }
                else {
                    column.data().unique().sort((a,b) => b - a).each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                }
            });
        }
    });
}
</script>
{% endblock %}


{% block helptext %}
{% include "errorSummaryHelp.html" with helptitle="Error summary help" %}
{% endblock %}


