{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Errors scattering{% endblock %}
{% block subtitle %}Errors scattering <font size=-1>{{ viewParams.selection|safe }}</font> {% endblock %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/wizardstyles.css'%}" />
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/hideCells.js' %}"></script>
{% endblock %}

{% block body %}


<div class="float-right">
    <a id="hidebutton" onclick="toggleLowStatsCells('lowstats', 'errorsscat', 'hidebutton')" class="bluebutton">Hide low statistics cells</a>
</div>

<div class="row align-center" style="width: 100%; max-width: 68rem">
  <div class="column small-12 small-centered">
    <table id="errorsscat" class="unstriped">
      <thead>
        <tr>
            <th>Request ID</th>
                {% for c in clouds %}
                     <th {% for columnname, stats in columnstats.items %}{% if columnname == c %}
                         {% if stats.allc > 10 %}
                            {% if stats.percent < 50 %}class="sm_alarm_fill"
                            {% else %}
                                {% if stats.percent < 80 %}class="sm_warning_fill"
                                {% else %}class="sm_ok_fill"{% endif %}
                            {% endif %}
                          {% elif stats.allc > 0 and stats.allc <= 10 %}
                            {% if stats.percent < 50 %}class="sm_alarm_light_fill"
                            {% else %}
                                {% if stats.percent < 80 %}class="sm_warning_light_fill"
                                {% else %}class="sm_ok_light_fill"{% endif %}
                            {% endif %}
                          {% endif %}
                         {% endif %}{% endfor %}>
                         {{ c }} <br>
                         <a class="graylink" href="{% url 'errorsScatteringDetailed' c 'ALL' %}"><i class="fi-plus"></i></a>
                     </th>
                {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for values in reqerrors %}
            <tr {% if values.totalstats.allc <= 100 %} class="low-stat" {% endif %} >
              <th {% if values.totalstats.allc > 10 %}
                    {% if values.totalstats.percent < 50 %}class="sm_alarm_fill"
                    {% else %}
                        {% if values.totalstats.percent < 80 %}class="sm_warning_fill"
                        {% else %}class="sm_ok_fill"{% endif %}
                    {% endif %}
                  {% elif values.totalstats.allc > 0 and stats.allc <= 10 %}
                    {% if values.totalstats.percent < 50 %}class="sm_alarm_light_fill"
                    {% else %}
                        {% if values.totalstats.percent < 80 %}class="sm_warning_light_fill"
                        {% else %}class="sm_ok_light_fill"{% endif %}
                    {% endif %}
                  {% endif %}>
                  <a class="graylink" href="{% url 'errorsScatteringDetailed' 'ALL' values.reqid %}"><i class="fi-plus"></i></a> <a class="blacklink bold" href="{% url 'taskList' %}?reqid={{ values.reqid }}">{{ values.reqid }}</a></th>
                {% for c in clouds %}
                  {% for cn, stats in values.items %}
                    {% if c == cn %}
                        <td {% if stats.allc > 10 %}
                                {% if stats.percent < 50 %}class="sm_alarm_fill"
                                {% else %}
                                    {% if stats.percent < 80 %}class="sm_warning_fill"
                                    {% else %}class="sm_ok_fill"{% endif %}
                                {% endif %}
                            {% elif stats.allc > 0 and stats.allc <= 10 %}
                                {% if stats.percent < 50 %}class="sm_alarm_light_fill"
                                {% else %}
                                    {% if stats.percent < 80 %}class="sm_warning_light_fill"
                                    {% else %}class="sm_ok_light_fill"{% endif %}
                                {% endif %}
                            {% endif %}>
                        {% if stats.allc != 0 %}
                          <a href="{% url 'jobList' %}?jobtype=production&jobstatus=finished|failed&reqid={{ rid }}&region={{ c }}&days=5" {% if stats.allc < 100 %} class="blacklink lowstats" {% else %} class="blacklink" {% endif %}>
                            {{ stats.percent }}%<br>
                            {{ stats.finishedc }}<br>
                            {{ stats.failedc }}
                          </a>
                        {% endif %}
                        </td>
                    {% endif %}

                  {% endfor %}
                {% endfor %}
            </tr>
         {% endfor %}
      </tbody>


    </table>
  </div>
</div>

{% endblock %}
