{% extends "_base_core.html" %}
{% load static %}
{% block page_title %} {{ viewParams.MON_VO }}{% endblock %}
{% block subtitle %}<font size=-1>{{ viewParams.selection|safe }}
</font>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
    <style>
        #errorsList_wrapper .row {
            max-width: 99%;
            margin-top: 1rem;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
{% endblock %}


{% block body %}

<b>Error type:</b> {{ codename }}<br/>
<b>Error code:</b> {{ codeval }}<br/>

{% if 'warning' in message %}
    <div class="callout warning" data-closable>
      <h5>Warning! </h5>
      <p>{{ message.warning }}</p>
        <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true"><i class="fi-x"></i></span>
        </button>
    </div>
{% endif %}

<table id="errorsList" class="data-table left-aligned">
    <thead>
      <tr>
        <th>Number</th>
        <th>Error message</th>
        <th>Job samples, limited to 5</th>
      </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">

var jediDataTable;
$(document).ready(function () {
        DisplayjediDataTableTableData();
        $( ".has-dropdown" ).addClass("has-dropdown not-click");
    });
function DisplayjediDataTableTableData() {
    jediDataTable = $('#errorsList').dataTable({
        "sPaginationType": "full_numbers",
        "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
        paging: true,
        "aaSorting": [[0, 'desc']],
        "ajax": {
             "processing": true,
             "url": "{% url 'summaryErrorsListJSON' %}?codename={{codename}}&codeval={{codeval}}&tk={{tk}}",

             "dataSrc" : ''},
        "aoColumns": [
            {
                "data": "count",
                sDefaultContent: ""
            },
            {
                "data": "desc",
                sDefaultContent: "",
            },
            {
                "data": "pandaids",
                sDefaultContent: "",
                "render": function(data) {
                    let rendered_pandaids = '';
                    for (let i=0; i<data.length; i++) {
                        rendered_pandaids += '<a href="/job/'+ data[i] +'" target="_blank">' + data[i] + '</a>'
                        if (i < data.length-1) {rendered_pandaids += ', '}
                    }
                     return rendered_pandaids
                }
            },
        ]
    });
}
 </script>

{% endblock %}

