{% block body %}

<table style="margin:30px" ><tr><td>

<p>
<b> Oops! Something went wrong. </b>
</p>

<p>
Unfortunately you are not authorized currently to use the PanDA Monitor. To get this authorization please register with ATLAS through VOMS and load personal certificate to your browser.<br>
If you think you've got this message by error please create a proper ticket <a href="https://its.cern.ch/jira/browse/ATLASPANDA/">here</a>.
</p>
<p>
    Thanks for understanding,<br>
    your PanDA Monitoring team.
</p>

</td></tr></table>

{{hi}}
{{users}}
{{step}}



{% endblock %}


