{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Errors scattering{% endblock %}
{% block subtitle %}Errors scattering <font size=-1>{{ viewParams.selection|safe }}</font> {% endblock %}
{% block body %}

		<link rel="stylesheet" type="text/css" href="{% static '/css/wizardstyles.css'%}" />


<div class="row align-center" style="width: 100%; max-width: 68rem">
  <div class="column small-12 small-centered">
    <table id="errorsscat" class="unstriped">
        <tr>
            <th>Request ID</th>
                {% for c in clouds %}
                     <th>
                         {{ c }} <br>
                         <a class="graylink" href="{% url 'errorsScatteringDetailed' c 'ALL' %}"><i class="fi-plus"></i></a>
                     </th>
                {% endfor %}
        </tr>

        {% for rid, values in reqerrors.items %}
            <tr>
              <th><a class="graylink" href="{% url 'errorsScatteringDetailed' 'ALL' rid %}"><i class="fi-plus"></i></a> <a class="blacklink bold" href="{% url 'taskList' %}?reqid={{ rid }}">{{ rid }}</a></th>
                {% for c in clouds %}
                    {% if c in values %}
                        <td {% for p in values|get_item:c %}{% if forloop.first %}id="{{ p }}"{% if p >= 0 %}{% if p <= 10 %}class="failed_fill"{% else %}{% if p <= 50 %}class="discarded_fill"{% else %}class="finished_fill"{% endif %}{% endif %}{% endif %}{% endif %}{% endfor %}>
                        {% for p in values|get_item:c %}
                            {% if forloop.first %}
                                {% if p >= 0 %}
                                    <a href="{% url 'jobList' %}?jobtype=production&jobstatus=finished|failed&reqid={{ rid }}&region={{ c }}&days=5" class="blacklink">
                                        {% for p in values|get_item:c %}
                                            {{ p }}{% if forloop.first %}%{% endif %}{% if not forloop.last %}<br>{% endif %}
                                        {% endfor %}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </td>
                    {% else %}
                        <td> </td>
                    {% endif %}
                {% endfor %}
            </tr>
         {% endfor %}



    </table>
  </div>
</div>

{% endblock %}
