{% extends "_base_core.html" %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA logger{% endblock %}
{% block title %} <a class="menu-link" href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA logger{{ viewParams.selection|safe }}
{% if user %} &nbsp; user={{ user }} {% endif %}
{% if site %} &nbsp; site={{ site }} {% endif %}
{% if vo %} &nbsp; VO={{ vo }} {% endif %}
{% endblock %}

{% block body %}

{{ res }}
{{ viewParams.header }}

    <p>
{% if requestParams.category %} <br><b>Log category: {{ requestParams.category }}</b> {% endif %}
{% if requestParams.type %} <br><b>Log type: {{ requestParams.type }}</b> {% endif %}
{% if requestParams.level %} <br><b>Log level: <span class="{{ requestParams.level }}">{{ requestParams.level }}</span></b> {% endif %}
{% if requestParams.taskid %} <br><b>Task ID: <a href="{% url 'taskInfo' requestParams.taskid %}">{{ requestParams.taskid }}</a></b> {% endif %}
{% if requestParams.jeditaskid %} <br><b>Task ID: <a href="{% url 'taskInfo' requestParams.jeditaskid %}">{{ requestParams.jeditaskid }}</a></b> {% endif %}
{% if requestParams.site %} <br><b>Site: <a href="{% url 'siteInfo' requestParams.site %}">{{ requestParams.site }}</a></b> {% endif %}
{% if requestParams.cloud %}<br><b>Cloud: {{ requestParams.cloud }}</b> {% endif %}
</p>

{% if jedi or panda %}
<p>

<table valign="top"  style="display: inline-block; width: 250px; border: 0px">
  <tr class='tablesection' ><th colspan=20>Job Broker Logs Linked to Task</th></tr>
  <tr>
    <td> Jedi TaskID: <input type="text" id="jediTaskID0" value=""> <input type="button" value="Search"  onclick="searchJedi()"></td>
  </tr>
</table>

<table valign="top"  style="display: inline-block; width: 250px;margin-left: 20px; border: 0px">
  <tr class='tablesection'><th colspan=20>Task brokerage</th></tr>
  <tr>
    <td> Jedi TaskID: <input type="text" id="jediTaskID1" value=""> <input type="button" value="Search"  onclick="searchTaskBr()"></td>
  </tr>
</table>
<table id="jediTask" >
   <caption  style="height: 30px;vertical-align: middle">JediTaskID in JEDI ({{ time }})</caption>
     <thead>
                <th>jediTaskID</th>
                <th>Type</th>
                <th>LevelName</th>
                <th>Count</th>
     </thead>
     <tbody></tbody>
    </table>
<br/>
<script>
function searchJedi() {
    input = document.getElementById("jediTaskID0").value;
    if (input){
        taskid = input.replace(/\s/g, '');
        url = "https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!('timeEvent',logName,type,logLevel,message),index:'atlas_jedilogs-*',interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'type:%22atlasprodtaskbroker%22%20AND%20jediTaskID:"+taskid+"')),sort:!('timeEvent',asc))"
        window.location.href=url;
    }
}

function searchTaskBr() {
    input = document.getElementById("jediTaskID1").value;
    if (input){
        taskid = input.replace(/\s/g, '');
        url = "https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!('timeEvent',logName,type,logLevel,message),index:'atlas_jedilogs-*',interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'type:%22atlasprodtaskbroker%22%20AND%20jediTaskID:"+taskid+"%20AND%20logLevel:%22INFO%22')),sort:!('timeEvent',asc))"
        window.location.href=url;
    }
}
</script>




  <link rel="stylesheet" type="text/css" href="/static/js/datatables/datatables.min.css"/>
  <script type="text/javascript" src="/static/js/datatables/datatables.min.js"></script>
  <script type="text/javascript" src="/static/js/datatables/dataTables.rowsGroup.js"></script>
<table  style="display: inline-block; width: 550px; border: 0px; vertical-align: top;">
<tr class='tablesection'><th colspan=20>JEDI</th></tr>
<tr class='tablesection'>
    <th> Type </th>
    <th> Level(count) </th>
</tr>
{% for name,types in jedi.items %}

{% for type,levels in types.items %}

<tr bgcolor="#FCFCFC">

<td> <a href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(columns:!('timeEvent',logName,type,logLevel,message),index:'atlas_jedilogs-*',interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'logName:%22{{ name }}%22%20AND%20type:%22{{type}}%22')),sort:!('timeEvent',asc))" target="_blank"> {% if type == "stdout" %}{{ type }} ({{name}}) {% else %}{{ type }}{% endif %}</a> </td><td>

{% for key,level in levels.items %}
<a href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(columns:!('timeEvent',logName,type,logLevel,message),index:'atlas_jedilogs-*',interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'logName:%22{{ name }}%22%20AND%20type:%22{{type}}%22%20AND%20logLevel:%22{{level.logLevel}}%22')),sort:!('timeEvent',asc))" target="_blank">
<span class="{% if  level.logLevel|lower == "error" %}errspan {% else %}{{ level.logLevel|lower }}{% endif %}">{{ level.logLevel }}</span>({{ level.lcount }})
</a> &nbsp;
{% endfor %}
</td></tr>
{% endfor %}
<tr height=20></tr>
{% endfor %}
</table>

<table  style="display: inline-block; width: 550px;margin-left: 20px; border: 0px;vertical-align: top">
<tr class='tablesection'><th colspan=20>PANDA Server</th></tr>
<tr class='tablesection'>
    <th> Type </th>
    <th> Level(count) </th>
</tr>
{% for name,types in panda.items %}

{% for type,levels in types.items %}
<tr bgcolor="#FCFCFC">

<td> <a href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-5d,mode:quick,to:now))&_a=(columns:!('timeEvent',logName,type,logLevel,message),index:'atlas_pandalogs-*',interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'logName:%22{{ name }}%22%20AND%20type:%22{{type}}%22')),sort:!('timeEvent',asc))" target="_blank">{{ type }}</a> </td><td>

{% for key,level in levels.items %}
<a href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-5d,mode:quick,to:now))&_a=(columns:!('timeEvent',logName,type,logLevel,message),index:'atlas_pandalogs-*',interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'logName:%22{{ name }}%22%20AND%20type:%22{{type}}%22%20AND%20logLevel:%22{{level.logLevel}}%22')),sort:!('timeEvent',asc))" target="_blank">
<span class="{% if  level.logLevel|lower == "error" %}errspan {% else %}{{ level.logLevel|lower }}{% endif %}">{{ level.logLevel }}</span>({{ level.lcount }})
</a> &nbsp;
{% endfor %}
</td></tr>
{% endfor %}
<tr height=20></tr>
{% endfor %}
</table>
</p>


<script type="text/javascript">



var jediDataTable;
$(document).ready(function () {
        DisplayjediDataTableTableData();
        $("#jediTask_wrapper").css("width","1050px");
        $( ".has-dropdown" ).addClass("has-dropdown not-click");
    });
function DisplayjediDataTableTableData() {
    jediDataTable = $('#jediTask').dataTable({
        //"bRetrieve": true,
        "sPaginationType": "full_numbers",
        paging: true,
        //"bProcessing": true,
        //"bAutoWidth": false,
        //"bStateSave": true,
        "aaSorting": [[0, 'asc']],
                     "ajax": {
                 "processing": true,
                 "url": "{% url 'dataTableJediTaskId' %}",
                   "dataSrc" : ''},
        rowsGroup: [0, 1],
        "aoColumns": [
            {
                "data": "jediTaskID",
                "render": function(data, type, full, meta) {
                    return  '<a href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:\'{{time}}T00:00.00Z\',mode:quick,to:now))&_a=(columns:!(\'timeEvent\',logName,type,logLevel,message),index:\'atlas_jedilogs-*\',interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:\'jediTaskID:'+data+'\')),sort:!(\'timeEvent\',asc))" target="_blank">' + full['jediTaskID'] + '</a>'
                    //return '<a href="ab.aspx?emp_id=' + data + '">"' + full['Type'] + '"</a>';
            },
                sDefaultContent: ""
            },
            {
                "data": "Type",
                sDefaultContent: "",
                "render": function(data, type, full, meta) {
                     return '<a href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:\'{{time}}T00:00.00Z\',mode:quick,to:now))&_a=(columns:!(\'timeEvent\',logName,type,logLevel,message),index:\'atlas_jedilogs-*\',interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:\'jediTaskID:' +  full['jediTaskID'] + '%20AND%20type:%22'+full['Type']+'%22\')),sort:!(\'timeEvent\',asc))" target="_blank">' + full['Type'] + '</a>'
                 }
            },
            {
                "data": "LevelName",
                sDefaultContent: "",
                "render": function(data, type, full, meta) {
                     return '<a href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:\'{{time}}T00:00.00Z\',mode:quick,to:now))&_a=(columns:!(\'timeEvent\',logName,type,logLevel,message),index:\'atlas_jedilogs-*\',interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:\'jediTaskID:' +  full['jediTaskID'] + '%20AND%20type:%22'+full['Type']+'%22%20AND%20logLevel:%22'+full['LevelName']+'%22\')),sort:!(\'timeEvent\',asc))" target="_blank">' + full['LevelName'] + '</a>'
                }
            },
            {
                "data": "Count",
                sDefaultContent: ""
            }
        ]
    });
}
 </script>
{% endif %}


{% endblock %}

{% block helptext %}
{% include "pandaLoggerHelp.html" with helptitle="PanDA logger help" %}
{% endblock %}
