{% extends "_base_core.html" %}
{% load url from future %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA logger{% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA logger{{ viewParams.selection|safe }}
{% if user %} &nbsp; user={{ user }} {% endif %}
{% if site %} &nbsp; site={{ site }} {% endif %}
{% if vo %} &nbsp; VO={{ vo }} {% endif %}
{% endblock %}
{% block body %}

{{ res }}
{{ viewParams.header }}

<p>
{% if requestParams.category %} <br><b>Log category: {{ requestParams.category }}</b> {% endif %}
{% if requestParams.type %} <br><b>Log type: {{ requestParams.type }}</b> {% endif %}
{% if requestParams.level %} <br><b>Log level: <span class="{{ requestParams.level }}">{{ requestParams.level }}</span></b> {% endif %}
{% if requestParams.taskid %} <br><b>Task ID: <a href="{% url 'taskInfo' requestParams.taskid %}">{{ requestParams.taskid }}</a></b> {% endif %}
{% if requestParams.jeditaskid %} <br><b>Task ID: <a href="{% url 'taskInfo' requestParams.jeditaskid %}">{{ requestParams.jeditaskid }}</a></b> {% endif %}
{% if requestParams.site %} <br><b>Site: <a href="{% url 'siteInfo' requestParams.site %}">{{ requestParams.site }}</a></b> {% endif %}
{% if requestParams.cloud %}<br><b>Cloud: {{ requestParams.cloud }}</b> {% endif %}
</p>

{% if log %}
<p>
<table>
<tr class='tablesection'><th colspan=20>logger entries</th></tr>
<tr class='tablesection'><th> Category </th> <th> Type </th> <th> Level(count) </th> </tr>
{% for name,types in log.items %}
{% for type,levels in types.items %}
<tr bgcolor="#FCFCFC">

<th> <a href="https://aianalytics01.cern.ch/?#/discover?_g=(refreshInterval:(display:Off,pause:!f,section:0,value:0),time:(from:now%2Fd,mode:quick,to:now%2Fd))&_a=(columns:!(_source),index:%5Bpandalogger-%5DYYYY-MM-DD,interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'@message.name:%22{{name}}%22')),sort:!('@timestamp',desc))" target="_blank">{{ name }}</a> </th>

<td> <a href="https://aianalytics01.cern.ch/?#/discover?_g=(refreshInterval:(display:Off,pause:!f,section:0,value:0),time:(from:now%2Fd,mode:quick,to:now%2Fd))&_a=(columns:!(_source),index:%5Bpandalogger-%5DYYYY-MM-DD,interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'@message.name:%22{{name}}%22AND%20@message.Type:%22{{type}}%22')),sort:!('@timestamp',desc))" target="_blank">{{ type }}</a> </td><td>

{% for key,level in levels.items %}
<a href="https://aianalytics01.cern.ch/?#/discover?_g=(refreshInterval:(display:Off,pause:!f,section:0,value:0),time:(from:now%2Fd,mode:quick,to:now%2Fd))&_a=(columns:!(_source),index:%5Bpandalogger-%5DYYYY-MM-DD,interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'@message.name:%22{{name}}%22AND%20@message.Type:%22{{type}}%22AND%20@message.levelname:%22{{level.levelname}}%22')),sort:!('@timestamp',desc))" target="_blank">
<span class="{{ level.levelname|lower }}">{{ level.levelname }}</span>({{ level.lcount }})
</a> &nbsp;
{% endfor %}
</td></tr>
{% endfor %}
<tr height=20></tr>
{% endfor %}
</table>
</p>
{% endif %}


{% endblock %}

{% block helptext %}
{% include "pandaLoggerHelp.html" with helptitle="PanDA logger help" %}
{% endblock %}

