{% extends "_base_core.html" %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA logger{% endblock %}
{% block title %} <a class="menu-link" href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA logger{{ viewParams.selection|safe }}
{% if user %}     user={{ user }} {% endif %}
{% if site %}     site={{ site }} {% endif %}
{% if vo %}     VO={{ vo }} {% endif %}
{% endblock %}
{% block body %}

{{ res }}
{{ viewParams.header }}

<p>
{% if requestParams.category %} <br><b>Log category: {{ requestParams.category }}</b> {% endif %}
{% if requestParams.type %} <br><b>Log type: {{ requestParams.type }}</b> {% endif %}
{% if requestParams.level %} <br><b>Log level: <span class="{{ requestParams.level }}">{{ requestParams.level }}</span></b> {% endif %}
{% if requestParams.taskid %} <br><b>Task ID: <a href="{% url 'taskInfo' requestParams.taskid %}">{{ requestParams.taskid }}</a></b> {% endif %}
{% if requestParams.jeditaskid %} <br><b>Task ID: <a href="{% url 'taskInfo' requestParams.jeditaskid %}">{{ requestParams.jeditaskid }}</a></b> {% endif %}
{% if requestParams.site %} <br><b>Site: <a href="{% url 'siteInfo' requestParams.site %}">{{ requestParams.site }}</a></b> {% endif %}
{% if requestParams.cloud %}<br><b>Cloud: {{ requestParams.cloud }}</b> {% endif %}
</p>

{% if log %}
<p>

<table>
  <tr class='tablesection'><th colspan=20>Job Broker Logs Linked to Task</th></tr>
  <tr>
    <td> Jedi TaskID: <input type="text" id="jediTaskID0" value=""> <input type="button" value="Search"  onclick="searchJedi()"></td>
  </tr>
</table>

<table>
  <tr class='tablesection'><th colspan=20>Task brokerage</th></tr>
  <tr>
    <td> Jedi TaskID: <input type="text" id="jediTaskID1" value=""> <input type="button" value="Search"  onclick="searchTaskBr()"></td>
  </tr>
</table>


<script nonce={{request.csp_nonce}}>
function searchJedi() {
    input = document.getElementById("jediTaskID0").value;
    if (input){
        taskid = input.replace(/\s/g, '');
        url = "https://aianalytics01.cern.ch/#/discover?_g=(refreshInterval:(display:Off,pause:!f,section:0,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!('@message.module','@message.Type','@message.name','@message.levelname','@message.message'),index:%5Bpandalogger-%5DYYYY-MM-DD,interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'@message.name:%20panda.mon.jedi%20AND%20@message.msg:%22jediTaskID%3D"+taskid+"%22')),sort:!('@timestamp',desc))";
        window.location.href=url;
    }
}

function searchTaskBr() {
    input = document.getElementById("jediTaskID1").value;
    if (input){
        taskid = input.replace(/\s/g, '');
        url = "https://aianalytics01.cern.ch/?#/discover?_g=%28refreshInterval:%28display:Off,pause:!f,section:0,value:0%29,time:%28from:now%2Fd,mode:quick,to:now%2Fd%29%29&_a=%28columns:!%28%27@message.module%27,%27@message.Type%27,%27@message.name%27,%27@message.levelname%27,%27@message.message%27%29,index:[pandalogger-]YYYY-MM-DD,interval:auto,query:%28query_string:%28analyze_wildcard:!t,lowercase_expanded_terms:!f,query:%27@message.name:%22panda.mon.bamboo%22AND%20@message.Type:%22taskbrokerage%22AND%20@message.levelname:%22INFO%22AND%20@message.msg:%22jediTaskID%3D"+taskid+"%22%27%29%29,sort:!%28%27@timestamp%27,desc%29%29";
        window.location.href=url;
    }
}
</script>



<table>
<tr class='tablesection'><th colspan=20>logger entries</th></tr>
<tr class='tablesection'><th> Category </th> <th> Type </th> <th> Level(count) </th> </tr>
{% for name,types in log.items %}
{% for type,levels in types.items %}

<tr bgcolor="#FCFCFC">
<th> <a href="https://aianalytics01.cern.ch/?#/discover?_g=(refreshInterval:(display:Off,pause:!f,section:0,value:0),time:(from:now%2Fd,mode:quick,to:now%2Fd))&_a=(columns:!('@message.module','@message.Type','@message.name','@message.levelname','@message.message'),index:%5B{% if "dev" in name %}pandaloggerdev{% else %}pandalogger{% endif %}-%5DYYYY-MM-DD,interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'@message.name:%22{{name}}%22')),sort:!('@timestamp',desc))" target="_blank">{{ name }}</a> </th>

<td> <a href="https://aianalytics01.cern.ch/?#/discover?_g=(refreshInterval:(display:Off,pause:!f,section:0,value:0),time:(from:now%2Fd,mode:quick,to:now%2Fd))&_a=(columns:!('@message.module','@message.Type','@message.name','@message.levelname','@message.message'),index:%5B{% if "dev" in name %}pandaloggerdev{% else %}pandalogger{% endif %}-%5DYYYY-MM-DD,interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'@message.name:%22{{name}}%22AND%20@message.Type:%22{{type}}%22')),sort:!('@timestamp',desc))" target="_blank">{{ type }}</a> </td><td>

{% for key,level in levels.items %}
<a href="https://aianalytics01.cern.ch/?#/discover?_g=(refreshInterval:(display:Off,pause:!f,section:0,value:0),time:(from:now%2Fd,mode:quick,to:now%2Fd))&_a=(columns:!('@message.module','@message.Type','@message.name','@message.levelname','@message.message'),index:%5B{% if "dev" in name %}pandaloggerdev{% else %}pandalogger{% endif %}-%5DYYYY-MM-DD,interval:auto,query:(query_string:(analyze_wildcard:!t,lowercase_expanded_terms:!f,query:'@message.name:%22{{name}}%22AND%20@message.Type:%22{{type}}%22AND%20@message.levelname:%22{{level.levelname}}%22')),sort:!('@timestamp',desc))" target="_blank">
<span class="{{ level.levelname|lower }}">{{ level.levelname }}</span>({{ level.lcount }})
</a>
{% endfor %}
</td></tr>
{% endfor %}
<tr height=20></tr>
{% endfor %}
</table>
</p>
{% endif %}


{% endblock %}

{% block help %}
{% include "pandaLoggerHelp.html" %}
{% endblock %}

