<p></p>
<table class="fresh-table unstriped">
  <tbody>
    <tr>
        <th> Error code </th>
        <th> N events </th>
        <th> N jobs</th>
        <th> N errors</th>
        <th> Error description</th>
        <th> Most affected jobs</th>
    </tr>
    {% for error in errors %}
    	<tr>
            <td class="alarm"> {{ error.error_code }}</td>
            <td class='failed_fill'>{{ error.nevents }}</td>
            <td class='failed_fill'>{{ error.njobs }}</td>
            <td class='failed_fill'>{{ error.nerrors }}</td>
            <td class="alarm">{{ error.error_description }}</td>
            <td>
            {% if error.pandaidlist|length > 0 %}
                {% for pandaidin in error.pandaidlist %}
                    <a href="{% url 'jobInfo' pandaidin %}">{{ pandaidin }}</a>
                    {% if forloop.last %} {% else %} , {% endif %}
                {% endfor %}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
