{% extends "_base_core.html" %}
{% load static %}
{% block page_title %} {{ viewParams.MON_VO }} PanDA files {% endblock %}
{% block title %} <a class="menu-link" href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA files<font size=-1>{{ viewParams.selection|safe }}</font>{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
    <style>
        #filelist_wrapper .row {
            max-width: 99%;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
{% endblock %}

{% block body %}

{% if nfilestotal > 0 %}

{% if requestParams.datasetname %}<br>Files in dataset <b>{{ requestParams.datasetname }}</b> {% endif %}
{% if requestParams.datasetid %}<br>Files in dataset ID = <b>{{ requestParams.datasetid }}</b> {% endif %}

{#<b>{{ files|length }} listed files {% if limitexceeded %} but some files are excluded due to DB retrieval limit. To see more files please add &limit=<i>some number</i> to request{% endif %} </b>#}
{#{% if nfiles != files|length %} <br> <b>{{ nfiles }} unique files</b> {% endif %}#}

<br>Total number of inputs in dataset: <b> {{ nfilestotal }} </b>
{% if nfilestotal != nfilesunique %} whereas number of unique files is <b>{{ nfilesunique }}</b> {% endif %}
<p>
{% if nfilestotal > 1000 %}
    <div id="nlistedfiles" style="display: inline; font-weight: bold"> 1000 </div> event chunks listed below. If you want to see more, please input the desire number and press Reload button.
    <div class="row" style="max-width: 100%; font-size: 0.85rem; margin-top: 0.5rem">
      <div class="small-12 medium-3 columns" style="padding-left: 0">
        <div class="input-group">
          <span class="input-group-label">Number of files</span>
          <input class="input-group-field" id="nfilestoload" type="number" placeholder="1000">
          <div class="input-group-button">
            <input type="submit" class="button secondary" value="Reload" id="reloadfilelist" style="font-size: 0.85rem">
        </div>
      </div>
    </div>
</div>

{% else %}
    <b>{{ nfilestotal }}</b> files listed below
{% endif %}


<table id = 'filelist' class="data-table nowrap">
    <thead>
    <tr>
        <th>File name</th>
        <th>File ID</th>
        <th>Type</th>
        <th>Size (MB)</th>
        <th>N events</th>
        <th>Task ID</th>
        <th>PanDA ID</th>
        <th>Status</th>
        <th>Attempt</th>
        <th>Max attempts</th>
        <th>Created</th>
        <th>Lumi block</th>
        <th>Rucio link</th>
        <th>Scope</th>
        <th>GUID</th>
    </tr>
    </thead>
<tbody>
</tbody>
</table>


{% else %}

No files matching selection were found.

{% endif %}

<script>
$(document).ready(function () {
    fileListTable();
});

$("#reloadfilelist").click(function () {
    $('#nlistedfiles').html("<img src='{% static "images/load.gif" %}'>  ");
    var nfilestoload = $('#nfilestoload').val();
    var nfilestotal = {{ nfilestotal }};
    if (nfilestoload > nfilestotal) {
        nfilestoload = nfilestotal;
    }
    var url =  "{% url 'loadFileList' datasetid %}?json&limit=" + nfilestoload;
    $('#filelist').DataTable().ajax.url(url).load(function(){ $('#nlistedfiles').html(nfilestoload);});

});


function fileListTable() {
      filelisttable = $('#filelist').dataTable({
        //"bRetrieve": true,
        {#"iDisplayLength": -1,#}
        "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
        "paging": true,
        "scrollX": true,
        "aaSorting": [[0,'asc']],

        "ajax": {
            "processing": true,
            "url": "{% url 'loadFileList' datasetid %}?json",
            "dataSrc" : ''},
        "columnDefs": [
            {"type": "num-html", "targets": [1,3,4,5,6,9,10,12] }
        ],
        "aoColumns": [
            {
                "data": "lfn",
                sDefaultContent: "---",
                "render": function(data, type, full) {
                    return '<a href = "{% url 'fileInfo' %}?lfn=' + full['lfn'] + '&datasetid=' + full['datasetid'] + '&date_from=' + full['creationdatecut'] + '">'+full['lfn']+'</a>'
                 }
            },
            {
                "data": "fileid",
                sDefaultContent: "---",
                "render": function ( data, type, full ) {
                    return '<a href = "{% url 'fileInfo' %}?fileid=' + full['fileid'] + '">'+full['fileid']+'</a>'
                 }
            },
            {
                "data": "type",
                sDefaultContent: "",
            },
            {
                "data": "fsizemb",
                sDefaultContent: "",
            },
            {
                "data": "nevents",
                sDefaultContent: "---",
                className: 'dt-body-right',
                render: $.fn.dataTable.render.number( ',', '.')

            },
            {
                "data": "jeditaskid",
                sDefaultContent: "",
                "render": function(data, type, full) {
                    return '<a href = "{% url 'taskInfo' %}' + full['jeditaskid'] + '/">' + full['jeditaskid'] + '</a>'
                }
            },
            {
                "data": "pandaid",
                sDefaultContent: "---",
                "render": function(data, type, full) {
                    if (data) {
                        return '<a href = "{% url 'jobInfo' %}/' + full['pandaid'] + '/">' + full['pandaid'] + '</a>'
                    }
                    else {
                        return '---'
                    }
                }
            },
            {
                "data": "status",
                sDefaultContent: "",
            },
            {
                "data": "attemptnr",
                sDefaultContent: "",
            },
            {
                "data": "maxattempt",
                sDefaultContent: "",
            },
            {
                "data": "creationdate",
                sDefaultContent: "---",
            },
            {
                "data": "lumiblocknr",
                sDefaultContent: "---",
            },
            {
                "data": "ruciolink",
                sDefaultContent: "---",
                "render": function ( data, type, full ) {
                    if (data) {
                        return '<a href = "' + full['ruciolink'] + '" target="_blank"><i class="fi-link"></i></a>'
                    }
                    else {
                        return '---'
                    }
                }
            },
            {
                "data": "scope",
                sDefaultContent: "",
            },
            {
                "data": "guid",
                sDefaultContent: "",
            },

        ],
        "createdRow": function ( row, data, index ) {
            $('td', row).eq(7,8).addClass(data['status'] + '_fill');
        }
      });
    }

</script>

{% endblock %}


{% block helptext %}
{% include "fileListHelp.html" with helptitle="File list help" %}
{% include "fileInfoHelp.html" with helptitle="File details" %}
{% endblock %}

