{% extends "_base_core.html" %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA files {% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA files<font size=-1>{{ viewParams.selection|safe }}</font>{% endblock %}

{% block body %}

{% if files %}

{% if requestParams.datasetname %}<br>Files in dataset <b>{{ requestParams.datasetname }}</b> {% endif %}
{% if requestParams.datasetid %}<br>Files in dataset ID = <b>{{ requestParams.datasetid }}</b> {% endif %}
<p>
<b>{{ files|length }} listed files {% if limitexceeded %} but some files are excluded due to DB retrieval limit. To see more files please add &limit=<i>some number</i> to request{% endif %} </b>
{% if nfiles != files|length %} <br> <b>{{ nfiles }} unique files</b> {% endif %}

<p>

<table>
<tr class='tablesection'>
    {% if sortby == 'lfn-desc' %}
        <th>File name<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=lfn-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'lfn-asc' %}
        <th>File name<br><a href="{{nosorturl}}sortby=lfn-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}
        <th>File name<br><a href="{{nosorturl}}sortby=lfn-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=lfn-asc" class="headerSortUp"></a></th>
    {% endif %}
    {% if sortby == 'scope-desc' %}
        <th>Scope<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=scope-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'scope-asc' %}
        <th>Scope<br><a href="{{nosorturl}}sortby=scope-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}
        <th>Scope<br><a href="{{nosorturl}}sortby=scope-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=scope-asc" class="headerSortUp"></a></th>
    {% endif %}
    {% if sortby == 'type-desc' %}
        <th>Type<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=type-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'type-asc' %}
        <th>Type<br><a href="{{nosorturl}}sortby=type-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}
        <th>Type<br><a href="{{nosorturl}}sortby=type-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=type-asc" class="headerSortUp"></a></th>
    {% endif %}
    {% if sortby == 'fsizemb-desc' %}
        <th>Size (MB)<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=fsizemb-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'fsizemb-asc' %}
        <th>Size (MB)<br><a href="{{nosorturl}}sortby=fsizemb-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}
        <th>Size (MB)<br><a href="{{nosorturl}}sortby=fsizemb-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=fsizemb-asc" class="headerSortUp"></a></th>
    {% endif %}
    {% if sortby == 'nevents-desc' %}
        <th>N events<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=nevents-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'nevents-asc' %}
        <th>N events<br><a href="{{nosorturl}}sortby=nevents-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}
        <th>N events<br><a href="{{nosorturl}}sortby=nevents-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=nevents-asc" class="headerSortUp"></a></th>
    {% endif %}
    {% if sortby == 'jeditaskid-desc' %}
        <th>Task<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=jeditaskid-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'jeditaskid-asc' %}
        <th>Task<br><a href="{{nosorturl}}sortby=jeditaskid-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}
        <th>Task<br><a href="{{nosorturl}}sortby=jeditaskid-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=jeditaskid-asc" class="headerSortUp"></a></th>
    {% endif %}
    {% if sortby == 'pandaid-desc' %}
        <th>PanDA Job<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=pandaid-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'pandaid-asc' %}
        <th>PanDA Job<br><a href="{{nosorturl}}sortby=pandaid-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}
        <th>PanDA Job<br><a href="{{nosorturl}}sortby=pandaid-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=pandaid-asc" class="headerSortUp"></a></th>
    {% endif %}
    {% if sortby == 'attemptnr-desc' %}
        <th>Attempt<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=attemptnr-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'attemptnr-asc' %}
        <th>Attempt<br><a href="{{nosorturl}}sortby=attemptnr-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}
        <th>Attempt<br><a href="{{nosorturl}}sortby=attemptnr-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=attemptnr-asc" class="headerSortUp"></a></th>
    {% endif %}
    {% if sortby == 'status-desc' %}
        <th>Status<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=status-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'status-asc' %}
        <th>Status<br><a href="{{nosorturl}}sortby=status-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}
        <th>Status<br><a href="{{nosorturl}}sortby=status-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=status-asc" class="headerSortUp"></a></th>
    {% endif %}
    {% if sortby == 'creationdate-desc' %}
        <th>Created<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=creationdate-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'creationdate-asc' %}
        <th>Created<br><a href="{{nosorturl}}sortby=creationdate-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}
        <th>Created<br><a href="{{nosorturl}}sortby=creationdate-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=creationdate-asc" class="headerSortUp"></a></th>
    {% endif %}
	<th>GUID</th>
    {% if sortby == 'fileid-desc' %}
        <th>File ID<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=fileid-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'fileid-asc' %}
        <th>File ID<br><a href="{{nosorturl}}sortby=fileid-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}
        <th>File ID<br><a href="{{nosorturl}}sortby=fileid-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=fileid-asc" class="headerSortUp"></a></th>
    {% endif %}
        <th>Rucio link</th>
</tr>
{% for frec in files %}
	<tr><font size=-1>
		<td><a href="{% url 'fileInfo' %}?lfn={{ frec.lfn }}">{{ frec.lfn }}</a></td>
		<td><font size=-1>{{ frec.scope }}</font></td>
		<td>{{ frec.type }}</td>
		<td>{{ frec.fsizemb }}</td>
        <td>{{ frec.nevents }}</td>
		<td><a href="{% url 'taskInfo' %}?jeditaskid={{ frec.jeditaskid }}">{{ frec.jeditaskid }}</a></td>
		<td>{% if frec.pandaid %}<a href="{% url 'jobInfo' %}?pandaid={{ frec.pandaid }}">{{ frec.pandaid }}</a> {% endif %}</td>
		<td>{{ frec.attemptnr }}</td>
		<td class='{{frec.status}}'>{{ frec.status }}</td>
		<td><font size=-1>{{ frec.creationdate|date:"Y-m-d H:i" }}</font></td>
		<td><font size=-1>{{ frec.guid }}</font></td>
		<td><font size=-1>{{ frec.fileid }}</font></td>
        <td>
            {% if frec.rucio %}
            <a href="{{ frec.rucio }}">Rucio link</a>
            {% endif %}
        </td>
	</font></tr>
{% endfor %}
</table>

{% else %}

No files matching selection were found.

{% endif %}

{% endblock %}

{% block helptext %}
{% include "fileListHelp.html" with helptitle="File list help" %}
{% include "fileInfoHelp.html" with helptitle="File details" %}
{% endblock %}

