{% extends "_base_core.html" %}

{% load url from future %}
{% load staticfiles %}
{% load humanize %}

{% block page_title %} {{ viewParams.MON_VO }} Global Shares{% endblock %}
{% block subtitle %}Global Shares{% endblock %}

{% block body %}

<div class="d3splot" id="pieChartGS"></div>

<table>
    <tr class='tablesection'>
        <th>Share</th>
        <th>Actual HS06</th>
        <th>Target HS06</th>
        <th>Delta</th>
        <th>Queued</th>
    </tr>
    {% for key, values in globalshares.items %}
            <tr>
                <td>{{key}}</td>
                <td style="text-align:right">{% if values.executing %}{{ values.executing|floatformat:2|intcomma }} {% else %} 0.00 {% endif %}</td>
                <td style="text-align:right">{% if values.pledged %}{{ values.pledged|floatformat:2|intcomma }} {% else %} 0.00 {% endif %}</td>
                <td style="text-align:right">{% if values.delta %} {{ values.delta |floatformat:2|intcomma }} {% else %} 0.00 {% endif %}</td>
                <td style="text-align:right">{% if values.queued %}{{ values.queued|floatformat:2|intcomma }} {% else %} 0.00 {% endif %}</td>
            </tr>
    {% endfor %}
</table>

<script src="/static/js/d3jsplot.js"></script>
<script>
var gsPlotData={{ gsPlotData|safe }};
globalSharesPieChartFunc(gsPlotData,"#pieChartGS",'Actual HS06');
</script>


{% endblock %}

