{% extends "_base_core.html" %}

{% load staticfiles %}
{% load humanize %}

{% block page_title %} {{ viewParams.MON_VO }} Global Shares{% endblock %}
{% block subtitle %}Global Shares{% endblock %}

{% block body %}

<div class="d3splot" id="pieChartGS"></div>

<table>
    <tr class='tablesection'>
        <th>L1 Share</th>
        <th>L2 Share</th>
        <th>L3 Share</th>
        <th>Actual HS06</th>
        <th>Target HS06</th>
        <th>Ratio</th>
        <th>Queued</th>
    </tr>
    {% for row in tablerows %}
            <tr>
                <td>{{row.level1}}</td>
                <td>{{row.level2}}</td>
                <td>{{row.level3}}</td>
                <td style="text-align:right">{% if row.executing %}{{ row.executing|floatformat:2|intcomma }} {% else %} 0.00 {% endif %}</td>
                <td style="text-align:right">{% if row.pledged %}{{ row.pledged|floatformat:2|intcomma }} {% else %} 0.00 {% endif %}</td>
                <td style="text-align:right">{% if row.ratio %} {{ row.ratio |floatformat:2|intcomma }} % {% else %} --- {% endif %}</td>
                <td style="text-align:right">{% if row.queued %}{{ row.queued|floatformat:2|intcomma }} {% else %} 0.00 {% endif %}</td>
            </tr>
    {% endfor %}
</table>



<script src="/static/js/d3jsplot.js"></script>
<script>
var gsPlotData={{ gsPlotData|safe }};
globalSharesPieChartFunc(gsPlotData,"#pieChartGS",'Actual HS06');
</script>


{% endblock %}

