{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Harvester workers list{% endblock %}
{% block title %}PanDA monitor{% endblock %}
{% block subtitle %}PanDA Harvester Workers List<font size=-1>{{ viewParams.selection|safe }}</font> {% endblock %}
{% block body %}

    <table>
        <tr>
            <th colspan=24>Harvester workers list</th>
        </tr>
        <tr>
            <th>Harvesterid</th>
            <th>Workerid</th>
            <th>Status</th>
            <th>Submit time</th>
        </tr>
            {% for worker in workerslist %}
                <tr>
                    <td>
                        {{ worker.harvesterid }}
                    </td>
                    <td>
                        {{ worker.workerid }}
                    </td>
                    <td>
                        {{ worker.status }}
                    </td>
                    <td>
                        {{ worker.submittime }}
                    </td>
                </tr>
            {% endfor %}

    </table>


{% endblock %}
