{% extends "_base_core.html" %}

{% load staticfiles %}

{% block page_title %}PanDA job {{ pandaid }}{% endblock %}
{% block title %} <a class="menu-link" href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA Event Service job details for job <b>{{ jobid }}</b>{% endblock %}

{% block body %}

{% if job %}

<script type="text/javascript">
function loadExtendedErrorData(jeditaskid, pandaid) {

    $('#div-exterrorsinfo').html("<img src='{% static "images/load.gif" %}'>  ");
    $.ajax({
        url: {% url 'descendentjoberrsinfo' %},
        data: 'jeditaskid='+jeditaskid+'&pandaid='+pandaid,
        async: true,
    }).done(function (response) {
       $('#div-exterrorsinfo').html(response);
    });

}

function loadJobStatusLog(pandaid) {

    $('#div-statuslog').html("<img src='{% static "images/load.gif" %}'>  ");
    $.ajax({
        url: '{% url 'getjobstatuslog' pandaid %}',
        data: '',
        async: true,
    }).done(function (response) {
        $('#div-statuslog').html(response);
    });

}

function toggleComparisonList(buttonid, value) {
    var buttontext = document.getElementById(buttonid).innerHTML;
    if (buttontext.indexOf('Add') >= 0) {
        $.ajax({
            url: '/addtocomparison/',
            data: 'object=job&value='+value,
            async: true,
            cache: false
        }).done(function (response) {
            $('#' + buttonid).html('Remove job from comparison');
            document.getElementById(buttonid).className = "removefromcomparisonbutton";
            });
    }
    else {
        $.ajax({
            url: '/deletefromcomparison/',
            data: 'object=job&value='+value,
            async: true,
            cache: false
        }).done(function (response) {
            $('#' + buttonid).html('Add job to comparison');
            document.getElementById(buttonid).className = "addtocomparisonbutton";
            });
    }

}

function toggleByID(id) {
    if ($("#" + id).is(':visible')){
        $("#" + id).hide();
    }
    else {
        $("#" + id).show();
    }

}
</script>




<table width="100%">
<tr bgcolor='lightcyan'>
	<th>PandaID {% if not job.jeditaskid %} <br>Attempt# {% endif %}</th>
	<th>Owner{% if job.workinggroup %} &nbsp;  WG{% endif %}{% if viewParams.MON_VO != 'ATLAS' %}{% if job.vo %} / VO{% endif %}{% endif %}</th>
	<th>TaskID</th>
{% if job.parentid %}
    <th>Parent</th>
{% endif %}
	<th>Mode</th>
    <th>Cores</th>
	<th>Status</th>
	<th>Substate</th>
	<th>Created</th>
	<th>Time to start<br> d:h:m:s</th>
	<th>Duration<br>d:h:m:s</th>
	<th>Modified</th>
	<th>{% if viewParams.MON_VO == 'ATLAS' %}Cloud {% endif%}Site</th>
	<th>Priority</th>
</tr>
<tr>
	<td>{{ job.pandaid }}  {% if not job.jeditaskid %} <br>Attempt {{ job.attemptnr }} {% endif %}</td>
	<td><a href="{% url 'userInfo' job.produsername|safe %}?display_limit=100">{{ job.produsername }}</a>{% if job.workinggroup %} / <a href="{% url 'workingGroups' %}?workinggroup={{ job.workinggroup }}">{{ job.workinggroup }}</a>{% endif %}{% if viewParams.MON_VO != 'ATLAS' %}{% if job.vo %} / {{ job.vo }} {% endif %}{% endif %}</td>
	<td>{% if job.jeditaskid %}<a href="{% url 'taskInfo' job.jeditaskid %}">{{ job.jeditaskid }}</a> {% else %} <a href="{% url 'jobList' %}?taskid={{job.taskid}}{% if job.taskid < 1000000 %}&produsername={{job.produsername}}{% endif %}&display_limit=100">{{ job.taskid }}</a> {% endif %}</td>
{% if job.parentid %}
    <td> <a href="{% url 'jobInfo' %}?pandaid={{ job.parentid }}"> {{ job.parentid }} </a>
    </td>
{% endif %}
	<td>{{ job.jobmode }}</td>
    <td>{{ job.corecount }}</td>
	<td class='{{job.jobstatus}}_fill'>{{ job.jobstatus }}</td>
	<td>{{ job.jobsubstatus }}</td>
	<td>{{ job.creationtime }}</td>
	<td>{{ job.waittime }}</td>
	<td>{{ job.duration }}</td>
	<td>{{ job.modificationtime }}</td>
	<td>{% if viewParams.MON_VO == 'ATLAS' %}<a href="{{xurl}}cloud={{job.cloud}}">{{job.cloud}}</a> {% endif %}<a href="{% url 'siteInfo' job.computingsite  %}">{{ job.computingsite }}</a></td>
	<td>{{ job.currentpriority }}</td>
</tr>
<tr>
	<td colspan="20">
	{% if job.processingtype %} &nbsp; <b>Job type:</b> {{ job.processingtype }} {% endif %}
    {% if job.transformation %} &nbsp; <b>Job transform:</b> {{ job.transformation|safe }} {% endif %}
    {% if esjobstr|length > 0 %} &nbsp; <b>Dispatched event states:</b> {{ esjobstr|safe }} {% endif %}

	</td>
</tr>
<tr> 
	<td colspan="20" class='highlightcell'> <b>Datasets:</b> &nbsp; {% if job.proddblock %} <b>In:</b> <a href="{% url 'datasetInfo' %}?datasetname={{ job.proddblock }}"> {{ job.proddblock }} </a> {% endif %} {% if job.destinationdblock %} {% if job.proddblock %}<br> &nbsp;{% endif %} <b>Out:</b> <a href="{% url 'datasetInfo' %}?datasetname={{ job.destinationdblock }}"> {{ job.destinationdblock }} </a> {% endif %} </td>
</tr>
</table>
<font size=-1>


<p>
{% if not job.jeditaskid %}
{% if job.attemptnr > 1 %}
This is attempt number {{ job.attemptnr }} for this job. To see a history of job attempts click on the job name above.
{% endif %}
{% endif %}
</font>

<table>
    {% if esjobstr|length > 0 %} <tr><th class="tablesection">Dispatched event states</span></th><td> {{ esjobstr|safe }} </td></tr> {% endif %}

    {% if job.errorinfo %}
		<tr><th class="tablesection"><span class="alarm">Error description</span></th><td class="alarm">{{ job.errorinfo|safe }}</td></tr>
    {% endif %}
	{% if job.jobdispatchererrorcode %}
		<tr><th class="tablesection"><span class="alarm">Job dispatch error code</span></th><td class="alarm">{{ job.jobdispatchererrorcode }}</td></tr>
		<tr><th class="tablesection"><span class="alarm">Job dispatch error message</span></th><td class="alarm">{{ job.jobdispatchererrordiag }}</td></tr>
	{% endif %}
	{% if job.brokerageerrorcode %}
		<tr><th class="tablesection"><span class="alarm">Brokerage error code</span></th><td class="alarm">{{ job.brokerageerrorcode }}</td></tr>
		<tr><th class="tablesection"><span class="alarm">Brokerage error message</span></th><td class="alarm">{{ job.brokerageerrordiag }}</td></tr>
	{% endif %}
	{% if job.ddmerrorcode %}
		<tr><th class="tablesection"><span class="alarm">DDM error code</span></th><td class="alarm">{{ job.ddmerrorcode }}</td></tr>
		<tr><th class="tablesection"><span class="alarm">DDM error message</span></th><td class="alarm">{{ job.ddmerrordiag }}</td></tr>
	{% endif %}
	{% if job.exeerrorcode %}
		<tr><th class="tablesection"><span class="alarm">Execution error code</span></th><td class="alarm">{{ job.exeerrorcode }}</td></tr>
		<tr><th class="tablesection"><span class="alarm">Execution error message</span></th><td class="alarm">{{ job.exeerrordiag }}</td></tr>
	{% endif %}
	{% if job.piloterrorcode %}
		<tr><th class="tablesection"><span class="alarm">Pilot error code</span></th><td class="alarm">{{ job.piloterrorcode }}</td></tr>
		<tr><th class="tablesection"><span class="alarm">Pilot error message</span></th><td class="alarm">{{ job.piloterrordiag }}</td></tr>
	{% endif %}
	{% if job.superrorcode %}
		<tr><th class="tablesection"><span class="alarm">Supervisor error code</span></th><td class="alarm">{{ job.superrorcode }}</td></tr>
		<tr><th class="tablesection"><span class="alarm">Supervisor error message</span></th><td class="alarm">{{ job.superrordiag }}</td></tr>
	{% endif %}
	{% if job.taskbuffererrorcode %}
		<tr><th class="tablesection"><span>TaskBuffer return code</span></th><td>{{ job.taskbuffererrorcode }}</td></tr>
		<tr><th class="tablesection"><span>TaskBuffer message</span></th><td>{{ job.taskbuffererrordiag }}</td></tr>
	{% endif %}
</table>

{% if "esmerge" in job.specialhandling %}
<p>
<b>This is an event service merge job.</b>
</p>
{% endif %}


<p>
<div class="dropdownplots">
    <button class="dropdownbutton">Logs</button>
    <script>
        var logLinksArray = [];
    </script>

    <div id="dropdown-plotchoice" class="dropdown-plot">
        {% if logfile.lfn %}
          {% if viewParams.MON_VO == 'ATLAS' %}
              {% if job.jobstatus == 'finished' or job.jobstatus == 'failed' or job.jobstatus == 'merging' or job.jobstatus == 'holding' or job.jobstatus == 'transferring' or job.jobstatus == 'cancelled' or job.jobstatus == 'closed' %}
                {% if logfile.guid %}
                    {% if job.jobstatus == 'failed' or job.jobstatus == 'finished'  or job.jobstatus == 'closed' or job.jobstatus == 'transferring' or job.jobstatus == 'cancelled'  %}
                        <a href="/filebrowser/?guid={{logfile.guid}}&lfn={{logfile.lfn}}&site={{logfile.site}}&scope={{logfile.scope}}&fileid={{ fileid }}">Log files</a>
                        <script>
                          logLinksArray[logLinksArray.length] = "/filebrowser/?guid={{logfile.guid}}&lfn={{logfile.lfn}}&site={{logfile.site}}&scope={{logfile.scope}}"
                        </script>

                    {% else %}
                        No logs available yet
                    {% endif %}
                {% else %}
                    No logs were saved
                {% endif %}

                {% if oslogpath %}
                    <a href="{{ oslogpath }}">Log tarball</a>
                {% endif %}
              {% endif %}
          {% else %}
            {% if job.jobstatus == 'finished' or job.jobstatus == 'failed' %}
                <a href="http://pandawms.org/pandajobslogstmp/core/data/jschovan/pandajobs/{{pandaid}}/logs/application_log.txt">Job stdout</a
                <a href="http://pandawms.org/pandajobslogstmp/core/data/jschovan/pandajobs/{{pandaid}}/output/">Job outputs</a>
                <script>
                   logLinksArray[logLinksArray.length] = "http://pandawms.org/pandajobslogstmp/core/data/jschovan/pandajobs/{{pandaid}}/logs/application_log.txt"
                   logLinksArray[logLinksArray.length] = "http://pandawms.org/pandajobslogstmp/core/data/jschovan/pandajobs/{{pandaid}}/output/"
               </script>


            {% endif %}
            <a href="http://pandawms.org/pandajobslogstmp/core/data/jschovan/pandajobs/{{pandaid}}/logs/athena_stdout.txt">Payload stdout</a>
            <a href='http://pilots1.pandawms.org/pandawms-jobcache/jobcache-{{job.pandaid}}.tar.gz'>Job cache tarball</a>
            <script>
              logLinksArray[logLinksArray.length] = "http://pandawms.org/pandajobslogstmp/core/data/jschovan/pandajobs/{{pandaid}}/logs/athena_stdout.txt"
              logLinksArray[logLinksArray.length] ='http://pilots1.pandawms.org/pandawms-jobcache/jobcache-{{job.pandaid}}.tar.gz'
            </script>

          {% endif %}
        {% else %}
            <a>No logs available</a>
        {% endif %}
        {% if job.jobstatus == 'holding' or job.jobstatus == 'finished' or job.jobstatus == 'failed' %}
            {% if stdout %}
                <a href='{{stdout}}'>Pilot job stdout</a>
                <a href='{{stderr}}'>Pilot job stderr</a>
                <a href='{{stdlog}}'>Batch log of pilot job</a>
                <a href='{{stdjdl}}'>Pilot job jdl</a>
               <script>
                  logLinksArray[logLinksArray.length] ='{{stdout}}'
                  logLinksArray[logLinksArray.length] ='{{stderr}}'
                  logLinksArray[logLinksArray.length] ='{{stdlog}}'
                  logLinksArray[logLinksArray.length] ='{{stdjdl}}'
              </script>

            {% endif %}
            {% if job.jobstatus == 'closed' %}
                <td><a href='{{stdout}}'>Pilot ID</a></td>
                   <script>
                    logLinksArray[logLinksArray.length] ='{{stdout}}'
                  </script>

            {% endif %}

            <a href="{% url 'pandaLogger' %}?category=panda.mon.prod&type=pilotLog&pandaid={{ pandaid }}">Pilot records</a>

            <a target="_blank" href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-5d%2Fd,mode:relative,to:now))&_a=(columns:!('timeEvent',fields.type,logLevel,message),index:'43ecb650-6c45-11e8-a7e3-ffbb2f24f6b4',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'jediTaskID:{{job.jeditaskid}}')),sort:!('timeEvent',desc))">Action logger</a>

            <script>
                logLinksArray[logLinksArray.length] ="{% url 'pandaLogger' %}?category=panda.mon.prod&type=pilotLog&pandaid={{ pandaid }}"
                logLinksArray[logLinksArray.length] ="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-5d%2Fd,mode:relative,to:now))&_a=(columns:!('timeEvent',fields.type,logLevel,message),index:'43ecb650-6c45-11e8-a7e3-ffbb2f24f6b4',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'jediTaskID:{{job.jeditaskid}}')),sort:!('timeEvent',desc))"

                function openAllLogs() {
                    for (var i = 0; i < logLinksArray.length; i++) {
                        window.open(logLinksArray[i], '_blank');
                    }
                }
            </script>
            <a href="#" onclick="return openAllLogs();">Open all logs</a>


        {% endif %}
    </div>
</div>


<div class="dropdownplots">
    <button class="dropdownbutton">Go to</button>
    <div id="dropdown-plotchoice" class="dropdown-plot">
        <a href="{% url 'jobList' %}?parentid={{ job.pandaid }}">Child jobs</a>
        {% if harvesterInfo %}
            <a href="{% url "harvesters" %}?pandaid={{pandaid}}&days={{ timedelta }}">Associated Harvester workers</a>
        {% endif %}
        {% if job.jobsetid and job.jobsetid > 0 %}
            <a href="{% url 'jobList' %}?produsername={{ job.produsername }}&jobsetid={{ job.jobsetid }}">Jobs for {{ job.jobsetid }} jobset</a>

            {% if libjob and libjob != job.pandaid  %}
                <a href="{% url 'jobInfo' %}?pandaid={{ libjob }}">build job {{ libjob }}</a>
            {% endif %}

            {% if runjobs|length > 0 %}
                <a href="{% url 'jobList' %}?produsername={{ job.produsername }}&jobsetid={{ job.jobsetid }}&processingtype=pathena">{{ runjobs|length }} run jobs</a>
            {% endif %}

            {% if mergejobs|length > 0 %}
                <a href="{% url 'jobList' %}?produsername={{ job.produsername }}&jobsetid={{ job.jobsetid }}&processingtype=usermerge">{{ mergejobs|length }} merge jobs</a>
            {% endif %}

            {% if runesjobs|length > 0 %}
                <a href="{% url 'jobList' %}?produsername={{ job.produsername }}&jobsetid={{ job.jobsetid }}&eventservice=eventservice">JobSet ES jobs ({{ runesjobs|length }})</a>
            {% endif %}

            {% if mergeesjobs|length > 0 %}
                <a href="{% url 'jobList' %}?produsername={{ job.produsername }}&jobsetid={{ job.jobsetid }}&eventservice=esmerge">JobSet ES Merge jobs ({{ mergeesjobs|length }})</a>
            {% endif %}

        {% endif %}

        {% if inputfiles|length > 0 %}
            <a href="{% url 'jobList' %}?jeditaskid={{ inputfiles.0.jeditaskid }}&datasetid={{ inputfiles.0.datasetid }}&fileid={{ inputfiles.0.fileid }}&mode=nodrop&eventservice=1|2|4|5">Jobs for {{ inputfiles.0.fileid }} event chunk </a>
            <a href="{% url 'jobList' %}?jeditaskid={{ inputfiles.0.jeditaskid }}&datasetid={{ inputfiles.0.datasetid }}&fileid={{ inputfiles.0.fileid }}&eventservice=1">ES jobs for {{ inputfiles.0.fileid }} event chunk </a>
            <a href="{% url 'jobList' %}?jeditaskid={{ inputfiles.0.jeditaskid }}&datasetid={{ inputfiles.0.datasetid }}&fileid={{ inputfiles.0.fileid }}&eventservice=2">ES merge jobs for {{ inputfiles.0.fileid }} event chunk</a>
        {% endif %}

        {% if pandaid %}
            <a href="http://pandaserver.cern.ch:25080//server/panda/getScriptOfflineRunning?pandaID={{pandaid}}">Script to re-create job for offline debugging</a>
        {% endif %}

        {% if coreData %}
            &nbsp; <a href="http://srs.slac.stanford.edu/Pipeline-II/exp/SRS/pi.jsp?pi={{coreData.processinstance}}">{{coreData.processinstance}} process for {{ coreData.pipelinetask }} pipeline task</a>
        {% endif %}

        {% if rucioUserName|length > 0 %}
            {% for rucioUserNameIt in rucioUserName %}
              <a href="https://rucio-ui.cern.ch/r2d2?account={{ rucioUserNameIt }}">DDM User activity ({{ rucioUserNameIt }})</a>
            {% endfor %}
        {% endif %}

    </div>
</div>

<div class="dropdownplots">
    <button class="dropdownbutton">Show</button>
    <div id="dropdown-plotchoice" class="dropdown-plot">
        <a onclick="loadJobStatusLog('{{ pandaid }}')">Job status log</a>
        {% if pretries or retries %}
          {% if pretries %}
            <a onclick="toggleByID('pretries')">Upstream jobs (past retries)</a>
          {% endif %}
          {% if retries %}
            <a onclick="toggleByID('retries')">Downstream jobs (further attempts)</a>
          {% endif %}
          <a onclick="javascript:loadExtendedErrorData('{{ job.jeditaskid }}','{{ job.pandaid }}');">Descendents jobs errors</a>
        {% else %}
            <a>No upstream and downstream jobs available</a>
        {% endif %}
    </div>
</div>

<div class="dropdownplots">
    <button class="dropdownbutton">Jump to</button>
    <div id="dropdown-plotchoice" class="dropdown-plot">
        {% if harvesterInfo %}
            <a href="#harvesterworkers">Associated Harvester workers</a>
        {% endif %}
        <a href="#jobparamskey">Key job parameters</a>
        <a href="#jobparamsall">All job parameters</a>
        <a href="#help">Help</a>
    </div>
</div>

<div class="dropdownplots">
    <button class="dropdownbutton">Memory and IO plots</button>
    <div id="dropdown-plotchoice" class="dropdown-plot">
        {% if job.jobstatus == 'finished' or job.jobstatus == 'failed' or job.jobstatus ==  'cancelled' or job.jobstatus ==  'aborted' or job.jobstatus == 'merging' %}
            <a href="{% url 'memoryplot' %}?pandaid={{ job.pandaid }}" target="_blank">Memory and IO plots</a>
        {% endif %}
    </div>
</div>

{% if request.user.is_tester %}
<div style="float: right">
    {% if isincomparisonlist %}
        <a id="comparisonbutton" onclick="toggleComparisonList('comparisonbutton', '{{ job.pandaid }}')" class="removefromcomparisonbutton">Remove job from comparison</a>
    {% else %}
        <a id="comparisonbutton" onclick="toggleComparisonList('comparisonbutton', '{{ job.pandaid }}')" class="addtocomparisonbutton">Add job to comparison</a>
    {% endif %}
</div>
{% endif %}



{% if countOfInvocations > 300 %}
    <div class="section">Looking into retries exceeds a limit of operations</div>
{% endif %}

<p>

{% if pretries %}
<table id="pretries" style="display: none">
    <tr>
        <td>
            <div class="section">This job is a descendent of upstream job(s), with relationship shown</div>
            {% for pretry in pretries %}
                <a href="{% url 'jobInfo' pretry.oldpandaid %}">{{ pretry.oldpandaid }}</a>:{% if pretry.relationtype %}{{ pretry.relationtype }}{% else %}retry{% endif %} &nbsp;
            {% endfor %}
        </td>
    </tr>
</table>
<p>
{% endif %}

{% if retries %}
<table id="retries" style="display: none">
    <tr>
        <td>
            <div class="section">This job has descendents downstream, with relationship shown</div>
            {% for retry in retries %}
                <a href="{% url 'jobInfo' retry.newpandaid %}">{{ retry.newpandaid }}</a>:{% if retry.relationtype %}{{ retry.relationtype }}{% else %}retry{% endif %} &nbsp;
            {% endfor %}
        </td>
    </tr>
</table>
<p>
{% endif %}

{% if pretries or retries %}
<p>
<div id="div-exterrorsinfo"></div>
<p>
{% endif %}

<div id="div-statuslog"></div>

{% if debugmode %}
{% if debugstdout %}
<table width=1000><tr><td bgcolor="#FFF4A3"> <b>Job debug stdout </td></tr>
<tr><td>
<font size=-1><pre>
{{ debugstdout }}
</pre></font>
</td></tr>
</table>
{% else %}
{% if 'showdebug' in requestParams %}
<p> <b>Debug mode:</b> This job is in debug mode but no debug stdout can be found. The pilot may not have sent any yet (it can take up to 1/2 hour for the pilot to be informed after a job is put in debug mode), or it may have been deleted if the job is completed. <a href="{% url 'jobInfo' pandaid %}?showdebug=1">Check again</a>
{% else %}
<p><b>Debug mode:</b> This job is in debug mode, meaning stdout is transmitted to PanDA every few minutes as the job runs.
{% if job.jobstatus == 'finished' or job.jobstatus == 'failed' or job.jobstatus ==  'cancelled' %}
However, this job is completed so the debug data has probably been deleted; you can view the logfiles instead. 
But if you want, you can check.
{% endif %}
 <a href="{% url 'jobInfo' pandaid %}?showdebug=1">Look for debug stdout</a>
{% endif %}
{% endif %}
{% else %}
{% if 'showdebug' in requestParams %}
<p> <b>Debug mode:</b> 'showdebug' has been requested but this job is not in debug mode.
{% endif %}
{% endif %}

{% if nfiles > 0 %}
            <script language=javascript type='text/javascript'>
            function toggle_files() {
            var el = document.getElementById("filestable"); 
            if ( el.style.display != 'none' ) { 
             el.style.display = 'none' } 
            else { el.style.display = ''; } 
             } </script>

{% if files|length > 10 %}
<a style="cursor:pointer;" onClick=toggle_files()><font size=-1 color=black>Show/hide list of {{ files|length }} job files</font></a>
{% endif %}

<div id="filestable" style="display: inline">
<table>
<tr><th colspan=20 bgcolor='lightcyan'> {{ nfiles }} job files </th></tr>
<tr><th>Filename (Type)</th><th>Scope</th><th>Size (MB)</th><th>Status</th><th>Attempt (max)</th><th>Dataset</th></tr>

{% if "esmerge" in job.specialhandling %}
<tr><td colspan="6">Merge events list created on the fly</tr>
{% endif %}

{% for file in files %}

    {% if "esmerge" in job.specialhandling and file.type == 'input' %}

    {% else %}

        <tr><td>
        <font size=-1>
        {% if viewParams.MON_VO == 'ATLAS' %}
           {% if file.type != 'pseudo_input' %}
               <a href="{% url 'fileInfo' %}?lfn={{file.lfn}}&scope={{file.scope}}&pandaid={{pandaid}}">{{ file.lfn}}</a>
            {% else %}
            {{ file.lfn }}
            {% endif %}
        {% else %}
        {{ file.lfn}}
        {% endif %} ({{ file.type }})
        {% if file.type == 'input' %} &nbsp;  <a href="{% url 'jobInfo' %}?creator={{file.lfn}}">Find creator job</a> {% endif %}
        {% if file.type != 'pseudo_input' %} <br>
        <a href="https://rucio-ui.cern.ch/did?scope={{file.scope}}&name={{file.lfn}}" target="_blank"> Rucio</a>
            {% if job.jobstatus != 'defined' and job.jobstatus != 'pending' and job.jobstatus != 'waiting' %}
                || <a href="http://dashb-atlas-ddm.cern.ch/ddm2/#d.dst.site={{file.ddmsite}}{% if file.dsttoken %}&d.dst.token={{ file.dsttoken }}{% endif %}&d.name={{file.lfn}}&d.scope={{ file.scope }}&grouping.dst=(site,token)&tab=details" target="_blank">DDM Dash</a>
                || <a href="https://monit-grafana.cern.ch/d/FtSFfwdmk/ddm-transfers?orgId=17&from=now-30d&to=now&panelId=56&fullscreen&var-binning=$__auto_interval_binning&var-groupby=dst_cloud&var-activity=All&var-src_cloud=All&var-src_site=All&var-src_country=All&var-src_endpoint=All&var-columns=src_cloud&var-dst_cloud=All&var-dst_site={{file.ddmsite}}&var-dst_country=All&var-dst_endpoint=All&var-rows=dst_cloud&var-enr_filters=data.name%7C%3D%7C{{file.lfn}}&var-enr_filters=data.scope%7C%3D%7C{{ file.scope }}{% if file.dsttoken %}&var-enr_filters=data.dst_token%7C%3D%7C{{ file.dsttoken }}{% endif %}&var-measurement=ddm_transfer&var-retention_policy=raw">
        DDM Dash (Grafana)</a>
       {% endif %}
        {% endif %}
        </font>
        </td>
        <td> <font size=-1>{{ file.scope }}</font> </td>
        <td> {{ file.fsizemb }} </td>
        <td class='{{file.status}}'> {{ file.status }} </td>
        <td> {% if file.attemptnr %} {{ file.attemptnr }} {% if file.maxattempt %} ({{ file.maxattempt }}){% endif %}{% endif %} </td>
        <td><font size=-1><a href="{% url 'datasetInfo' %}?datasetname={{file.datasetname}}"> {{ file.datasetname }}</a>
            <br> <a href="https://rucio-ui.cern.ch/did?scope={{file.scope}}&name={{file.ruciodatasetname}}" target="_blank">Rucio</a>
        {% if file.dispatchdblock %}
        <br />(dispatch block: {{ file.dispatchdblock }} <a href="https://rucio-ui.cern.ch/did?scope=panda&name={{ file.dispatchdblock }}">Rucio</a>)
        {% endif %}
        {% if file.destinationdblock %}
        <br />(destination block: {% if file.destinationdblock_vis %}{{ file.destinationdblock_vis }}{% else %}{{ file.destinationdblock }}{% endif %} <a href="https://rucio-ui.cern.ch/did?scope={{ file.scope }}&name={{ file.destinationdblock }}">Rucio</a>)
        {% endif %}
        </font>
        </td>
        </tr>

    {% endif %}

{% endfor %}
</table>
</div>
{% endif %}

<p>

{% if "esmerge" in job.specialhandling %}

{% elif eventservice %}

{% if evtable|length > 0 %}
<p><div class='section'>Latest event range records:</div>

<table>
<tr>
<th> File ID </th>
<th> Min event </th>
<th> Max </th>
<th> Status </th>
<th> ProcessID </th>
<th> Attempt </th>
<th> DataSet ID </th>
<th> ObjectStore ID </th>
<th> Jobset ID </th>

</tr>
{% for ev in evtable %}
<tr>
<td> {{ ev.fileid }} </td>
<td> {{ ev.def_min_eventid }} </td>
<td> {{ ev.def_max_eventid }} </td>
<td> <span class="{{ ev.status }}">{{ ev.status }}</span> </td>
<td> {{ ev.job_processid }} </td>
<td> {{ ev.attemptnr }} </td>
<td> {{ ev.datasetid }} </td>
<td> {{ ev.objstore_id }} </td>
<td> <a href="{% url 'jobList' %}?produsername={{ job.produsername }}&jeditaskid={{ job.jeditaskid }}&jobsetid={{ ev.eventoffset }}&mode=nodrop">{{ ev.eventoffset }} </a> </td>

</tr>
{% endfor %}
</table>
{% endif %}

{% endif %}

<table>
<a name="jobparamskey"></a>
<tr><th colspan=20 bgcolor='lightcyan'> Other key job parameters </th></tr>
	{% if job.statechangetime %}<tr><th>Last state change</th><td>to <span class={{job.jobstatus}}>{{job.jobstatus}}</span> at {{ job.statechangetime }}</td></tr></tr>{% endif %}
	{% if job.atlasrelease %}<tr><th>Release</th><td>{{ job.atlasrelease }}</td></tr></tr>{% endif %}
	{% if job.transexitcode != '0' and job.transexitcode != 'None' and job.transexitcode != '' %}<tr><th class="alarm">Transformation exit code</th><td class="alarm">{{ job.transexitcode }} (non-zero exit code from job payload)</td></tr></tr>{% endif %}
	{% if job.parentid %}<tr><th>Parent job ID</th><td><a href="{% url 'jobInfo' job.parentid %}">{{ job.parentid }}</a></td></tr></tr>{% endif %}
	{% if job.proddblock %}<tr><th>Proddblock</th><td>{{ job.proddblock }}</td></tr>{% endif %}
	{% if job.workinggroup %}<tr><th>Working group</th><td>{{ job.workinggroup }}</td></tr></tr>{% endif %}
	{% if job.transfertype %}<tr><th>Transfer type</th><td>{{ job.transfertype }}</td></tr>{% endif %}
	{% if job.specialhandling %}<tr><th>Special handling</th><td>{{ job.specialhandling }}</td></tr>{% endif %}
	{% if job.nevents %}<tr><th># events</th><td>{{ job.nevents }}</td></tr>{% endif %}
	{% if job.attemptnr %}<tr><th>Attempt number</th><td>{{ job.attemptnr }} of a maximum {{ job.maxattempt }}</td></tr></tr>{% endif %}
	{% if job.destinationse %}<tr><th>Output destination</th><td>{{ job.destinationse }}</td></tr>{% endif %}
	{% if job.cpuconsumptiontime %}
		<tr><th>CPU consumption time (s)</th><td>{{ job.cpuconsumptiontime }}</td></tr>
	{% endif %}
	{% if job.jobmetrics %}<tr><th>Job metrics</th><td>{{ job.jobmetrics }}</td></tr>{% endif %}
	{% if jobparams %}<tr><th>Job parameters</th><td><font size=-1>{{ jobparams }}</font></td></tr>{% endif %}
	{% if job.pilotid %}<tr><th>Pilot ID</th><td>{{ job.pilotid }}</td></tr>{% endif %}
	{% if job.batchid %}<tr><th>Batch ID</th><td>{{ job.batchid }}</td></tr>{% endif %}
</table>
{% if harvesterInfo %}
<table>
<a name="harvesterworkers"></a>
<tr><th colspan=20 bgcolor='lightcyan'> Harvester job parameters </th></tr>
<tr>
<th> Harvesterid </th>
<th> WorkerID </th>
<th> Batchlog </th>
<th> Computingelement </th>
</tr>
{% for instnace in harvesterInfo %}
<tr>
    <td><a href="{% url 'harvesters' %}?instance={{ instnace.harvesterid }}">{{ instnace.harvesterid }}</a></td>
    <td><a href="{% url 'harvesterWorkerInfo' %}?harvesterid={{ instnace.harvesterid }}&workerid={{ instnace.workerid }}">{{ instnace.workerid }}</a></td>
    <td>{% if instnace.batchlog != None %}<a href="{{instnace.batchlog}}">Link</a>{% else %} {{instnace.batchlog}} {% endif %}</td>
    <td>{{ instnace.computingelement }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% if logextract %}
<table width=1000><tr><td bgcolor="#FFF4A3"> <b>Warning: job log extract indicates possible problems </td></tr>
<tr><td>
<font size=-1><pre>
{{ logextract }}
</pre></font>
</td></tr>
</table>
{% endif %}

{% if metadata %}
<table width=1000><tr><td bgcolor="#f8d9ff"> <b>Job metadata </td></tr>
<tr><td>
<font size=-1><pre>
{{ metadata }}
</pre></font>
</td></tr>
</table>
{% endif %}

<table>
<a name="jobparamsall"></a>
<tr><th colspan=20 bgcolor='lightcyan'> All job parameters </th></tr>
{% for col in columns %}
<tr><th>{{ col.name }}</th><td> {% if col.name == 'jobsetid' %} <a href="{% url 'jobList' %}?produsername={{ produsername }}&jobsetid={{ col.value }}">{{ col.value }}</a>  {% else %}{{ col.value }} {% endif %}</td></tr>
{% endfor %}
</table>

{% else %}
    <p>Job {{ jobid }} not found.</p>
{% endif %}

{% endblock %}

{% block helptext %}
{% include "jobInfoHelp.html" with helptitle="Job detail page help" %}
{% endblock %}

