{% extends "_base_core.html" %}
{% load static %}
{% block page_title %} {{ viewParams.MON_VO }} PanDA jobs{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "node_modules/datatables.net-zf/css/dataTables.foundation.min.css" %}">
{% endblock %}
{% block subtitle %}PanDA jobs{{ viewParams.selection|safe }}{% endblock %}
{% block subtitle_params %}
{% if jobsTotalCount != None%}
    <b> Total jobs found &#x7E; <a href="{% url 'jobList' %}?{% if requestString != None %}{{ requestString }}{% endif %}{% if display_limit %}display_limit={{display_limit }}{% endif %}&limit={{jobsTotalCount}}">{{ jobsTotalCount }}</a></b> {% endif %}
{% endblock %}
{% block body %}

{{ viewParams.header }}


<div class="callout success">
    <p>We propose to participate in testing a new much faster jobs page (<a href="http://bigpanda.cern.ch/jobsss{{ xurlnopref }}">http://bigpanda.cern.ch/jobsss{{ xurlnopref }}</a>)
    The new view might have differences with the current one, please inform developers about any issues you have.</p>
</div>

<div class="bp-container-simple">
<p><b>{{ njobs }} jobs in this selection</b>
{% if showwarn and njobs%}
    <span class="warning"><b>. Warning: limit {{ joblimit }} per job table</b></span>
{% endif %}
</p>

{% if requestParams.transferringnotupdated %}<b>Jobs in transferring state for more than {{ requestParams.transferringnotupdated }} hours</b> {% endif %}
{% if requestParams.statenotupdated %}<b>Jobs in <span class="{{ requestParams.jobstatus }}">{{ requestParams.jobstatus }}</span> state for more than {{ requestParams.statenotupdated }} hours</b> {% endif %}
{% if requestParams.workinggroup %}<b>Working group: {{ requestParams.workinggroup }}</b> {% endif %}
{% if requestParams.jobtype %}<b>Job type: {{ requestParams.jobtype }}</b> {% endif %}
{% if requestParams.jobstatus %}<b>Job status: <span class={{requestParams.jobstatus}}>{{ requestParams.jobstatus }}</span></b> {% endif %}
{% if requestParams.cloud %}<b>Cloud: {{ requestParams.cloud }}</b> {% endif %}
{% if requestParams.computingsite %}<b>Site: <a href="{% url 'siteInfo' requestParams.computingsite %}">{{ requestParams.computingsite }}</a> <a href="{% url 'siteInfo' requestParams.computingsite %}">Show site information page</a></b> {% endif %}
{% if user %}<b>User: <a href="{% url 'userInfo' user %}?display_limit=100">{{ user }}</a> <a href="{% url 'userInfo' user %}?display_limit=100"> Show user page</a></b> {% endif %}
{% if requestParams.jeditaskid and requestParams.jeditaskid != 'None' %}<b>Task: <a href="{% url 'taskInfo' requestParams.jeditaskid  %}">{{ requestParams.jeditaskid }}      {{ taskname }}</a> </b> {% endif %}
{% if requestParams.taskid and requestParams.taskid != 'None' %}<b>Task: <a href="{% url 'taskInfo' requestParams.taskid  %}">{{ requestParams.taskid }}      {{ taskname }}</a></b> {% endif %}
{% if requestParams.jobsetid %}<b>Jobset ID: {{ requestParams.jobsetid }}</b> {% endif %}
{% if requestParams.parentid %}<b>Parent ID: {{ requestParams.parentid }}</b> {% endif %}

{% if requestParams.reqid %}<b>Request ID: {{ requestParams.reqid }}</b> {% endif %}
{% if requestParams.reqid_from %}<b>From request ID: {{ requestParams.reqid_from }}</b> {% endif %}
{% if requestParams.reqid_to %}<b>To request ID: {{ requestParams.reqid_to }}</b> {% endif %}

{% if requestParams.jobname %}<b>Job name: {{ requestParams.jobname }}</b> {% endif %}
{% if requestParams.priorityrange %}<b>Current priority range: {{ requestParams.priorityrange }}</b> {% endif %}
{% if requestParams.processingtype %}<b>Processing type: {{ requestParams.processingtype }}</b> {% endif %}
{% if requestParams.transformation %}<b>Transformation: {{ requestParams.transformation }}</b> {% endif %}
{% if requestParams.fileid and requestParams.jeditaskid and requestParams.datasetid %}
<b>File ID: <a href="{% url 'fileInfo' %}?jeditaskid={{ requestParams.jeditaskid }}&datasetid={{ requestParams.datasetid }}&fileid={{ requestParams.fileid }}">{{ requestParams.fileid }}</a></b>
<b>Dataset ID: <a href="{% url 'datasetInfo' %}?jeditaskid={{ requestParams.jeditaskid }}&datasetid={{ requestParams.datasetid }}">{{ requestParams.datasetid }}</a> </b>
{% endif %}
<p>

{% if jobList %}
Job <b>modification times</b> in this listing range from <b>{{ tfirst }}</b> to <b>{{ tlast }}</b>,
<a id="copy-button" class="bluelink" data-clipboard-text="https://{{ request.get_host }}{{ time_locked_url }}">copy time locked link</a>
Job <b>current priorities</b> in this listing range from <b>{{ plow }}</b> to <b>{{ phigh }}</b>. See priorityrange in the job attribute summary to see how priorities are distributed.
{% endif %}

</div>
{% if requestParams.mode == 'nodrop' %}
<a href="{{xurl}}mode=drop">Switch to drop mode</a>
{% endif %}

{% if ndrops > 0 %}
<table width=900><tr><td class='highlightcell'>
<b>{{ ndrops }} jobs were dropped from this listing because they were retried. Where there were retries, the latest retry job (only) is listed. </b>

<a style="cursor: pointer;" onclick="javascript:toggleDetailDisplay('retries');"><br>Click to show/hide dropped jobs</a>
<br><a href="{{xurl}}mode=nodrop">Switch to nodrop mode</a>
<div class="retries" style="display:none">
<br>Dropped (retry):<br>
{% for drop in droplist %}
<a href="{% url 'jobInfo' drop.pandaid %}">{{ drop.pandaid }}</a> (<a href="{% url 'jobInfo' drop.newpandaid %}">{{ drop.newpandaid }}</a>)
{% endfor %}
</div>
</td></tr></table>
<p>

{% endif %}


{% if newndrop_test > 0 %}
<table width=900><tr><td class='highlightcell'>
<b style="font-size: 24px">New drop algorithm</b><br/><br/>
<b>{{ newndrop_test }} jobs were dropped from this listing because they were retried. Where there were retries, the latest retry job (only) is listed. </b>
<a style="cursor: pointer;" onclick="javascript:toggleDetailDisplay('newretries');"><br>Click to show/hide dropped jobs</a>
<br><a href="{{xurl}}mode=nodrop">Switch to nodrop mode</a>
<div class="newretries" style="display:none">
<font size=-1>
<br>Dropped:<br>
{% for pandaID in pandaIDList_test %}
<a href="{% url 'jobInfo' pandaID %}"> {{ pandaID }} </a>
{% endfor %}
</font>
</div>

{% if ndropPmerge_test > 0 %}
 <br/><br/>
<b>{{ ndropPmerge_test }} Dropped Pmerge jobs. Pmerge jobs:</b><br/>
{% for pmergejob in droppedPmerge2_test %}
<a href="{% url 'jobInfo' pmergejob %}">{{ pmergejob }}</a>
{% endfor %}
{% endif %}
<br/>

{% if difDropList_test %}
    Difference between old and new drop algorithm.
    <a style="cursor: pointer;" onclick="javascript:toggleDetailDisplay('difretries');"><br>Click to show/hide difference dropped jobs</a>
    <div class="difretries" style="display:none">
        {% for pandaID in difDropList_test %}
          <a href="{% url 'jobInfo' pandaID %}">{{ pandaID }}</a>
        {% endfor %}
    </div>
{% endif %}
</td></tr></table>
<p>
{% endif %}


{% if ndrops < 0 %}
<table width=900><tr><td class='highlightcell'>
    <a href="{{xurl}}mode=nodrop">Switch to nodrop mode</a>
</table>
{% endif %}


{% if jobList %}
<div class="card bp-container">
<div class="card-divider">
    <p>Job attribute summary, sort by {% if requestParams.sortby == 'count' %} count, <a href="{{ nosorturl }}">alpha</a> {% else %} <a href="{{ nosorturl }}sortby=count">count</a>, alpha {% endif %}</p>
</div>
<div class="card-section">
<table class="bp-table">
<tbody>
{% for fdict in sumd %}
<tr><th> {{ fdict.field }} ({{ fdict.list|length }})</th>
    <td><div class="comment more">
        {% for item in fdict.list %}
            {% if fdict.field == 'jeditaskid' %} <a href="{% url 'taskInfo' item.kname %}"> {{ item.kname }} </a><a href="{{xurl}}{{fdict.field}}={{item.kname}}" >({{ item.kvalue }})</a>
            {% elif fdict.field  == 'jobsetid'%} <a href="{% url 'jobList' %}?jobsetid={{ item.kname }}"> {{ item.kname }}</a> <a href="{{xurl}}{{fdict.field}}={{item.kname}}" >({{ item.kvalue }})</a>
            {% elif fdict.field  == 'harvesterinstance' %} {{ item.kname }} <a href="{{xurl}}{{fdict.field}}={{item.kname}}" >({{ item.kvalue }})</a>
            {% elif fdict.field  == 'durationmin' %} {% if item.kvalue > 0 %} {{ item.kname }} <a href="{{nodurminurl}}{{fdict.field}}={{item.kname}}" >({{ item.kvalue }})</a> {% endif %}
            {% else %}
                {% if fdict.field == 'jobstatus' %} <span class='{{item.kname}} item'> {% else %} <span class="item"> {% endif %}  {{ item.kname }} </span>
                {% if fdict.field == 'eventservicestatus' %} ({{ item.kvalue }}) {% else %}
                    <a {% if item.kname == 'closed:toreassign' %} href="{{xurl}}{{fdict.field}}=closed&jobsubstatus=toreassign"{% else %}
                                                                  href="{{xurl}}{{fdict.field}}={{item.kname}}" {% endif %}> ({{ item.kvalue }}) </a>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

{% if errsByCount %}
<a name="summary"></a>
<div class="card bp-container">
<div class="card-divider">
    <p>Overall error summary</p>
</div>
<div class="card-section">
<table class="bp-table">
<thead>
<tr>
    <th>Category:code</th>
    <th>Attempt list</th>
    <th class="num">Nerrors</th>
    <th>Sample error description</th>
</tr>
</thead>
<tbody>
{% for errval in errsByCount %}
<tr>
    <th> <a href="{{xurl}}jobstatus=failed&{{errval.codename}}={{errval.codeval}}&display_limit=100"> {{ errval.error }} </a> </th>
    <td> <a href="{{xurl}}jobstatus=failed&{{errval.codename}}={{errval.codeval}}&display_limit=100"> jobs </a> </th>
    <td class="num"> {{ errval.count }} </td>
    <td>{{ errval.diag }}<br/>{% if errval.count > 1%} <a href="{% url 'summaryErrorsList'%}?codename={{errval.codename}}&codeval={{errval.codeval}}&tk={{ errval.tk }}" target="_blank"> more information here </a> {% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endif %}


{% if errsByCount %}
   <a style="cursor: pointer;" onclick="javascript:toggleDetailDisplay('failedjob');"><br>Click to show/hide failed jobs details</a>
{% endif %}

 <a href="https://prodtask-dev.cern.ch/prodjob/{{ xurl|slice:"6:" }}">Prodsys Jobs Handling</a>
<p>


<div class="card bp-container">
<div class="card-divider">
    <p>Job list {% if display_limit and display_limit < njobs %}, only the most recent {{ display_limit }} jobs are shown.{% endif %}</p>
</div>
<div class="card-section">
<table class="bp-datatable" id="joblist">
<thead>
<tr>
    <th class="num">PanDA ID<br>Attempt# of maxAttempts#{% if requestParams.fileid %}<br><span style="color: gray">FileAttempt# of maxFileAttempt</span>{% endif %}</th>
    <th>Owner {% if viewParams.MON_VO != 'ATLAS' %} / VO{% endif %}</th>
	<th>Group</th>
    <th class="num">Request</th>
    <th class="num">Task ID</th>
	<th>Transformation</th>
	<th>Status</th>
	<th class="num">Created</th>
	<th class="num">Time to start<br>d:h:m:s</th>
	<th class="num">Duration<br>d:h:m:s</th>
	<th class="num">Mod</th>
	<th>{% if viewParams.MON_VO == 'ATLAS' %}Cloud {% endif%}Site</th>
	<th class="num">Priority</th>
    <th class="num">N input events (N input files)</th>
    {% if requestParams.jeditaskid  %}
        <th class="num">Maximum <br>PSS</th>
    {% endif %}
    <th>Job name</th>
    <th>Input dataset</th>
    <th>Output dataset</th>
	<th>Job info</th>
</tr>
</thead>
<tbody>
{% for job in jobList %}
	<tr {% if job.jobstatus == 'failed'%} class="failedjob" {% endif %}>
		<td class="num"><a href="{% url 'jobInfo' %}?pandaid={{ job.pandaid }}">{{ job.pandaid }}</a><br>Attempt {{ job.attemptnr }} of {{ job.maxattempt }}
			{% if requestParams.fileid %}<br><span style="color: gray">FileAttempt {% if job.fileattemptnr or job.filemaxattempts %}{{ job.fileattemptnr }} of {{ job.filemaxattempts }}{% endif %}</span>{% endif %}
            <br>
		    {% if job.consumer %}Consumer: <a href="{% url 'jobInfo' %}?pandaid={{ job.consumer }}">{{ job.consumer }}</a>{% endif %}
            {% if request.user.is_tester %}
            {% if job.pandaid in clist %}
                <br>
                <a id="comparisonbutton{{ job.pandaid }}" onclick="toggleComparisonList('comparisonbutton{{ job.pandaid }}', '{{ job.pandaid }}')" class="removefromcomparisonbuttoncompact">Remove from comparison</a>
            {% else %}
                <br>
                <a id="comparisonbutton{{ job.pandaid }}" onclick="toggleComparisonList('comparisonbutton{{ job.pandaid }}', '{{ job.pandaid }}')" class="addtocomparisonbuttoncompact">Add to comparison</a>
            {% endif %}
            {% endif %}
        </td>
		<td><a href="{% url 'userInfo' job.produsername|safe %}?display_limit=100">{{ job.produsername }}</a>{% if viewParams.MON_VO != 'ATLAS' %}{% if job.vo %} / {{ job.vo }}{% endif %} {% endif %}</td>
		<td>{% if job.workinggroup %}<a href="{{xurl}}workinggroup={{ job.workinggroup }}">{{ job.workinggroup }}</a>{% endif %}</td>
        <td class="num">{% if job.reqid %}<a href="{% url 'jobList' %}?reqid={{ job.reqid }}&display_limit=300">{{ job.reqid }}</a>{% endif %}</td>
		<td class="num">{% if job.jeditaskid  and job.jeditaskid != 'None' %}<a href="{{xurl}}jeditaskid={{job.jeditaskid}}">{{ job.jeditaskid }}</a> {% elif job.taskid and job.taskid != 'None' %} <a href="{% url 'jobList' %}?taskid={{job.taskid}}{% if job.taskid < 1000000 %}&produsername={{job.produsername}}{% endif %}&display_limit=100">{{ job.taskid }}</a> {% endif %}</td>
		<td><a href="{{xurl}}transformation={{job.transformation}}">{{ job.transformation }}</a></td>
		<td class="{{job.jobstatus}}_fill">{{ job.jobstatus }}</td>
		<td class="num">{{ job.creationtime }}</td>
		<td class="num">{{ job.waittime }}</td>
		<td class="num">{{ job.duration }}</td>
		<td class="num">{{ job.modificationtime }}</td>
		<td>{% if viewParams.MON_VO == 'ATLAS' %}<a href="{{xurl}}cloud={{job.cloud}}">{{job.cloud}}</a> {% endif %}<a href="{% url 'siteInfo' job.computingsite %}">{{ job.computingsite }}</a> <span class='{{job.computingsitestatus}}'>{{job.computingsitestatus}}</span>{{job.computingsitecomment}}</td>
		<td class="num">{{ job.currentpriority }}</td>
        <td class="num">{{ job.nevents }} ({{ job.ninputs }})</td>
        {% if requestParams.jeditaskid  %}
            <td class="num">{% if job.maxpss and job.maxpss != 'None' and job.maxpss != -1 %}{{ job.maxpss }}{% endif %}</td>
        {% endif %}
        <td><a href="{% url 'jobList' %}?jobname={{ job.jobname }}&taskid={{ job.taskid }}{% if job.jeditaskid > 0 %}&jeditaskid={{ job.jeditaskid }}{% endif %}&mode=nodrop&sortby=attemptnr">{{ job.jobname }}</a></td>
        <td>{% if job.proddblock %}<a href="{% url 'datasetInfo' %}?datasetname={{ job.proddblock }}">{{ job.proddblock }}</a> || <a href="https://rucio-ui.cern.ch/did?scope={{ job.inputfileproject }}&name={{ job.proddblock }}" target="_blank"> Rucio link</a>{% endif %}</td>
        <td>{% if job.destinationdblock %}<a href="{% url 'datasetInfo' %}?datasetname={{ job.destinationdblock }}">{{ job.destinationdblock }}</a>{% endif %}</td>
		<td class="alarm">{% if job.jobinfo != '' %}{{job.jobinfo|safe}}<br>{% endif %}{% if job.errorinfo != '' %}{{job.errorinfo|safe}}{% endif %}</td>
{% endfor %}
</tbody>
</table>
</div>
</div>

{% else %}

<p>
No jobs matched the query. You can increase the time depth with a days=N parameter on the URL, but use judiciously, this is hard on the database. If you know the jobsetid or taskid/jeditaskid of the jobs you're interested in, you can add these to the URL, and the search will not be time limited (because these IDs give the DB enough indexing info that it isn't stressful on the DB to exclude the time constraint) and it will be fast also.
</p>

{% endif %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static "node_modules/jquery.shorten/src/jquery.shorten.min.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/clipboard/dist/clipboard.min.js" %}"></script>
<script type="text/javascript" src="{% static "node_modules/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".comment").shorten({
        showChars: 800,
    });

    $('#joblist').DataTable({
        "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
        "paging": true,
        "scrollX": true,
        "aaSorting": [[10,'desc']],
        }
    );

    let clipboard = new ClipboardJS('#copy-button'); //needed for copy to clipboard button

    clipboard.on('success', function(e) {
        let copy_button = document.getElementById('copy-button');
        copy_button.innerHTML = 'copied!';
        copy_button.classList.add('disabled');
        e.clearSelection();
    });

    clipboard.on('error', function(e) {
        let copy_button = document.getElementById('copy-button');
        copy_button.innerHTML = 'copying failed!';
        copy_button.classList.add('disabled');
    });
});

function toggleDetailDisplay(className) {
   el = document.getElementsByClassName(className)
   for (i=0; i<el.length; i++) {
     el[i].style.display = (el[i].style.display=="none") ? "" : "none";
   }
}

function toggleComparisonList(buttonid, value) {
    var buttontext = document.getElementById(buttonid).innerHTML;
    if (buttontext.indexOf('Add') >= 0) {
        $.ajax({
            url: '/addtocomparison/',
            data: 'object=job&value='+value,
            async: true,
            cache: false
        }).done(function (response) {
            $('#' + buttonid).html('Remove from comparison');
            document.getElementById(buttonid).className = "removefromcomparisonbuttoncompact";
            });
    }
    else {
        $.ajax({
            url: '/deletefromcomparison/',
            data: 'object=job&value='+value,
            async: true,
            cache: false
        }).done(function (response) {
            $('#' + buttonid).html('Add to comparison');
            document.getElementById(buttonid).className = "addtocomparisonbuttoncompact";
            });
    }

}

</script>

{% endblock %}


{% block helptext %}
{% include "jobListHelp.html" with helptitle="Job list help" %}
{% include "jobInfoHelp.html" with helptitle="Job information" show="all" %}
{% endblock %}

