{% extends "_base_core.html" %}

{% block page_title %} {{ viewParams.MON_VO }} PanDA jobs{% endblock %}
{% block subtitle %}PanDA jobs<font size=-1>{{ viewParams.selection|safe }}
{% load static %}

{% if showwarn and njobs%}
      <font style="color:#FF8040; size=-1"><b>Warning: limit {{joblimit}} per job table</b> </font>
{% endif %}
{% if showTop %}       <font style="color:#FF8040; size=-1"><b>Task has {{totalJobs}} jobs in table Jobsarchived, limit is set to {{limit}}</b> </font>{% endif %}

   	<script type="text/javascript" src="{% static "/js/jquery-1.9.1.min.js"%}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
{#    <script src="{% static 'js/foundation/foundation.topbar.js' %}"></script>#}
    <script type="text/javascript" src="{% static "/js/jquery.shorten.1.0.js"%}"></script>
    <link rel="stylesheet" href="{% static "css/loading.css"%}">
    <script type="text/javascript">

        function preventDefault(e) {
            e.preventDefault();
        }

        $(document).ready(

                function () {
                    function doRequest() {
                            $.ajax({
                                type: "GET",
                                url: "{% url 'jobListPDiv' %}?requesttoken={{requesttoken}}",
                                cache: false,
                                async: true,
                                method: "GET",
                                success: function (data) {
                                        var ele = document.getElementById("content");
                                        ele.innerHTML = data;
                                        ele.style.display = 'none';
                                        var codes = ele.getElementsByTagName("script");
                                        for (var i = 0; i < codes.length; i++) {
                                            eval(codes[i].text);
                                        }

                                        $('#content a').bind('click', preventDefault);

                                },
                                complete : function(data) {
                                        if ((document.getElementById("doRefresh")) && (document.getElementById("doRefresh").value == "True")) {
                                            setTimeout( doRequest(), 3000 );
                                            if (((document.getElementById("findRows")) && (document.getElementById("findRows").value == "False")))
                                                document.getElementById("content").style.display = 'none';
                                            else
                                                document.getElementById("content").style.display = 'block';
                                        } else {
                                            /*if (((document.getElementById("findRows")) && (document.getElementById("findRows").value == "False")))*/
                                            {
                                                document.getElementById("updateCaption").style.display = 'none';
                                                document.getElementById("content").style.display = 'block';
                                                if (document.getElementById("timerange"))
                                                    document.getElementById("timerange").innerHTML = "Job <b>modification times</b> in this listing range from <b>{{ tfirst }}</b> to <b>{{ tlast }}</b>." + document.getElementById("timerange").innerHTML
                                            }
                                            $('#content a').unbind('click', preventDefault);

                                        }
                                }
                            });
                    }
                    doRequest();
                });
    </script>

    <div id="updateCaption" style="padding-top: 50px;padding-bottom: 50px">
        <h1><img src="{% static "images/Preloader_2.gif"%}">Data is being processed</h1>
    </div>

{% endblock %}

{% block body %}
{% endblock %}

<!-- block body -->



{% block help %}
{% include "jobListHelp.html" %}
{% include "jobInfoHelp.html" with show="all" %}
{% endblock %}
