{% if jobsummary %}
  <table class="fresh-table unstriped">
    <thead>
      <tr>
          <th colspan=20>
              <b>States of jobs in this task</b>
          </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        {% for job_category, job_states in jobsummary.items %}
          {% if forloop.counter == 1 %}
            {% for state in job_states %}
              <th class="{{ state.name }}"><b> {{ state.name }} </b></th>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tr>
      {% for job_category, job_states in jobsummary.items %}
        <tr>
          <th>{{ job_category | title }}</th>
          {% for state in job_states %}
            <td {% if state.count > 0 %} class='{{ state.name }}_fill' {% endif %}>
                  {% if state.count > 0 %}
                      <b> <a href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&jobstatus={{ state.name }}&mode={{ requestParams.mode }}&eventservice={% if job_category == 'run' %}not2{% else %}2{% endif %}&display_limit=100">
                          <span class='{{ state.name }}_fill'>{% if state.count > 0 %} {{ state.count }} {% endif %}</span></a> </b>
                  {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

