<div class="table-scroll">
<table class="fresh-table unstriped">
<thead>
  <tr><th colspan="200">Job status log</th></tr>
</thead>
<tbody>
<tr>
    <th>Modification time</th>
    {% for item in statusLog %}
        <td>{{ item.modiftime_str }}</td>
    {% endfor %}
</tr>
<tr>
    <th>States</th>
    {% for item in statusLog %}
        <td class="{{ item.jobstatus }}_fill">{{ item.jobstatus }}</td>
    {% endfor %}
</tr>
<tr>
    <th>Duration, d:h:m:s</th>
    {% for item in statusLog %}
        <td>{{ item.duration }}</td>
    {% endfor %}
</tr>
<tr>
    <th>Modification host</th>
    {% for item in statusLog %}
        <td>{{ item.modificationhost }}</td>
    {% endfor %}
</tr>
</tbody>
</table>