<div class="card bp-container-simple help">
<div class="card-divider"><p>PanDA/JEDI logger page help</p></div>
<div class="card-section">

<p>
The PanDA logger service, based on the <a href="https://docs.python.org/2/library/logging.html">python logging module</a>,
  is used by PanDA services to log alarms, incidents, errors etc.
  All recorded log information is collected, parsed, processed and stored to ES-ATLAS ElasticSearch,
  see <a href="https://es-atlas1.cern.ch/kibana/app/kibana#/dashboard/ES-ATLAS-Home" target="_blank">Kibana</a>.
</p>

</div>
</div>

