{% extends "_base_core.html" %}
{% load humanize %}


{% block page_title %} {{ viewParams.MON_VO }} Report on Campaign {% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} Report on Campaign</a>{% endblock %}
{% block subtitle %}PanDA {{view}} {{ requestParams.mode }} {{ viewParams.selection|safe }}
{% endblock %}
{% block body %}
    <h1> Report on Campaign MC16 </h1>
    <h5> Built on {{ built }}, additional selection by requests {{ requestList }} applied </h5>

    {% comment %}
    {% for data in DEFTEvents %}
    <table>
        <tr>
            <th colspan=20>{{ data.title }}</th>
        </tr>
        <tr>
            <th></th>
            <th>evgen</th>
            <th>simul</th>
            <th>recon</th>
            <th>merge</th>
        </tr>

        {% for key, values in data.items %}
            {% ifnotequal key 'title' %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ values.evgen }}</td>
                <td>{{ values.simul }}</td>
                <td>{{ values.recon }}</td>
                <td>{{ values.merge }}</td>
            </tr>
            {% endifnotequal %}
        {% endfor %}

    </table>
    {% endfor %}
    {% endcomment %}


    {% for data in totalEvents %}
    <table>
        <tr>
            <th colspan=20>{{ data.title }}</th>
        </tr>
        <tr>
            <th></th>
            <th>evgen</th>
            <th>simul</th>
            <th>recon</th>
            <th>merge</th>
        </tr>

        {% for key, values in data.items %}
            {% ifnotequal key 'title' %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ values.evgen|intcomma }}</td>
                <td>{{ values.simul|intcomma }}</td>
                <td>{{ values.recon|intcomma }}</td>
                <td>{{ values.merge|intcomma }}</td>
            </tr>
            {% endifnotequal %}
        {% endfor %}

    </table>
    {% endfor %}


    {% for data in totalTasks %}
    <table>
        <tr>
            <th colspan=20>{{ data.title }}</th>
        </tr>
        <tr>
            <th></th>
            <th>evgen</th>
            <th>simul</th>
            <th>recon</th>
            <th>merge(*)</th>
        </tr>

        {% for key, values in data.items %}
            {% ifnotequal key 'title' %}
                <tr>
                    <td><span class='{{ key }}'>{{ key }}</span></td>
                    <td><a href='/tasks/?superstatus={{ key }}&campaign=MC16*&taskname=*.evgen.*&days=300'>   {{ values.evgen|intcomma }}</td>
                    <td><a href='/tasks/?superstatus={{ key }}&campaign=MC16*&taskname=*.simul.*&days=300'>   {{ values.simul|intcomma }}</td>
                    <td><a href='/tasks/?superstatus={{ key }}&campaign=MC16*&taskname=*.recon.*&days=300'>   {{ values.recon|intcomma }}</td>
                    <td><a href='/tasks/?superstatus={{ key }}&campaign=MC16*&taskname=*.merge.*&days=300'>   {{ values.merge|intcomma }}</td>
                </tr>
            {% endifnotequal %}
        {% endfor %}

    </table>
    {% endfor %}
    <p>(*) Merge links may not provide corespondent number due to additional filtering which should be applied to select true merge tasks

    {% for data in totalJobs %}
    <table>
        <tr>
            <th colspan=20>{{ data.title }}</th>
        </tr>
        <tr>
            <th></th>
            <th>evgen</th>
            <th>simul</th>
            <th>recon</th>
            <th>merge</th>
        </tr>

        {% for key, values in data.items %}
            {% ifnotequal key 'title' %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ values.evgen|intcomma }}</td>
                    <td>{{ values.simul|intcomma }}</td>
                    <td>{{ values.recon|intcomma }}</td>
                    <td>{{ values.merge|intcomma }}</td>
                </tr>
            {% endifnotequal %}
        {% endfor %}

    </table>
    {% endfor %}



{% endblock %}
