{% extends "_base_core.html" %}
{% load humanize %}


{% block page_title %} {{ viewParams.MON_VO }} Report on Campaign {% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} Report on Campaign</a>{% endblock %}
{% block subtitle %}PanDA {{view}} {{ requestParams.mode }} {{ viewParams.selection|safe }}
{% endblock %}
{% block body %}
    <h1> Report on Campaign MC16 </h1>
    <h5> Built on {{ built }}, additional selection by requests {{ requestList }} applied </h5>

    {% comment %}
    {% endcomment %}

    {% for data in JediEventsR %}
    <table>
        <tr>
            <th colspan=20>{{ data.title }}</th>
        </tr>
        <tr>
            <th></th>
            <th>evgen</th>
            <th>simul</th>
            <th>recon</th>
            <th>merge</th>
        </tr>

        {% for key, values in data.items %}
            {% ifnotequal key 'title' %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ values.evgen }}</td>
                <td>{{ values.simul }}</td>
                <td>{{ values.recon }}</td>
                <td>{{ values.merge }}</td>
            </tr>
            {% endifnotequal %}
        {% endfor %}

    </table>
    {% endfor %}

    <script type="text/javascript">
        function toggleTable(hashtag) {
            var lTable = document.getElementById(hashtag);
            lTable.style.display = (lTable.style.display == "table") ? "none" : "table";
        };
    </script>

    <table>
        <tr><th>Overall events processing summary, avaliable #HashTags breakdown</th></tr>
        <tr><td>
            {% for hashtag in hashTable %}
                <a onclick="javascript:toggleTable('{{ hashtag }}')"> {{ hashtag }} </a>
            {% endfor %}
        </td></tr>
    </table>

    {% for data in JediEventsHashsTable %}
    <table id="{{ data.hashtag }}" style="display: none">
        <tr>
            <th colspan=20>Overall events processing summary, HashTag: #{{ data.hashtag }}</th>
        </tr>
        <tr>
            <th></th>
            <th>evgen</th>
            <th>simul</th>
            <th>recon</th>
            <th>merge</th>
        </tr>
        {% for key, values in data.items %}
            {% ifnotequal key 'hashtag' %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ values.evgen }}</td>
                <td>{{ values.simul }}</td>
                <td>{{ values.recon }}</td>
                <td>{{ values.merge }}</td>
            </tr>
            {% endifnotequal %}
        {% endfor %}
    </table>
    {% endfor %}


    {% for data in totalEvents %}
    <table>
        <tr>
            <th colspan=20>{{ data.title }}</th>
        </tr>
        <tr>
            <th></th>
            <th>evgen</th>
            <th>simul</th>
            <th>recon</th>
            <th>merge</th>
        </tr>

        {% for key, values in data.items %}
            {%if  key != 'title' and key != 'total' %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ values.evgen|intcomma }}</td>
                <td>{{ values.simul|intcomma }}</td>
                <td>{{ values.recon|intcomma }}</td>
                <td>{{ values.merge|intcomma }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        <tr>
             <td><span class='total'>TOTAL</span></td>
             <td>{{ data.total.evgen|intcomma }}</td>
             <td>{{ data.total.simul|intcomma }}</td>
             <td>{{ data.total.recon|intcomma }}</td>
             <td>{{ data.total.merge|intcomma }}</td>
        <tr>

    </table>
    {% endfor %}


    {% for data in totalTasks %}
    <table>
        <tr>
            <th colspan=20>{{ data.title }}</th>
        </tr>
        <tr>
            <th></th>
            <th>evgen</th>
            <th>simul</th>
            <th>recon</th>
            <th>merge(*)</th>
        </tr>

        {% for key, values in data.items %}
            {%if  key != 'title' and key != 'total' %}
                <tr>
                    <td><span class='{{ key }}'>{{ key }}</span></td>
                    <td><a href='/tasks/?status={{ key }}&campaign=MC16*&taskname=*.evgen.*&days=300&reqid=11034|11048|11049|11050|11051|11052|11198|11197|11222|11359'>   {{ values.evgen|intcomma }}</td>
                    <td><a href='/tasks/?status={{ key }}&campaign=MC16*&taskname=*.simul.*&days=300&reqid=11034|11048|11049|11050|11051|11052|11198|11197|11222|11359'>   {{ values.simul|intcomma }}</td>
                    <td><a href='/tasks/?status={{ key }}&campaign=MC16*&taskname=*.recon.*&days=300&reqid=11034|11048|11049|11050|11051|11052|11198|11197|11222|11359'>   {{ values.recon|intcomma }}</td>
                    <td><a href='/tasks/?status={{ key }}&campaign=MC16*&taskname=*.merge.*&days=300&reqid=11034|11048|11049|11050|11051|11052|11198|11197|11222|11359'>   {{ values.merge|intcomma }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
             <td><span class='total'>TOTAL</span></td>
             <td>{{ data.total.evgen|intcomma }}</td>
             <td>{{ data.total.simul|intcomma }}</td>
             <td>{{ data.total.recon|intcomma }}</td>
             <td>{{ data.total.merge|intcomma }}</td>
        <tr>
    </table>
    {% endfor %}
    <p>(*) Merge links may not provide corespondent number due to additional filtering which should be applied to select true merge tasks


    {% for data in recentTasks %}
    <table>
        <tr>
            <th colspan=20>{{ data.title }}</th>
        </tr>
        <tr>
            <th></th>
            <th>evgen</th>
            <th>simul</th>
            <th>recon</th>
            <th>merge</th>
        </tr>

        {% for key, values in data.items %}
            {%if  key != 'title' and key != 'total' %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ values.evgen|intcomma }}</td>
                    <td>{{ values.simul|intcomma }}</td>
                    <td>{{ values.recon|intcomma }}</td>
                    <td>{{ values.merge|intcomma }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% endfor %}
    <p>(*) Tasks updated during last 24 hours
    <br>(**) All current tasks
    <br>(***) Tasks submitted during last 24 hours




    {% for data in totalJobs %}
    <table>
        <tr>
            <th colspan=20>{{ data.title }}</th>
        </tr>
        <tr>
            <th></th>
            <th>evgen</th>
            <th>simul</th>
            <th>recon</th>
            <th>merge</th>
        </tr>

        {% for key, values in data.items %}
            {%if  key != 'title' and key != 'total' %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ values.evgen|intcomma }}</td>
                    <td>{{ values.simul|intcomma }}</td>
                    <td>{{ values.recon|intcomma }}</td>
                    <td>{{ values.merge|intcomma }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
             <td><span class='total'>TOTAL</span></td>
             <td>{{ data.total.evgen|intcomma }}</td>
             <td>{{ data.total.simul|intcomma }}</td>
             <td>{{ data.total.recon|intcomma }}</td>
             <td>{{ data.total.merge|intcomma }}</td>
        <tr>
    </table>
    {% endfor %}

    {% for data in hepspecJobs %}
    <table>
        <tr>
            <th colspan=20>{{ data.title }}</th>
        </tr>
        <tr>
            <th></th>
            <th>evgen</th>
            <th>simul</th>
            <th>recon</th>
            <th>merge</th>
        </tr>

        {% for key, values in data.items %}
            {%if  key != 'title' and key != 'total' %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ values.evgen|intcomma }}</td>
                    <td>{{ values.simul|intcomma }}</td>
                    <td>{{ values.recon|intcomma }}</td>
                    <td>{{ values.merge|intcomma }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% endfor %}

{% endblock %}
