{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}
{% block page_title %} PanDA tasks{% endblock %}
{% block subtitle %}Running production task list
{% endblock %}
<script type="text/javascript" src="{% static "/js/jquery-1.9.1.min.js"%}"></script>
{% block body %}

    {% if requestParams.campaign %}<br><b>Campaign:</b> {{ requestParams.campaign }} {% endif %}
    {% if requestParams.status %}<br><b>Status:</b> {{ requestParams.status }} {% endif %}
    {% if requestParams.corecount %}<br><b>Core count:</b> {{ requestParams.corecount }} {% endif %}
    {% if requestParams.username %}<br><b>User name:</b> {{ requestParams.username }} {% endif %}
    {% if requestParams.inputdataset %}<br><b>Input dataset:</b> {{ requestParams.inputdataset }} {% endif %}
    {% if requestParams.reqid %}<br><b>Request ID:</b> {{ requestParams.reqid }} {% endif %}
    {% if requestParams.ptag %}<br><b>pTag:</b> {{ requestParams.ptag }} {% endif %}
    {% if requestParams.workinggroup %}<br><b>Working group:</b> {{ requestParams.workinggroup }} {% endif %}
    {% if requestParams.processingtype %}<br><b>Processingtype:</b> {{ requestParams.processingtype }} {% endif %}
    {% if requestParams.site %}<br><b>Site:</b> {{ requestParams.site }} {% endif %}
    {% if requestParams.gshare %}<br><b>Global Share:</b> {{ requestParams.gshare }} {% endif %}
    <p>
        <script>
            var numberOfRunning = 0;
            var numberOfWaiting = 0;

            function insertReply(content) {
                alert(content);
            }

        </script>


            <script>
                function onPresetChoice () {
                    var presetChoice = document.getElementById ("presetChoice");
                    var workinggroup = document.getElementById ("workinggroup");
                    var processingtype = document.getElementById ("processingtype");
                    var campaign = document.getElementById ("campaign");
                    var status = document.getElementById ("status");
                    var warning = document.getElementById ("warning");

                    if (presetChoice.value == 'MC') {
                        workinggroup.selectedIndex = 1;
                        processingtype.selectedIndex = 1;
                        campaign.selectedIndex = 1;
                        status.selectedIndex = 0;
                    }

                    if (presetChoice.value == 'DPD') {
                        workinggroup.selectedIndex = 2;
                        processingtype.selectedIndex = 2;
                        campaign.selectedIndex = 0;
                        status.selectedIndex = 0;
                    }

                    if (presetChoice.value == 'DATA') {
                        workinggroup.selectedIndex = 3;
                        processingtype.selectedIndex =3;
                        campaign.selectedIndex =0;
                        status.selectedIndex = 0;
                    }


                    if (presetChoice.value == '') {
                        workinggroup.selectedIndex = 0;
                        processingtype.selectedIndex = 0;
                        campaign.selectedIndex = 0;
                        status.selectedIndex = 0;
                    }
                    warning.style.display = '';
                }

                function onSubElementChoice() {
                    var warning = document.getElementById ("warning");
                    warning.style.display = '';
{#                    var presetChoice = document.getElementById ("presetChoice");#}
{#                    presetChoice.selectedIndex = 2;#}

                }
                function go() {

                    var workinggroupQ = "";
                    var processingtypeQ = "";
                    var campaignQ = "";
                    var presetQ = "";
                    var statusQ = "";
                    var hpcsitesQ = "";
                    var workinggroup = document.getElementById ("workinggroup");
                    var processingtype = document.getElementById ("processingtype");
                    var campaign = document.getElementById ("campaign");
                    var presetChoice = document.getElementById ("presetChoice");
                    var query = {% url 'runningProdTasks' %} ;
                    var status = document.getElementById ("status");
                    var hpcsites = document.getElementById('hpc');


                    if (workinggroup.value.length > 0) workinggroupQ = "workinggroup="+workinggroup.value;
                    if (processingtype.value.length > 0) processingtypeQ = "processingtype="+processingtype.value;
                    if (campaign.value.length > 0) campaignQ = "campaign="+campaign.value;
                    if (presetChoice.value.length > 0) presetQ = "preset="+presetChoice.value;
                    if (status.value.length > 0) statusQ = "status="+status.value;
                    if (hpcsites.checked) hpcsitesQ = "site="+hpcsites.value;

                    if ((workinggroupQ.length>1) || (processingtypeQ.length>1) || (campaignQ.length>1) || (presetQ.length > 1) || (statusQ.length > 1)) {
                        query += "?";
                        if (presetQ.length > 1) {
                            query += presetQ+"&";
                        }
                        if (workinggroupQ.length > 1) {
                            query += workinggroupQ+"&";
                        }
                        if (processingtypeQ.length > 1) {
                            query += processingtypeQ+"&";
                        }
                        if (campaignQ.length > 1) {
                            query += campaignQ+"&";
                        }
                        if (statusQ.length > 1) {
                            query += statusQ+"&";
                        }
                        if (hpcsitesQ.length > 1) {
                            query += hpcsitesQ+"&";
                        }
                        query = query.substring(0, query.length - 1);
                    }
                    window.location = query;
                }
            </script>


            <table>
                <tr class='tablesection'>
                    <th colspan=20>Tasks selection</th>
                </tr>
                <tr class='tablesection'>
                    <th>Selection Preset</th>
                    <th>Working group</th>
                    <th>Processing type</th>
                    <th>Campaign</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <select id="presetChoice" onchange="onPresetChoice()">
                            <option value="MC"
                                {% if requestParams.preset == 'MC' %} selected="selected" {% endif %}
                                >MC</option>
                            <option value="DPD"
                                {% if requestParams.preset == 'DPD' %} selected="selected" {% endif %}
                                >DPD</option>
                            <option value="DATA"
                                {% if requestParams.preset == 'DATA' %} selected="selected" {% endif %}
                                >DATA</option>
                            <option value=""
                                {% if requestParams.preset != 'DPD' and requestParams.preset != 'MC'  and requestParams.preset != 'DATA' %} selected="selected" {% endif %}>All</option>
                        </select>
                    </td>
                    <td>
                        <select id="workinggroup" onchange="onSubElementChoice()">
                            <option value=""  selected="selected"
                                {% if requestParams.preset == 'MC' %} disabled="disabled" {% endif %}
                            >All</option>
                            <option value="!AP_REPR,!AP_VALI,!GP_PHYS,!GP_THLT"
                                {% if requestParams.workinggroup == '!AP_REPR,!AP_VALI,!GP_PHYS,!GP_THLT' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'MC' and requestParams.workinggroup != '!AP_REPR,!AP_VALI,!GP_PHYS,!GP_THLT' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'DPD' or requestParams.preset == 'DATA' %} disabled="disabled" {% endif %}
                            >NOT IN ('AP_REPR', 'AP_VALI', 'GP_PHYS', 'GP_THLT')</option>
                            <option value="GP_PHYS"
                                {% if requestParams.preset == 'DPD' or requestParams.workinggroup == 'GP_PHYS' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'MC' or requestParams.preset == 'DATA' %} disabled="disabled" {% endif %}
                            >GP_PHYS</option>

                            <option value="AP_REPR"
                                {% if requestParams.preset == 'DATA' or requestParams.workinggroup == 'AP_REPR' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'MC' or requestParams.preset == 'DPD' %} disabled="disabled" {% endif %}
                            >AP_REPR</option>


                            {% if requestParams.preset != 'DPD' and requestParams.preset != 'DATA' %}
                                {% for wg in sumd.3.list %}
                                    <option value={{ wg.kname }}
                                        {% if wg.kname == requestParams.workinggroup %} selected="selected" {% endif %}>
                                        {{ wg.kname }} </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                    <td>
                        <select id="processingtype" onchange="onSubElementChoice()">
                            <option value=""  selected="selected"
                                {% if requestParams.preset == 'MC' %} disabled="disabled" {% endif %}
                            >All</option>
                            <option value="evgen|pile|simul|recon"
                                {% if requestParams.preset == 'MC'  or requestParams.processingtype == 'evgen|pile|simul|recon' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'DPD' or requestParams.preset == 'DATA' %} disabled="disabled" {% endif %}
                            >IN ('evgen' , 'pile', 'simul', 'recon')</option>
                            <option value="merge"
                                {% if requestParams.preset == 'DPD' or requestParams.processingtype == 'merge' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'MC' or requestParams.preset == 'DATA' %} disabled="disabled" {% endif %}
                            >merge</option>

                            <option value="reprocessing"
                                {% if requestParams.processingtype == 'reprocessing' or requestParams.preset == 'DATA' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'MC' or requestParams.preset == 'DPD' %} disabled="disabled" {% endif %}
                            >reprocessing</option>

                            {% if requestParams.preset != 'DPD' and requestParams.preset != 'DATA' %}
                                {% for ptype in sumd.1.list %}
                                        <option value={{ ptype.kname }}
                                            {% if ptype.kname == requestParams.processingtype %} selected="selected" {% endif %}>
                                            {{ ptype.kname }} </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                    <td>
                        <select id="campaign" onchange="onSubElementChoice()">
                            <option value=""  selected="selected">All</option>
                            <option value="MC*"
                                {% if requestParams.preset == 'MC' or requestParams.campaign == 'MC*' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'DPD' or requestParams.preset == 'DATA' %} disabled="disabled" {% endif %}
                            > like 'MC%'</option>
                                {% for campaign in sumd.0.list %}
                                    <option value="*{{ campaign.kname }}*"
                                        {% if campaign.kname in requestParams.campaign %} selected="selected" {% endif %}
                                    >{{ campaign.kname }} </option>
                                {% endfor %}

                        </select>
                    </td>
                    <td>
                        <select id="status" onchange="onSubElementChoice()">
                            <option value=""  selected="selected">All</option>
                            {% for status in sumd.2.list %}
                                <option value={{ status.kname }}
                                    {% if status.kname == requestParams.status %} selected="selected" {% endif %}
                                > {{ status.kname }} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="checkbox" id="hpc" name="hpc" value="hpc" onchange="onSubElementChoice()"
                        {% if requestParams.site == 'hpc' %} checked {% endif %}>HPC
                    </td>
                    <td>
                         <button onclick="go()">Go!</button>
                    </td>
                </tr>
            </table>
    <p>
    <div id="warning" style="display:none"> <span class="warning" style="font-size: 24px">Data is out of date since you changed selection. Press GO! button to apply changes. </span></div>
    <p>
        {% if tasks %}

            <table>
                <tr class='tablesection'>
                    <th> Global status</th>
                    <th> Total slots</th>
                    <th> Task age</th>
                </tr>
                <tr>
                    <td>
                        {% if requestParams.preset == 'MC' %}
                            {% if neventsFStasksSum|length > 0 %}<div class="d3splot" id="pieChartFS" style="float:left"></div>{% endif %}
                            {% if neventsAFIItasksSum|length > 0 %}<div class="d3splot" id="pieChartAFII" style="float:left"></div>{% endif %}
                        {% else %}
                            {% if neventsByProcessingType|length > 0 %}<div class="d3splot" id="pieChartByPT" style="float:left"></div>{% endif %}
                        {% endif %}
                        <br>
                        Total events done <b>{{ neventsUsedTotSum }}M</b> of <b>{{ neventsTotSum }}M</b> in
                        <b>{{ ntasks }}</b> tasks <br>
                        Number of currently running events <b id="running"></b><b>M</b><br>
                        Number of waiting events <b id="waiting"></b><b>M</b><br>
                        Total 1-core jobs <b>{{ rjobs1coreTot }}</b> and 8-cores <b>{{ rjobs8coreTot }}</b> jobs
                    </td>
                    {#<td><div class="d3splot" id="slots" style="float:left"></div></td>#}
                    <td>{% if aslotsByType|length > 0 %}<div class="d3splot" id="pieChartSlots"></div>{% endif %}
                        Number of allocated slots: {{ aslots }}</td>
                    <td colspan=20>{% if plotageshistogram == 1 %}
                        <div class="d3splot" id="sumPlot" style="float:left"></div>{% else %}
                        <p> All tasks age is 0 days</p> {% endif %} </td>
            </tr>
            </table>
            <script src="/static/js/d3jsplot.js"></script>
            <script>
                var ages = {{ ages|safe }};
                var productiontype = {{ productiontype | safe }};
                var plotageshistogram = {{ plotageshistogram }};
                if (plotageshistogram == 1) {
                    pandamonProdRunTaskSumPlotFunc(ages, "#sumPlot", 'Task age histogram', 24, productiontype);
                }
                var neventsFStasksSum ={{ neventsFStasksSum|safe }};
                var neventsAFIItasksSum ={{ neventsAFIItasksSum|safe }};
                var neventsByProcessingType ={{ neventsByProcessingType|safe }};
                if (productiontype == 'MC') {
                    runningProdTasksPieChartFunc(neventsFStasksSum, "#pieChartFS", 'FS');
                    runningProdTasksPieChartFunc(neventsAFIItasksSum, "#pieChartAFII", 'AFII');
{#                    pandamonPieChartFunc(neventsFStasksSum, "#pieChartFS", 'FS');#}
{#                    pandamonPieChartFunc(neventsAFIItasksSum, "#pieChartAFII", 'AFII');#}
                }
                else {
                    runningProdTasksPieChartFunc(neventsByProcessingType, "#pieChartByPT", 'N Events')
                }

                var slots = {{ aslotsByType|safe }};
                runningProdTasksPieChartFunc(slots, '#pieChartSlots', 'Slots');

                {#var gauges = [];#}
                {#$(document).ready(function() {#}
                {#createGauge("slots", "Slots");#}
                {#gauges['slots'].redraw(slots);});#}


            </script>


            <table>
                <tr class='tablesection'>
                    <th colspan=20> {{ ntasks }} tasks</th>
                </tr>
                <tr class='tablesection'>
                    {% if sortby == 'campaign-desc' %}
                        <th>Campaign<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=campaign-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'campaign-asc' %}
                        <th>Campaign<br><a href="{{ nosorturl }}sortby=campaign-desc" class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Campaign<br><a href="{{ nosorturl }}sortby=campaign-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=campaign-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if sortby == 'reqid-desc' %}
                        <th>Request ID<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=reqid-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'reqid-asc' %}
                        <th>Request ID<br><a href="{{ nosorturl }}sortby=reqid-desc" class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Request ID<br><a href="{{ nosorturl }}sortby=reqid-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=reqid-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if sortby == 'inputdataset-desc' %}
                        <th>Input dataset<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=inputdataset-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'inputdataset-asc' %}
                        <th>Input dataset<br><a href="{{ nosorturl }}sortby=inputdataset-desc"
                                                class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Input dataset<br><a href="{{ nosorturl }}sortby=inputdataset-desc"
                                                class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=inputdataset-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if sortby == 'jeditaskid-desc' %}
                        <th>Task ID<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=jeditaskid-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'jeditaskid-asc' %}
                        <th>Task ID<br><a href="{{ nosorturl }}sortby=jeditaskid-desc" class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Task ID<br><a href="{{ nosorturl }}sortby=jeditaskid-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=jeditaskid-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if sortby == 'rjobs-desc' %}
                        <th>RJobs<br><span class="headerSortedDown"></span> <a href="{{ nosorturl }}sortby=rjobs-asc"
                                                                               class="headerSortUp"></a></th>
                    {% elif sortby == 'rjobs-asc' %}
                        <th>RJobs<br><a href="{{ nosorturl }}sortby=rjobs-desc" class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% else %}
                        <th>RJobs<br><a href="{{ nosorturl }}sortby=rjobs-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=rjobs-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if sortby == 'status-desc' %}
                        <th>Status<br><span class="headerSortedDown"></span> <a href="{{ nosorturl }}sortby=status-asc"
                                                                                class="headerSortUp"></a></th>
                    {% elif sortby == 'status-asc' %}
                        <th>Status<br><a href="{{ nosorturl }}sortby=status-desc" class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Status<br><a href="{{ nosorturl }}sortby=status-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=status-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if requestParams.preset != 'DPD' %}
                        {% if sortby == 'processingtype-desc' %}
                            <th>Type<br><span class="headerSortedDown"></span> <a href="{{ nosorturl }}sortby=processingtype-asc"
                                                                                  class="headerSortUp"></a></th>
                        {% elif sortby == 'processingtype-asc' %}
                            <th>Type<br><a href="{{ nosorturl }}sortby=processingtype-desc" class="headerSortDown"></a> <span
                                    class="headerSortedUp"></span></th>
                        {% else %}
                            <th>Type<br><a href="{{ nosorturl }}sortby=processingtype-desc" class="headerSortDown"></a> <a
                                    href="{{ nosorturl }}sortby=processingtype-asc" class="headerSortUp"></a></th>{% endif %}
                    {% endif %}
                    {% if sortby == 'nevents-desc' %}
                        <th>Evtstotal<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=nevents-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'nevents-asc' %}
                        <th>Evtstotal<br><a href="{{ nosorturl }}sortby=nevents-desc" class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Evtstotal<br><a href="{{ nosorturl }}sortby=nevents-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=nevents-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if sortby == 'neventsused-desc' %}
                        <th>Evtsdone<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=neventsused-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'neventsused-asc' %}
                        <th>Evtsdone<br><a href="{{ nosorturl }}sortby=neventsused-desc" class="headerSortDown"></a>
                            <span class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Evtsdone<br><a href="{{ nosorturl }}sortby=neventsused-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=neventsused-asc" class="headerSortUp"></a></th>{% endif %}
                    <th>Events currently running</th>
                    {% if sortby == 'neventstobeused-desc' %}
                        <th>Evtstobeused<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=neventstobeused-asc"
                                class="headerSortUp"></a></th>
                    {% elif sortby == 'neventstobeused-asc' %}
                        <th>Evtstobeused<br><a href="{{ nosorturl }}sortby=neventstobeused-desc"
                                               class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Evtstobeused<br><a href="{{ nosorturl }}sortby=neventstobeused-desc"
                                               class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=neventstobeused-asc" class="headerSortUp"></a>
                        </th>{% endif %}

                    {% if sortby == 'percentage-desc' %}
                        <th>Percentage<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=percentage-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'percentage-asc' %}
                        <th>Percentage<br><a href="{{ nosorturl }}sortby=percentage-desc" class="headerSortDown"></a>
                            <span class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Percentage<br><a href="{{ nosorturl }}sortby=percentage-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=percentage-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if sortby == 'nfilesfailed-desc' %}
                        <th>Failed<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=nfilesfailed-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'nfilesfailed-asc' %}
                        <th>Failed<br><a href="{{ nosorturl }}sortby=nfilesfailed-desc" class="headerSortDown"></a>
                            <span class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Failed<br><a href="{{ nosorturl }}sortby=nfilesfailed-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=nfilesfailed-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if sortby == 'priority-desc' %}
                        <th>Priority<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=priority-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'priority-asc' %}
                        <th>Priority<br><a href="{{ nosorturl }}sortby=priority-desc" class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Priority<br><a href="{{ nosorturl }}sortby=priority-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=priority-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if requestParams.preset == 'DPD' %}
                        {% if sortby == 'ptag-desc' %}
                            <th>pTag<br><span class="headerSortedDown"></span> <a href="{{ nosorturl }}sortby=ptag-asc"
                                                                                  class="headerSortUp"></a></th>
                        {% elif sortby == 'ptag-asc' %}
                            <th>pTag<br><a href="{{ nosorturl }}sortby=ptag-desc" class="headerSortDown"></a> <span
                                    class="headerSortedUp"></span></th>
                        {% else %}
                            <th>pTag<br><a href="{{ nosorturl }}sortby=ptag-desc" class="headerSortDown"></a> <a
                                    href="{{ nosorturl }}sortby=ptag-asc" class="headerSortUp"></a></th>{% endif %}
                        {% if sortby == 'outputdatasettype-desc' %}
                            <th>Output types<br><span class="headerSortedDown"></span> <a
                                    href="{{ nosorturl }}sortby=outputdatasettype-asc" class="headerSortUp"></a></th>
                        {% elif sortby == 'outputdatasettype-asc' %}
                            <th>Output types<br><a href="{{ nosorturl }}sortby=outputdatasettype-desc" class="headerSortDown"></a>
                                <span class="headerSortedUp"></span></th>
                        {% else %}
                            <th>Output types<br><a href="{{ nosorturl }}sortby=outputdatasettype-desc" class="headerSortDown"></a>
                                <a href="{{ nosorturl }}sortby=outputdatasettype-asc" class="headerSortUp"></a></th>{% endif %}
                    {% endif %}
                    {% if requestParams.preset == 'MC' %}
                        {% if sortby == 'simtype-desc' %}
                            <th>Sim<br><span class="headerSortedDown"></span> <a href="{{ nosorturl }}sortby=simtype-asc"
                                                                                 class="headerSortUp"></a></th>
                        {% elif sortby == 'simtype-asc' %}
                            <th>Sim<br><a href="{{ nosorturl }}sortby=simtype-desc" class="headerSortDown"></a> <span
                                    class="headerSortedUp"></span></th>
                        {% else %}
                            <th>Sim<br><a href="{{ nosorturl }}sortby=simtype-desc" class="headerSortDown"></a> <a
                                    href="{{ nosorturl }}sortby=simtype-asc" class="headerSortUp"></a></th>{% endif %}
                    {% endif %}
                    {% if sortby == 'creationdate-desc' %}
                        <th>Age<br><a href="{{ nosorturl }}sortby=creationdate-desc" class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% elif sortby == 'creationdate-asc' %}
                        <th>Age<br><span class="headerSortedDown"></span> <a href="{{ nosorturl }}sortby=creationdate-asc"
                                                                             class="headerSortUp"></a></th>
                    {% else %}
                        <th>Age<br><a href="{{ nosorturl }}sortby=creationdate-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=creationdate-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if sortby == 'corecount-desc' %}
                        <th>Cores<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=corecount-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'corecount-asc' %}
                        <th>Cores<br><a href="{{ nosorturl }}sortby=corecount-desc" class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Cores<br><a href="{{ nosorturl }}sortby=corecount-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=corecount-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if requestParams.preset == 'MC' or requestParams.preset == '' %}
                        {% if sortby == 'username-desc' %}
                            <th>User<br><span class="headerSortedDown"></span> <a href="{{ nosorturl }}sortby=username-asc"
                                                                                  class="headerSortUp"></a></th>
                        {% elif sortby == 'username-asc' %}
                            <th>User<br><a href="{{ nosorturl }}sortby=username-desc" class="headerSortDown"></a> <span
                                    class="headerSortedUp"></span></th>
                        {% else %}
                            <th>User<br><a href="{{ nosorturl }}sortby=username-desc" class="headerSortDown"></a> <a
                                    href="{{ nosorturl }}sortby=username-asc" class="headerSortUp"></a></th>{% endif %}
                    {% endif %}
{#                    <th>CPU Time per Event<br>(HS06sPerEvent)</th>#}
                    {% if sortby == 'cputime-desc' %}
                        <th>CPU Time per Event<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=cputime-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'cputime-asc' %}
                        <th>CPU Time per Event<br><a href="{{ nosorturl }}sortby=cputime-desc" class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% else %}
                        <th>CPU Time per Event<br><a href="{{ nosorturl }}sortby=cputime-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=cputime-asc" class="headerSortUp"></a></th>{% endif %}
                    {% if requestParams.site %}
                        {% if sortby == 'site-desc' %}
                            <th>Site<br><span class="headerSortedDown"></span> <a href="{{ nosorturl }}sortby=site-asc"
                                                                                  class="headerSortUp"></a></th>
                        {% elif sortby == 'username-asc' %}
                            <th>Site<br><a href="{{ nosorturl }}sortby=site-desc" class="headerSortDown"></a> <span
                                    class="headerSortedUp"></span></th>
                        {% else %}
                            <th>Site<br><a href="{{ nosorturl }}sortby=site-desc" class="headerSortDown"></a> <a
                                    href="{{ nosorturl }}sortby=site-asc" class="headerSortUp"></a></th>{% endif %}
                    {% endif %}
                    {% if sortby == 'gshare-desc' %}
                        <th>Global Share<br><span class="headerSortedDown"></span> <a
                                href="{{ nosorturl }}sortby=gshare-asc" class="headerSortUp"></a></th>
                    {% elif sortby == 'gshare-asc' %}
                        <th>Global Share<br><a href="{{ nosorturl }}sortby=gshare-desc" class="headerSortDown"></a> <span
                                class="headerSortedUp"></span></th>
                    {% else %}
                        <th>Global Share<br><a href="{{ nosorturl }}sortby=gshare-desc" class="headerSortDown"></a> <a
                                href="{{ nosorturl }}sortby=gshare-asc" class="headerSortUp"></a></th>{% endif %}
                </tr>
                {% for task in tasks %}
                    <tr>
                        <td><a href="{{ xurl }}campaign={{ task.campaign }}">{{ task.cutcampaign }}</a></td>
                        <td><a href="{{ xurl }}reqid={{ task.reqid }}">{{ task.reqid }}</a>
                            <a href="https://prodtask-dev.cern.ch/reqtask/{{task.reqid}}/"
                               target="_blank"> &rArr;</a></td>
                        <td><a href="{{ xurl }}inputdataset={{ task.inputdataset }}">{{ task.inputdataset }}</a></td>
                        <td><a href="{% url 'taskInfo' task.jeditaskid %}">{{ task.jeditaskid }}</a>
                            <a href=" https://prodtask-dev.cern.ch/prodtask/task/{{ task.jeditaskid }}/"
                               target="_blank"> &rArr;</a></td>
                        <td>{% if task.rjobs > 0 %}
                            <a href="/jobs/?jeditaskid={{ task.jeditaskid }}&jobstatus=running">{{ task.rjobs }}</a> {% else %}
                            {{ task.rjobs }}{% endif %}</td>
                        <td class='{{ task.status }}_fill'><a
                                href="{{ xurl }}status={{ task.status }}">{{ task.status }}</a></td>
                        {% if requestParams.preset != 'DPD' %}
                            <td><a href="{{ xurl }}processingtype={{ task.processingtype }}"> {{ task.processingtype }} </a></td>
                        {% endif %}
                        <td>{% if task.totev %}{{ task.totev|intcomma }}{% else %}---{% endif %}</td>
                        <td>{% if task.totev %}{{ task.neventsused|intcomma }}{% else %}---{% endif %}</td>
                        <td><div id="{{ task.jeditaskid }}"></div></td>
                        <script>
                            $.ajax({
                                url: '{% url 'eventsInfo' %}?jeditaskid={{ task.jeditaskid }}',
                                dataType: 'json',
                                jsonpCallback: 'insertReply',
                                async: true,
                                type: 'GET',
                                success: function(response) {
                                    document.getElementById(response.jeditaskid).innerHTML = ((typeof response.running) != 'undefined' ? response.running.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : '---' );
                                    if (response.running === parseInt(response.running, 10))
                                        numberOfRunning = numberOfRunning + response.running;
                                        numberOfWaiting = numberOfWaiting + {{ task.totevrem }};
                                    document.getElementById("running").innerHTML = Math.round(numberOfRunning/1000000);
                                    document.getElementById("waiting").innerHTML = Math.round(numberOfWaiting/1000000);

                                },
                                error: function(xhr, status, error) {
                                    console.log(status + '; ' + error);
                                }

                            });

                        </script>
                        <td>{% if task.totev %}{{ task.totevrem|intcomma }}{% else %}---{% endif %}</td>
                        <td>{% if task.totev %}{{ task.percentage }}{% else %}---{% endif %}</td>
                        <td>{% if task.nfilesfailed %}{{ task.nfilesfailed }}{% else %}0{% endif %}</td>
                        <td>{{ task.currentpriority }}</td>
                        {% if requestParams.preset == 'DPD' %}
                            <td><a href="{{ xurl }}ptag={{ task.ptag }}">{{ task.ptag }}</a></td>
                            <td>{{ task.outputtypes }}</td>
                        {% endif %}
                        {% if requestParams.preset == 'MC' %}
                            <td><a href="{{ xurl }}simtype={{ task.simtype }}">{{ task.simtype }}</a></td>
                        {% endif %}
                        <td>{{ task.age }}</td>
                        <td><a href="{{ xurl }}corecount={{ task.corecount }}">{{ task.corecount }}</a></td>
                        {% if requestParams.preset == 'MC' or requestParams.preset == '' %}
                            <td><a href="{{ xurl }}username={{ task.username }}">{{ task.username }} </a></td>
                        {% endif %}
                        <td>{% if task.cputime %} {{ task.cputime }} {% else %} --- {% endif %}</td>
                        <td>{% if task.gshare %} <a href="{{ xurl }}gshare={{ task.gshare }}">{{ task.gshare }}</a> {% else %} --- {% endif %}</td>
                        {% if requestParams.site %}
                            <td>{% if task.site %} {{ task.site }} {% else %} --- {% endif %}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>




        {% else %}
            <p>No matches to query.</p>
        {% endif %}

{% endblock %}