{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}
{% block page_title %} PanDA tasks{% endblock %}
{% block subtitle %}Running production task list
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
    <style>
        #tasklist_wrapper .row {
            max-width: 100%;
        }
        .tablesection {
            border-bottom-style: none;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="/static/js/d3jsplot.js"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
{% endblock %}
{#<script type="text/javascript" src="{% static "/js/jquery-1.9.1.min.js"%}"></script>#}
{% block body %}

    {% if requestParams.campaign %}<br><b>Campaign:</b> {{ requestParams.campaign }} {% endif %}
    {% if requestParams.status %}<br><b>Status:</b> {{ requestParams.status }} {% endif %}
    {% if requestParams.corecount %}<br><b>Core count:</b> {{ requestParams.corecount }} {% endif %}
    {% if requestParams.username %}<br><b>User name:</b> {{ requestParams.username }} {% endif %}
    {% if requestParams.inputdataset %}<br><b>Input dataset:</b> {{ requestParams.inputdataset }} {% endif %}
    {% if requestParams.reqid %}<br><b>Request ID:</b> {{ requestParams.reqid }} {% endif %}
    {% if requestParams.ptag %}<br><b>pTag:</b> {{ requestParams.ptag }} {% endif %}
    {% if requestParams.workinggroup %}<br><b>Working group:</b> {{ requestParams.workinggroup }} {% endif %}
    {% if requestParams.processingtype %}<br><b>Processingtype:</b> {{ requestParams.processingtype }} {% endif %}
    {% if requestParams.site %}<br><b>Site:</b> {{ requestParams.site }} {% endif %}
    {% if requestParams.gshare %}<br><b>Global Share:</b> {{ requestParams.gshare }} {% endif %}
    <p>
        <script>
            var numberOfRunning = 0;
            var numberOfWaiting = 0;
            var c = 0;
            var ntasks = {{ ntasks }};
            function insertReply(content) {
                alert(content);
            }

        </script>


            <script>
                function onPresetChoice () {
                    var presetChoice = document.getElementById ("presetChoice");
                    var workinggroup = document.getElementById ("workinggroup");
                    var processingtype = document.getElementById ("processingtype");
                    var campaign = document.getElementById ("campaign");
                    var status = document.getElementById ("status");
                    var warning = document.getElementById ("warning");

                    if (presetChoice.value == 'MC') {
                        workinggroup.selectedIndex = 1;
                        processingtype.selectedIndex = 1;
                        campaign.selectedIndex = 1;
                        status.selectedIndex = 0;
                    }

                    if (presetChoice.value == 'DPD') {
                        workinggroup.selectedIndex = 2;
                        processingtype.selectedIndex = 2;
                        campaign.selectedIndex = 0;
                        status.selectedIndex = 0;
                    }

                    if (presetChoice.value == 'DATA') {
                        workinggroup.selectedIndex = 3;
                        processingtype.selectedIndex =3;
                        campaign.selectedIndex =0;
                        status.selectedIndex = 0;
                    }


                    if (presetChoice.value == '') {
                        workinggroup.selectedIndex = 0;
                        processingtype.selectedIndex = 0;
                        campaign.selectedIndex = 0;
                        status.selectedIndex = 0;
                    }
                    warning.style.display = '';
                }

                function onSubElementChoice() {
                    var warning = document.getElementById ("warning");
                    warning.style.display = '';
{#                    var presetChoice = document.getElementById ("presetChoice");#}
{#                    presetChoice.selectedIndex = 2;#}

                }
                function go() {

                    var workinggroupQ = "";
                    var processingtypeQ = "";
                    var campaignQ = "";
                    var presetQ = "";
                    var statusQ = "";
                    var hpcsitesQ = "";
                    var workinggroup = document.getElementById ("workinggroup");
                    var processingtype = document.getElementById ("processingtype");
                    var campaign = document.getElementById ("campaign");
                    var presetChoice = document.getElementById ("presetChoice");
                    var query = {% url 'runningProdTasks' %} ;
                    var status = document.getElementById ("status");
                    var hpcsites = document.getElementById('hpc');


                    if (workinggroup.value.length > 0) workinggroupQ = "workinggroup="+workinggroup.value;
                    if (processingtype.value.length > 0) processingtypeQ = "processingtype="+processingtype.value;
                    if (campaign.value.length > 0) campaignQ = "campaign="+campaign.value;
                    if (presetChoice.value.length > 0) presetQ = "preset="+presetChoice.value;
                    if (status.value.length > 0) statusQ = "status="+status.value;
                    if (hpcsites.checked) hpcsitesQ = "site="+hpcsites.value;

                    if ((workinggroupQ.length>1) || (processingtypeQ.length>1) || (campaignQ.length>1) || (presetQ.length > 1) || (statusQ.length > 1)) {
                        query += "?";
                        if (presetQ.length > 1) {
                            query += presetQ+"&";
                        }
                        if (workinggroupQ.length > 1) {
                            query += workinggroupQ+"&";
                        }
                        if (processingtypeQ.length > 1) {
                            query += processingtypeQ+"&";
                        }
                        if (campaignQ.length > 1) {
                            query += campaignQ+"&";
                        }
                        if (statusQ.length > 1) {
                            query += statusQ+"&";
                        }
                        if (hpcsitesQ.length > 1) {
                            query += hpcsitesQ+"&";
                        }
                        query = query.substring(0, query.length - 1);
                    }
                    window.location = query;
                }
            </script>


            <table>
                <tr class='tablesection'>
                    <th colspan=20>Tasks selection</th>
                </tr>
                <tr class='tablesection'>
                    <th>Selection Preset</th>
                    <th>Working group</th>
                    <th>Processing type</th>
                    <th>Campaign</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <select id="presetChoice" onchange="onPresetChoice()">
                            <option value="MC"
                                {% if requestParams.preset == 'MC' %} selected="selected" {% endif %}
                                >MC</option>
                            <option value="DPD"
                                {% if requestParams.preset == 'DPD' %} selected="selected" {% endif %}
                                >DPD</option>
                            <option value="DATA"
                                {% if requestParams.preset == 'DATA' %} selected="selected" {% endif %}
                                >DATA</option>
                            <option value=""
                                {% if requestParams.preset != 'DPD' and requestParams.preset != 'MC'  and requestParams.preset != 'DATA' %} selected="selected" {% endif %}>All</option>
                        </select>
                    </td>
                    <td>
                        <select id="workinggroup" onchange="onSubElementChoice()">
                            <option value=""  selected="selected"
                                {% if requestParams.preset == 'MC' %} disabled="disabled" {% endif %}
                            >All</option>
                            <option value="!AP_REPR,!AP_VALI,!GP_PHYS,!GP_THLT"
                                {% if requestParams.workinggroup == '!AP_REPR,!AP_VALI,!GP_PHYS,!GP_THLT' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'MC' and requestParams.workinggroup != '!AP_REPR,!AP_VALI,!GP_PHYS,!GP_THLT' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'DPD' or requestParams.preset == 'DATA' %} disabled="disabled" {% endif %}
                            >NOT IN ('AP_REPR', 'AP_VALI', 'GP_PHYS', 'GP_THLT')</option>
                            <option value="GP_*"
                                {% if requestParams.preset == 'DPD' and requestParams.workinggroup == 'GP_*' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'MC' or requestParams.preset == 'DATA' %} disabled="disabled" {% endif %}
                            >GP_*</option>

                            <option value="AP_REPR"
                                {% if requestParams.preset == 'DATA' or requestParams.workinggroup == 'AP_REPR' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'MC' or requestParams.preset == 'DPD' %} disabled="disabled" {% endif %}
                            >AP_REPR</option>


                            {% if requestParams.preset != 'DATA' %}
                                {% for field in sumd %}
                                    {% if field.field == 'workinggroup' %}
                                        {% for wg in field.list %}
                                            <option value={{ wg.kname }}
                                                {% if wg.kname == requestParams.workinggroup %} selected="selected" {% endif %}>
                                                {{ wg.kname }} </option>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                    <td>
                        <select id="processingtype" onchange="onSubElementChoice()">
                            <option value=""  selected="selected"
                                {% if requestParams.preset == 'MC' %} disabled="disabled" {% endif %}
                            >All</option>
                            <option value="evgen|pile|simul|recon"
                                {% if requestParams.preset == 'MC'  or requestParams.processingtype == 'evgen|pile|simul|recon' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'DPD' or requestParams.preset == 'DATA' %} disabled="disabled" {% endif %}
                            >evgen|pile|simul|recon</option>
                            <option value="merge|deriv"
                                {% if requestParams.preset == 'DPD' or requestParams.processingtype == 'merge|deriv' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'MC' or requestParams.preset == 'DATA' %} disabled="disabled" {% endif %}
                            >merge|deriv</option>

                            <option value="reprocessing"
                                {% if requestParams.processingtype == 'reprocessing' or requestParams.preset == 'DATA' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'MC' or requestParams.preset == 'DPD' %} disabled="disabled" {% endif %}
                            >reprocessing</option>

                            {% if requestParams.preset != 'DATA' %}
                                {% for ptype in sumd.1.list %}
                                        <option value={{ ptype.kname }}
                                            {% if ptype.kname == requestParams.processingtype %} selected="selected" {% endif %}>
                                            {{ ptype.kname }} </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                    <td>
                        <select id="campaign" onchange="onSubElementChoice()">
                            <option value=""  selected="selected">All</option>
                            <option value="MC*"
                                {% if requestParams.preset == 'MC' or requestParams.campaign == 'MC*' %} selected="selected" {% endif %}
                                {% if requestParams.preset == 'DPD' or requestParams.preset == 'DATA' %} disabled="disabled" {% endif %}
                            > like 'MC%'</option>
                                {% for campaign in sumd.0.list %}
                                    <option value="*{{ campaign.kname }}*"
                                        {% if campaign.kname in requestParams.campaign %} selected="selected" {% endif %}
                                    >{{ campaign.kname }} </option>
                                {% endfor %}

                        </select>
                    </td>
                    <td>
                        <select id="status" onchange="onSubElementChoice()">
                            <option value=""  selected="selected">All</option>
                            {% for status in sumd.2.list %}
                                <option value={{ status.kname }}
                                    {% if status.kname == requestParams.status %} selected="selected" {% endif %}
                                > {{ status.kname }} </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="checkbox" id="hpc" name="hpc" value="hpc" onchange="onSubElementChoice()"
                        {% if requestParams.site == 'hpc' %} checked {% endif %}>HPC
                    </td>
                    <td>
                        <a onclick="go()" class="button">Go!</a>
                    </td>
                </tr>
            </table>
    <p>
    <div id="warning" style="display:none"> <span class="warning" style="font-size: 24px">Data is out of date since you changed selection. Press GO! button to apply changes. </span></div>
    <p>
        {% if tasks %}

            <table>
                <tr class='tablesection'>
                    <th> Global status</th>
                    <th> Total slots</th>
                    <th> Task age</th>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                        {% if requestParams.preset == 'MC' %}
                            {% if neventsFStasksSum|length > 0 %}<div class="d3splot" id="pieChartFS" style="float:left"></div>{% endif %}
                            {% if neventsAFIItasksSum|length > 0 %}<div class="d3splot" id="pieChartAFII" style="float:left"></div>{% endif %}
                        {% else %}
                            {% if neventsByProcessingType|length > 0 %}<div class="d3splot" id="pieChartByPT" style="float:left"></div>{% endif %}
                        {% endif %}
                        </div>
                        <br>
                        Total events done <b>{{ neventsUsedTotSum }}M</b> of <b>{{ neventsTotSum }}M</b> in
                        <b>{{ ntasks }}</b> tasks <br>
                        Number of currently running events <b id="running"></b><b>M</b>  <progress id="runningprogressbar" value="0" max="100"></progress><br>
                        Number of waiting events <b id="waiting"></b><b>M</b> <progress id="waitingprogressbar" value="0" max="100"></progress><br>
                        Total 1-core jobs <b>{{ rjobs1coreTot }}</b> and 8-cores <b>{{ rjobs8coreTot }}</b> jobs
                    </td>
                    {#<td><div class="d3splot" id="slots" style="float:left"></div></td>#}
                    <td>{% if aslotsByType|length > 0 %}<div class="d3splot" id="pieChartSlots"></div>{% endif %}
                        Number of allocated slots: {{ aslots }}</td>
                    <td colspan=20>{% if plotageshistogram == 1 %}
                        <div class="d3splot" id="sumPlot" style="float:left"></div>{% else %}
                        <p> All tasks age is 0 days</p> {% endif %} </td>
            </tr>
            </table>
            <script>
                var progressBarR = $('#runningprogressbar');
                var progressBarW = $('#waitingprogressbar');
                var ages = {{ ages|safe }};
                var productiontype = {{ productiontype | safe }};
                var plotageshistogram = {{ plotageshistogram }};
                if (plotageshistogram == 1) {
                    pandamonProdRunTaskSumPlotFunc(ages, "#sumPlot", 'Task age histogram', 24, productiontype);
                }
                var neventsFStasksSum ={{ neventsFStasksSum|safe }};
                var neventsAFIItasksSum ={{ neventsAFIItasksSum|safe }};
                var neventsByProcessingType ={{ neventsByProcessingType|safe }};
                if (productiontype == 'MC') {
                    runningProdTasksPieChartFunc(neventsFStasksSum, "#pieChartFS", 'FS');
                    runningProdTasksPieChartFunc(neventsAFIItasksSum, "#pieChartAFII", 'AFII');
{#                    pandamonPieChartFunc(neventsFStasksSum, "#pieChartFS", 'FS');#}
{#                    pandamonPieChartFunc(neventsAFIItasksSum, "#pieChartAFII", 'AFII');#}
                }
                else {
                    runningProdTasksPieChartFunc(neventsByProcessingType, "#pieChartByPT", 'N Events')
                }

                var slots = {{ aslotsByType|safe }};
                runningProdTasksPieChartFunc(slots, '#pieChartSlots', 'Slots');

                {#var gauges = [];#}
                {#$(document).ready(function() {#}
                {#createGauge("slots", "Slots");#}
                {#gauges['slots'].redraw(slots);});#}


            </script>


            <table id = 'tasklist'>
                <thead>
{#                <tr class='tablesection'>#}
{#                    <th colspan=25> {{ ntasks }} tasks</th>#}
{#                </tr>#}
                <tr class='tablesection'>
                    <th>Campaign</th>
                    <th>Req ID</th>
                    <th>Run</th>
                    <th>Task ID</th>
                    <th>RJobs</th>
                    <th>Status (ProdSys)</th>
                    <th>Status (JEDI)</th>
                    {% if requestParams.preset != 'DPD' %}
                        <th>Type</th>
                    {% endif %}
                    <th>Evts total</th>
                    <th>Evts done</th>
                    <th>Evts running</th>
                    <th>Evts to be used</th>
                    <th>%</th>
                    <th>Failed files</th>
                    <th>Priority</th>
                    {% if requestParams.preset == 'DPD' %}
                        <th>pTag</th>
                        <th>Output types</th>
                    {% endif %}
                    {% if requestParams.preset == 'MC' %}
                        <th>Sim</th>
                    {% endif %}
                    <th>Age</th>
                    <th>Cores</th>
                    {% if requestParams.preset == 'MC' or requestParams.preset == '' %}
                        <th>User</th>
                    {% endif %}
                    <th>CPU Time per Event</th>
                    <th>Global Share</th>
                    {% if requestParams.site %}
                        <th>Site</th>
                    {% endif %}
                    <th>Hastags</th>
                </tr>
                </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{% if task.campaign %}
                            <a href="{{ xurl }}campaign={{ task.campaign }}">{{ task.cutcampaign }}</a>
                            {% else %}---{% endif %}
                        </td>
                        <td>{% if task.reqid %}
                            <a href="{{ xurl }}reqid={{ task.reqid }}">{{ task.reqid }}</a>
                            <a href="https://prodtask-dev.cern.ch/reqtask/{{task.reqid}}/"
                               target="_blank"> &rArr;</a>
                            {% else %}---{% endif %}
                        </td>
                        <td>{% if task.inputdataset %}
                            <a href="{{ xurl }}inputdataset={{ task.inputdataset }}">{{ task.inputdataset }}</a>
                            {% else %}---{% endif %}
                        </td>
                        <td><a href="{% url 'taskInfo' task.jeditaskid %}">{{ task.jeditaskid }}</a>
                            <a href="https://prodtask-dev.cern.ch/prodtask/task/{{ task.jeditaskid }}/"
                               target="_blank"> &rArr;</a></td>
                        <td>{% if task.rjobs > 0 %}
                            <a href="/jobs/?jeditaskid={{ task.jeditaskid }}&jobstatus=running">{{ task.rjobs }}</a> {% else %}
                            {{ task.rjobs }}{% endif %}</td>
                        <td class='{{ task.superstatus }}_fill'><a
                                href="{{ xurl }}status={{ task.superstatus }}" class="{{ task.superstatus }}_tooltip">{{ task.superstatus }}</a></td>
                        <td class='{{ task.status }}_fill'><a
                                href="{{ xurl }}status={{ task.status }}" class="{{ task.status }}_tooltip">{{ task.status }}</a></td>
                        {% if requestParams.preset != 'DPD' %}
                            <td><a href="{{ xurl }}processingtype={{ task.processingtype }}"> {{ task.processingtype }} </a></td>
                        {% endif %}
                        <td>{% if task.nevents %}{{ task.nevents|intcomma }}{% else %}---{% endif %}</td>
                        <td>{% if task.nevents %}{{ task.neventsused|intcomma }}{% else %}---{% endif %}</td>
                        <td><div id="{{ task.jeditaskid }}"></div></td>
                        <script>
                            $.ajax({
                                url: '{% url 'eventsInfo' %}?jeditaskid={{ task.jeditaskid }}',
                                dataType: 'json',
                                jsonpCallback: 'insertReply',
                                async: true,
                                type: 'GET',
                                success: function(response) {
                                    document.getElementById(response.jeditaskid).innerHTML = ((typeof response.running) != 'undefined' ? response.running.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : '---' );
                                    if (response.running === parseInt(response.running, 10)) {
                                        numberOfRunning = numberOfRunning + response.running;}
                                    if ( typeof {{ task.neventstobeused }} != 'undefined' ) {
                                    numberOfWaiting = numberOfWaiting + {{ task.neventstobeused }};}
                                    document.getElementById("running").innerHTML = Math.round(numberOfRunning/1000000);
                                    document.getElementById("waiting").innerHTML = Math.round(numberOfWaiting/1000000);
                                    c+=1;
                                    progressBarR.val(Math.ceil(c*100/ntasks));
                                    progressBarW.val(Math.ceil(c*100/ntasks));
                                },
                                error: function(xhr, status, error) {
                                    console.log(status + '; ' + error);
                                }

                            });

                        </script>
                        <td>{% if task.nevents %}{{ task.neventstobeused|intcomma }}{% else %}---{% endif %}</td>
                        <td>{% if task.nevents %}{{ task.percentage }}{% else %}---{% endif %}</td>
                        <td>{% if task.nfilesfailed %}{{ task.nfilesfailed }}{% else %}0{% endif %}</td>
                        <td>{{ task.priority }}</td>
                        {% if requestParams.preset == 'DPD' %}
                            <td><a href="{{ xurl }}ptag={{ task.ptag }}">{{ task.ptag }}</a></td>
                            <td>{{ task.outputtypes }}</td>
                        {% endif %}
                        {% if requestParams.preset == 'MC' %}
                            <td><a href="{{ xurl }}simtype={{ task.simtype }}">{{ task.simtype }}</a></td>
                        {% endif %}
                        <td>{{ task.age }}</td>
                        <td><a href="{{ xurl }}corecount={{ task.corecount }}">{{ task.corecount }}</a></td>
                        {% if requestParams.preset == 'MC' or requestParams.preset == '' %}
                            <td><a href="{{ xurl }}username={{ task.username }}">{{ task.username }} </a></td>
                        {% endif %}
                        <td>{% if task.cputime %} {{ task.cputime }} {% else %} --- {% endif %}</td>
                        <td>{% if task.gshare %} <a href="{{ xurl }}gshare={{ task.gshare }}">{{ task.gshare }}</a> {% else %} --- {% endif %}</td>
                        {% if requestParams.site %}
                            <td>{% if task.site %} <a href="{{ xurl }}site={{ task.site }}">{{ task.site }}</a> {% else %} --- {% endif %}</td>
                        {% endif %}
                        <td>
                            {% if 'hashtaglist' in task %}

                                {% for hashtag in task.hashtaglist %}
                                    {% if 'hashtags' in requestParams %}
                                        <a href="{{ nohashtagurl }}hashtags={{ requestParams.hashtags }},{{ hashtag }}">{{ hashtag }}</a>
                                    {% else %}
                                        <a href="{{ xurl }}hashtags={{ hashtag }}">{{ hashtag }}</a>
                                    {% endif %}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}

                            {% else %}
                                <a href="{{ xurl }}hashtags={{ task.hashtags }}">{{ task.hashtags }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>




        {% else %}
            <p>No matches to query.</p>
        {% endif %}

<script>
    $(document).ajaxStop(function() {
        $('#tasklist').DataTable({
            "columnDefs": [
                {"type": "num-html", "targets": [2,4,8,9,10,11,12,13,14,16,17,19] }
            ],
            "lengthMenu" : [[25, 50, 100, -1], [25, 50, 100, "All"]] ,
            "scrollX": true
        });
    });
</script>

{% endblock %}