


{% if jobscoutids|length > 0 %}
  <table class="fresh-table unstriped">
    <tbody>
      <tr>
        <th><b> Scout jobs: </b></th>
        {% for scout_metric, pandaids in jobscoutids.items %}
          <td><b>{{ scout_metric }}:</b>
                {% for job in pandaids %}
                    <a href="{% url 'jobInfo' %}?pandaid={{ job }}">{{ job }}</a> {% if forloop.last %}
                {% else %}, {% endif %}
                {% endfor %}
          </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% else %}
    <p> No scout jobs found for the task.
{% endif %}