{% extends "_base_core.html" %}
{% load static %}

{% block page_title %}{{ viewParams.MON_VO }} PanDA sites{% endblock %}
{% block title %} <a class="menu-link" href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA sites{{ viewParams.selection|safe }}{% if vo %} for VO {{ vo }}{% endif %}
{% endblock %}
{% block css_page_library %}
  <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
{% endblock %}
{% block js_head_page_library %}
  <script src="{% static "js/jquery.shorten.1.0.js" %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
{% endblock %}

{% block body %}

{% if requestParams.tier %}<b>Tier: {{ requestParams.tier }}</b><br> {% endif %}
{% if requestParams.cloud %}<b>Cloud: {{ requestParams.cloud }}</b><br> {% endif %}
{% if requestParams.region %}<b>Region: {{ requestParams.region }}</b><br> {% endif %}
{% if requestParams.siteid %}<b>Site: <a href="{% url 'siteInfo' requestParams.siteid %}">{{ requestParams.siteid }}</a> </b><br> {% endif %}
{% if requestParams.status %}<b>Status: <span class="{{ requestParams.status }}">{{ requestParams.status }}</span></b><br> {% endif %}

{% if sites %}

<table>
<tr class='tablesection' id="siteatt"><th colspan=20> Site attribute summary </th></tr>
{% for fdict in sumd %}
<tr><th> {{ fdict.field }} ({{ fdict.list|length }})</th><td><div class="comment more">
{% for item in fdict.list %}
{% if item.kname != '' %}
<span {% if fdict.field == 'status' %} class='{{item.kname}}' {% endif %}> {{ item.kname }} </span>
<a href="{{xurl}}{{fdict.field}}={{item.kname}}">({{ item.kvalue }})</a>
{% endif %}
{% endfor %}
</div></td></tr>
{% endfor %}
</table>

<div class="card bp-container-simple secondary">
  <div class="card-divider"><p>{{ sites|length }} PanDA queues</p></div>
  <div class="card-section">
    <table class="data-table left-aligned nowrap hover" id="sitestable">
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
</div>

{% else %}
    <p>No matches to query.</p>
{% endif %}
{% endblock %}


{% block js_body_page %}
<script nonce={{request.csp_nonce}}>
$(document).ready(function () {
  $(".comment").shorten({showChars: 500, minHideChars: 250});

  let sites = {{ sites|safe }};
  buildDatasetsTable(sites);
});

function buildDatasetsTable(data) {
  $('#sitestable').dataTable({
    "lengthMenu": [[10, 20, 50, 100, 200, -1], [10, 20, 50, 100, 200, "All"]],
    "pageLength": -1,
    "paging": true,
    "scrollX": true,
    "aaSorting": [[3,'asc']],
    "columnDefs": [
        {"type": "num-html", "targets": [9,10,11] }
    ],
    "data": data,
    "aoColumns": [
        {
            data: "cloud",
            title: "Cloud",
            sDefaultContent: "-",
            render: function(data, type, row, meta) {
              if (data && data !== '---') {
                return '<a href="{{ xurl }}cloud=' + data + '">' + data + '</a>'
              }
              else {return data}
            }
        },
        {
            data: "gocname",
            title: "GOC site name",
            sDefaultContent: "---",
            render: function(data, type, row, meta) {
              if (data && data !== '---') {
                return '<a href="{{ xurl }}gocname=' + data + '">' + data + '</a>'
              }
              else {return data}
            }
        },
        {
            data: "tier",
            title: "Tier",
            sDefaultContent: "-",
            render: function(data, type, row, meta) {
              if (data && data !== '---') {
                return '<a href="{{ xurl }}tier=' + data + '">' + data + '</a>'
              }
              else {return data}
            }
        },
        {
            data: "nickname",
            title: "Queue name",
            sDefaultContent: "---",
            render: function(data, type, row, meta) {
                return '<a href="{% url 'siteInfo' %}' + data + '/">' + data + '</a>'
            }
        },
        {
            data: "status",
            title: "Status",
            sDefaultContent: "-",
            className: 'state',
        },
        {
            data: "type",
            title: "Type",
            sDefaultContent: "---",
            render: function(data, type, row, meta) {
              if (data && data !== '---') {
                return '<a href="{{ xurl }}type=' + data + '">' + data + '</a>'
              }
              else {return data}
            }
        },
        {
            data: "workflow",
            title: "Workflow",
            sDefaultContent: "---",
            render: function(data, type, row, meta) {
              if (data && data !== '---') {
                return '<a href="{{ xurl }}workflow=' + data + '">' + data + '</a>'
              }
              else {return data}
            }
        },
        {
            data: "system",
            title: "System",
            sDefaultContent: "---",
            render: function(data, type, row, meta) {
              if (data && data !== '---') {
                return '<a href="{{ xurl }}system=' + data + '">' + data + '</a>'
              }
              else {return data}
            }
        },
        {
            data: "copytool",
            title: "Copytools",
            sDefaultContent: "---",
        },
        {
            data: "harvester",
            title: "Associated Harvester",
            sDefaultContent: "---",
            render: function(data, type, row, meta) {
              if (data && data !== '---') {
                return '<a href="{{ xurl }}harvester=' + data + '">' + data + '</a>'
              }
              else {return data}
            }
        },
        {
            data: "maxrss_gb",
            title: "Max RSS [GB]",
            sDefaultContent: "-",
            className: 'num',
        },
        {
            data: "maxtime_hours",
            title: "Max time [hours]",
            sDefaultContent: "-",
            className: 'num',
        },
        {
            data: "maxinputsize_gb",
            title: "Max input size [GB]",
            sDefaultContent: "-",
            className: 'num',
        },
        {
            data: "comment",
            title: "Last comment",
            sDefaultContent: "-",
        },
    ],
    "createdRow": function ( row, data, index ) {
        $('td', row).eq(4).addClass(data['status'] + '_fill');
    }
  })
}
</script>
{% endblock %}


{% block help %}
{% include "siteListHelp.html" %}
{% endblock %}
