{% extends "_base_core.html" %}
{% load static %}{% load common_tags %}{% load humanize %}
{% block page_title %} {{ jeditaskid }} task {% endblock %}
{% block css_page_library %}
  <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
  <!-- Load c3.css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.css" rel="stylesheet">
{% endblock %}
{% block js_head_page_library %}
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
  <!-- Load d3.js and c3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.js"></script>
  <script type="text/javascript" src="/static/js/datatables/dataTables.rowsGroup.js"></script>
{% endblock %}

{% block subtitle %}{% if jeditaskid > 0 %}{{ jeditaskid }} task:{% endif %} <b>{{ task.taskname }}</b>{% endblock %}

{% block body %}

{% if columns %}
  <div class="table-scroll">
  <table class="fresh-table unstriped" data-ng-app="" data-ng-controller="iDDSGeneralInfo">
    <thead>
      <tr>
        <th colspan=30> {{ jeditaskid }} task </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Task ID</th>
        {% if task.campaign %}
            <th> Campaign</th>
        {% endif %}
        {% if task.deftreqid %}
            <th> Request</th>
        {% endif %}
        <th>Type</th>
        <th>Processing type</th>
        {% if task.workinggroup %}
          <th>Working Group</th>
        {% endif %}
        <th>User</th>
        <th>Nucleus</th>
        <th>Task status</th>
        {% if task.superstatus and task.superstatus != task.status %}
            <th> Detailed JEDI status</th>
        {% endif %}
        {% if task.idds_info and task.idds_info.task_type == 'hpo' %}
            <th class="num"> HP points
              <br><span class='finished'>finished</span></th>
            {% if task.dsinfo %}
              <th class="num">HS06*sec
                <br><span class="closed">Expected</span>
                <br> Total<br><span class='done'>done</span>
                <br> <span class='failed'>failed</span>
              </th>
            {% endif %}
        {% else %}
          {% if task.dsinfo %}
            <th class="num"> N input files
                <br><span class='finished'>finished</span>
                {% if task.dsinfo.nfilesfailed > 0 %}
                  <br><span class='failed'>failed</span>
                {% endif %}
            </th>
            {% if task.totev > 0 %}
              <th class="num">N input events <br><span class='finished'>used</span></th>
            {% endif %}
            {% if task.totevoutput > 0 %}
              <th class="num">N output events</th>
            {% endif %}
            {% if task.transpath == 'ReSim_tf.py' %}
              <th class="num">Resim events:
                <br> average
                <br> total
              </th>
            {% endif %}
            <th class="num">HS06*sec
                <br> <span class="closed">Expected</span>
                <br> Total<br><span class='done'>done</span>
                <br> <span class='failed'>failed</span>
            </th>
          {% endif %}
        {% endif %}
        <th>Time stamps:
          <br><span class="defined">created</span>
          <br><span class="closed">last modified</span>
        </th>
        <th>Cores</th>
        <th>Priority:
          <br><span class="defined">original</span>
          <br><span class="closed">current</span>
        </th>
        <th>Attempt</th>
        {% if task.parent_tid and task.parent_tid != task.jeditaskid %}
          <th>Parent</th>
        {% endif %}
        {% if task.ticketid %}
            <th>Tracker</th>
        {% endif %}
      </tr>
      <tr>
        <td><a href="https://prodtask-dev.cern.ch/prodtask/task/{{ task.jeditaskid }}/"
               target="_blank">{{ task.jeditaskid }}</a></td>
        {% if task.campaign %}
            <td><a href='{% url 'taskList' %}?campaign={{ task.campaign }}'>{% if task.campaign_cut %}{{ task.campaign_cut }}{% else %}{{ task.campaign }}{% endif %}</a></td>
        {% endif %}
        {% if task.deftreqid %}
            <td><a href="https://prodtask-dev.cern.ch/prodtask/inputlist_with_request/{{ task.deftreqid }}/#inputList{{ task.slice }}"
                   target="_blank">{{ task.deftreqid }}</a></td>
        {% endif %}
        <td>{% if task.tasktype == 'anal' %} analy {% else %} {{ task.tasktype }} {% endif %}</td>
        <td>{% if task.processingtype %} {{ task.processingtype }} {% endif %} </td>
        {% if task.workinggroup %}
          <td> {{ task.workinggroup }} </td>
        {% endif %}
        <td><a href="{% url 'taskList' %}?username={{ task.username }}">{{ task.username }}</a></td>
        <td>{% if task.nucleus %}{{ task.nucleus }}{% else %}&mdash;{% endif %}</td>
        <td class='{{ task.status }}_fill'>
          {% if task.superstatus %}
            <a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Transition_of_task_status"
                  class="bp_tooltip task_{{ task.superstatus }}">{{ task.superstatus }}</a>
          {% else %}
            <a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Transition_of_task_status"
               class="bp_tooltip task_{{ task.status }}"><b>{{ task.status }}</b></a>
          {% endif %}
        </td>
        {% if task.superstatus and task.superstatus != task.status %}
          <td class='{{ task.status }}_fill'>
            <a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Transition_of_task_status"
               class="bp_tooltip task_{{ task.status }}"><b>{{ task.status }}</b></a>
          </td>
        {% endif %}
        {% if task.idds_info and task.idds_info.task_type == 'hpo' %}
          <td class="num">
            <div ng-show="loading">LOADING...</div>
            <div ng-cloak ng-show="!loading">
              <span ng-bind="iddsjson.out_total_files">
                <span>{$ iddsjson.out_total_files $}</span>
              </span>
{#              <span>{$ iddsjson.out_total_files $}</span>#}
              <br><span class='finished'><span>{$ iddsjson.out_total_files $}</span> (<span>{$ iddsjson.pctprocessed $}</span>%) </span>
            </div>
          </td>

          {% if task.dsinfo %}
            <td class="num"> <span class="closed">{% if task.totevhs06 %}{{ task.totevhs06 | intcomma }}{% else %}&mdash;{% endif %}</span>
              <br>{{ task.currenttotevhs06 | intcomma }}
              <br><span class='finished'>{{ task.totevprochs06 | intcomma }}</span>
              <br><span class='failed'>{{ task.failedevprochs06 | intcomma }}</span>
            </td>
          {% endif %}
        {% else %}
          {% if task.dsinfo %}
            <td class="num"> {{ task.dsinfo.nfiles }}
              {% if task.dsinfo.nfilesmissing > 0 %}
                <span class='lost tooltip-upper'> + {{ task.dsinfo.nfilesmissing }} lost <i class="fi-info"></i><span class="tooltip-text">The files were unavailable at a time of the task running therefore the PanDA did not create jobs for processing them and they are not included to the number of total input files.</span></span>
              {% endif %}
              <br><span class='finished'>{{ task.dsinfo.nfilesfinished }} ({{ task.dsinfo.pctfinished|floatformat }}%)</span>
              {% if task.dsinfo.nfilesfailed > 0 %}
                <br><span class='failed'>{{ task.dsinfo.nfilesfailed }} ({{ task.dsinfo.pctfailed|floatformat }}%)</span>
              {% endif %}
            </td>
            {% if task.totev > 0 %}
              <td class="num"> {{ task.totev | intcomma }}
                <br><span class='finished'>{{ task.totevproc | intcomma }} ({{ task.pctfinished|floatformat }}%)</span>
              </td>
            {% endif %}
            {% if task.totevoutput > 0 %}
              <td class="num"> {{ task.totevoutput | intcomma }}</td>
            {% endif %}
            {% if task.transpath == 'ReSim_tf.py' %}
              <td class="num">
                {% if task.resimeventspernevents_avgpercent %}{{ task.resimeventspernevents_avgpercent | intcomma }}%{% else %}-{% endif %}
                <br> {% if task.resimevents_sum %}{{ task.resimevents_sum | intcomma }}{% else %}-{% endif %}
              </td>
            {% endif %}
            <td class="num"> <span class="closed">{% if task.totevhs06 %}{{ task.totevhs06 | intcomma }}{% else %}&mdash;{% endif %}</span>
              <br>{{ task.currenttotevhs06 | intcomma }}
              <br><span class='finished'>{{ task.totevprochs06 | intcomma }}</span>
              <br><span class='failed'>{{ task.failedevprochs06 | intcomma }}</span>
            </td>
          {% endif %}
        {% endif %}
        <td>{% if task.creationdate %}<span class="defined">{{ task.creationdate }}</span>{% else %}&mdash;{% endif %}
          <br>{% if task.modificationtime %}<span class="closed">{{ task.modificationtime }}</span>{% else %}&mdash;{% endif %}
        </td>
        <td>{{ task.corecount }}</td>
        <td><span class="defined">{{ task.taskpriority }}</span><br><span class="closed">{{ task.currentpriority }}</span></td>
        <td>{{ task.attemptnr }}</td>
        {% if task.parent_tid and task.parent_tid != task.jeditaskid %}
          <td><a href="{% url 'taskInfo' task.parent_tid %}">{{ task.parent_tid }}</a></td>
        {% endif %}
        {% if task.ticketid %}
            <td><a href="https://its.cern.ch/jira/browse/{{ task.ticketid }}">{{ task.ticketsystemtype }}</a></td>
        {% endif %}
      </tr>
    </tbody>
  </table>
  </div>

  {% if task.errordialog %}
    <div class="card bp-container-simple warning">
      {% if logtxt %}
        <div class="card-divider">
          <h5>Logged status: {{ task.errordialog|safe }}</h5>
        </div>
        <div class="card-section scrollable">
          <pre>
          {{ logtxt }}
          </pre>
        </div>
      {% else %}
        <div class="card-divider errorlog">
          <h5>Logged status: {{ task.errordialog|safe }}</h5>
        </div>
      {% endif %}
    </div>
  {% endif %}

  <div class="row bp-container-wrapper">
  <div class="columns small-7 medium-8 large-9">
  <div class="bp-dropdown-button">
      <button class="dropdown">Task extra info</button>
      <div class="dropdown-items">
          {% if requestParams.mode and requestParams.mode == 'nodrop' %}
              <a {% if 'dropmode' in warning %}class="disabled"{% endif %} href="{{ nomodeurl }}mode=drop">Switch to drop mode</a>
          {% else %}
              <a href="{{ nomodeurl }}mode=nodrop">Switch to nodrop mode</a>
          {% endif %}
          {% if vomode == 'atlas' %}
              {% if task.tasktype == 'prod' %}
                  <a href="https://prodtask-dev.cern.ch/prodtask/task_manage/#/?time_period=custom&task_type=production&task_id={{ task.jeditaskid }}"
                     target="_blank">Manage Prod Task</a>
                  <a href="https://prodtask-dev.cern.ch/prodtask/task/{{ task.jeditaskid }}/">Prod Task page</a>
              {% elif  task.tasktype == 'anal' %}
                  <a href="https://prodtask-dev.cern.ch/prodtask/task_manage/#/?time_period=custom&task_type=analysis&task_id={{ task.jeditaskid }}"
                     target="_blank">Manage Prod Task</a>
                  <a href="https://prodtask-dev.cern.ch/prodtask/task/{{ task.jeditaskid }}/">Prod Task page</a>
              {% endif %}

              <a target="_blank" href="https://es-atlas.cern.ch/kibana/app/discover#/?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'{{ task.kibanatimefrom }}',mode:quick,to:'{{ task.kibanatimeto }}'))&_a=(columns:!(fields.type,logLevel,message),filters:!(),index:'6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'fields.type:%22atlasprodtaskbroker%22%20AND%20jediTaskID:{{ jeditaskid }}')),sort:!('@timestamp',desc),vis:(aggs:!((params:(field:jediTaskID,orderBy:'2',size:20),schema:segment,type:terms),(id:'2',schema:metric,type:count)),type:histogram))&indexPattern=6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc&type=histogram">Task
                  brokerage </a>
              <a target="_blank" href="https://es-atlas.cern.ch/kibana/app/discover#/?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'{{ task.kibanatimefrom }}',mode:quick,to:'{{ task.kibanatimeto }}'))&_a=(columns:!(fields.type,message),filters:!(),index:'6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'fields.type:%22{% if task.brokerage == 'prod_brokerage' %}atlasprodjobbroker{% else %}atlasanaljobbroker{% endif %}%22%20AND%20jediTaskID:{{ jeditaskid }}')),sort:!('@timestamp',desc),vis:(aggs:!((params:(field:jediTaskID,orderBy:'2',size:20),schema:segment,type:terms),(id:'2',schema:metric,type:count)),type:histogram))&indexPattern=6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc&type=histogram">Job
                  brokerage </a>
              <a target="_blank" href="https://es-atlas.cern.ch/kibana/app/discover#/?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'{{ task.kibanatimefrom }}',mode:quick,to:'{{ task.kibanatimeto }}'))&_a=(columns:!(fields.type,logLevel,message),index:'6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'jediTaskID:{{ jeditaskid }}')),sort:!('@timestamp',desc))">Action
                  logger</a>
              <a target="_blank" href="https://es-atlas.cern.ch/kibana/app/discover#/?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'{{ task.kibanatimefrom }}',mode:quick,to:'{{ task.kibanatimeto }}'))&_a=(columns:!(logName,fields.type,logLevel,message),index:'620eaaf0-bfac-11ea-b7f2-27bdf2c0b5dc',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'logName.keyword:%22panda.log.RetrialModule%22%20AND%20fields.type:%22retrialmodule%22%20AND%20jediTaskID:{{ jeditaskid }}')),sort:!('@timestamp',desc))">Retrial
                  Module logger</a>
          {% endif %}
          <a {% if task.n_jobs_total == 0 %}class="disabled"{% endif %} href="{% url 'errorSummary' %}?jeditaskid={{ jeditaskid }}">Error summary</a>
          {% if task.parent_tid != task.jeditaskid and task.parent_tid != None %}
              <a href="{% url 'taskInfo' task.parent_tid %}">Parent task {{ task.parent_tid }}</a>
          {% endif %}
          <a href="{% url 'taskList' %}?parent_tid={{ task.jeditaskid }}&display_limit=100">Child tasks</a>
          {% if task.ttcrequested != None and task.starttime != None %}
              <a href="{% url 'ttc' %}?jeditaskid={{ jeditaskid }}" target="_blank">TTC page</a>
          {% endif %}
      </div>
  </div>

  <div class="bp-dropdown-button">
    <button class="dropdown">Show jobs</button>
    <div class="dropdown-items">
      <a {% if task.n_jobs_total == 0 or 'archive' in warning %}class="disabled"{% endif %} href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&mode=nodrop&display_limit=100">All (including retries)</a>
      <a {% if task.n_jobs_total == 0 or 'archive' in warning %}class="disabled"{% endif %} href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&mode=drop&display_limit=100">All (retries dropped)</a>
      <a {% if task.n_jobs_total == 0 or 'archive' in warning %}class="disabled"{% endif %} href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&specialhandling=sj">Scouts</a>
      <a {% if task.n_jobs_total == 0 or 'archive' in warning %}class="disabled"{% endif %} href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&jobstatus=finished|failed|cancelled">Ended</a>
      <a {% if task.n_jobs_total == 0 or 'archive' in warning %}class="disabled"{% endif %} href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&jobstatus=defined|waiting|pending|assigned|throttled|activated|sent|starting|running|holding|transferring">Active</a>
    </div>
  </div>

  <div class="bp-dropdown-button">
      <button class="dropdown">Task parameters and help</button>
      <div class="dropdown-items">
          <a href="#taskflow" onclick="toggletaskflow() ">Show taskflow</a>
          <a href="#statuslog" onclick="toggleStatusLog() ">Show task status log</a>
          {% if viewParams.MON_VO == 'ATLAS' %}
          <a href="#tasklogs" onclick="toggleTaskLogs() ">Show task logs from ElasticSearch</a>
          {% endif %}
          <a href="#jobparams">Jump to job parameters</a>
          {% if jobscoutids|length > 0 %}
              <a href="#scouts">Jump to scout jobs</a>
          {% endif %}
          {% if taskparams %}
              <a href="#taskparamsprodsys">Jump to ProdSys task parameters</a>
          {% endif %}
          <a href="#taskparamsjedi">Jump to PanDA/JEDI task parameters</a>
          <a href="#help">Jump to help</a>
      </div>
  </div>

  <div class="bp-dropdown-button">
      <button class="dropdown">Memory & walltime usage</button>
      <div class="dropdown-items">
          <a {% if task.n_jobs_total == 0 %}class="disabled"{% endif %} href="#plots" onclick="togglePlots();">Show plots in the page</a>
          <a href="https://atlas-kibana.mwt2.org:5601/s/webexports/app/dashboards#/view/BP_a_task?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'{{ task.kibanatimefrom }}',to:'{{ task.kibanatimeto }}'))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!t),query:(language:lucene,query:'jeditaskid:{{ task.jeditaskid }}'),timeRestore:!t,title:BP_a_task,viewMode:view)" target="_blank"><span class="tooltip-upper">Dashboard @ Kibana </span></a>
          {% if userexpert %}
          <a href="https://atlas-kibana.mwt2.org:5601/app/dashboards#/view/BP_ES_task?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'{{ task.kibanatimefrom }}',to:'{{ task.kibanatimeto }}'))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!t),query:(language:lucene,query:'jeditaskid:{{ task.jeditaskid }}'),timeRestore:!t,title:BP_a_task,viewMode:view)" target="_blank"><span class="tooltip-upper">Editable dashboard @ Kibana for experts</span></a>
          {% endif %}
      </div>
  </div>

  <div class="bp-dropdown-button">
      <button class="dropdown">Other plots</button>
      <div class="dropdown-items">
          {% if not task.tasktype == 'anal' %}
              <a href="{% url 'ganttTaskChain' %}?jeditaskid={{ task.jeditaskid }}" target="_blank">Task Chain (Gantt diagram)</a>
              <a href="{% url 'taskchain' %}?jeditaskid={{ task.jeditaskid }}" target="_blank">Task Chain (Tree diagram)</a>
          {% endif %}
          <a {% if task.n_jobs_total == 0 %}class="disabled"{% endif %} href="{% url 'taskProfileMonitor' task.jeditaskid %}" target="_blank">Task Profile</a>
     </div>
  </div>
  </div>
  <div class="columns small-5 medium-4 large-3 align-right">
  {% with 'done finished failed ready broken aborted defined' as finalstatelist %}
      {% if not task.status in finalstatelist %}
          {% if 'indigoiam' in authtype %}
              <a onclick="javascript:operationtask_token({{ task.jeditaskid }}, 'finishtask');" class='bp-button kill'>Finish (PanDA client)</a>
              <a onclick="javascript:operationtask_token({{ task.jeditaskid }}, 'killtask');" class='bp-button kill'>Abort (PanDA client)</a>
          {% else %}
              <a onclick="killtasks({{ task.jeditaskid }}, 0);" class='bp-button kill'>Finish</a>
              <a onclick="killtasks({{ task.jeditaskid }}, 1);" class='bp-button kill'>Abort</a>
          {% endif %}

      {% endif %}
  {% endwith %}
  </div>
  </div>

  {% if warning.dropmode %}
      <div class="callout warning" data-closable>
        <h5>Warning! </h5>
        <p>{{ warning.dropmode }}</p>
          <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
        </button>
      </div>
  {% endif %}
  {% if warning.archive %}
      <div class="callout warning" data-closable>
        <h5>Warning! </h5>
        <p>{{ warning.archive }}</p>
          <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
        </button>
      </div>
  {% endif %}

  {% if jobsummary %}
    {% if requestParams.warning %}
      <div class="callout small alert">
        <p style="color:brown">{{ requestParams.warning }}</p>
      </div>
    {% endif %}
    <div class="table-scroll">
    <table class="fresh-table unstriped">
      <thead>
        <tr>
            <th colspan=20>
                <b>States of jobs in this task {% if mode %}[{{ mode }} mode]{% endif %}</b>
            </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
            {% for state in jobsummary.0.job_state_counts %}
              <th class="{{ state.name }}"><b> {{ state.name }} </b></th>
            {% endfor %}
        </tr>
        {% for job_category_states in jobsummary %}
          <tr>
            <th>{{ job_category_states.value | title }}</th>
            {% for state in job_category_states.job_state_counts %}
              <td {% if state.count > 0 %} class='{{ state.name }}_fill' {% endif %}>
                    {% if state.count > 0 %}
                        <b> <a {% if 'archive' in warning %}class="disabled"{% endif %} href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&jobstatus={{ state.name }}&mode={{ mode }}{% if job_category_states.value == 'build' %}&transformation=build*{% elif job_category_states.value == 'merge' %}&processingtype=pmerge{% elif viewParams.MON_VO == 'ATLAS' %}&processingtype=!pmerge&prodsourcelabel={% if task.tasktype == 'prod' %}managed{% else %}user{% endif %}{% endif %}&display_limit=100">
                            <span class='{{ state.name }}_fill'>{% if state.count > 0 %} {{ state.count }} {% endif %}</span></a> </b>
                    {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  {% else %}
    <div class="card bp-container-simple info">
      <div class="card-divider">
        <p>No jobs were found for the task</p>
      </div>
    </div>
  {% endif %}

  {% if jobscoutids|length > 0 %}
    <table class="fresh-table unstriped">
      <tbody>
        <tr>
          <th><b> Scout jobs: </b></th>
          {% for scout_metric, pandaids in jobscoutids.items %}
            <td><b>{{ scout_metric }}:</b>
              {% for job in pandaids %}
                <a href="{% url 'jobInfo' %}?pandaid={{ job }}">{{ job }}</a>{% if forloop.last %}{% else %}, {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  {% endif %}

  {% if warning.memoryleaksuspicion %}
    <p></p>
    <div class="callout warning" data-closable>
      <h5>Warning! {{ warning.memoryleaksuspicion.message }}</h5>
      <p>At least one of jobs in this task consumed more max PSS/core than it is limited by a computing site. Please check the next top memory consumed jobs and their memory and IO usage plots: </p>
      <ul>
      {% for job in warning.memoryleaksuspicion.jobs %}
        <li style="font-size: smaller"> <a class="blacklink bold hover" href="{% url 'jobInfo' job.pandaid %}">{{ job.pandaid }}</a> job consumed {{ job.jobmaxpss_percore }} MB per core out of {{ job.sitemaxrss_percore }} MB per core limited by <a class="blacklink bold hover" href="{% url 'siteInfo' job.computingsite %}">{{ job.computingsite }}</a>, see <a class="blacklink bold hover" target="_blank" href="{% url 'prMonPlots' job.pandaid %}">plots</a>
      {% endfor %}
      </ul>
      <p>You may want to use a <a class="blacklink bold hover" href="https://twiki.cern.ch/twiki/bin/viewauth/AtlasComputing/UsingValgrind">Valgrind</a> tool to identify and investigate memory leaks in your code.
      Also you can debug jobs locally: click on one of PanDA IDs in the list above, then "Go to" &rarr; "Script to re-create job for offline debugging"</p>
      <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
    {% if viewParams.MON_VO == 'ATLAS' %}
    {% if info.split_rule %}<p></p>
      <div class="callout secondary" data-closable>
        <h5>The split rule(s) has been changed for this task: </h5>
        <ul>
         {% for message in  info.split_rule.messages %}
             <li style="font-size: smaller">{{message}}</li>
         {% endfor %}
        </ul>
        </div>
    {% endif %}
    {% endif %}
    <div id="taskflow" ng-app="taskInfoAppSL" ng-controller="taskflowController">
    <div class="card bp-container-simple secondary ng-hide" ng-hide="taskflow.is_hidden">
    <div class="card-divider"><p>Task Flow Diagram</p></div>
    <div class="card-section">
      <p ng-bind-html="taskflow.message"></p>
      <div id="sankey_basic" style="width: 100%; height: 700px;"></div>
    </div>
  </div>
  </div>

  <div id="statuslog" ng-app="taskInfoAppSL" ng-controller="TaskStatusLogController">
    <div class="card bp-container-simple secondary ng-hide" ng-hide="status_log.is_hidden">
    <div class="card-divider"><p>Task status history</p></div>
    <div class="card-section">
      <p ng-bind-html="status_log.message"></p>
      <div class="c3-chart-block" id="tsl_plot"></div>
      <table class="data-table left-aligned nowrap" id="taskstatuslogtable">
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>
    </div>
  </div>
   {% if viewParams.MON_VO == 'ATLAS' %}
  <div id="tasklogs" ng-app="taskInfoAppSL" ng-controller="TaskLogsController">
    <div class="card bp-container-simple secondary ng-hide" ng-hide="task_logs.is_hidden">
    <div class="card-divider"><p>Task logs for {{ jeditaskid|safe }} from <a href="https://es-atlas.cern.ch/kibana/app/discover#/?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,to:now))&_a=(columns:!(logName,logLevel,message),index:'6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc',interval:auto,query:(language:kuery,query:'jediTaskID:{{ jeditaskid|safe }}'),sort:!('@timestamp',desc))" target="_blank">es-atlas</a></p></div>
    <div class="card-section">
      <table class="data-table left-aligned nowrap" id="tasklogstable">
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  </div>
    {% endif %}
  <div id="plots" data-ng-controller="jobConsumptionPlotsController">
  <div class="card bp-container-simple secondary ng-hide" ng-hide="taskinfo.jc_plots.selection.is_hidden">
    <div class="card-divider"><p>Job consumption plots:</p></div>
    <div class="card-section">

      <fieldset class="inline">
        <legend>Job category:</legend>
        <label ng-repeat="option in taskinfo.jc_plots.options.category"><input type="radio" ng-value="option" ng-model="taskinfo.jc_plots.selection.category" ng-change="taskinfo.jc_plots.rebuild()">{$ option $}</label>
      </fieldset>

      <div class="c3-chart-block" ng-repeat="plot in taskinfo.jc_plots.plot_data" jcplot-directive plot="plot" parent="$parent"></div>
    </div>
  </div>
  </div>

  <div id="dsStageDiv" class="fresh-table badevents" ng-app="taskInfoAppAJS" ng-controller="StagingDSController" style="display:none;">
  <table>
    <thead>
      <tr><th colspan=20>Dataset staging information</th></tr>
    </thead>
    <tbody>
      <tr>
       <th>Staged / Total files <a target="_blank" href="{% url 'staginprogressplot' %}?jeditaskid={{ jeditaskid }}"><i class="fi-graph-trend"></i></a></th>
       <td>{$ json['staged_files'] $} / {$ json['total_files'] $}</td>
      </tr>
      <tr ng-repeat="(key, value) in json" ng-if="key!='staged_files' && key!='total_files' && key!='taskid' && MON_VO!='ATLAS' ">
        <th ng-if="key!='step_action_id'">{$ key $}</th>
        <td ng-if="key!='step_action_id'">{$ value $}</td>
      </tr>
      <tr ng-repeat="(key, value) in json" ng-if="key!='staged_files' && key!='total_files' && key!='taskid' && MON_VO=='ATLAS' ">
        <th ng-if="key!='step_action_id'">{$ key $}</th>
        <td ng-if="key=='dataset'"><a href="https://rucio-ui.cern.ch/did?name={$ json['scope'] $}:{$ value $}">{$ value $}</a></td>
        <td ng-if="key=='status'"><a href="https://prodtask-dev.cern.ch/prestage/step_action/{$ json['step_action_id'] $}/">{$ value $}</a></td>
        <td ng-if="key=='rse'"><a href="https://rucio-ui.cern.ch/rule?rule_id={$ value $}">{$ value $}</a></td>
        <td ng-if="key!='dataset' && key!='rse' && key!='step_action_id' && key!='status'">{$ value $}</td>
      </tr>
    </tbody>
  </table>
  </div>

  {% if task.idds_info %}
    <div id="iDDsDiv" class="badevents" ng-app="iDDsInfoAppAJS" ng-controller="iDDSInfoForTaskController" style="display:none;">
      <table class="fresh-table">
        <thead>
          <tr><th colspan=20>iDDS information</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in iddsjson" ng-if="key!='staged_files' && key!='total_files' && key!='taskid'">
             <th>{$ key $}</th>
             <td>{$ value $}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if inctrs or outctrs %}
    <table class="fresh-table unstriped slim">
    <thead>
      <tr><th colspan=20>Containers</th></tr>
    </thead>
    <tbody>
      {% if inctrs %}
        <tr><th>Input:</th><th>Progress, %</th><th>N files | <span class="finished">finished</span> | <span class="failed">failed</span></th></tr>
        {% for dsrec in inctrs %}
          <tr>
            <td class="wrap-words"><a href="{% url 'datasetList' %}?containername={% if dsrec.containername %}{{ dsrec.containername }}{% else %}{{ dsrec }}{% endif %}">{% if dsrec.containername %}{{ dsrec.containername }}{% else %}{{ dsrec }}{% endif %}</a></td>
            <td>{{ dsrec.pct }}%</td>
            <td>{{ dsrec.nfiles }}{% if dsrec.nfilesmissing > 0 %} <span class="lost"> +{{ dsrec.nfilesmissing }} lost</span>{% endif %} | <span class="finished">{{ dsrec.nfilesfinished }}</span> | <span class="failed">{{ dsrec.nfilesfailed }}</span> </td>
          </tr>
        {% endfor %}
      {% endif %}
      {% if outctrs %}
        <tr><th colspan="3">Output:</th></tr>
        {% for dsrec in outctrs %}
          <tr>
              <td colspan="3" class="wrap-words"><a href="{% url 'datasetList' %}?containername={{ dsrec }}">{{ dsrec }}</a></td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
    </table>
  {% endif %}

  {% if datasets %}
    <div class="card bp-container-simple secondary" id="container_dst">
    <div class="card-divider"><p>Dataset processing information:</p></div>
    <div class="card-section">
      <table class="data-table left-aligned nowrap" id="datasetstable">
          <thead>
          <tr>
              <th>Dataset, container name</th>
              <th>Type</th>
              <th>Stream</th>
              <th>Status</th>
              <th>Nfiles</th>
              <th>Nfiles finished</th>
              <th>Nfiles failed</th>
              <th>%</th>
              <th>Links</th>
              <th>RSE</th>
          </tr>
          </thead>
          <tbody></tbody>
      </table>
    </div>
    </div>
  {% else %}
      <p>No datasets were found for this task</p>
  {% endif %}


  {% if jobparams %}
    <a name="jobparams"></a>
    <table class="fresh-table">
      <thead>
        <tr><th colspan=20> Job parameters</th></tr>
      </thead>
      <tbody>
        {% for p in jobparams %}
            <tr>
                <td class="wrap-words">{{ p|safe }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}


  {% if taskparams %}
    <a name="taskparamsprodsys"></a>
    <table class="fresh-table">
      <thead>
        <tr><th colspan=20> Prodsys task parameters</th></tr>
      </thead>
      <tbody>
        {% for p in taskparams %}
            {% if p.name != 'jobParameters' and p.name != 'log' %}
                <tr>
                    <td class="bold">{{ p.name }}</td>
                    <td class="wrap-words">{% if not p.value is None and not p.value == '' %} {{ p.value }} {% else %}&mdash;{% endif %}</td>
                </tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <a name="taskparamsjedi"></a>
  <table  class="fresh-table">
    <thead>
      <tr>
          <th colspan=20> PanDA/JEDI task parameters</th>
      </tr>
    </thead>
    <tbody>
      {% for col in columns %}
          <tr>
              <td class="bold">{{ col.name }}</td>
              <td class="wrap-words">
                {% if not col.value is None and not col.value == '' %}
                  {% if col.name == 'cputimescoutjob' %}
                    <a href="{% url 'jobInfo' %}?pandaid={{ col.value }}">{{ col.value }}</a>
                  {% else %}
                    {{ col.value }}
                  {% endif %}
                {% else %} &mdash;
                {% endif %}
              </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}

  <p>PanDA task {% if jeditaskid > 0 %}{{ jeditaskid }}{% endif %} {% if task.taskname %}:<b>{{ task.taskname }}</b> not found.{% endif %}</p>
  {% if viewParams.MON_VO == 'ATLAS' %}
    <p>You can however get a job listing for any task in quick search.</p>
  {% endif %}

{% endif %}

{% endblock %}

{% block js_body_page %}
<script src="{% static 'js/draw-plots-c3.js' %}?{% cache_bust "js/draw-plots-c3.js" %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
var MON_VO = '{{ viewParams.MON_VO|safe }}';
var jeditaskid = {{ jeditaskid | safe }};
google.charts.load('current', {'packages':['sankey']});

    app.controller('iDDSInfoForTaskController', function ($scope, $http, $rootScope) {
        $scope.iddsjson = "";
        $scope.getiDDs = function () {
                $http({
                        url: '/idds/getiddsfortask/',
                        method: "GET",
                        params: {'jeditaskid':{{ jeditaskid|safe }}}
                    }
                ).then(function (res) {
                    var iddsjson = angular.fromJson(res.data);
                    if (('data' in iddsjson) && (Object.keys(iddsjson['data']).length > 0)) {
                        $scope.iddsjson = iddsjson['data'];
                        idds_data = iddsjson['data'];
                        $rootScope.$emit('idds_info', idds_data);
                        $('#iDDsDiv').show();
                    }
                });
        };
        var init = function () {
            $scope.getiDDs();
        };
        init();
    });
    app.controller('iDDSGeneralInfo', function($rootScope, $scope) {
        $scope.loading = true;
        $rootScope.$on('idds_info', function(event, data) {
            $scope.iddsjson = data;
            $scope.loading = false;
        });
    });
    app.controller('StagingDSController', function ($scope, $http) {
      $scope.json = "";
      $scope.MON_VO = MON_VO;
      $scope.getStagingDS = function () {
        $http({
            url: '/api/dc/staginginfofortask/',
            method: "GET",
            params: {'jeditaskid':jeditaskid}
          }
        ).then(function (res) {
          $scope.json = angular.fromJson(res.data);
          if (jeditaskid in $scope.json) {
            var displaydiv = document.getElementById('dsStageDiv');
            displaydiv.style.display = "";
            $scope.json = $scope.json[jeditaskid];
          }
        });
      };
      var init = function () {
          $scope.getStagingDS();
      };
      if (MON_VO === 'ATLAS') {
        init();
      }
    });

    var jc_plot_data = {{ plotsDict|safe }};
    app.controller('jobConsumptionPlotsController', function($scope) {
      $scope.taskinfo = {};
      $scope.taskinfo.jc_plots = {
        selection: {
          category: '',
          is_hidden: true,
          mode: ''
        },
        options: {
          category: []
        },
        plot_data: {},
        charts: {}
      };

      $scope.taskinfo.jc_plots.fill = function () {
        $scope.taskinfo.jc_plots.plot_data = jc_plot_data;
        if (Object.keys($scope.taskinfo.jc_plots.plot_data).length > 1) {
          Object.keys($scope.taskinfo.jc_plots.plot_data[1].data.data).forEach((key) => {
            $scope.taskinfo.jc_plots.options.category.push(key);
          });
          $scope.taskinfo.jc_plots.options.category.sort();
          if ($scope.taskinfo.jc_plots.options.category.includes('run')) {
            $scope.taskinfo.jc_plots.selection.category = 'run';
          }
          else {
            $scope.taskinfo.jc_plots.selection.category = 'all';
          }
        }
      };

      $scope.taskinfo.jc_plots.build = function () {
        $scope.taskinfo.jc_plots.plot_data.forEach((item) => {
          if (item.data.details.type === 'pie') {
            $scope.taskinfo.jc_plots.charts[item.name + "_chart"] = draw_donut(item.data.data[$scope.taskinfo.jc_plots.selection.category]['columns'], item.name + "_chart", item.data.details.title, item.data.details)
          }
          else if (item.data.details.type === 'stack_bar') {
            $scope.taskinfo.jc_plots.charts[item.name + "_chart"] = draw_stacked_bar_hist(item.data.data[$scope.taskinfo.jc_plots.selection.category], item.data.details, item.name + "_chart");
          }
        })
      };

      $scope.taskinfo.jc_plots.rebuild = function () {
        $scope.taskinfo.jc_plots.destroy();
        $scope.taskinfo.jc_plots.build();
      };

      $scope.taskinfo.jc_plots.destroy = function () {
        let plot_names = Object.keys($scope.taskinfo.jc_plots.charts);
        plot_names.forEach((item) => {
          if ($scope.taskinfo.jc_plots.charts[item]) {
            $scope.taskinfo.jc_plots.charts[item] = $scope.taskinfo.jc_plots.charts[item].destroy();
          }
        });
      };

      $scope.taskinfo.jc_plots.toggle = function () {

        if (Object.keys($scope.taskinfo.jc_plots.plot_data).length === 0) $scope.taskinfo.jc_plots.fill();

        if ($scope.taskinfo.jc_plots.options.category.length > 0) {
          ($scope.taskinfo.jc_plots.selection.is_hidden) ? $scope.taskinfo.jc_plots.selection.is_hidden = false : $scope.taskinfo.jc_plots.selection.is_hidden = true;
        }
      };

    })
    .directive('jcplotDirective', function ($timeout) {
        var template = '<div id="{$plot.name$}_chart"></div>';
        return {
            template: template,
            scope: {
                plot: '=',
                parent: '=',
            },
            link: function (scope, element, attrs) {
              $timeout(() => {
                element.ready(() => {
                  if (scope.plot.data.details.type === 'pie') {
                    if ('size' in scope.plot.data.details) {scope.plot.data.details.size[0] = getWidth();}
                    scope.parent.taskinfo.jc_plots.charts[scope.plot.name + "_chart"] = draw_donut(scope.plot.data.data[scope.parent.taskinfo.jc_plots.selection.category]['columns'], scope.plot.name + "_chart", scope.plot.data.details.title, scope.plot.data.details)
                  }
                  else if (scope.plot.data.details.type === 'stack_bar') {
                    scope.parent.taskinfo.jc_plots.charts[scope.plot.name + "_chart"] = draw_stacked_bar_hist(scope.plot.data.data[scope.parent.taskinfo.jc_plots.selection.category], scope.plot.data.details, scope.plot.name + "_chart");
                  }
                });
              });
            }
        };
    });


    app.controller('taskflowController', function ($scope, $http, $sce) {
        $scope.taskflow = {
          message: $sce.trustAsHtml('<img src="{% static 'images/load.gif' %}"> Loading... '),
          data: [],
          is_hidden: true,
          plot_data: {
            columns: [],
          },
          plot: "",
        };
        $scope.taskflow.get = function () {
            $http({
                    url: "{% url 'taskFlowDiagram' jeditaskid %}",
                    method: "GET",
                    params: {'json':1}
                }
            ).then(function success(response) {
                $scope.taskflow.message = "";
                $scope.taskflow.data = angular.fromJson(response.data.data);
                console.log(response.data.data)
                if ($scope.taskflow.data.length > 0) {
                  $scope.taskflow.buildPlot();
                }
                else {
                  $scope.taskflow.message = $sce.trustAsHtml("No data received :(");
                }
              },
              function error(response) {
                console.log(response);
                $scope.taskflow.message = $sce.trustAsHtml('Failed to load data :( ');
              }
            );
        };

        $scope.taskflow.buildPlot = function() {
            var data = new google.visualization.DataTable();
                data.addColumn('string', 'From');
                data.addColumn('string', 'To');
                data.addColumn('number', 'Weight');
                data.addRows($scope.taskflow.data);

        // Sets chart options.
        var options = {
            width: getWidth()-40,
            {#sankey: {#}
            {#    link: { color: { fill: '#d799ae' } },#}
            {#    node: { colors: [ '#a61d4c' ]},#}
            {# },#}
        };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
        chart.draw(data, options);

        };
        $scope.taskflow.toggle = function() {
            $scope.taskflow.is_hidden = false;
            $scope.taskflow.get();
        };
    });


    app.controller('TaskStatusLogController', function ($scope, $http, $sce) {
        $scope.status_log = {
          message: $sce.trustAsHtml('<img src="{% static 'images/load.gif' %}"> Loading... '),
          data: [],
          is_hidden: true,
          data_table: "",
          plot_data: {
            columns: [],
            ext: {
              xs: {},
              size: [getWidth() - 40, 400],
              colors: "task_states",
              labels: ['Time', 'Task attempt'],
            },
          },
          plot: "",
        };
        $scope.status_log.get = function () {
            $http({
                    url: "{% url 'gettaskstatuslog' jeditaskid %}",
                    method: "GET",
                    params: {'json':1}
                }
            ).then(function success(response) {
                $scope.status_log.message = "";
                $scope.status_log.data = angular.fromJson(response.data);
                if ($scope.status_log.data.length > 0) {
                  $scope.status_log.buildPlot();
                  $scope.status_log.buildDataTable();
                }
                else {
                  $scope.status_log.message = $sce.trustAsHtml("No data received :(");
                }
              },
              function error(response) {
                console.log(response);
                $scope.status_log.message = $sce.trustAsHtml('Failed to load data :( ');
              }
            );
        };
        $scope.status_log.buildDataTable = function () {
            $scope.status_log.data_table = $('#taskstatuslogtable').dataTable({
                "lengthMenu": [[10, 20, 50, 100, 200, -1], [10, 20, 50, 100, 200, "All"]],
                "paging": true,
                "scrollX": true,
                "aaSorting": [[1,'asc']],
                "data": $scope.status_log.data,
                "aoColumns": [
                    {
                        title: "Attempt",
                        data: "attemptnr",
                        sDefaultContent: "-",
                    },
                    {
                        title: "Time",
                        data: "modiftime_str",
                        sDefaultContent: "-",
                    },
                    {
                        title: "Status",
                        data: "status",
                        sDefaultContent: "-",
                        className: 'state',
                    },
                    {
                        title: "Duration, d:h:m:s",
                        data: "duration",
                        sDefaultContent: "-",
                    },
                    {
                        title: "Modification host",
                        data: "modificationhost",
                        sDefaultContent: "-",
                    },
                    {
                        title: "Reason",
                        data: "reason",
                        sDefaultContent: "-",
                    },

                ],
                "createdRow": function ( row, data, index ) {
                    $('td', row).eq(2).addClass(data['status'] + '_fill');
                }
              })
        };
        $scope.status_log.buildPlot = function() {
            if ($scope.status_log.data.length > 0) {
                let tmp_obj = {};
                $scope.status_log.plot_data.columns.push(['x', ]);
                $scope.status_log.data.forEach((item) => {
                    tmp_obj[item.status] = [item.status, ];
                    $scope.status_log.plot_data.columns[0].push(item.modiftime_str);
                });
                $scope.status_log.data.forEach((item) => {
                  Object.keys(tmp_obj).forEach((key) => {
                    (item.status === key) ? tmp_obj[key].push(item.attemptnr+1) : tmp_obj[key].push(0);
                  });
                });
                Object.keys(tmp_obj).forEach((key) => {
                  $scope.status_log.plot_data.columns.push([key, ...tmp_obj[key]]);
                })
            }
            $scope.status_log.plot = draw_steps($scope.status_log.plot_data.columns, 'tsl_plot', 'Task statuses transition', $scope.status_log.plot_data.ext);
        };
        $scope.status_log.toggle = function() {
            $scope.status_log.is_hidden = false;
            $scope.status_log.get();
        };
    });

    app.controller('TaskLogsController', function ($scope, $http, $sce) {
       $scope.task_logs = {
          message: $sce.trustAsHtml('<img src="{% static 'images/load.gif' %}"> Loading... '),
          data: [],
          is_hidden: true,
          data_table: "",
          plot_data: {
            columns: [],
            ext: {
              xs: {},
              size: [getWidth() - 40, 400],
              colors: "task_states",
              labels: ['Time', 'Task attempt'],
            },
          },
          plot: "",
        };
       $scope.task_logs.get = function () {
            $http({
                    url: "{% url 'gettasklogs' jeditaskid %}",
                    method: "GET",
                    params: {'json':1}
                }
            ).then(function success(response) {
                $scope.task_logs.message = "";
                $scope.task_logs.data = angular.fromJson(response.data);
                if ($scope.task_logs.data.length > 0) {
                  $scope.task_logs.buildDataTable();
                }
                else {
                  $scope.task_logs.message = $sce.trustAsHtml("No data received :(");
                }
              },
              function error(response) {
                console.log(response);
                $scope.task_logs.message = $sce.trustAsHtml('Failed to load data :( ');
              }
            );
       };
       $scope.task_logs.buildDataTable = function () {
            $scope.task_logs.data_table = $('#tasklogstable').dataTable({
                "lengthMenu": [[10, 20, 50, 100, 200, -1], [10, 20, 50, 100, 200, "All"]],
                "paging": true,
                "scrollX": true,
                "aaSorting": [[1,'asc']],
                "data": $scope.task_logs.data,
                {#rowsGroup: [0],#}
                "aoColumns": [
                    {
                        title: "LogName",
                        data: "logname",
                        sDefaultContent: "-",
                        "render": function (data, type, full, meta) {
                            var link_to_kibana = ''
                            if (full['logname']  == 'recoverlostfiles') {
                                link_to_kibana = '<a href="https://es-atlas.cern.ch/kibana/app/discover#/?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,to:now))&_a=(columns:!(logName,logLevel,message),index:\'620eaaf0-bfac-11ea-b7f2-27bdf2c0b5dc\',interval:auto,query:(language:kuery,query:\'jediTaskID:' + full['jediTaskID'] + '%20AND%20fields.type:%22' + full['logname'] + '%22\'),sort:!(\'@timestamp\',desc))" target="_blank">' + full['logname'] + ' (panda log)' + '</a>'
                            }
                            else {
                                link_to_kibana = '<a href="https://es-atlas.cern.ch/kibana/app/discover#/?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,to:now))&_a=(columns:!(logName,logLevel,message),index:\'6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc\',interval:auto,query:(language:kuery,query:\'jediTaskID:' + full['jediTaskID'] + '%20AND%20fields.type:%22' + full['logname'] + '%22\'),sort:!(\'@timestamp\',desc))" target="_blank">' + full['logname'] + '</a>'
                            }
                            return link_to_kibana
                        }
                    },
                    {
                        title: "LogLevel",
                        data: "loglevel",
                        sDefaultContent: "-",
                        "render": function (data, type, full, meta) {
                            var link_to_kibana = ''
                            if (full['logname']  == 'recoverlostfiles') {
                                link_to_kibana = '<a href="https://es-atlas.cern.ch/kibana/app/discover#/?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,to:now))&_a=(columns:!(logName,logLevel,message),index:\'620eaaf0-bfac-11ea-b7f2-27bdf2c0b5dc\',interval:auto,query:(language:kuery,query:\'jediTaskID:' + full['jediTaskID'] + '%20AND%20fields.type:%22' + full['logname'] + '%22%20AND%20logLevel:%22' + full['loglevel'] + '%22\'),sort:!(\'@timestamp\',desc))" target="_blank">' + full['loglevel'] + '</a>'
                            }
                            else {
                                link_to_kibana = '<a href="https://es-atlas.cern.ch/kibana/app/discover#/?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,to:now))&_a=(columns:!(logName,logLevel,message),index:\'6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc\',interval:auto,query:(language:kuery,query:\'jediTaskID:' + full['jediTaskID'] + '%20AND%20fields.type:%22' + full['logname'] + '%22%20AND%20logLevel:%22' + full['loglevel'] + '%22\'),sort:!(\'@timestamp\',desc))" target="_blank">' + full['loglevel'] + '</a>'
                            }
                            return link_to_kibana
                        }
                    },
                    {
                        title: "#",
                        data: "lcount",
                        sDefaultContent: "-",

                    }

                ],
                "createdRow": function ( row, data, index ) {
                    $('td', row).eq(2).addClass(data['status'] + '_fill');
                }
              })
        };
       $scope.task_logs.toggle = function() {
            $scope.task_logs.is_hidden = false;
            $scope.task_logs.get();
        };
    });

    $(document).ready(function () {
        var dataset_list = {{ datasets|safe }};
        buildDatasetsTable(dataset_list);
        var url = window.location.href;
        if (url.indexOf("#plots") > -1) {
            togglePlots();
        }
        if (url.indexOf("#statuslog") > -1) {
            toggleStatusLog();
        }
        if (url.indexOf("#tasklogs") > -1) {
            toggleTaskLogs();
        }
    });

function togglePlots() {
  let scope = angular.element(document.getElementById('plots')).scope();
  scope.$apply(function() {
      scope.taskinfo.jc_plots.toggle();
  });
}
function toggletaskflow() {
    let scope = angular.element(document.getElementById('taskflow')).scope();
    if (scope.taskflow.is_hidden) {
      scope.$apply(function () {
        scope.taskflow.toggle();
      });
    }
}

function toggleStatusLog() {
    let scope = angular.element(document.getElementById('statuslog')).scope();
    if (scope.status_log.is_hidden) {
      scope.$apply(function () {
        scope.status_log.toggle();
      });
    }
}

function toggleTaskLogs() {
    let scope = angular.element(document.getElementById('tasklogs')).scope();
    if (scope.task_logs.is_hidden) {
      scope.$apply(function () {
        scope.task_logs.toggle();
      });
    }
}

function killtasks(taskID, action) {
    var message = '';
    if (action === 0)
        message = 'Are you sure you want to FINISH this task?'
    else
        message = 'Are you sure you want to ABORT this task?'
    if (confirm(message)) {
        $.ajax({
            url: {% url 'killtasks' %},
            data: {'task': taskID, 'action': action},
            async: true
        })
        .done(function (response) {
            if (typeof response === 'string') {
                response = $.parseJSON(response);
            }
            alert(response.detail);
            location.reload();
        });
    } else {
        // Do nothing!
    }
}

function operationtask_token(taskID, action) {
    var message = '';
    if (action == 'finishtask' ) {
        message = 'Are you sure you want to FINISH this task?'
    }
    else if (action == 'killtask') {
        message = 'Are you sure you want to ABORT this task?'
    }
    else {
        // Reserve
    }
    if (confirm(message)) {

        $.ajax({
            url: {% url 'panda_client' %},
            data: {taskID: taskID, action: action},
            async: false,
            type: "POST",
            success: function(result){
                result_obj = JSON.parse(result)
                alert(result_obj['text']);
              }
        })
    } else {
        // Do nothing!
    }
}


function buildDatasetsTable(data) {

  $('#datasetstable').dataTable({
    //"bRetrieve": true,
    "lengthMenu": [[10, 20, 50, 100, 200, -1], [10, 20, 50, 100, 200, "All"]],
    "paging": true,
    "scrollX": true,
    "aaSorting": [[1,'asc']],
    "columnDefs": [
        {"type": "num-html", "targets": [4,5,6,7] }
    ],
    "data": data,
    "aoColumns": [
        {
            "data": "datasetname",
            sDefaultContent: "---",
            "render": function(data, type, row, meta) {
                return '<a href = "{% url 'datasetInfo' %}?datasetid=' + row['datasetid'] + '">'+row['datasetname']+'</a>'
            }
        },
        {
            "data": "type",
            sDefaultContent: "-",
        },
        {
            "data": "streamname",
            sDefaultContent: "-",
        },
        {
            "data": "status",
            sDefaultContent: "-",
            className: 'state',
        },
        {
            "data": "nfiles",
            sDefaultContent: "-",
            className: 'num',
            "render": function(data, type, full, meta) {
                let str = '';
                if (data > 0) {
                    str += '<a href = "{% url 'fileList' %}?jeditaskid=' + full['jeditaskid'] + '&datasetid=' + full['datasetid'] + '">' + full['nfiles'] + '</a>';
                    if (full['nfilesmissing'] > 0) {str += ' <span class="lost">+' + full['nfilesmissing'] + ' lost</span>'; }
                }
                else {
                    str += data;
                }
                return str
            }
        },
        {
            "data": "nfilesfinished",
            sDefaultContent: "-",
            className: 'num',
            "render": function(data, type, full, meta) {
                if (full['type'] == 'input' && data > 0) {
                    return '<a href = "{% url 'fileList' %}?procstatus=finished&jeditaskid=' + full['jeditaskid'] + '&datasetid=' + full['datasetid'] +  '"><snap class="finished">' + full['nfilesfinished'] + '</snap></a>'
                }
                else if (full['type'] == 'input' && data == 0) {
                    return data;
                }
                else {
                    return '-';
                }
                }
        },
        {
            "data": "nfilesfailed",
            sDefaultContent: "-",
            className: 'num',
            "render": function(data, type, full, meta) {
                if (full['type'] == 'input' && data > 0) {
                    return '<a href = "{% url 'fileList' %}?procstatus=failed&jeditaskid=' + full['jeditaskid'] + '&datasetid=' + full['datasetid'] + '"><snap class="failed">' + full['nfilesfailed'] + '</snap></a>'
                }
                else if (full['type'] == 'input' && data == 0) {
                    return data;
                }
                else {
                    return '-';
                }
            }
        },
        {
            "data": "percentfinished",
            sDefaultContent: "-",
            className: 'num'
        },
        {
            "data": "type",
            sDefaultContent: "-",
            "render": function(data, type, row, meta) {
                var links = '<a href="https://rucio-ui.cern.ch/did?scope=' + row['scope'] + '&name=' + row['datasetname'] + '" target="_blank"><img src="/static/images/rucio-logo.png" width=14 height=14 border=0></a>';
                if (row['type'] == 'input') {
                     links += ', <a href = "{% url 'jobList' %}?datasetid=' + row['datasetid'] + '&jeditaskid=' + row['jeditaskid'] + '"> jobs </a>'
                }
                return links;
            }

        },
        {
            "data": "rse",
            sDefaultContent: "-",
        },

    ],
    "createdRow": function ( row, data, index ) {
        $('td', row).eq(3).addClass(data['status'] + '_fill');
    }
  })
}


</script>

{% endblock %}

{% block help %}
  <a name="help"></a>
  {% include "taskInfoHelp.html" %}
{% endblock %}
