{% extends "_base_core.html" %}
{% load static %}{% load common_tags %}
{% block page_title %} {{ viewParams.MON_VO }} Task chain for {{ jeditaskid }} {% endblock %}
{% block subtitle %}Task chain for <b>{{ jeditaskid }}</b>{{ viewParams.selection|safe }}{% endblock %}
{% block css_page_library %}
  <link rel="stylesheet" href="{% static "css/taskchain.css" %}">
{% endblock %}
{% block js_head_page_library %}
    <script src="{% static 'js/d3.v3.min.js' %}"></script>
{% endblock %}
{% block body %}

  <h3>Task Chain Visualization</h3>
  <table id="task_status">
    <thead></thead>
    <tbody></tbody>
  </table>
  <div id="taskChain">
  </div>
  <div>
      <table id="task_table">
          <tbody>
          </tbody>
      </table>
      <table id="datasets_table">
          <tbody>
          </tbody>
      </table>
  </div>

{% endblock %}

{% block js_body_page %}
  <script src="{% static '/js/d3jsplot.js' %}?{% cache_bust "/js/d3jsplot.js" %}"></script>
  <script nonce={{request.csp_nonce}}>
      var treeData = {{ taskChain|safe }},
              task = {{ jeditaskid }};

      var counter = 0;

      function childNodesCounter(n) {
        if (n.children == undefined) return 1;
        if (n.children.length > 1)
          counter += n.children.length;
        n.children.forEach(function(c){
          childNodesCounter(c);
        });
        return counter;
      }
      var max = childNodesCounter(treeData);

      var vis = d3.select("#taskChain");
      var width = vis[0][0].clientWidth - 50,
              height = max * 40 + 100,
              delta = 200;
      var task_table = d3.select("#task_table").select("tbody"),
              datasets_table = d3.select("#datasets_table").select("tbody");

      // Create a svg canvas
      var svg = d3.select("#taskChain").append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(40, 0)"); // shift everything to the right
      // Create a tree "canvas"
      var tree = d3.layout.tree().size([height, width - delta]);

      var diagonal = d3.svg.diagonal()
      // change x and y (for the left to right tree)
          .projection(function (d) {
              return [d.y + 40, d.x];
          });

      // Preparing the data for the tree layout, convert data into an array of nodes
      var nodes = tree.nodes(treeData);

      // Create an array with all the links
      var links = tree.links(nodes);

      var link = svg.selectAll("path.link")
        .data(links)
        .enter().append("path")
        .attr("class", "link")
        .attr("d", diagonal);

      var node = svg.selectAll("g.node")
        .data(nodes)
        .enter().append("g")
        .attr("class", "node")
        .attr("transform", function (d) {
            return "translate(" + (d.y + 40) + "," + d.x + ")";
        });

      var task_status_colors = {
        'registered' : '#EBF5E2',
        'defined' : '#EBF5E2',
        'assigning' : '#EBF5E2',
        'scouting' : '#DBF1C6',
        'topreprocess' : '#DBF1C6',
        'preprocessing' : '#DBF1C6',
        'ready' : '#C7E9A9',
        'pending' : '#C7E9A9',
        'scouted' : '#C7E9A9',
        'running' : '#C7E9A9',
        'finishing' : '#C7E9A9',
        'prepared' : '#A0D670',
        'finished' : '#A0D670',
        'toretry' : '#A0D670',
        'done' : '#62AC21',
        'toincexec' : '#62AC21',
        'rerefine' : '#62AC21',
        'paused' : '#FFE38E',
        'throttled' : '#FFE38E',
        'exhausted' : 'FFE38E',
        'passed' : '#FFE38E',
        'failed' : '#FFABA2',
        'aborting' : '#FFABA2',
        'aborted' : '#FFABA2',
        'tobroken' : '#FF8174',
        'broken' : '#FF8174'
      };

      var task_status = d3.select("#task_status");
      task_status.select("thead")
                 .selectAll("th")
                 .data(d3.values(task_status_colors))
                 .enter()
                 .append("th")
                 .attr("bgcolor", function (d) {
                              return d;
                          })
                 .attr("height", "10px");
      var tr = task_status.select("tbody")
                          .append("tr");
      var td = tr.selectAll("td")
                 .data(d3.keys(task_status_colors))
                 .enter().append("td")
                 .style("font-size","0.775rem")
                 .style("padding", "0.2625rem 0.225rem")
                 .style("line-height", "0.5rem")
                 .text(function(d) {return d});

      var tooltip = d3.select("body")
        .append("div")
        .attr("id", "tooltip")
        .style("position", "absolute")
        .style("opacity", 0);

      // Add the dot at every node
      node.append("circle")
          .attr("r", function (d) {
              if (d.name == task) return 15;
              else return 10;
          })
          .attr("fill", function (d) {
              return task_status_colors[d.status];
          })
          .on("click", function (d) {
              // make circle clickable
              task_table.html("");
             datasets_table.html("");
              var taskname = d.taskname;
              var datasets = d.datasets;
              var task_params = {
                  "id": d.name,
                  "phys_group": d.phys_group,
                  "status": d.status,
                  "username": d.username,
                  "timestamp": d.timestamp
              };
              var dataset_headers = ["timestamp", "status", "files", "events"];
              task_table.append("tr")
                      .attr("bgcolor", function (item) {
                          return task_status_colors[d.status];
                      })
                     .append("th")
                     .attr("colspan", d3.keys(task_params).length)
                      .append("span")
                      .text(taskname);
              task_table.append("tr").selectAll("th")
                      .data(d3.keys(task_params))
                      .enter()
                      .append("th")
                      .text(function (d) {
                          return d;
                      });
              task_table.append("tr").selectAll("td")
                      .data(d3.values(task_params))
                      .enter()
                      .append("td")
                      .text(function (d) {
                          return d;
                      });

              datasets_table.append("tr")
                      .attr("bgcolor", "lightcyan")
                      .append("th")
                      .attr("colspan", d3.keys(task_params).length)
                      .append("span")
                      .text("Datasets");
              datasets_table.append("tr").selectAll("th")
                      .data(dataset_headers)
                      .enter()
                      .append("th")
                      .text(function (d) {
                          return d;
                      });
              var result = [];
              datasets.forEach(function (item) {
                  result.push({
                      'timestamp': item.timestamp,
                      'status': item.status,
                      'files': item.files,
                      'events': item.events
                  });
              });
              for (var j = 0, len = datasets.length; j < len; j++) {
                  var dataset_name = datasets[j].name;
                  datasets_table.append("tr")
                          .attr("colspan", d3.keys(task_params).length)
                          .append("td")
                          .text(dataset_name);
                  datasets_table.append("tr").selectAll("td")
                          .data(d3.values(result[j]))
                          .enter()
                          .append("td")
                          .text(function (d) {
                              return d;
                          });
              }
          })
          .on("mouseover", function (d) {
              tooltip.transition()
                      .duration(200)
                      .style("left", (d3.event.pageX + 10) + "px")
                      .style("top", (d3.event.pageY - 10) + "px")
                     .style("opacity", .9);
              tooltip.html("<strong>project:</strong> " + d.taskname.split('.')[0] + "<br/>" +
                     "<strong>username: </strong>" + d.username + "<br/>" +
                      "<strong>phys_group: </strong>" + d.phys_group + "<br/>" +
                      "<strong>production_step: </strong>" + d.taskname.split('.')[3] + "<br/>" +
                      "<strong>ami_tags: </strong>" + d.taskname.split('.')[4] + "<br/>" +
                      "<strong>timestamp: </strong>" + d.timestamp);
          })
          .on("mouseout", function (d) {
             tooltip.transition()
                     .duration(500)
                      .style("opacity", 0);
          });

      // add taskname to circles
      node.append("a")
        .attr("xlink:href", function(d) {
            return "{% url 'taskInfo' %}" + d.name;})
        .attr("target", "blank")
        .append("text")
        .attr("dy", -15)
        .attr("dx", 15)
        .attr("class", "clickable")
        .text(function (d) {
            return d.name;
        });
  </script>

{% endblock %}