{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}
{% load common_tags %}

{% block page_title %}Task profile plots{% endblock %}
{% block subtitle %}Task profile plot for {{ jeditaskid }} task{% if viewParams.selection %}{{ viewParams.selection }}{% endif %}{% if task.status %}, current status is <span class="{{ task.status }}">{{ task.status }}</span>{% endif %}{% endblock %}


{% block js_head_page_library %}
  <script src="{% static 'js/datatables/moment.min.js' %}"></script>
  <!-- Load chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.1/chartjs-adapter-moment.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.0.1/chartjs-plugin-annotation.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js" charset="utf-8"></script>

{% endblock %}

{% block body %}

{% if error|length == 0 %}
  <div data-ng-controller="taskProfileController" id="taskProfileScope">
  <form novalidate class="simple-form">
  <div class="row form-container">
  <div class="medium-2 column">
      <label>Job type:
      <select id="jobtype__select"
              ng-model="taskprofile.selection.jobtype"
              ng-options="jt.value as jt.name for jt in taskprofile.availableOptions.jobtype"
              multiple >
      </select>
      </label>
  </div>
  <div class="medium-2 column">
      <label>Job status:
      <select id="jobstatus__select"
              ng-model="taskprofile.selection.jobstatus"
              ng-options="js.value as js.name for js in taskprofile.availableOptions.jobstatus"
              multiple >
      </select>
      </label>
  </div>
  <div class="medium-2 column">
      <label>Progress unit:
      <select id="progressunit__select"
              ng-model="taskprofile.selection.progressunit"
              ng-options="pu.value as pu.name for pu in taskprofile.availableOptions.progressunit">
      </select>
      </label>
  </div>
  <div class="medium-1 column align-middle">
      <a class="button primary" ng-style="taskprofile.button.style" ng-click="taskprofile.update()">{$ taskprofile.button.text $}</a>
  </div>
  <div class="medium-4 column"></div>
  <div class="medium-1 column align-right">
      <a class="button secondary" ng-click="taskprofile.reset_zoom()">Reset zoom</a>
  </div>
  </div>
  </form>
  </div>

  <div id="task_profile_placeholder"><img src='{% static "images/load.gif" %}'></div>
  <canvas id="task_profile_chart" style="width: 100%; height: 50rem"></canvas>
{% else %}
  <p>
  <div class="callout alert" data-closable>
    <h5>Something went wrong!</h5>
    <p>{{ error }}</p>
    <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true"><i class="fi-x"></i></span>
    </button>
  </div>
{% endif %}

{% endblock %}

{% block js_body_page %}
<script src="{% static 'js/draw-plots-chart.js' %}?{% cache_bust "js/draw-plots-chart.js" %}"></script>
<script nonce={{request.csp_nonce}}>
var jeditaskid = '{{ jeditaskid }}';
var request_params = {{ requestParams | safe }};
var task = {{ task | safe }};
app.controller('taskProfileController', ['$scope', '$http', function($scope, $http) {
    $scope.taskprofile = {
        button: {
          text: 'Update',
          style: {},
        },
        selection: {
            jobtype: ['build', 'run', 'merge'],
            jobstatus: ['active', 'finished', 'failed', 'closed', 'cancelled'],
            progressunit: 'jobs',
        },
        task: task,
        charts: {},
        data: [],
        annotations: {},
    };

    $scope.taskprofile.availableOptions = {
        progressunit: [
          {name:'jobs', value:'jobs',},
          {name:'events', value:'events',},
          {name:'files', value:'files',},
        ],
        jobtype: [
          {name:'build', value:'build', },
          {name:'run', value:'run', },
          {name:'merge', value:'merge', }
        ],
        jobstatus: [
          {name:'active', value:'active', },
          {name:'finished', value:'finished',},
          {name:'failed', value:'failed', },
          {name:'closed', value:'closed', },
          {name:'cancelled', value:'cancelled', }
        ],
    };

    Object.keys($scope.taskprofile.availableOptions).forEach(value =>  {
      if (value in request_params && typeof request_params[value] === 'string') {
        $scope.taskprofile.selection[value] = request_params[value].split(',');
      }
    });

    $scope.taskprofile.url = function() {
      var query = '{% url 'getTaskProfilePlotData' jeditaskid %}?';
      Object.keys($scope.taskprofile.selection).forEach(key => {
          if (typeof $scope.taskprofile.selection[key] !== 'string') {
              query += key + '=' + $scope.taskprofile.selection[key].join(',') + '&';
          }
          else {
              query += key + '=' + $scope.taskprofile.selection[key] + '&';
          }
      });
      query = query.substring(0, query.length - 1);
      return query
    };

    $scope.taskprofile.fetch = function() {
      return $http({
        method: 'GET',
        url: $scope.taskprofile.url(),
      }).then(function successCallback(response) {
          $('#task_profile_placeholder').html("");
          $scope.taskprofile.data = response.data.plotData;
          $scope.taskprofile.annotations = response.data.annotations;
        }, function errorCallback(response) {
          $('#task_profile_placeholder').html(response.data.error);
        });
    };

    $scope.taskprofile.update = function() {
      $scope.taskprofile.button.text = 'Updating...';
      $scope.taskprofile.button.style = {'background-color': '#222222', 'pointer-events': 'none'};
      let resp = $scope.taskprofile.fetch();
      resp.then(function (data) {
        $scope.taskprofile.charts["profile_chart"].data.datasets = $scope.taskprofile.data;
        $scope.taskprofile.charts["profile_chart"].config.options.plugins.annotation.annotations = $scope.taskprofile.annotations;
        if ($scope.taskprofile.selection.progressunit === 'events') {
          $scope.taskprofile.charts["profile_chart"].config.options.scales.y.title.text = 'Number of events';
        }
        else if ($scope.taskprofile.selection.progressunit === 'files') {
          $scope.taskprofile.charts["profile_chart"].config.options.scales.y.title.text = 'Number of files';
        }
        else {
          $scope.taskprofile.charts["profile_chart"].config.options.scales.y.title.text = 'Number of jobs';
        }
        let ymax = Math.max.apply(
          Math, $scope.taskprofile.data.map(function(o) { return Math.max.apply(Math, o.data.map(function(o) { return o.y; })); }));
        $scope.taskprofile.charts["profile_chart"].config.options.scales.y.suggestedMax = ymax * 1.075;
        $scope.taskprofile.charts["profile_chart"].update();
        $scope.taskprofile.button.text = 'Update';
        $scope.taskprofile.button.style = {};
      });
    };

    $scope.taskprofile.buildChart = function (data, annotations) {
      let datasets = data;
      let options = {ylabel: 'Number of ended jobs'};
      if ($scope.taskprofile.selection.progressunit === 'events') {options.ylabel = 'Number of events';}
      if ($scope.taskprofile.selection.progressunit === 'files') {options.ylabel = 'Number of files';}
      options.ymax = Math.max.apply(Math, datasets.map(function(o) { return Math.max.apply(Math, o.data.map(function(o) { return o.y; })); }));
      options.ymax *= 1.075;
      options.xmin = task.xmin;
      options.xmax = task.xmax;
      var ctx = document.getElementById("task_profile_chart");
      var config = prepare_scatter_chart(datasets, options, annotations);
      var chart = new Chart(ctx, config);
      return chart
    };

    let resp = $scope.taskprofile.fetch();
    resp.then(function (data) {
      $scope.taskprofile.charts["profile_chart"] = $scope.taskprofile.buildChart($scope.taskprofile.data, $scope.taskprofile.annotations);

      document.getElementById("task_profile_chart").onclick = function (evt) {
        var points = $scope.taskprofile.charts["profile_chart"].getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);
        if (points.length && points.length === 1) {
          window.open('/job/' + $scope.taskprofile.charts["profile_chart"].data.datasets[points[0].datasetIndex].data[points[0].index].label + '/', '_blank')
        }
      };
    });
    
    $scope.taskprofile.reset_zoom = function() {
      $scope.taskprofile.charts["profile_chart"].resetZoom();
    };
    
}]);

</script>
{% endblock %}


{% block help %}
{% include "taskProfileHelp.html" %}
{% endblock %}