{% extends "_base_core.html" %}
{% load humanize %}
{% load common_tags %}
{% load staticfiles %}
{% block page_title %} {{ jeditaskid }} ES task {% endblock %}
{% block title %} <a class="menu-link" href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block css_page_library %}
  <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
  <!-- Load c3.css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.css" rel="stylesheet">
{% endblock %}
{% block js_head_page_library %}
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.rowsGroup.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
  <script src="{% static 'js/humanize.min.js' %}"></script>
  <!-- Load d3.js and c3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.min.js"></script>
{% endblock %}



{% block js_body_page %}

  <script src="{% static 'js/draw-plots-c3.js' %}?{% cache_bust "js/draw-plots-c3.js" %}"></script>
  <script>
      var jc_plot_data = {{ plotsDict|safe }};
      app.controller('jobConsumptionPlotsController', function($scope) {
        $scope.taskinfo = {};
        $scope.taskinfo.jc_plots = {
          selection: {
            category: '',
            is_hidden: true,
            mode: ''
          },
          options: {
            category: []
          },
          plot_data: jc_plot_data,
          charts: {}
        };

        if (Object.keys($scope.taskinfo.jc_plots.plot_data).length > 1) {
          Object.keys($scope.taskinfo.jc_plots.plot_data[1].data.data).forEach((key) => {
            $scope.taskinfo.jc_plots.options.category.push(key);
          });
          $scope.taskinfo.jc_plots.options.category.sort();
          if ($scope.taskinfo.jc_plots.options.category.includes('run')) {
            $scope.taskinfo.jc_plots.selection.category = 'run';
          }
          else {
            $scope.taskinfo.jc_plots.selection.category = 'all';
          }
        }

        $scope.taskinfo.jc_plots.build = function () {
          $scope.taskinfo.jc_plots.plot_data.forEach((item) => {
            if (item.data.details.type === 'pie') {
              $scope.taskinfo.jc_plots.charts[item.name + "_chart"] = draw_donut(item.data.data[$scope.taskinfo.jc_plots.selection.category]['columns'], item.name + "_chart", item.data.details.title, {})
            }
            else if (item.data.details.type === 'stack_bar') {
              $scope.taskinfo.jc_plots.charts[item.name + "_chart"] = draw_stacked_bar_hist(item.data.data[$scope.taskinfo.jc_plots.selection.category], item.data.details, item.name + "_chart");
            }
          })
        };

        $scope.taskinfo.jc_plots.rebuild = function () {
          $scope.taskinfo.jc_plots.destroy();
          $scope.taskinfo.jc_plots.build();
        };

        $scope.taskinfo.jc_plots.destroy = function () {
          let plot_names = Object.keys($scope.taskinfo.jc_plots.charts);
          plot_names.forEach((item) => {
            if ($scope.taskinfo.jc_plots.charts[item]) {
              $scope.taskinfo.jc_plots.charts[item] = $scope.taskinfo.jc_plots.charts[item].destroy();
            }
          });
        };

        $scope.taskinfo.jc_plots.toggle = function () {
          if ($scope.taskinfo.jc_plots.options.category.length > 0) {
            ($scope.taskinfo.jc_plots.selection.is_hidden) ? $scope.taskinfo.jc_plots.selection.is_hidden = false : $scope.taskinfo.jc_plots.selection.is_hidden = true;
          }
        };

      })
      .directive('jcplotDirective', function ($timeout) {
          var template = '<div id="{$plot.name$}_chart"></div>';
          return {
              template: template,
              scope: {
                  plot: '=',
                  parent: '=',
              },
              link: function (scope, element, attrs) {
                $timeout(() => {
                  element.ready(() => {
                    if (scope.plot.data.details.type === 'pie') {
                      scope.parent.taskinfo.jc_plots.charts[scope.plot.name + "_chart"] = draw_donut(scope.plot.data.data[scope.parent.taskinfo.jc_plots.selection.category]['columns'], scope.plot.name + "_chart", scope.plot.data.details.title, {})
                    }
                    else if (scope.plot.data.details.type === 'stack_bar') {
                      scope.parent.taskinfo.jc_plots.charts[scope.plot.name + "_chart"] = draw_stacked_bar_hist(scope.plot.data.data[scope.parent.taskinfo.jc_plots.selection.category], scope.plot.data.details, scope.plot.name + "_chart");
                    }
                  });
                });
              }
          };
      });

      function togglePlots() {
        let scope = angular.element(document.getElementById('plots')).scope();
        scope.$apply(function(){
              scope.taskinfo.jc_plots.toggle();
        });
      }

      function killtasks(taskID, action) {
          var message = ''
          if (action == 0)
              message = 'Are you sure you want to FINISH this task?'
          else
              message = 'Are you sure you want to ABORT this task?'
          if (confirm(message)) {
              $.ajax({
                  url: {% url 'killtasks' %},
                  data: {'task': taskID, 'action': action},
                  async: true
              })
                  .done(function (response) {
                      var parcedResponse = $.parseJSON(response);
                      alert(parcedResponse.detail);
                      location.reload();
                  });
          } else {
              // Do nothing!
          }
      }

      function buildEventChunkTable() {
          {#    $(document).ready(function() {#}
          document.getElementById('div-eventchunktable').style.display = 'block';

          eventchunktable = $('#eventchunktable').dataTable({
              "aaSorting": [[4, "desc"]],
              "aoColumns": [
                  {
                      "mData": "jobsetid",
                      sDefaultContent: "",
                      "render": function (chunk, type, full) {
                          return '<a href="'+{% url 'jobList' %}+
                          '?jeditaskid={{ jeditaskid }}&jobsetid=' + full['jobsetid'] + '">' + full['jobsetid'] + '</a>';
                      },

                  },
                  {
                      "mData": "attemptnrDS",
                      sDefaultContent: "",
                      "render": function (chunk, type, full) {
                          var reStr = "";
                          full['prevAttempts'].forEach(function (entry) {
                              reStr += '<- <a href="'+{% url 'jobList' %}+
                              '?jeditaskid={{ jeditaskid }}&jobsetid=' + entry + '">' + entry + '</a>';
                          });
                          return reStr;
                      },

                  },
                  {
                      "mData": "status",
                      sDefaultContent: "",
                  },
                  {
                      "mData": "attemptnr",
                      sDefaultContent: "",
                  },
                  {
                      "mData": "attemptnrDS",
                      sDefaultContent: "",
                  },
                  {
                      "mData": "lfn",
                      sDefaultContent: ""
                  },
                  {
                      "mData": "startevent",
                      sDefaultContent: "",
                  },
                  {
                      "mData": "endevent",
                      sDefaultContent: "",
                  },
                  {
                      "mData": "failedattempt",
                      sDefaultContent: "",
                  },
                  {
                      "mData": "maxfailure",
                      sDefaultContent: "",
                  },
                  {
                      "mData": "maxattempt",
                      sDefaultContent: "",
                  },
              ],

              "bServerSide": false,
              "searching": true,

              "ajax": {
                  "processing": true,
                  "url": "{% url 'eventschunks' %}?jeditaskid={{ jeditaskid }}",
                  "dataSrc": ''
              },

              "bStateSave": true, // optional


              initComplete: function () {
                  this.api().columns([2]).every(function () {
                      var column = this;
                      var select = $('<select><option value="">Show all</option></select>')
                          .appendTo($(column.header()).empty())
                          .on('change', function () {
                              var val = $.fn.dataTable.util.escapeRegex(
                                  $(this).val()
                              );

                              column
                                  .search(val ? '^' + val + '$' : '', true, false)
                                  .draw();
                          });

                      column.data().unique().sort().each(function (d, j) {
                          select.append('<option value="' + d + '">' + d + '</option>')
                      });
                  });

              }
          });


          $('#eventchunktable').click(function () { // only if you don't hardcode column widths
              eventchunktable.fnAdjustColumnSizing();
          });

          $('#eventchunktable').goTo();
      }

      function buildDatasetsTable(data) {

        $('#datasetstable').dataTable({
          //"bRetrieve": true,
          "lengthMenu": [[10, 20, 50, 100, 200, -1], [10, 20, 50, 100, 200, "All"]],
          "paging": true,
          "scrollX": true,
          "aaSorting": [[0,'asc']],
          "columnDefs": [
              {"type": "num-html", "targets": [4,5,6,7] }
          ],
          "data": data,
          "aoColumns": [
              {
                  "data": "datasetname",
                  sDefaultContent: "---",
                  "render": function(data, type, row, meta) {
                      return '<a href = "{% url 'datasetInfo' %}?datasetid=' + row['datasetid'] + '">'+row['datasetname']+'</a>'
                  }
              },
              {
                  "data": "type",
                  sDefaultContent: "-",
              },
              {
                  "data": "streamname",
                  sDefaultContent: "-",
              },
              {
                  "data": "status",
                  sDefaultContent: "-",
                  className: 'state',
              },
              {
                  "data": "nfiles",
                  sDefaultContent: "-",
                  className: 'num',
                  "render": function(data, type, full, meta) {
                      if (data > 0) {
                          return '<a href = "{% url 'fileList' %}?jeditaskid=' + full['jeditaskid'] + '&datasetid=' + full['datasetid'] + '">' + full['nfiles'] + '</a>'
                      }
                      else {
                          return data;
                      }
                  }
              },
              {
                  "data": "nfilesfinished",
                  sDefaultContent: "-",
                  className: 'num',
                  "render": function(data, type, full, meta) {
                      if (full['type'] == 'input' && data > 0) {
                          return '<a href = "{% url 'fileList' %}?procstatus=finished&jeditaskid=' + full['jeditaskid'] + '&datasetid=' + full['datasetid'] +  '"><snap class="finished">' + full['nfilesfinished'] + '</snap></a>'
                      }
                      else if (full['type'] == 'input' && data == 0) {
                          return data;
                      }
                      else {
                          return '-';
                      }
                      }
              },
              {
                  "data": "nfilesfailed",
                  sDefaultContent: "-",
                  className: 'num',
                  "render": function(data, type, full, meta) {
                      if (full['type'] == 'input' && data > 0) {
                          return '<a href = "{% url 'fileList' %}?procstatus=failed&jeditaskid=' + full['jeditaskid'] + '&datasetid=' + full['datasetid'] + '"><snap class="failed">' + full['nfilesfailed'] + '</snap></a>'
                      }
                      else if (full['type'] == 'input' && data == 0) {
                          return data;
                      }
                      else {
                          return '-';
                      }
                  }
              },
              {
                  "data": "percentfinished",
                  sDefaultContent: "-",
                  className: 'num'
              },
              {
                  "data": "type",
                  sDefaultContent: "-",
                  "render": function(data, type, row, meta) {
                      var links = '<a href="https://rucio-ui.cern.ch/did?scope=' + row['scope'] + '&name=' + row['datasetname'] + '" target="_blank"><img src="/static/images/rucio-logo.png" width=14 height=14 border=0></a>';
                      if (row['type'] == 'input') {
                           links += ', <a href = "{% url 'jobList' %}?datasetid=' + row['datasetid'] + '&jeditaskid=' + row['jeditaskid'] + '"> jobs </a>'
                      }
                      return links;
                  }

              },
              {
                  "data": "rse",
                  sDefaultContent: "-",
              },

          ],
          "createdRow": function ( row, data, index ) {
              $('td', row).eq(3).addClass(data['status'] + '_fill');
          }
        })
      }

      function showEventsDetails() {
          if (!$(".showeventsdetailsrow").is(':visible')) {
              $(".showeventsdetailsrow").show()
          }
          else {
              $(".showeventsdetailsrow").hide()
          }
      }

      $(document).ready(function () {
          var dataset_list = {{ datasets|safe }};
          buildDatasetsTable(dataset_list);
          var url = window.location.href;
          if (url.indexOf("#plots") > -1) {
              togglePlots();
          }
          {% if eventssummary|length > 0 %}

              if ($(".showeventsdetailsrow").is(':visible'))
                  $(".showeventsdetailsrow").hide();

          {% endif %}

      });

  </script>
{% endblock %}

{% block subtitle %}Event Service task {{ jeditaskid }}{% if task.site %} at {{ task.site }} {% endif %}, classic view {% endblock %}

{% block body %}

{% if columns %}

    <table>
        <tr bgcolor='lightcyan'>
            <th colspan=20> Event Service Task {{ jeditaskid }} at site <a
                    href="{% url 'siteInfo' task.site %}">{{ task.site }}</a></th>
        </tr>
        <tr bgcolor='lightcyan'>
            <th>Task ID</th>
            {% if task.deftreqid %}
                <th> Request</th> {% endif %}
            {% if task.reqid != task.jeditaskid and not task.deftreqid %}
                <th>Jobset</th>{% endif %}
            <th>Type</th>
            <th>Processing type</th>
            <th>Transform</th>
            <th>User</th>
            {% if task.campaign %}
                <th> Campaign</th> {% endif %}
            <th>Task status</th>{% if task.superstatus %}{% if task.superstatus != task.status %}
            <th> Detailed JEDI status</th>{% endif %} {% endif %}
            {% if task.dsinfo %}
                <th> Nevents | <span class='finished'>used</span></th>
                <th style="white-space: nowrap">HS06*sec<br> Expected<br> Total<br><span
                        class='done'>done</span><br> <span class='failed'>failed</span></th>
                <th> Ninputfiles | <span class='finished'>finished</span> | <span class='failed'>failed</span></th>
            {% endif %}
            <th>Created</th>
            <th>Modified</th>
            <th>Cores</th>
            <th>Priority</th>
            {% if task.ticketid %}
                <th>Tracker</th> {% endif %}
        </tr>
        <tr>
            <td><a href="https://prodtask-dev.cern.ch/prodtask/task/{{ task.jeditaskid }}/"
                   target="_blank">{{ task.jeditaskid }}</a></td>
            {% if task.deftreqid %}
                <td><a href="https://prodtask-dev.cern.ch/prodtask/inputlist_with_request/{{ task.deftreqid }}/#inputList{{ task.slice }}"
                       target="_blank">{{ task.deftreqid }}</a></td>
            {% endif %}
            {% if task.reqid != task.jeditaskid and not task.deftreqid %}
                <td>{{ task.reqid }}</td>{% endif %}
            <td>{{ task.tasktype }}</td>
            <td>{% if task.processingtype %} {{ task.processingtype }} {% endif %} </td>
            <td> {{ task.transpath }} </td>
            <td><a href="{% url 'taskList' %}?username={{ task.username }}">{{ task.username }}</a></td>
            {% if task.campaign %}
                <td><a href='/tasks/?campaign={{ task.campaign }}'>{{ task.campaign }}</a></td> {% endif %}
            <td class='{{ task.status }}_fill'>{% if task.superstatus %}
                <b><a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Transition_of_task_status"
                      class="bp_tooltip task_{{ task.superstatus }}">{{ task.superstatus }}</a></b>
                {% if task.superstatus != task.status %}
                    <td class='{{ task.status }}'><a
                            href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Transition_of_task_status"
                            class="bp_tooltip task_{{ task.status }}">{{ task.status }}</a></td>{% endif %} {% else %}
                <a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Transition_of_task_status"
                   class="bp_tooltip task_{{ task.superstatus }}">{{ task.status }}</a>{% endif %}</td>

            {% if task.dsinfo %}
                <td> {{ task.totev }} |
                    <span class='finished'>{{ task.totevproc }} ({{ task.pctfinished|floatformat }}%)</span></td>
                <td style="text-align:right;"> {{ task.totevhs06 }}<br>{{ task.currenttotevhs06 }}<br><span
                        class='finished'>{{ task.totevprochs06 }}</span> <br> <span
                        class='failed'>{{ task.failedevprochs06 }}</span></td>
                <td> {{ task.dsinfo.nfiles }} |
                    <span class='finished'>{{ task.dsinfo.nfilesfinished }} ({{ task.dsinfo.pctfinished|floatformat }}%)</span>
                    {% if task.dsinfo.nfilesfailed > 0 %} |
                        <span class='failed'>{{ task.dsinfo.nfilesfailed }} ({{ task.dsinfo.pctfailed|floatformat }}%)</span>  {% endif %}
                </td>
            {% endif %}

            <td>{{ task.creationdate }}</td>
            <td>{{ task.modificationtime }}</td>
            <td>{{ task.corecount }}</td>
            <td>{{ task.taskpriority }}</td>
            {% if task.ticketid %}
                <td><a href="https://its.cern.ch/jira/browse/{{ task.ticketid }}">{{ task.ticketsystemtype }}</a>
                </td>
            {% endif %}
        </tr>
    </table>

    {% if task.errordialog %}
      <div class="card bp-container-simple warning">
        {% if logtxt %}
          <div class="card-divider">
            <h5>Logged status: {{ task.errordialog|safe }}</h5>
          </div>
          <div class="card-section scrollable">
            <pre>
            {{ logtxt }}
            </pre>
          </div>
        {% else %}
          <div class="card-divider errorlog">
            <h5>Logged status: {{ task.errordialog|safe }}</h5>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="bp-container-wrapper">
    <div class="dropdownplots">
        <button class="dropdownbutton">Task extra info</button>
        <div id="dropdown-plotchoice" class="dropdown-plot">

            <a href="{% url 'taskInfo' task.jeditaskid %}">New ES task page</a>

            {% if requestParams.mode and requestParams.mode == 'nodrop' %}
                <a style="cursor: pointer;" href="{{ nomodeurl }}mode=drop">Drop mode</a>
            {% else %}
                <a style="cursor: pointer;" href="{{ nomodeurl }}mode=nodrop">Nodrop mode</a>
            {% endif %}
            {% if vomode == 'atlas' %}
                {% if task.tasktype == 'prod' %}
                    <a href="https://prodtask-dev.cern.ch/prodtask/task_manage/#/?time_period=custom&task_type=production&task_id={{ task.jeditaskid }}"
                       target="_blank">Prod Task view (to manage task)</a>
                    <a href="https://prodtask-dev.cern.ch/prodtask/task/{{ task.jeditaskid }}/">Prod Task page</a>
                {% elif  task.tasktype == 'anal' %}
                    <a href="https://prodtask-dev.cern.ch/prodtask/task_manage/#/?time_period=custom&task_type=analysis&task_id={{ task.jeditaskid }}"
                       target="_blank">Prod Task view (to manage task)</a>
                    <a href="https://prodtask-dev.cern.ch/prodtask/task/{{ task.jeditaskid }}/">Prod Task page</a>
                {% endif %}    {% endif %}

            <a target="_blank" href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'{{ task.kibanatimefrom }}',mode:quick,to:'{{ task.kibanatimeto }}'))&_a=(columns:!(,fields.type,logLevel,message),filters:!(),index:'6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'fields.type:%22atlasprodtaskbroker%22%20AND%20jediTaskID:{{ jeditaskid }}')),sort:!('@timestamp',desc),vis:(aggs:!((params:(field:jediTaskID,orderBy:'2',size:20),schema:segment,type:terms),(id:'2',schema:metric,type:count)),type:histogram))&indexPattern=6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc&type=histogram">Task
                brokerage </a>

            <a target="_blank" href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'{{ task.kibanatimefrom }}',mode:quick,to:'{{ task.kibanatimeto }}'))&_a=(columns:!(,fields.type,message),filters:!(),index:'6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'fields.type:%22{% if taskbrokerage == 'prod_brokerage' %}atlasprodjobbroker{% else %}atlasanaljobbroker{% endif %}%22%20AND%20jediTaskID:{{ jeditaskid }}')),sort:!('@timestamp',desc),vis:(aggs:!((params:(field:jediTaskID,orderBy:'2',size:20),schema:segment,type:terms),(id:'2',schema:metric,type:count)),type:histogram))&indexPattern=6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc&type=histogram">Job
                brokerage </a>

            <a target="_blank" href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'{{ task.kibanatimefrom }}',mode:quick,to:'{{ task.kibanatimeto }}'))&_a=(columns:!(fields.type,logLevel,message),index:'6bf79810-bfac-11ea-b7f2-27bdf2c0b5dc',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'jediTaskID:{{ jeditaskid }}')),sort:!('@timestamp',desc))">Action
                logger</a>
            <a target="_blank" href="https://es-atlas.cern.ch/kibana/app/kibana?#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'{{ task.kibanatimefrom }}',mode:quick,to:'{{ task.kibanatimeto }}'))&_a=(columns:!(logName,fields.type,logLevel,message),index:'620eaaf0-bfac-11ea-b7f2-27bdf2c0b5dc',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'logName.keyword:%22panda.log.RetrialModule%22%20AND%20fields.type:%22retrialmodule%22%20AND%20jediTaskID:{{ jeditaskid }}')),sort:!('@timestamp',desc))">Retrial
                Module logger</a>

            <a href="{% url 'errorSummary' %}?jeditaskid={{ jeditaskid }}">Error summary</a>
            {% if task.parent_tid != task.jeditaskid and task.parent_tid != None %}
                <a href="{% url 'taskInfo' task.parent_tid %}">Parent task {{ task.parent_tid }}</a>
            {% endif %}
            <a href="{% url 'taskList' %}?parent_tid={{ task.jeditaskid }}&display_limit=100">Child tasks</a>
            {% if task.ttcrequested != None and task.starttime != None %}
                <a href="{% url 'ttc' %}?jeditaskid={{ jeditaskid }}" target="_blank">TTC page</a>
            {% endif %}
        </div>
    </div>

    <div class="dropdownplots">
        <button class="dropdownbutton">Show jobs</button>
        <div id="dropdown-plotchoice" class="dropdown-plot">
            {% if jobsummary %}
                <a href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&mode=nodrop&display_limit=100">All (access
                    to job details and logs)</a>
                <a href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&specialhandling=sj">Scouts</a>
                <a href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&jobstatus=finished|failed|cancelled">Ended</a>
                <a href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&jobstatus=defined|waiting|pending|assigned|throttled|activated|sent|starting|running|holding|transferring">Active</a>
            {% endif %}
        </div>
    </div>

    <div class="dropdownplots">
        <button class="dropdownbutton">Task parameters and help</button>
        <div id="dropdown-plotchoice" class="dropdown-plot">

            <a style="cursor: pointer;" onclick="buildEventChunkTable();">Show event chunk table </a>
            <a href="#jobparams">Job parameters</a>
            {% if jobscoutids.cputimescoutjob|length > 0 or jobscoutids.walltimescoutjob|length > 0 %}
                <a href="#scouts">Scout jobs</a>
            {% endif %}
            {% if taskparaml %}
                <a href="#taskparamsprodsys">Prodsys task parameters</a>
            {% endif %}
            <a href="#taskparamsjedi">PanDA/JEDI task parameters</a>
            <a href="#help">Help</a>
        </div>
    </div>

    <div class="dropdownplots">
        <button class="dropdownbutton">Memory & walltime usage</button>
        <div id="dropdown-plotchoice" class="dropdown-plot">
            <a style="cursor: pointer;" href="#plots" onclick="togglePlots('d3splot');">Memory and Walltime usage</a>
              <a href="https://atlas-kibana.mwt2.org:5601/s/webexports/app/dashboards#/view/BP_ES_task?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'{{ task.kibanatimefrom }}',to:'{{ task.kibanatimeto }}'))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!t),query:(language:lucene,query:'jeditaskid:{{ task.jeditaskid }}'),timeRestore:!t,title:BP_ES_task,viewMode:view)"
               target="_blank"><span class="tooltip-upper">Memory and Walltime usage (Kibana)</span></a>
        </div>
    </div>

    <div class="dropdownplots">
        <button class="dropdownbutton">Other plots</button>
        <div id="dropdown-plotchoice" class="dropdown-plot">
            {% if not task.tasktype == 'anal' %}
                <a href="{% url 'ganttTaskChain' %}?jeditaskid={{ task.jeditaskid }}" target="_blank">Task Chain (Gantt diagram)</a>
                <a href="{% url 'taskchain' %}?jeditaskid={{ task.jeditaskid }}" target="_blank">Task Chain (Tree diagram)</a>
            {% endif %}
            {% if showtaskprof == True %}
                <a href="{% url 'taskprofileplot' %}?jeditaskid={{ task.jeditaskid }}" target="_blank">Task Profile</a>
                <a href="{% url 'taskesprofileplot' %}?jeditaskid={{ task.jeditaskid }}" target="_blank">Events Processing Profile (Not dropped finished jobs)</a>
            {% endif %}
            <a href="https://atlas-kibana.mwt2.org:5601/s/webexports/app/dashboards#/view/BP_ES_task?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'{{ task.kibanatimefrom }}',to:'{{ task.kibanatimeto }}'))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!t),query:(language:lucene,query:'jeditaskid:{{ task.jeditaskid }}'),timeRestore:!t,title:BP_ES_task,viewMode:view)"
               target="_blank"><span class="tooltip-upper">Memory and Walltime usage (Kibana)</span></a>
        </div>
    </div>

    {% with 'done finished failed ready broken aborted defined' as finalstatelist %}
        {% if not task.status in finalstatelist %}
            <div style="float: right">
                <a onclick="javascript:killtasks({{ task.jeditaskid }}, 0);" class='killbutton'>Finish</a>
                <a onclick="javascript:killtasks({{ task.jeditaskid }}, 1);" class='killbutton'>Abort</a>
            </div>
        {% endif %}
    {% endwith %}
    </div>

    {% if warning.dropmode %}
        <div class="callout warning" data-closable>
          <h5>Warning! </h5>
          <p>{{ warning.dropmode }}</p>
            <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}

    {% if jobsummary %}
      <div class="table-scroll">
      <table class="fresh-table unstriped">
        <thead>
          <tr>
              <th colspan=20>
                  <b>States of jobs in this task {% if mode %}[{{ mode }} mode]{% endif %}</b>
              </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
              {% for state in jobsummary.0.job_state_counts %}
                <th class="{{ state.name }}"><b> {{ state.name }} </b></th>
              {% endfor %}
          </tr>
          {% for job_category_states in jobsummary %}
            <tr>
              <th>{{ job_category_states.value | title }}</th>
              {% for state in job_category_states.job_state_counts %}
                <td {% if state.count > 0 %} class='{{ state.name }}_fill' {% endif %}>
                      {% if state.count > 0 %}
                          <b> <a href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&jobstatus={{ state.name }}&mode={{ mode }}{% if job_category_states.value == 'build' %}&transformation=build*{% elif job_category_states.value == 'merge' %}&eventservice=esmerge{% else %}&eventservice=not2{% endif %}&display_limit=100">
                              <span class='{{ state.name }}_fill'>{% if state.count > 0 %} {{ state.count }} {% endif %}</span></a> </b>
                      {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    {% else %}
      <div class="card bp-container-simple info">
        <div class="card-divider">
          <p>No jobs were found for the task</p>
        </div>
      </div>
    {% endif %}

    {% if jobscoutids|length > 0 %}
      <table class="fresh-table unstriped">
        <tbody>
          <tr>
            <th><b> Scout jobs: </b></th>
            {% for scout_metric, pandaids in jobscoutids.items %}
              <td><b>{{ scout_metric }}:</b>
                    {% for job in pandaids %}
                        <a href="{% url 'jobInfo' %}?pandaid={{ job }}">{{ job }}</a> {% if forloop.last %}
                    {% else %}, {% endif %}
                    {% endfor %}
              </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    {% elif jobsummary %}
      <div class="card bp-container-simple info">
        <div class="card-divider">
          <p>No ended scout jobs were found for the task</p>
        </div>
      </div>
    {% endif %}

    {% if eventssummary|length > 0 %}
      <div class="card bp-container-simple secondary">
        <div class="card-divider"><p>Events status summary</p></div>
        <div class="card-section">
          <table class="fresh-table unstriped">
            <tbody>
              <tr>
                {% for state in eventssummary %}
                  <th>
                    <span class="{{ state.statusname }}"><b> {{ state.statusname }} </b></span>
                  </th>
                {% endfor %}
              </tr>
              <tr>
                {% for state in eventssummary %}
                  <td  {% if state.count > 0 %} class='{{ state.statusname }}_fill' {% endif %}>
                    {% if state.count > 0 %}
                      <span class='{{ state.statusname }}_fill'>{{ state.count | intcomma }}
                        {% if state.pct %}({{ state.pct }}%){% endif %}
                      </span>
                    {% endif %}
                  </td>
                {% endfor %}
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}

    <div id="plots" data-ng-controller="jobConsumptionPlotsController">
    <div class="card bp-container-simple secondary" ng-hide="taskinfo.jc_plots.selection.is_hidden">
      <div class="card-divider"><p>Job consumption plots:</p></div>
      <div class="card-section">

        <fieldset class="inline">
          <legend>Job category:</legend>
          <label ng-repeat="option in taskinfo.jc_plots.options.category"><input type="radio" ng-value="option" ng-model="taskinfo.jc_plots.selection.category" ng-change="taskinfo.jc_plots.rebuild()">{$ option $}</label>
        </fieldset>

        <div class="c3-chart-block" ng-repeat="plot in taskinfo.jc_plots.plot_data" jcplot-directive plot="plot" parent="$parent"></div>
      </div>
    </div>
    </div>


    {% if inctrs %}
        <table>
            <tr bgcolor='lightcyan'>
                <th>Input containers</th>
            </tr>
            {% for dsrec in inctrs %}
                <tr>
                    <td><font size=-1><a
                            href="{% url 'datasetList' %}?containername={{ dsrec }}">{{ dsrec }}</a></font></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if outctrs %}
        <table>
            <tr bgcolor='lightcyan'>
                <th>Output containers</th>
            </tr>
            {% for dsrec in outctrs %}
                <tr>
                    <td><font size=-1><a
                            href="{% url 'datasetList' %}?containername={{ dsrec }}">{{ dsrec }}</a></font></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if datasets %}
      <div class="card bp-container-simple secondary" id="container_dst">
      <div class="card-divider"><p>Dataset processing information:</p></div>
      <div class="card-section">
        <table class="data-table left-aligned nowrap" id="datasetstable">
            <thead>
            <tr>
                <th>Dataset, container name</th>
                <th>Type</th>
                <th>Stream</th>
                <th>Status</th>
                <th>Nfiles</th>
                <th>Nfiles finished</th>
                <th>Nfiles failed</th>
                <th>%</th>
                <th>Links</th>
                <th>RSE</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
      </div>
      </div>
    {% else %}
        <p>No datasets were found for this task</p>
    {% endif %}

    {% if jobparams %}
        <div class="table-scroll">
            <table>
                <a name="jobparams"></a>
                <tr bgcolor='lightcyan'>
                    <th colspan=20> Job parameters</th>
                </tr>
                {% for p in jobparams %}
                    <tr>
                        <td><font size=-1>{{ p|safe }}</font></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <p>
    {% endif %}

    {% if taskparams %}
        <a name="taskparamsprodsys"></a>
        <table>
            <tr bgcolor='lightcyan'>
                <th colspan=20> Prodsys task parameters</th>
            </tr>
            {% for p in taskparaml %}
                {% if p.name != 'jobParameters' and p.name != 'log' %}
                    <tr>
                        <th> {{ p.name }} </th>
                        <td>{% if p.value != None %} {{ p.value }} {% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <p>
    {% endif %}

    <table>
        <a name="taskparamsjedi"></a>
        <tr bgcolor='lightcyan'>
            <th colspan=20> PanDA/JEDI task parameters</th>
        </tr>
        {% for col in columns %}
            <tr>
                <th>{{ col.name }} </th>
                <td> {% if col.value != 'None' %} {% if col.name == 'cputimescoutjob' %}
                    <a href="{% url 'jobInfo' %}?pandaid={{ col.value }}">{{ col.value }}</a> {% else %}
                    {{ col.value }} {% endif %} {% endif %}</td>
            </tr>
        {% endfor %}
    </table>

    <div id="div-eventchunktable" style="display: none">
        <table class="table table-striped table-bordered" id="eventchunktable" style="clear: both;">
            <thead>
            <tr>
                <th>Last jobset</th>
                <th>Previous<br> JobSets attempts</th>
                <th>DS Status</th>
                <th>Count attempts<br> from DS</th>
                <th>Count attempts from<br> retries reconstruction</th>
                <th>The logical filename (lfn)</th>
                <th>The starting event number used in the file (Start Event)</th>
                <th>The ending event number used in the file (End Event)</th>
                <th>How many times the file failed so far (Failedattempt)</th>
                <th>How many times the file can be failed at most (Maxfailure)</th>
                <th>How many times the file can be failed at most (Maxattempt)</th>
            </tr>
            </thead>
        </table>
    </div>

    {% else %}

        <p>PanDA task {% if jeditaskid > 0 %}{{ jeditaskid }}{% endif %} not found.</p>

    {% endif %}

{% endblock %}

{% block help %}
    <a name="help"></a>
    {% include "taskInfoHelp.html" %}
{% endblock %}
