{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Tasks errors scattering{% endblock %}
{% block title %}Tasks errors scattering{% endblock %}
{% block subtitle %}Tasks errors scattering <font size=-1>{{ viewParams.selection|safe }}</font> {% endblock %}
{% block body %}

		<link rel="stylesheet" type="text/css" href="{% static '/css/wizardstyles.css'%}" />



    <table>
        <tr>
            <th class="rotate"><div><span>JediTaskID</span></div></th>
            {% for computingSite in computingSites %}
                <th class="rotate"><div><span>{{ computingSite }}</span></div></th>
            {% endfor %}
        </tr>

        {% for jeditaskid, values in taskserrors.items %}
            <tr>
              <td><a href="{% url 'taskInfo' jeditaskid %}">{{ jeditaskid }}</a></td>

            {% for computingSite in computingSites %}
                {% if values|get_item:computingSite %}
                <td><a href="{% url 'jobList' %}?jeditaskid={{ jeditaskid }}&mode=nodrop&jobstatus=failed&computingsite={{ computingSite }}">{{ values|get_item:computingSite }}</a></td>
                {% endif %}
            {% endfor %}


            </tr>
         {% endfor %}



    </table>

{% endblock %}
