{% extends "_base_core.html" %}
{% load static %}
{% load humanize %}
{% load common_tags %}
{% block page_title %} {{ viewParams.MON_VO }} PanDA tasks{% endblock %}
{% block subtitle %}PanDA {% if viewParams.MON_VO == 'ATLAS' %} JEDI {% endif %} task list
    {{ viewParams.selection|safe }}
    {% if vo %}     for VO {{ vo }}
    {% endif %}
{% endblock %}
{% block subtitle_params %}
  {% if tasksTotalCount != None %}<b> Total tasks found &#x7E; <a href="{% url 'taskList' %}?{% if requestString != None %}{{ requestString }}{% endif %}{% if display_limit %}display_limit={{ display_limit }}{% endif %}&limit={{ tasksTotalCount }}">{{ tasksTotalCount }}</a></b>{% endif %}
{% endblock %}

{% block css_page_library %}
  <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
  <!-- Load c3.css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.css" rel="stylesheet">
{% endblock %}
{% block js_head_page_library %}
  <script src="{% static 'js/humanize.min.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
  <script src="{% static 'js/jquery.shorten.1.0.js' %}"></script>
  <!-- Load d3.js and c3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.js"></script>
{% endblock %}

{% block body %}

{% if requestParams.username and ' ' in requestParams.username %}
<div class="callout info" data-closable>
  <h5>You might be interested in <a href="{% url 'userInfo' %}?user={{ requestParams.username }}">the new task-centric user dashboard page</a>,
    please try it out via <a href="{% url 'userInfo' %}?user={{ requestParams.username }}">the link</a>
  </h5>
  <p>
    The new user dashboard focuses on the progress of tasks highlighting any possible problems.
    It also provides a direct link to the logs of failed jobs for each task.
  </p>
  <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="bp-selected-params">
  {% if requestParams.statenotupdated %}
      <b>Tasks in <span class="{{ requestParams.status }}">{{ requestParams.status }}</span> state for more
          than {{ requestParams.statenotupdated }} hours</b> {% endif %}
  {% if requestParams.workinggroup %}<p><b>Working group: {{ requestParams.workinggroup }}</b> {% endif %}
  {% if requestParams.username %}<p><b>User: <a
          href="{% url 'userInfo' requestParams.username %}?display_limit=300">{{ requestParams.username }}</a> <a
          href="{% url 'userInfo' requestParams.username %}?display_limit=300">Show user page</a></b> {% endif %}
  {% if requestParams.tasktype %}<p><b>Task type: {{ requestParams.tasktype }}</b> {% endif %}

  {% if requestParams.campaign %}<p><b>Campaign: {{ requestParams.campaign }}</b> {% endif %}
  {% if requestParams.project %}<p><b>Project: {{ requestParams.project }}</b> {% endif %}
  {% if requestParams.stream %}<p><b>Stream: {{ requestParams.stream }}</b> {% endif %}
  {% if requestParams.tag %}<p><b>Tag: {{ requestParams.tag }}</b> {% endif %}

  {% if requestParams.reqid_from %}<p><b>From request ID: {{ requestParams.reqid_from }}</b> {% endif %}
  {% if requestParams.reqid_to %}<p><b>To request ID: {{ requestParams.reqid_to }}</b> {% endif %}

  {% if requestParams.transpath %}<p><b>Transformation: {{ requestParams.transpath }}</b> {% endif %}
  {% if requestParams.transuses %}<p><b>Release: {{ requestParams.transuses }}</b> {% endif %}
  {% if requestParams.processingtype %}<p><b>Processing type: {{ requestParams.processingtype }}</b> {% endif %}
  {% if requestParams.cloud %}<p><b>Cloud: {{ requestParams.cloud }}</b> {% endif %}
  {% if requestParams.parent_tid %}<p><b>Parent task: {{ requestParams.parent_tid }}</b> {% endif %}
  {% if requestParams.status %}<p>
      <b>{% if viewParams.MON_VO == 'ATLAS' %}Detailed JEDI task status {% else %}Task status {% endif %}: <span
              class='{{ requestParams.status }}'>{{ requestParams.status }}</span></b> {% endif %}
  {% if requestParams.superstatus %}<p>
      <b>{% if viewParams.MON_VO == 'ATLAS' %}Task status {% else %}Task status {% endif %}: <span
              class='{{ requestParams.superstatus }}'>{{ requestParams.superstatus }}</span></b> {% endif %}

  {% if requestParams.hashtag %}<p><b>Hashtag: {{ requestParams.hashtag }} </b> {% endif %}

  {% if requestParams.eventservice %}<p><b>Event service tasks</b> {% endif %}
</div>

{% if tasks %}
  {% if sumd %}
    <table>
      <tr class='tablesection'>
          <th colspan=20> Task attribute summary, {{ ntasks }} tasks</th>
      </tr>
      {% for fdict in sumd %}
        <tr>
          <th> {{ fdict.field }} ({{ fdict.list|length }})</th>
          <td>
            <div class="comment more">
              {% if fdict.list|length > 300 %}
                  Too many to list
              {% else %}
                  {% for item in fdict.list %}
                      <span {% if fdict.field == 'status' or fdict.field == 'superstatus' %} class='{{ item.kname }} bp_tooltip task_{{ item.kname }}'{% endif %}>
                        {% if fdict.field == 'username' %}
                          <a href="{% url 'userInfo' %}{{ item.kname }}/">{{ item.kname }}</a>
                        {% else %} {{ item.kname }} {% endif %}</span>
                      {% if not request.session.xurls or fdict.field not in request.session.xurls %}
                          <a href="{{ xurl }}{{ fdict.field }}={{ item.kname }}">({{ item.kvalue }})</a>
                      {% else %}
                          <a href="{{ request.session.xurls|get_item:fdict.field }}{{ fdict.field }}={{ item.kname }}">({{ item.kvalue }})</a>
                      {% endif %}
                  {% endfor %}
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
      {% if hashtags and hashtags|length > 0 %}
          <tr>
              <th>hashtags ({{ hashtags|length }})</th>
              <td>{% for hashtag in hashtags %}
                  {% if 'hashtag' in requestParams %}
                      <a href="{{ nohashtagurl }}hashtag={{ requestParams.hashtag }},{{ hashtag }}">{{ hashtag }}</a>
                  {% else %}
                      <a href="{{ xurl }}hashtag={{ hashtag }}">{{ hashtag }}</a>
                  {% endif %}
                  {% if not forloop.last %}, {% endif %}
              {% endfor %}</td>
          </tr>
      {% endif %}
    </table>
  {% endif %}

  {% if error_summary_table and error_summary_table|length > 0 %}
      <div class="card bp-container-simple secondary" id="container_est">
      <div class="card-divider"><p>Errors summary table:</p></div>
      <div class="card-section">
        <table class="data-table left-aligned" id="error_summary_table">
            <thead>
            <tr>
              <th>Preprocessed error message</th>
              <th>Example</th>
              <th>Count</th>
              <th>Nucleus</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
      </div>
      </div>
  {% endif %}

  {% if datasetstage and datasetstage|length > 3 %}
      <div class="card bp-container-simple secondary" id="container_sdt">
      <div class="card-divider"><p>Datasets staging information for preselected tasks:</p></div>
      <div class="card-section">
        <table class="data-table left-aligned" id="stagingdatasetstable">
            <thead>
            <tr>
              <th>Task ID</th>
              <th>Source RSE</th>
              <th>Dataset</th>
              <th>Status</th>
              <th>Staged files</th>
              <th>Total files</th>
              <th>Start time</th>
              <th>End time</th>
              <th>Update time</th>
              <th>RSE</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
      </div>
      </div>
  {% endif %}

  <div id="div-plot">
      <a href="#plots" class="button bluebutton" id="button-toggle-plots"><span class="tooltip-right">Show jobs consumption plots<span class="tooltip-text">It might be slow if number of tasks in current selection is big.</span></span></a>
  </div>


  <div id="plots" data-ng-controller="jobConsumptionPlotsController">
  <div class="card bp-container-simple secondary ng-hide" ng-hide="taskinfo.jc_plots.selection.is_hidden">
    <div class="card-divider"><p>Job consumption plots:</p></div>
    <div class="card-section">
      <p ng-bind-html="taskinfo.jc_plots.message"></p>

      <fieldset class="inline">
        <legend>Job category:</legend>
        <label ng-repeat="option in taskinfo.jc_plots.options.category"><input type="radio" ng-value="option" ng-model="taskinfo.jc_plots.selection.category" ng-change="taskinfo.jc_plots.rebuild()">{$ option $}</label>
      </fieldset>

      <div class="c3-chart-block" ng-repeat="plot in taskinfo.jc_plots.plot_data" jcplot-directive plot="plot" parent="$parent"></div>
    </div>
  </div>
  </div>


  <div class="table-scroll">
  <table>
    <tr class='tablesection'>
        <th colspan=20> {{ tasks|length }} tasks{% if 'sortby' in requestParams %}, sorted by
            {{ requestParams.sortby }} {% else %}, sorted by jeditaskid-desc {% endif %}
            {% if display_limit %} {% if tasks|length > display_limit %}
                <font size=-1>Only the most recent {{ display_limit }} tasks are shown. <a
                        href="{{ url_nolimit }}">Remove the limit</a></font>
            {% endif %} {% endif %}
        </th>
    </tr>
    <tr class='tablesection'>
        <th><a href="{{ nosorturl }}sortby=jeditaskid-asc">ID</a><br>Parent</th>
        {% if requestParams.tasktype == 'anal' or requestParams.tasktype == 'analy' %}
            <th>Jobset</th>{% endif %}
        <th><a href="{{ nosorturl }}sortby=taskname">Task name</a><br>TaskType/ProcessingType Campaign
            Group User {% if requestParams.tasktype == 'prod' %}     Tracker     Request {% endif %}
            Errors <br><font color='brown'>Logged status</font></th>
        <th>Task status<br><a href="{{ nosorturl }}sortby=nfiles">Nfiles</a></th>
        <th>Input files
          <br><span class="lost tooltip-right">Nlost <i class="fi-info"></i><span class="tooltip-text">The files were unavailable at a time of the task running therefore the PanDA did not create jobs for processing them and they are not included to the number of total input files.</span></span>
          <br><a href="{{ nosorturl }}sortby=pctfinished"><span class='finished'>Nfinish&nbsp;%</span></a>
          <a href="{{ nosorturl }}sortby=pctfailed"><span class='failed'>Nfail&nbsp;%</span></a>
        </th>
        <th>Total/<a href="{{ nosorturl }}sortby=totevrem">Remaining</a> events</th>
        <th><a href="{{ nosorturl }}sortby=creationdate-asc">Created</a></th>
        <th><a href="{{ nosorturl }}sortby=time-descending">Modified</a></th>
        <th><a href="{{ nosorturl }}sortby=statetime-descending">State changed</a></th>
        <th><a href="{{ nosorturl }}sortby=priority">Priority</a></th>
        <th><a href="{{ nosorturl }}sortby=nucleus">Nucleus</a></th>
    </tr>
    {% for task in tasks %}
      <tr>
        <td><a href="{% url 'taskInfo' task.jeditaskid %}">{{ task.jeditaskid }}</a>
            {% if task.parent_tid and task.parent_tid != task.jeditaskid %}<br>
                <a href="{% url 'taskInfo' task.parent_tid %}">{{ task.parent_tid }}</a>{% endif %}
        </td>
        {% if requestParams.tasktype == 'anal' or requestParams.tasktype == 'analy' %}
            <td>{{ task.reqid }}</td>{% endif %}
        <td><a href="{% url 'taskInfo' task.jeditaskid %}">{{ task.taskname }}</a><br>{{ task.tasktype }}
            {% if task.processingtype %}/{{ task.processingtype }} {% endif %}
            {% if task.campaign %}
                <a href='{% url 'taskList' %}?campaign={{ task.campaign }}'>{{ task.campaign }}</a> {% endif %}
            {% if task.workinggroup %}
                <a href="{% url 'taskList' %}?workinggroup={{ task.workinggroup }}">{{ task.workinggroup }}</a>     {% endif %}
            <a href="{% url 'taskList' %}?username={{ task.username }}">{{ task.username }}</a>
            {% if task.ticketid %}<a href="https://its.cern.ch/jira/browse/{{ task.ticketid }}">
                {% if task.ticketsystemtype %}{{ task.ticketsystemtype }}{% else %} JIRA {% endif %}</a>
            {% endif %}
            {% if task.deftreqid and viewParams.MON_VO == 'ATLAS' %}     RequestID:
                <a href="https://prodtask-dev.cern.ch/prodtask/inputlist_with_request/{{ task.deftreqid }}/">{{ task.deftreqid }}</a> {% endif %}
            <a href="{% url 'errorSummary' %}?jeditaskid={{ task.jeditaskid }}">Errors</a>
            <br><span class="alert wrap-words">{{ task.errordialog|safe }}</span></td>
        <td {% if task.scoutinghascritfailures == True %} class='broken_fill'
            {% elif task.scoutinghasnoncritfailures == True %} class='discarded_fill'
            {% else %} class='{{ task.superstatus }}_fill'
            {% endif %}>
            <a href="https://panda-wms.readthedocs.io/en/latest/terminology/terminology.html#task">
                {% if task.superstatus %}
                    <span class="bp_tooltip task_{{ task.superstatus }}">{{ task.superstatus }}</span> {% else %}
                    <span class="bp_tooltip task_{{ task.status }}">{{ task.status }} </span> {% endif %}
            </a> {% if task.failedscouting == True %}<br>during scouting{% endif %}
            {% if task.dsinfo.nfiles >= 0 %} <br>{{ task.dsinfo.nfiles }} {% endif %} </td>
        <td>
          {% if task.dsinfo.nfilesmissing > 0 %}<span class="lost">+{{ task.dsinfo.nfilesmissing }} lost</span>{% endif %}
          {% if task.dsinfo.nfilesfinished > 0 %}
            <span class='finished'>{{ task.dsinfo.nfilesfinished }}&nbsp;{{ task.dsinfo.pctfinished }}%</span>
          {% endif %}
          {% if task.dsinfo.nfilesfailed > 0 %}
              <br><a href="{% url 'errorSummary' %}?jeditaskid={{ task.jeditaskid }}">
              <span class='failed'>{{ task.dsinfo.nfilesfailed }}&nbsp;{{ task.dsinfo.pctfailed }}%</span>{% endif %}</a>
        </td>
        <td><font size=-1>{% if task.neventsTot > 0 %} {{ task.neventsTot|intcomma }} /
            {{ task.neventsRemaining|intcomma }} {% endif %}</font></td>
        <td><font size=-1>{{ task.creationdate }}</font></td>
        <td><font size=-1>{{ task.modificationtime }}</font></td>
        <td><font size=-1>{{ task.statechangetime }}</font></td>
        <td>{{ task.taskpriority }}</td>
        <td>{{ task.nucleus }}</td>
      </tr>
    {% endfor %}
  </table>
  </div>
{% else %}
    <p>No matches to query.</p>
{% endif %}
{% endblock %}

{% block js_body_page %}
<script src="{% static 'js/draw-plots-c3.js' %}?{% cache_bust "js/draw-plots-c3.js" %}"></script>
<script nonce={{request.csp_nonce}}>
  document.getElementById("button-toggle-plots").addEventListener("click", togglePlots);
  app.controller('jobConsumptionPlotsController', function($scope, $http, $sce) {
    $scope.taskinfo = {};
    $scope.taskinfo.jc_plots = {
      message: $sce.trustAsHtml('<img src="{% static 'images/load.gif' %}"> Loading... '),
      selection: {
        category: '',
        is_hidden: true,
      },
      options: {
        category: []
      },
      url_path: '{% url 'tasksplots' %}?idtasks={{ idtasks }}',
      plot_data: [],
      charts: {}
    };

    $scope.taskinfo.jc_plots.fetch = function () {
      $scope.taskinfo.jc_plots.message = $sce.trustAsHtml('<img src="{% static 'images/load.gif' %}"> Loading... ');
      $http.get($scope.taskinfo.jc_plots.url_path, {params:{}}).then(
        function success(response) {
          if (response.status === 200 && response.data.data.length > 0) {
              $scope.taskinfo.jc_plots.plot_data = response.data.data;

              $scope.taskinfo.jc_plots.options.category = [];
              Object.keys($scope.taskinfo.jc_plots.plot_data[1].data.data).forEach((key) => {
                $scope.taskinfo.jc_plots.options.category.push(key);
              });
              $scope.taskinfo.jc_plots.options.category.sort();
              $scope.taskinfo.jc_plots.selection.category = 'run';

              $scope.taskinfo.jc_plots.message = '';
          }
          else {
            let message = '';
            (response.data.error && response.data.error.length > 0) ? message = response.data.error : message = 'No jobs found for this list of tasks.';
            $scope.taskinfo.jc_plots.message = $sce.trustAsHtml(message);
          }
        },
        function error(response) {
          console.log(response);
          $scope.taskinfo.jc_plots.message = $sce.trustAsHtml('Failed to load data :( Try to refresh page by link on the top right.');
        },
      );
    };

    $scope.taskinfo.jc_plots.build = function () {
      $scope.taskinfo.jc_plots.plot_data.forEach((item) => {
        if (item.data.details.type === 'pie') {
          $scope.taskinfo.jc_plots.charts[item.name + "_chart"] = draw_donut(item.data.data[$scope.taskinfo.jc_plots.selection.category]['columns'], item.name + "_chart", item.data.details.title, item.data.details)
        }
        else if (item.data.details.type === 'stack_bar') {
          $scope.taskinfo.jc_plots.charts[item.name + "_chart"] = draw_stacked_bar_hist(item.data.data[$scope.taskinfo.jc_plots.selection.category], item.data.details, item.name + "_chart");
        }
      })
    };

    $scope.taskinfo.jc_plots.rebuild = function () {
      $scope.taskinfo.jc_plots.destroy();
      $scope.taskinfo.jc_plots.build();
    };

    $scope.taskinfo.jc_plots.destroy = function () {
      let plot_names = Object.keys($scope.taskinfo.jc_plots.charts);
      plot_names.forEach((item) => {
        if ($scope.taskinfo.jc_plots.charts[item]) {
          $scope.taskinfo.jc_plots.charts[item] = $scope.taskinfo.jc_plots.charts[item].destroy();
        }
      });
    };

    $scope.taskinfo.jc_plots.toggle = function () {
      if (Object.keys($scope.taskinfo.jc_plots.charts).length === 0) {
        $scope.taskinfo.jc_plots.fetch();
        $scope.taskinfo.jc_plots.selection.is_hidden = false;
      }
      else {
        ($scope.taskinfo.jc_plots.selection.is_hidden) ? $scope.taskinfo.jc_plots.selection.is_hidden = false : $scope.taskinfo.jc_plots.selection.is_hidden = true;
      }
    }

  })
  .directive('jcplotDirective', function ($timeout) {
      var template = '<div id="{$plot.name$}_chart"></div>';
      return {
          template: template,
          scope: {
              plot: '=',
              parent: '=',
          },
          link: function (scope, element, attrs) {
            $timeout(() => {
              element.ready(() => {
                if (scope.plot.data.details.type === 'pie') {
                  if ('size' in scope.plot.data.details) {scope.plot.data.details.size[0] = getWidth();}
                  scope.parent.taskinfo.jc_plots.charts[scope.plot.name + "_chart"] = draw_donut(scope.plot.data.data[scope.parent.taskinfo.jc_plots.selection.category]['columns'], scope.plot.name + "_chart", scope.plot.data.details.title, scope.plot.data.details)
                }
                else if (scope.plot.data.details.type === 'stack_bar') {
                  scope.parent.taskinfo.jc_plots.charts[scope.plot.name + "_chart"] = draw_stacked_bar_hist(scope.plot.data.data[scope.parent.taskinfo.jc_plots.selection.category], scope.plot.data.details, scope.plot.name + "_chart");
                }
              });
            });
          }
      };
  });

  function togglePlots() {
    let scope = angular.element(document.getElementById('plots')).scope();
    scope.taskinfo.jc_plots.toggle();
  }


  $(document).ready(function () {
    $(".comment").shorten({showChars: getNCharsShorten(), minHideChars: 250});
    var jsonData = JSON.parse('{{ datasetstage | safe}}');
    $('#stagingdatasetstable').dataTable({
        data: jsonData,
        columns: [
            {data: 'TASKID',
              "render": function (data, type, full, meta) {
                var entry = '<a href="{% url 'taskInfo' %}' + full['TASKID'] + '">' + full['TASKID'] + '</a>';
                entry += '<a target="_blank" href="{% url 'staginprogressplot' %}?jeditaskid=' + full['TASKID'] + '"><img src=\'/static/images/tinychart.png\' width=14 height=14 border=0/></a>';
                return entry;
                },
            },
            {data: 'SOURCE_RSE'},
            {data: 'DATASET'},
            {data: 'STATUS'},
            {data: 'STAGED_FILES'},
            {data: 'TOTAL_FILES'},
            {data: 'START_TIME'},
            {data: 'END_TIME'},
            {data: 'UPDATE_TIME'},
            {data: 'RSE',
              "render": function (data, type, full, meta) {
                if ("{{ request.session.rucio_ui }}".length > 0) {
                    return '<a target="_blanc" href="{{ request.session.rucio_ui }}rule?rule_id=' + full['RSE'] + '">' + full['RSE'] + '</a>';
                }
                else {
                  return data;
                }
              },
            },
        ]
    });

    var jsonData = JSON.parse('{{ error_summary_table | safe}}');
        $('#error_summary_table').dataTable({
        data: jsonData,
        columns: [
            {data: 'processed_errordialog', render: function (data, type, full, meta) {
                return data.replace(/\_/g, '_<wbr>');
              },},
            {data: 'errordialog', render: function (data, type, full, meta) {
                return data.replace(/\_/g, '_<wbr>');
              },},
            {data: 'count', render: function (data, type, full, meta) {
                return '<a target="_blanc" href="{{ noerrordialogurl }}' + full['link'] + '">' + full['count'] + '</a>';
              },},
            {data: 'sites'},
        ],
        order: [[ 2, "desc" ]],
        scrollX: true,
    });
  });

  </script>

{% endblock %}

{% block help %}
  {% include "taskListHelp.html" %}
  {% include "taskInfoHelp.html" with show="all" %}
{% endblock %}

