<div class="card bp-container-simple help">
<div class="card-divider"><p>Task execution profile:</p></div>
<div class="card-section">
  
  <p>The plot shows the progress of a task in time.</p>
  <p>You can use multi-select inputs on the top to select particular types and statuses of jobs.</p>
  <p>Also you can select a task progress unit: job, events, or files. It will be applied to y-axis. 
    Since active jobs have not processed input events or files, it is shown as 0 until they finished.</p>
  <p>The plot is interactive, if one hover a point the extra information as pandaid of a job will be shown in tooltip.
    If you can click on a point a new tab for the selected job will be opened.
    You can click on legend items to hide points associated to its category. 
    Vertical lines show start (blue) and end (black) of task attempts. 
  </p>
  <p>Zooming is enabled by default, you can reset zoom by clicking on the button below the plot.
    To zoom into specific region, keep "Shift" key pressed and select the region with the mouse. 
    You can pan the plot by dragging it with the mouse to left or right. 
    If there are a lot of points (>10k) in the plot, it can be slow. 
  </p>
</div>
</div>

