{% extends "_base_core.html" %}
{% block page_title %} {{ viewParams.MON_VO }} PanDA user {{ user }} {% endblock %}
{% block subtitle %}PanDA user <b>{{ user }}</b>{{ viewParams.selection|safe }}{% endblock %}

{% block body %}
<p>
<span class="failed"> !!! WARNING !!! <br> This page is under development. </span>
</p>
<p>
<table>
<tr>
<td bgcolor='lightcyan'><b> Task ID: </b></td>
<td><a href="{% url 'taskInfo' task.jeditaskid %}">{{ task.jeditaskid }}</a></td>
</tr>
<tr>
<td bgcolor='lightcyan'><b> Creation time: </b></td>
<td> {{ task.creationdate|date:"Y-m-d H:i" }} </td>
</tr>
<tr>
<td bgcolor='lightcyan'><b> Start time: </b></td>
<td> {{ task.starttime|date:"Y-m-d H:i" }} </td>
</tr>
<tr>
<td bgcolor='lightcyan'><b> Predicted time to complete: </b></td>
<td> {{ task.ttc|date:"Y-m-d H:i" }} </td>
</tr>
{% if task.status == 'running' and task.percentage %}
<tr>
<td bgcolor='lightcyan'><b> Current progress: </b></td>
<td>{% if task.ttcbasedpercentage <= task.percentage %} <span class="finished">{{ task.percentage }}%</span>
    {% elif task.ttcbasedpercentage <= task.percentageok %} <span class="ok">{{ task.percentage }}%</span>
    {% else %} <span class="failed">{{ task.percentage }}%</span>
    {% endif %}</td>
</tr>
<tr>
<td bgcolor='lightcyan'><b> Forecasted progress: </b></td>
<td> {{ task.ttcbasedpercentage }}% </td>
</tr>
{% endif %}
{% if task.status == 'finished' or task.status == 'done' %}
<tr>
<td bgcolor='lightcyan'><b> Real end time: </b></td>
<td> {{ task.endtime|date:"Y-m-d H:i" }} </td>
</tr>
{% endif %}
</table>

{% if task.status == 'running' and task.percentage %}<div class="d3splot" id="progressbar" style="float:left"></div>{% endif %}
 <script src="/static/js/d3jsplot.js"></script>
<script>
var values = {{ progressForBar|safe }};
if (values.length > 0) {pandamonProgressBarFunc(values,"#progressbar",'Task progress');}
</script>


{% endblock %}
