{% extends "_base_core.html" %}
{% load static %}{% load common_tags %}{% load humanize %}
{% block page_title %} {{ viewParams.MON_VO }} PanDA user {{ user }} {% endblock %}
{% block subtitle %}PanDA user <b>{{ user }}</b>{% endblock %}
{% block time_window %}
    Modification time window: <span class="time-window-range">{{ timerange.0 }}</span>
    - <span class="time-window-range">{{ timerange.1 }}</span> UTC
{% endblock %}
{% block css_page_library %}
  <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
  <link rel="stylesheet" href="{% static "js/datatables/Buttons-1.2.4/css/buttons.foundation.min.css" %}">
  <!-- Load c3.css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.css" rel="stylesheet">
{% endblock %}
{% block js_head_page_library %}
  <script src="{% static 'js/humanize.min.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
  <script src="{% static 'js/datatables/Buttons-1.2.4/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/datatables/Buttons-1.2.4/js/buttons.foundation.min.js' %}"></script>
  <script src="{% static 'js/datatables/Buttons-1.2.4/js/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.num-html.js' %}?{% cache_bust "js/datatables/dataTables.num-html.js" %}"></script>
  <script type="text/javascript" src="{% static "/js/jquery.shorten.1.0.js" %}"></script>
  <!-- Load d3.js and c3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.8/c3.min.js"></script>
{% endblock %}


{% block body %}

<p>
{# {{ viewParams.selection|safe }} #}
{% if requestParams.priorityrange %}<br><b>Current priority range: {{ requestParams.priorityrange }}</b> {% endif %}
</p>


{% if request.user and request.user.is_authenticated and links and links|length > 0 %}

  <div class="card bp-container-simple">
  <div class="card-divider"><p>Inspired by your visits history:</p></div>
  <div class="card-section">
    {% for category, linkslist in links.items %}
      <p><b>{{ category | title }}:</b></p>
      <ul class="no-bullet uservisits">
        {% for link in linkslist %}
          {% if link.keyparams|length > 0 %}
            <a href={{ link.url }}>
              {% for param in link.keyparams %}
                {% if forloop.first %}{% elif forloop.counter == 2 %}({% else %},{% endif %}
                {% if param.param == 'status' %}<span class="{{ param.value }}">{{ param.param }}:{{ param.value }}</span>
                {% elif param.param == 'jeditaskid' or param.param == 'taskid' %}
                  {% if category != 'task' %}{{ param.param }}:{% endif %}<b>{{ param.value }}</b>
                {% elif param.param == 'pandaid' %}<b>{{ param.value }}</b>
                {% elif param.param == 'jobstatus' or param.param == 'status' %}<span class="{{ param.value }}">{{ param.value }}</span>
                {% elif param.param == 'site' %}<b>{{param.value}}</b>
                {% elif param.param == 'cloud' %}{{ param.param }}:<b>{{ param.value }}</b>
                {% else %}{{ param.param }}:{{ param.value }}
                {% endif %}
                {% if forloop.last and link.keyparams|length > 1 %}){% else %}{% endif %}
              {% endfor %}</a>
          {% else %}<a href={{ link.url }}>{{ link.pagename }}</a>
          {% endif %}
        {% if forloop.last %}{% else %},&emsp;{% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  </div>
{% endif %}

{% if ntasks > 0 %}
  <div id="scope" data-ng-controller="userDashController" class="ng-cloak">
  <div class="card bp-container-simple secondary" id="plots">
    <div class="card-divider"><p>User activity overview:</p></div>
    <div class="card-section">
      <p>
        <span class="label medium" ng-repeat="m in userinfo.metrics" ng-class="m.class">{$ m.title $}: <b>{$ m.value $}</b> {$ m.unit $}</span>
      </p>
      <div class="c3-chart-block" ng-repeat="plot in userinfo.uts_plots.plot_data" uaplot-directive plot="plot" parent="$parent"></div>
    </div>
  </div>

  <div class="card bp-container-simple secondary" id="container_tasks">
  <div class="card-divider"><p>{{ ntasks }} tasks:</p></div>
  <div class="card-section">
    <div class="callout info" data-closable>
      <h5>Long messages are shortened, and tails are hidden in tooltips. Click the button below to view the full text.</h5>
      <button class="close-button small" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>
    </div>
    <p ng-bind-html="userinfo.message"></p>
    <table class="data-table hover" id="taskstable">
        <thead></thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
  </div>
  </div>
  </div>

{% else %}
  <div class="card bp-container-simple info">
  <div class="card-divider"><p>No tasks were found.</p></div>
  </div>
{% endif %}



{% endblock %}

{% block js_body_page %}

<script src="{% static 'js/d3jsplot.js' %}"></script>
<script src="{% static 'js/draw-plots-c3.js' %}?{% cache_bust "js/draw-plots-c3.js" %}"></script>
<script src="{% static 'js/datatables/renderEllipsisCustom.js' %}?{% cache_bust "js/datatables/renderEllipsisCustom.js" %}"></script>



<script nonce={{request.csp_nonce}}>

  var plot_data = {{ plots|safe }};
  var metrics = {{ metrics|safe }};
  var request_params = {{ requestParams | safe }};
  app.controller('userDashController', function($scope, $http, $sce) {
    $scope.userinfo = {
      page: {
        width: getWidth(),
        screen_cat: getScreenCategory(getWidth()),
        ellipsis_max_chars: 21,
        is_short: true,
      },
      message: $sce.trustAsHtml('<img src="{% static 'images/load.gif' %}"> Loading... '),
      metrics: metrics,
      tasks: {
        list: [],
        is_loaded: false,
      },
      uts_plots: {
        plot_data: plot_data,
        charts: {}
      }
    };

    $scope.userinfo.uts_plots.calc_width = function () {
      $scope.userinfo.uts_plots.plot_data.forEach((item) => {
        if ($scope.userinfo.page.screen_cat === 'small') {
          item.options.size = [getWidth() - 40, 300];
        }
        else {
          if ('size_mp' in item.options) {
            item.options.size = [getWidth() * item.options.size_mp - 10, 300]
          }
          else {
            item.options.size = [getWidth() / ($scope.userinfo.uts_plots.plot_data.length + 1) - 10, 300];
          }
        }
      });
    };
    $scope.userinfo.uts_plots.calc_width();

    $scope.userinfo.uts_plots.build = function () {
      $scope.userinfo.uts_plots.plot_data.forEach((item) => {
        if (item.type === 'pie') {
          $scope.userinfo.uts_plots.charts[item.name + "_chart"] = draw_donut(
            item.data,
            item.name + "_chart",
            item.title,
            item.options,
          );
        }
        else if (item.type === 'bar') {
          $scope.userinfo.uts_plots.charts[item.name + "_chart"] = draw_bar(
            item.data,
            item.name + "_chart",
            item.title,
            item.options)
        }
        else if (item.type === 'bar_stacked') {
          $scope.userinfo.uts_plots.charts[item.name + "_chart"] = draw_stacked_bar_hist(
            item.data,
            item.options,
            item.name + "_chart",
            )
        }
      });
    };


    $scope.userinfo.getData = function () {
      $http({
              url: '/api/user_dash/initial/',
              method: "GET",
              params: {'tk':{{ tk|safe }}, }
          }
      ).then(function success(res) {
        if (res.data && res.data.msg.length === 0) {
          $scope.userinfo.message = "";
          $scope.userinfo.uts_plots.plot_data.push(...angular.fromJson(res.data.data.plots));
          $scope.userinfo.uts_plots.calc_width();
          let ua_metrics = angular.fromJson(res.data.data.metrics);
          if (ua_metrics && ua_metrics.length > 0) {
            ua_metrics.forEach((item) => {
              $scope.userinfo.metrics.push(item);
            })
          }
          $scope.userinfo.tasks.list = angular.fromJson(res.data.data.tasks_metrics);
          $scope.userinfo.buildTasksTable();
        }
        else {
          $scope.userinfo.message = $sce.trustAsHtml('Failed to load data :( ');
        }
      },
      function error(res) {
          $scope.userinfo.message = $sce.trustAsHtml('Failed to load data :( ');
        }
      );
    };

    $scope.userinfo.buildTasksTable = function () {
      let iDisplayLength = 20;
      let lengthMenu = [[10, 20, 50, 100, 200, -1], [10, 20, 50, 100, 200, "All"]]
      if ('display_limit' in request_params) {
        lengthMenu = [[10, request_params.display_limit, -1], [10, request_params.display_limit, "All"]]
        iDisplayLength = request_params.display_limit;
      }
      $scope.userinfo.tasksDataTable = $('#taskstable').DataTable({
      "lengthMenu": lengthMenu,
      "iDisplayLength": iDisplayLength,
      "paging": true,
      "scrollX": true,
      "aaSorting": [[0, 'desc']],
      "columnDefs": [
          {"type": "num-html", "targets": [0,1,2,5,6,7,8,10,12,14,15,16,17,18] },
      ],
      "data": $scope.userinfo.tasks.list,
      "buttons": [
        {
          text: ($scope.userinfo.page.is_short) ? "Show full messages" : "Shorten",
          action: function (e, dt, node, config) {
            // hide or show some columns and hide long strings to tooltips
            $scope.userinfo.page.is_short = !$scope.userinfo.page.is_short;
            (node[0].innerHTML === 'Shorten') ? node[0].innerHTML = 'Show full messages' : node[0].innerHTML = 'Shorten';

            if ($scope.userinfo.page.is_short) {
              dt.columns([2, 3, 14, 15, 16, 17, 18]).visible(false);
            }
            else {
              dt.columns().visible( true );
            }

            dt.clear().draw();
            dt.rows.add($scope.userinfo.tasks.list);
            dt.columns.adjust().draw();

          }
        }
      ],
      "aoColumns": [
        {
          title: "Task ID",
          {#data: "jeditaskid",#}
          sDefaultContent: "-",
          render: function(data, type, row, meta) {
            if (data) {
              return '<a href="{% url 'taskInfo' %}' + data + '/">' + data + '</a>'
            }
            else {
              return '-'
            }
          },
        },
        {
          title: "Request ID",
          {#data: "reqid",#}
          sDefaultContent: "-",
          render: function(data, type, row, meta) {
            if (data) {
              return (data === row[0]) ? '-': '<a href="{{ xurl }}reqid=' + data +'">' + data + '</a>'
            }
            else {
              return '-'
            }
          },
        },
        {
          title: "Attempt",
          sDefaultContent: "-",
          className: 'num',
        },
        {
          title: "Type",
          {#data: "tasktype",#}
          sDefaultContent: "-",
          render: function(data, type, row, meta) {
            if (data && data.length > 0) {
              return (data !== 'prod') ? 'analy' : 'prod';
            }
            else {
              return '-'
            }
          },
        },
        {
          title: "Task name",
          {#data: "taskname",#}
          sDefaultContent: "-",
          render: function(data, type, row, meta) {
            if (data && data.length > 0) {
              let data_clone = structuredClone(data);
              // add breakpoints depending on window size
              switch ($scope.userinfo.page.screen_cat) {
                case 'small':
                  data_clone = data_clone.replace(/\./g, '.<wbr>').replace(/\_/g, '_<wbr>');
                  break;
                case 'medium':
                  data_clone = data_clone.replace(/\./g, '.<wbr>');
                  break;
                case 'large':
                  // do nothing
                  break;
                case 'xlarge':
                  // do nothing
                  break;
                default:
                  data_clone = data_clone.replace(/\./g, '.<wbr>');
                  break;
              }
              // add breakpoints anyway if string is too long
              if (data_clone.length > 100) {
                data_clone = data_clone.replace(/\./g, '.<wbr>').replace(/\_/g, '_<wbr>');
              }
              return data_clone
            }
            else {
              return '-'
            }
          },
        },
        {
          title: "N files total",
          {#data: "nfiles",#}
          sDefaultContent: "-",
          className: 'num',
        },
        {
          title: "N files done",
          {#data: "nfilesfinished",#}
          sDefaultContent: "-",
          className: 'num done',
        },
        {
          title: "N files failed",
          {#data: "nfilesfailed",#}
          sDefaultContent: "-",
          className: 'num alarm',
        },
        {
          title: "%",
          {#data: "pctfinished",#}
          sDefaultContent: "-",
          className: 'num',
        },
        {
          title: "Status (JEDI)",
          {#data: "status",#}
          sDefaultContent: "-",
          className: 'state',
          render: function(data, type, row, meta) {
            if (data) {
              return '<a class="bp_tooltip task_' + data + ' href="{{ xurl }}status=' + data + '">' + data + '</a>'
            }
            else {
              return '-'
            }
          },
        },
        {
          title: "Duration, days",
          {#data: "age",#}
          sDefaultContent: "-",
          className: 'num',
        },
        {
          title: "Task logged status",
          {#data: "errordialog",#}
          sDefaultContent: "-",
          className: 'alert',
          render: function(data, type, row, meta) {
            if (data && data.length > 0) {
              let data_clone = structuredClone(data);
              if ($scope.userinfo.page.is_short) {
                // do not shorten links
                if (data_clone.includes("<a")) {
                  let data_clone_split = data_clone.match(/<a.+?>.+?<\/a>|.+?(?=<a|$)/g);
                  return '<span class="nowrap">' + data_clone_split.reduce((acc, cur) => {
                    return (cur.includes("<a")) ? acc + " " + cur : acc + " " + ellipsisCustom(cur, type, $scope.userinfo.page.ellipsis_max_chars, true, false, true, 'left')
                    }) + '</span>'
                }
                else {
                  return ellipsisCustom( data_clone, type, 17, true, false, true, 'left' );
                }
              }
              else {
                return data_clone.replace(/\_/g, '_<wbr>');
              }
            }
            else {
              return '-'
            }
          },
        },
        {
          title: "Jobs failure, %",
          {#data: "job_failed",#}
          sDefaultContent: "-",
          className: 'num',
          render: function(data, type, row, meta) {
            if (data && data > 0) {
              return '<a href="{% url 'errorSummary' %}?jeditaskid=' + row[0] + '">' + data + '</a>'
            }
            else {
              return 0
            }
          },
        },
        {
          title: 'Top job errors, count [component:code] "sample message" [log example]',
          {#data: "top_errors",#}
          sDefaultContent: "-",
          className: 'alert',
          render: function(data, type, row, meta) {
            if (data && !Array.isArray(data) ) {
              let data_clone = structuredClone(data);
              return data_clone.replace(/\./g, '.<wbr>');
            }
            else if (data && Array.isArray(data) && data.length > 0 && $scope.userinfo.page.is_short ) {
              let data_clone = structuredClone(data);
              let r_str = data_clone.reduce((acc, cur) => {
                cur[2] = ellipsisCustom(cur[2], type, $scope.userinfo.page.ellipsis_max_chars, true, false, true, 'left');
                acc += '<br><span class="nowrap">' + cur.join('') + '</span>';
                return acc
              }, '')
              r_str = (r_str.startsWith('<br>')) ? r_str.slice(4): r_str;
              return r_str
            }
            else if (data && Array.isArray(data) && data.length > 0 ) {
              let data_clone = structuredClone(data);
              let r_str = data_clone.reduce((acc, cur) => {
                acc += '<br>' + cur.join(' ')
                return acc
              }, '')
              r_str = (r_str.startsWith('<br>')) ? r_str.slice(4): r_str;
              return r_str
            }
            else {
              return '-'
            }
          },
        },
        {
          title: "Jobs queue time, hours",
          {#data: "job_queuetime",#}
          sDefaultContent: "-",
          className: 'num',
          render: function(data, type, row, meta) {
            if (data) {
              return data;
            }
            else {
              return '-'
            }
          },
        },
        {
          title: "Jobs wall time, hours",
          {#data: "job_walltime",#}
          sDefaultContent: "-",
          className: 'num',
          render: function(data, type, row, meta) {
            if (data) {
              return data;
            }
            else {
              return '-'
            }
          },
        },
        {
          title: "Jobs PSS/core, GB",
          {#data: "job_maxpss_per_actualcorecount",#}
          sDefaultContent: "-",
          className: 'num',
          render: function(data, type, row, meta) {
            if (data) {
              return data;
            }
            else {
              return '-'
            }
          },
        },
        {
          title: "Jobs efficiency",
          {#data: "job_efficiency",#}
          sDefaultContent: "-",
          className: 'num',
          render: function(data, type, row, meta) {
            if (data) {
              return data;
            }
            else {
              return '-'
            }
          },
        },
        {
          title: "Jobs attempts",
          {#data: "job_attemptnr",#}
          sDefaultContent: "-",
          className: 'num',
          render: function(data, type, row, meta) {
            if (data) {
              return data;
            }
            else {
              return '-'
            }
          },
        },
      ],
      createdRow: function ( row, data, index ) {
          let jedi_state_column_id = ($scope.userinfo.page.is_short && row.children.length !== $scope.userinfo.tasks.list[0].length) ? 7 : 9;
          $('td', row).eq(jedi_state_column_id).addClass(data[9] + '_fill');
        },
      });
      if ($scope.userinfo.page.is_short) {
        $scope.userinfo.tasksDataTable.columns([2, 3, 14, 15, 16, 17, 18]).visible(false);
      }
      $scope.userinfo.tasksDataTable.buttons().container().appendTo( '#taskstable_wrapper .small-6.columns:eq(0)' );

    };

    $scope.userinfo.init = function () {
      $scope.userinfo.getData();

    };
    $scope.userinfo.init();



  })
  .directive('uaplotDirective', function ($timeout) {
      var template = '<div id="{$plot.name$}_chart"></div>';
      return {
          template: template,
          scope: {
              plot: '=',
              parent: '=',
          },
          link: function (scope, element, attrs) {
            $timeout(() => {
              element.ready(() => {
                if (scope.plot.type === 'pie') {
                  scope.parent.userinfo.uts_plots.charts[scope.plot.name + "_chart"] = draw_donut(
                    scope.plot.data,
                    scope.plot.name + "_chart",
                    scope.plot.title,
                    scope.plot.options)
                }
                else if (scope.plot.type === 'bar') {
                  scope.parent.userinfo.uts_plots.charts[scope.plot.name + "_chart"] = draw_bar(
                    scope.plot.data,
                    scope.plot.name + "_chart",
                    scope.plot.title,
                    scope.plot.options)
                }
                else if (scope.plot.type === 'bar_stacked') {
                  scope.parent.userinfo.uts_plots.charts[scope.plot.name + "_chart"] = draw_stacked_bar_hist(
                    scope.plot.data,
                    scope.plot.options,
                    scope.plot.name + "_chart",
                    )
                }
              });
            });
          }
      };
  });


</script>
{% endblock %}


{% block help %}
{% include "userInfoHelp.html" with view='dash' show='all' %}
{% endblock %}
