{% extends "_base_core.html" %}
{% load static %}
{% block css_page_library %}
  <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
{% endblock %}
{% block js_head_page_library %}
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
  <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
{% endblock %}
{% block page_title %} {{ viewParams.MON_VO }} PanDA users{% endblock %}
{% block title %} <a class="menu-link" href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}Recent PanDA users{{viewParams.selection|safe }}
{% if vo %}     for VO {{ vo }}{% endif %}
{% endblock %}
{% block body %}

{% if sumd %}

{% if plow %}
<p>Job <b>modification times</b> in this listing range from <b>{{ tfirst }}</b> to <b>{{ tlast }}</b>.
<br>Job <b>current priorities</b> in this listing range from <b>{{ plow }}</b> to <b>{{ phigh }}</b>. See priorityrange in the job attribute summary to see how priorities are distributed.
{% endif %}

<table>
<tr class="tablesection"><th colspan=20> Recent job attribute summary </th></tr>
{% for fdict in jobsumd %}
<tr><th> {{ fdict.field }} ({{ fdict.list|length }})</th><td>
{% for item in fdict.list %}
{% if fdict.field == 'jobstatus' %} <span class='{{item.kname}}'> {% else %} <span> {% endif %}  {{ item.kname }} </span>
<a href="{{xurl}}{{fdict.field}}={{item.kname}}">({{ item.kvalue }})</a>
{% endfor %}
</td></tr>
{% endfor %}
</table>


<div class="card bp-container-simple secondary" id="container_files">
<div class="card-divider"><p> {{ sumd|length }} recent users, ordered by most recent jobs </p></div>
<div class="card-section">
  <table class="data-table nowrap" id="userstatstable">
    <thead>
    <tr>
      <th> User </th>
      <th> Latest<br>PandaID </th>
      <th> Latest<br>mod time </th>
      <th> nJobs </th>
      <th> nFinished </th>
      <th> nFailed </th>
      <th> nHolding </th>
      <th> nCancelled </th>
      <th> nQueued </th>
      <th> nSites </th>
      <th> nClouds </th>
      <th> CPU </th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
</div>

{% else %}

{% if requestParams.view == 'dynamic' %}
No dynamic usage information found.
{% endif %}

{% endif %}

{% if userdb %}

{% if userstats %}

<table class="fresh-table">
<thead>
<tr><th colspan=20> Usage stats </th></tr>
</thead>
<tbody>
<tr>
<td>
<b>Job count for the last 7 days:</b> {{ userstats.anajobs }}
</td><td>
<b>Users in last 3 days:</b> {{ userstats.nrecent3 }}
    <b>7:</b> {{ userstats.nrecent7 }}
    <b>30:</b> {{ userstats.nrecent30 }}
    <b>90:</b> {{ userstats.nrecent90 }}
</td><td>
<b>Users with &gt;1000 jobs:</b> {{ userstats.n1000 }}
    <b>&gt;10k:</b> {{ userstats.n10k }}
</td></tr>
</tbody>
</table>
{% endif %}


<div class="card bp-container-simple secondary" id="container_files">
<div class="card-divider"><p>Recent users:</p></div>
<div class="card-section">
  <table class="data-table nowrap" id="userstable">
      <thead>
      <tr>
        <th>User</th>
        <th>nJobs</th>
        <th>Last modification</th>
        <th>Personal CPU-hrs<br>1 day</th>
        <th>Personal CPU-hrs<br>7 days</th>
        <th>Group CPU-hrs<br>1 day</th>
        <th>Group CPU-hrs<br>7 days</th>
      </tr>
      </thead>
      <tbody></tbody>
  </table>
</div>
</div>

{% else %}

{% if requestParams.view == 'database' %}
Summary usage statistics not yet available.
{% endif %}

{% endif %}

{% endblock %}


{% block js_body_page %}
<script type="text/javascript">
$(document).ready(function () {
    var users_list = {{ userdb|safe }};
    buildUsersTable(users_list);

    var user_stats_list = {{ sumd|safe }};
    buildUserStatsTable(user_stats_list);
});

function buildUserStatsTable(data) {
  $('#userstatstable').dataTable({
    //"bRetrieve": true,
    "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
    "paging": true,
    "scrollX": true,
    "aaSorting": [[2,'desc']],
    "columnDefs": [
        {"type": "num-html", "targets": [1,3,4,5,6] }
    ],
    "data": data,
    "aoColumns": [
        {
            "data": "name",
            className: "text",
            sDefaultContent: "---",
            "render": function(data, type, row, meta) {
                let links = '';
                if (data) {
                  links += ' <a href = "{% url 'userInfo' %}?user=' + data + '" target="_blank">' + data + '</a>'
                }
                return links
            }
        },
        {
            "data": "latest",
            className: "text",
            sDefaultContent: "---",
            "render": function(data, type, row, meta) {
                let links = '';
                if (data) {
                  links += ' <a href = "{% url 'jobInfo' %}?pandaid=' + data + '" target="_blank">' + data + '</a>'
                }
                return links
            }
        },
        {
            "data": "dict.latest",
            sDefaultContent: "-",
            "render": function(data, type, row, meta) {
                if (data && data.length > 0) {
                  return data
                }
                else {
                  return '-'
                }
            },
        },
        {
            "data": "dict.njobs",
            sDefaultContent: "-",
            className: 'num',
            "render": function(data, type, row, meta) {
                let links = '';
                if (data) {
                  links += ' <a href = "{% url 'jobList' %}?produsername=' +row['name'] + '&display_limit=200"' + data + '" target="_blank">' + data + '</a>'
                }
                else {
                  links += data;
                }
                return links
            }
        },
        {
            "data": "dict.nfinished",
            sDefaultContent: "-",
            className: 'num finished_fill',
            "render": function(data, type, row, meta) {
                let links = '';
                if (data) {
                  links += ' <a href = "{% url 'jobList' %}?produsername=' +row['name'] + '&jobstatus=finished&display_limit=200"' + data + '" target="_blank">' + data + '</a>'
                }
                else {
                  links += data;
                }
                return links
            }
        },
        {
            "data": "dict.nfailed",
            sDefaultContent: "-",
            className: 'num failed_fill',
            "render": function(data, type, row, meta) {
                let links = '';
                if (data) {
                  links += ' <a href = "{% url 'jobList' %}?produsername=' +row['name'] + '&jobstatus=failed&display_limit=200"' + data + '" target="_blank">' + data + '</a>'
                }
                else {
                  links += data;
                }
                return links
            }
        },
        {
            "data": "dict.nholding",
            sDefaultContent: "-",
            className: 'num holding_fill',
            "render": function(data, type, row, meta) {
                let links = '';
                if (data) {
                  links += ' <a href = "{% url 'jobList' %}?produsername=' +row['name'] + '&jobstatus=holding&display_limit=200"' + data + '" target="_blank">' + data + '</a>'
                }
                else {
                  links += data;
                }
                return links
            }
        },
        {
            "data": "dict.ncancelled",
            sDefaultContent: "-",
            className: 'num cancelled_fill',
            "render": function(data, type, row, meta) {
                let links = '';
                if (data) {
                  links += ' <a href = "{% url 'jobList' %}?produsername=' +row['name'] + '&jobstatus=cancelled&display_limit=200"' + data + '" target="_blank">' + data + '</a>'
                }
                else {
                  links += data;
                }
                return links
            }
        },
        {
            "data": "dict.nqueued",
            sDefaultContent: "-",
            className: 'num defined_fill',
        },
        {
            "data": "dict.nsites",
            sDefaultContent: "-",
            className: 'num',
        },
        {
            "data": "dict.nclouds",
            sDefaultContent: "-",
            className: 'num',
        },
        {
            "data": "dict.cputime",
            sDefaultContent: "-",
            className: 'num',
        },
    ],
  })
}

function buildUsersTable(data) {
  $('#userstable').dataTable({
    //"bRetrieve": true,
    "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
    "paging": true,
    "scrollX": true,
    "aaSorting": [[2,'desc']],
    "columnDefs": [
        {"type": "num-html", "targets": [1,3,4,5,6] }
    ],
    "data": data,
    "aoColumns": [
        {
            "data": "name",
            className: "text icons3",
            sDefaultContent: "---",
            "render": function(data, type, row, meta) {
                let links = '';
                if (data) {
                  links += ' <a href = "{% url 'userInfo' %}?user=' + data + '" target="_blank">' + data + '</a>'
                  links += ' <a href = "{% url 'userInfo' %}?user=' + data + '&view=dash" target="_blank"><div class="tooltip-right"><i class="fi-link"></i><span container="body" class="tooltip-text">User dash</span></div></a>'
                  links += ' <a href = "{% url 'userProfile' %}' + data + '/" target="_blank"><div class="tooltip-right"><i class="fi-graph-trend"></i><span container="body" class="tooltip-text">Jobs profile</span></div></a>'
                }
                return links
            }
        },
        {
            "data": "njobsa",
            sDefaultContent: "-",
            className: 'num',
        },
        {
            "data": "lastmod",
            sDefaultContent: "-",
            "render": function(data, type, row, meta) {
                if (data && data.length > 0) {
                  return data
                }
                else {
                  return '-'
                }
            },
        },
        {
            "data": "cpua1",
            sDefaultContent: "-",
            className: 'num',
        },
        {
            "data": "cpua7",
            sDefaultContent: "-",
            className: 'num',
        },
        {
            "data": "cpup1",
            sDefaultContent: "-",
            className: 'num',
        },
        {
            "data": "cpup7",
            sDefaultContent: "-",
            className: 'num',
        },
    ],
  })
}

</script>
{% endblock %}


{% block help %}
{% include "userListHelp.html" %}
{% endblock %}
