{% extends "_base_core.html" %}
{% load static %}
{% load humanize %}
{% block page_title %} {{ viewParams.MON_VO }} PanDA WN {{ wnname }}@{{ site }} {% endblock %}
{% block subtitle %}PanDA WN slot performance {% if wnname != 'all' %} for node {{ wnname }} {% endif %} at {{ site }}{{ viewParams.selection|safe }}
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
    <style>
        #wn_table_wrapper .row {
            max-width: 99%;
        }
        #wn_slot_table_wrapper .row {
            max-width: 99%;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
{% endblock %}

{% block body %}

{{ viewParams.header }}

{% if alert and 'title' in alert %}
<div class="callout alert" data-closable>
  <h5>{{ alert.title }}</h5>
  {% if 'message' in alert %}
    <p>{{ alert.message }}</p>
  {% endif %}
    <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

{% if wnname %}
    <div class='section'>Worker node slot performance {% if wnname != 'all' %} for node {{ wnname }} {% endif %} at <a href="{% url 'siteInfo' site %}">{{ site }}</a></div>
{% endif %}

{% if wnPlotFailed %}

    <script src="{% static 'js/google-charts-loader.js' %}"></script>
    <script nonce={{request.csp_nonce}}>
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var windowwidth = $('#chart_div').width();
        var plotwidth = 2.5 * parseInt('{{ wnPlotFailed|length }}');
        var plotwidth2 = 2.5 * parseInt('{{ wnPlotFinished|length }}');
        var title_appx = '';
        var title_appx2 = '';
        if (plotwidth < windowwidth) {plotwidth = windowwidth} else {title_appx += ' (not all the bins fit in window size, please scroll horizontally to see all of them)'}
        if (plotwidth2 < windowwidth) {plotwidth2 = windowwidth} else {title_appx2 += ' (not all the bins fit in window size, please scroll horizontally to see all of them)'}
{% if wnPlotFailed|length > 0 %}

        var data = google.visualization.arrayToDataTable([
          ['Time', 'Count'],

{% for wn, count in wnPlotFailed %}
          ['{{ wn }}', {{ count }}],
{% endfor %}

            ]);
        var options = {
          title: 'Failed jobs per WN slot' + title_appx,
          legend: { position: 'none' },
          hAxis: {
              title: 'WN slot (empty bins suppressed)',
              titleTextStyle: {color: 'black'},
              textStyle: { fontSize:10},},
          width: plotwidth,
          height: 400,
          chartArea: {
              width:plotwidth,
              left:100,
              top:40,
              height:250
          },
          bar: {groupWidth: '100%'},
          colors: ['firebrick'],
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
{% endif %}

{% if wnPlotFinished|length > 0 %}
        var data2 = google.visualization.arrayToDataTable([
          ['Time', 'Count'],

{% for wn, count in wnPlotFinished %}
          ['{{ wn }}', {{ count }}],
{% endfor %}

            ]);
        var options2 = {
          title: 'Finished jobs per WN slot' + title_appx2,
          legend: { position: 'none' },
          hAxis: {
              title: 'WN (empty bins suppressed)',
              titleTextStyle: {color: 'black'},
              textStyle: { fontSize:10},},
          width: plotwidth2,
          height: 400,
          chartArea: {
              width:plotwidth2,
              left:100,
              top:40,
              height:250
          },
          bar: {groupWidth: '100%'},
          colors: ['forestgreen']
        };

        var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options2);
{% endif %}
      }
    </script>
{% if wnPlotFailed|length > 0 %}


{% if 'message' in warning %}
<div class="callout warning" data-closable>
  <h5>Warning! </h5>
  <p>{{ warning.message }} See details in summary table below.</p>
    <button class="close-button small" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
    <div id="chart_wrapper" style="width: 100%; overflow-x: scroll; overflow-y: hidden">
    <div id="chart_div"></div>
    </div>
{% endif %}
{% if wnPlotFinished|length > 0 %}
    <div id="chart_wrapper" style="width: 100%; overflow-x: scroll; overflow-y: hidden">
    <div id="chart_div2"></div>
    </div>
{% endif %}

{% endif %}

{% if wnname and wnname != 'all' %}
<div class="card bp-container-simple secondary" id="container_wns">
<div class="card-divider"><p>Slot info for worker node {{ wnname }} at {{ site }}:</p></div>
<div class="card-section">
<table id="wn_slot_table" class="data-table nowrap">
<thead>
<tr>
<th> WN </th>
<th class="num"> N slots </th>
<th class="num"> N running cores </th>
<th class="num"> N jobs </th>
<th class="vertical fixed_dash"><div class="rotate70">defined</div></th>
<th class="vertical fixed_dash"><div class="rotate70">waiting</div></th>
<th class="vertical fixed_dash"><div class="rotate70">assigned</div></th>
<th class="vertical fixed_dash"><div class="rotate70">throttled</div></th>
<th class="vertical fixed_dash"><div class="rotate70">activated</div></th>
<th class="vertical fixed_dash"><div class="rotate70">sent</div></th>
<th class="vertical fixed_dash"><div class="rotate70">starting</div></th>
<th class="vertical fixed_dash"><div class="rotate70">running</div></th>
<th class="vertical fixed_dash"><div class="rotate70">holding</div></th>
<th class="vertical fixed_dash"><div class="rotate70">merging</div></th>
<th class="vertical fixed_dash"><div class="rotate70">transferring</div></th>
<th class="vertical fixed_dash"><div class="rotate70">finished</div></th>
<th class="vertical fixed_dash"><div class="rotate70">failed</div></th>
<th class="vertical fixed_dash"><div class="rotate70">cancelled</div></th>
<th class="vertical fixed_dash"><div class="rotate70">closed</div></th>
<th class="num"> % failed </th>
<th> outliers </th>
</tr>
</thead>
<tbody>
{% for wn in summary %}
<tr>
<td>{% if wn.name != 'All' and wn.name != 'Average' and wn.name != 'Unknown' %}<a href="{% url 'wnInfo' site wn.name %}">{{ wn.name }}</a> {% else %} {{ wn.name }} {% endif %}</td>
<td class="num">{{ wn.slotcount }} </td>
<td class="num">{{ wn.rcores }} </td>
<td class="num"><a href="{% url 'jobList' %}{{ jurl }}{% if wn.name != 'All' and wn.name != 'Average' %}&modificationhost={% if wn.name == 'Unknown' %}aipanda*{% else %}{{ wn.name }}{% endif %}{% endif %}"> {{ wn.count }} </a></td>
{% for state in wn.statelist %}
<td class="num_dt {{ state.name }}_fill">{% if state.count > 0 %}<a href="{% url 'jobList' %}{{ jurl }}{% if wn.name != 'All' and wn.name != 'Average' %}&modificationhost={% if wn.name == 'Unknown' %}aipanda*{% else %}{{ wn.name }}{% endif %}{% endif %}&jobstatus={{ state.name }}">{{ state.count }}</a> {% else %}-{% endif %} </td>
{% endfor %}
<td class="num"> {% if wn.pctfail > errthreshold %} <span class="failed">{{ wn.pctfail }}</span> {% else %} {{ wn.pctfail  }} {% endif %} </td>
<td> {% if wn.outlier != '' %} <span class='warning'> {{ wn.outlier }} </span> {% endif %} </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
<script nonce={{request.csp_nonce}}>
$(document).ready(function () {
    var wnSlotTable = $('#wn_slot_table').dataTable({
        "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
        "paging": true,
        "scrollX": true,
        "aaSorting": [[20, 'desc']],
    });
});
</script>

{% else %}

{% if summary %}
<div class="card bp-container-simple secondary" id="container_wn">
<div class="card-divider"><p>WN summary for {{ site }}:</p></div>
<div class="card-section">
<table id="wn_table" class="data-table nowrap">
<thead>
<tr>
<th> WN </th>
<th class="num"> N slots </th>
<th class="num"> N running cores </th>
<th class="num"> Running min RAM count, GB</th>
<th class="num"> N jobs </th>
<th class="vertical fixed_dash"><div class="rotate70">defined</div></th>
<th class="vertical fixed_dash"><div class="rotate70">waiting</div></th>
<th class="vertical fixed_dash"><div class="rotate70">assigned</div></th>
<th class="vertical fixed_dash"><div class="rotate70">throttled</div></th>
<th class="vertical fixed_dash"><div class="rotate70">activated</div></th>
<th class="vertical fixed_dash"><div class="rotate70">sent</div></th>
<th class="vertical fixed_dash"><div class="rotate70">starting</div></th>
<th class="vertical fixed_dash"><div class="rotate70">running</div></th>
<th class="vertical fixed_dash"><div class="rotate70">holding</div></th>
<th class="vertical fixed_dash"><div class="rotate70">merging</div></th>
<th class="vertical fixed_dash"><div class="rotate70">transferring</div></th>
<th class="vertical fixed_dash"><div class="rotate70">finished</div></th>
<th class="vertical fixed_dash"><div class="rotate70">failed</div></th>
<th class="vertical fixed_dash"><div class="rotate70">cancelled</div></th>
<th class="vertical fixed_dash"><div class="rotate70">closed</div></th>
<th class="num"> % failed </th>
<th> outliers </th>
</tr>
</thead>
<tbody>
{% for wn in summary %}
<tr>
<td> {% if wn.name != 'All' and wn.name != 'Average' and wn.name != 'Unknown' %}<a href="{% url 'wnInfo' site wn.name %}">{{ wn.name }}</a> {% else %} {{ wn.name }} {% endif %} </td>
<td class="num">{{ wn.slotcount }} </td>
<td class="num">{{ wn.rcores }} </td>
<td class="num">{{ wn.rminramcount  }} </td>
<td class="num"><a href="{% url 'jobList' %}{{ jurl }}{% if wn.name != 'All' and wn.name != 'Average' %}&modificationhost={% if wn.name == 'Unknown' %}aipanda*{% else %}{{ wn.name }}{% endif %}{% endif %}"> {{ wn.count }} </a></td>
{% for state in wn.statelist %}
<td class="num_dt {{ state.name }}_fill">{% if state.count > 0 %}<a href="{% url 'jobList' %}{{ jurl }}{% if wn.name != 'All' and wn.name != 'Average' %}&modificationhost={% if wn.name == 'Unknown' %}aipanda*{% else %}{{ wn.name }}{% endif %}{% endif %}&jobstatus={{ state.name }}">{{ state.count }}</a> {% else %} - {% endif %} </td>
{% endfor %}
<td class="num"> {% if wn.pctfail > errthreshold %} <span class="failed">{{ wn.pctfail  }}</span> {% else %} {{ wn.pctfail  }} {% endif %} </td>
<td> {% if wn.outlier != '' %} <span class="warning"> {{ wn.outlier }} </span> {% endif %} </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
<script nonce={{request.csp_nonce}}>
$(document).ready(function () {
    var wnTable = $('#wn_table').dataTable({
        "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
        "paging": true,
        "scrollX": true,
        "aaSorting": [[20, 'desc']],
    });
});
</script>

{% endif %}

{% endif %}

{% endblock %}

{% block help %}
{% include "wnInfoHelp.html" %}
{% endblock %}
