<div class="card bp-container-simple help">
<div class="card-divider"><p>Work Queues information:</p></div>
<div class="card-section">

<p>
Documentation on PanDA JEDI work queues:
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#Work_queues">functional description</a>,
<a href="https://twiki.cern.ch/twiki/bin/view/PanDA/PandaJEDI#The_JEDI_Work_Queue_table">table schema</a>.
</p>

<p>
Work queues are the basis for a dynamic resource requirements based queue scheme.
</p>

</div>
</div>
