{% extends "_base_core.html" %}

{% block page_title %} {{ viewParams.MON_VO }} World Jobs{% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA {{view}} {{ requestParams.mode }} World Jobs dashboard{{ viewParams.selection|safe }}
{% endblock %}
{% block body %}

<p>
<table id="summary">
<tr>
<td class="tablesection">Nucleus</td>
<td class="tablesection">defined</td>
<td class="tablesection">waiting</td>
<td class="tablesection">pending</td>
<td class="tablesection">assigned</td>
<td class="tablesection">throttled</td>
<td class="tablesection">activated</td>
<td class="tablesection">sent</td>
<td class="tablesection">starting</td>
<td class="tablesection">running</td>
<td class="tablesection">holding</td>
<td class="tablesection">transferring</td>
<td class="tablesection">finished</td>
<td class="tablesection">failed</td>
<td class="tablesection">cancelled</td>
<td class="tablesection">merging</td>
<td class="tablesection">closed</td>
</tr>

{% for nucleus, nuclval in nucleussummary.items %}
    {% if nucleus %}
        <tr height=10 colspan=12></tr>
        <tr>
            <td><a href="#nucleus_{{ nucleus }}">{{ nucleus }}</a></td>
            {%  for jobstatus in statelist %}
                    <td  {% if nuclval|get_item:jobstatus  > 0 %} class='{{ jobstatus }}_fill' {% endif %}  > <a href="{% url 'jobList' %}?jobstatus={{ jobstatus }}{{ estailtojobslinks }}&nucleus={{nucleus}}&cloud=WORLD&noarchjobs=1&hours={{hours}}&display_limit=100"> {{ nuclval|get_item:jobstatus }} </a> </td>
            {% endfor %}
        </tr>
    {% endif %}
{% endfor %}
</table>




<p>
<table id="cloudsitesummary">
{% for nucleus, nuclval in nucleuses.items %}
<tr height=10 colspan=12></tr>
<tr>
<td class="tablesection"> <a name="nucleus_{{ nucleus }}">{{ nucleus }} Nucleus</a>, Satellites </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=defined">defined</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=waiting">waiting</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=pending">pending</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=assigned">assigned</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=throttled">throttled</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=activated">activated</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=sent">sent</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=starting">starting</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=running">running</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=holding">holding</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=transferring">transferring</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=finished">finished</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=failed">failed</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=cancelled">cancelled</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=merging">merging</a> </td>
<td class="tablesection"> <a href="{{nosorturl}}sortby=closed">closed</a> </td>
</tr>

    {% for computingsite, computingsiteval in nuclval.items %}
        <tr>
            <td>{{ computingsite }}</td>
            {%  for jobstatus in statelist %}
                <td  {% if computingsiteval|get_item:jobstatus  > 0 %} class='{{ jobstatus }}_fill' {% endif %}  > <a href="{% url 'jobList' %}?jobstatus={{ jobstatus }}{{ estailtojobslinks }}&nucleus={{nucleus}}&computingsite={{ computingsite }}&cloud=WORLD&noarchjobs=1&hours={{hours}}&display_limit=100"> {{ computingsiteval|get_item:jobstatus }} </a> </td>
            {% endfor %}
        </tr>
    {% endfor %}


{% endfor %}

</table>
</p>



{% endblock %}

