{% extends "_base_core.html" %}

{% block page_title %} {{ viewParams.MON_VO }} World HS06s summary{% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA {{view}} {{ requestParams.mode }} World HS06s dashboard, last 3 days{{ viewParams.selection|safe }}
{% endblock %}
{% block body %}

{% if requestParams.reqid %}<br><b>Request ID: {{ requestParams.reqid }}</b> {% endif %}
{% if requestParams.jeditaskid %}<br><b>Task: {{ requestParams.jeditaskid }}</b> {% endif %}

{% if hsnucleussum %}

<p>
<table id="summary">
<tr class='tablesection'><th colspan=20> Nucleus summary of {% if roundflag %}kHS06d {% else %} HS06s {% endif %} </th></tr>
<tr class="tablesection">
<th>Nucleus</th>
<th>NTasks</th>
<th>Total, {% if roundflag %}kHS06d{% else %}HS06s{% endif %}</th>
<th>Used, {% if roundflag %}kHS06d{% else %}HS06s{% endif %}</th>
<th><span class="failed">Failed, {% if roundflag %}kHS06d{% else %}HS06s{% endif %}</span></th>
<th><span class="failed">Percentage, %</span></th>
</tr>

{% for nucleus, nucval  in hsnucleussum.items %}
    {% if nucleus %}
        <tr>
            <td><a href="#nucleus_{{ nucleus }}">{{ nucleus }}</a></td>
            <td>{{ nucval.ntaskspernucleus }}</td>
            <td>{{ nucval.toths06spernucleus }}</td>
            <td>{{ nucval.usedhs06spernucleus }}</td>
            <td class="failed">{{ nucval.failedhs06spernucleus }}</td>
            <td class="failed">{{ nucval.failedhs06spernucleuspct }}</td>
        </tr>
    {% endif %}
{% endfor %}

</table>

<p>
<table id="summary">
<tr class='tablesection'><th colspan=20> Salellite summary of HS06s</th></tr>
{% for nucleus, nucval  in hssitesum.items %}
<tr height=10 colspan=12></tr>
<tr class="tablesection">
    {% if sortby == 'satellite-desc' %}<th><a name="nucleus_{{ nucleus }}">{{ nucleus }} Nucleus</a>, Satellites<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=satellite-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'satellite-asc' %}<th><a name="nucleus_{{ nucleus }}">{{ nucleus }} Nucleus</a>, Satellites<br><a href="{{nosorturl}}sortby=satellite-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}<th><a name="nucleus_{{ nucleus }}">{{ nucleus }} Nucleus</a>, Satellites<br><a href="{{nosorturl}}sortby=satellite-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=satellite-asc" class="headerSortUp"></a></th>{% endif %}
    {% if sortby == 'used-desc' %}<th>Used, HS06s<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=used-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'used-asc' %}<th>Used, HS06s<br><a href="{{nosorturl}}sortby=used-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}<th>Used, HS06s<br><a href="{{nosorturl}}sortby=used-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=used-asc" class="headerSortUp"></a></th>{% endif %}
    {% if sortby == 'failed-desc' %}<th>Failed, HS06s<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=failed-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'failed-asc' %}<th>Failed, HS06s<br><a href="{{nosorturl}}sortby=failed-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}<th>Failed, HS06s<br><a href="{{nosorturl}}sortby=failed-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=failed-asc" class="headerSortUp"></a></th>{% endif %}
    {% if sortby == 'failedpct-desc' %}<th>Percentage, %<br><span class="headerSortedDown"></span> <a href="{{nosorturl}}sortby=failedpct-asc" class="headerSortUp"></a></th>
    {% elif sortby == 'failedpct-asc' %}<th>Percentage, %<br><a href="{{nosorturl}}sortby=failedpct-desc" class="headerSortDown"></a> <span class="headerSortedUp"></span></th>
    {% else %}<th>Percentage, %<br><a href="{{nosorturl}}sortby=failedpct-desc" class="headerSortDown"></a> <a href="{{nosorturl}}sortby=failedpct-asc" class="headerSortUp"></a></th>{% endif %}
</tr>

{% for computingsiteval in nucval %}
        <tr>
            <td>{{ computingsiteval.computingsite }}</td>
            <td>{{ computingsiteval.usedhs06spersite }}</td>
            <td class="failed">{{ computingsiteval.failedhs06spersite }}</td>
            <td class="failed">{{ computingsiteval.failedhs06spersitepct }}</td>
        </tr>

{% endfor %}
{% endfor %}
</table>

{% else %}
    <p> No maches to query</p>
{% endif %}
{% endblock %}

