{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}
{% block page_title %} Compare jobs {% endblock %}
{% block subtitle %} Compare
{% endblock %}
{% block extra_css %}

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="/static/js/d3jsplot.js"></script>
    <script type="text/javascript">
    function toggle(idtotoggle, buttonid){
        if ($("#" + idtotoggle).is(':visible')){
            $("#" + idtotoggle).hide();
            document.getElementById(buttonid).innerHTML='Show all params'}
        else {
            $("#" + idtotoggle).show();
            document.getElementById(buttonid).innerHTML='Hide all params'}
    }

    function deletefromcomparison(object, value) {
        var newURL = document.getElementById('reloadlink').href;
        $.ajax({
            url: '/deletefromcomparison/',
            data: 'object='+object+'&value='+value,
            async: true,
            cache: false
        }).done(function (response) {
            window.location = newURL
            });
    }

    function togglerows(classtotoggle, buttonid){
        if ($('.'+classtotoggle).is(':visible')){
            $('.'+classtotoggle).hide();
            document.getElementById(buttonid).innerHTML='Show equal'}
        else {
            $('.'+classtotoggle).show();
            document.getElementById(buttonid).innerHTML='Hide equal'}
    }
</script>
{% endblock %}
{% block body %}
<div class="float-right">
    <a id="hideequal" onclick="togglerows('equal', 'hideequal')" class="bluebutton">Hide equal</a>
    <a id="hidebutton" onclick="toggle('allparams', 'hidebutton')" class="bluebutton">Show all params</a>
</div>
<p style="clear: both">
<table class="compare-table unstriped">
    <thead>
        <tr>
        <th>Main parameters</th>
            {% for pandaid in pandaids %}
                <th>{{ pandaid }} <a class="close-x-sign" onclick="deletefromcomparison('job','{{ pandaid }}')"><i class="fi-x"></i></a></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in jobsComparisonMain %}
            <tr {% if row.0.mark %}class="{{ row.0.mark }}"{% endif %}>
                {% for cell in row %}
                    {% if forloop.first %}
                        <th>{{ cell.paramname }}</th>
                    {% else %}
                        <td {% if cell.value != row.1.value %}class="different"{% endif %}>{{ cell.value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot id="allparams">
        <tr>
            <th style="text-align: center; font-weight: bold">All parameters</th>
            <th colspan="{{ pandaids|length }}"></th>
        </tr>
        {% for row in jobsComparisonAll %}
            <tr {% if row.0.mark %}class="{{ row.0.mark }}"{% endif %}>
                {% for cell in row %}
                    {% if forloop.first %}
                        <th>{{ cell.paramname }}</th>
                    {% else %}
                        <td {% if cell.value != row.1.value %}class="different"{% endif %}>{{ cell.value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tfoot>
</table>


{% endblock %}