{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}
{% block page_title %} Compare jobs {% endblock %}
{% block subtitle %} Compare
{% endblock %}
{% block extra_css %}

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="/static/js/d3jsplot.js"></script>
    <script type="text/javascript">
    function toggle(idtotoggle, buttonid){
        if ($("#" + idtotoggle).is(':visible')){
            $("#" + idtotoggle).hide();
            document.getElementById(buttonid).innerHTML='Show all params'}
        else {
            $("#" + idtotoggle).show();
            document.getElementById(buttonid).innerHTML='Hide all params'}
    }
</script>
{% endblock %}
{% block body %}
<div class="float-right">
    <a id="hidebutton" onclick="toggle('allparams', 'hidebutton')" class="bluebutton">Show all params</a>
</div>
<table class="compare-table unstriped">
    <thead>
        <tr>
        <th>Main parameters</th>
            {% for pandaid in pandaids %}
                <th>{{ pandaid }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in jobsComparisonMain %}
            <tr>
                {% for cell in row %}
                    {% if forloop.first %}
                        <th>{{ cell }}</th>
                    {% else %}
                        <td {% if cell != row.1 %}class="different"{% endif %}>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot id="allparams">
        <tr>
            <td style="text-align: center; font-weight: bold">All parameters</td>
            <td colspan="{{ pandaids|length }}"></td>
        </tr>
        {% for row in jobsComparisonAll %}
            <tr>
                {% for cell in row %}
                    {% if forloop.first %}
                        <th>{{ cell }}</th>
                    {% else %}
                        <td {% if cell != row.1 %}class="different"{% endif %}>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tfoot>
</table>


{% endblock %}