{% extends "_base_core.html" %}

{% load static %}
{% load humanize %}

{% block page_title %} {{ viewParams.MON_VO }} Global Shares{% endblock %}
{% block subtitle %}Global Shares{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
{% endblock %}
{% block body %}

    <link rel="stylesheet" type="text/css" href="/static/js/datatables/datatables.min.css"/>
    <script type="text/javascript" src="/static/js/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/static/js/datatables/dataTables.rowsGroup.js"></script>
    <script src="/static/js/d3jsplot.js"></script>


    <div class="d3splot" id="pieChartGS"></div>
    <style type="text/css">
        .hasTooltip {
            color: #0a47ff;
        }

        .hasTooltip table {
            display: none;
            color: #222222;
            text-decoration: none;
            padding: 3px;
            z-index: 10;
            border-radius: 6px;
            width: 660px;
        }

        .hasTooltip:hover {

            text-decoration: underline;
            color: red;
        }

        .hasTooltip:hover table {
            display: block;
            position: absolute;
            background-color: #FFF;
            border: 1px solid black;
            margin: 2px 10px;
            z-index: 10;
        }

        .hasTooltip:hover table td {
            text-align: left;
            border-style: solid;
            border-width: 1px;
            border-color: lightgrey;
            font-weight: normal;
            background-color: #222222;
            color: #fff;

        }

        .hasTooltip:hover table th {
            text-align: left;
            border-style: solid;
            border-width: 1px;
            border-color: grey;
            background-color: #222222;
            color: #fff;

        }
    </style>
    <script>

        var gsPlotData ={{ gsPlotData|safe }};
        globalSharesPieChartFunc(gsPlotData, "#pieChartGS", 'Actual HS06');
        $(document).ready(function () {

            $(".has-dropdown").addClass("has-dropdown not-click");
        });
    </script>

    <table>
        <tr class='tablesection'>
            <th>L1 Share</th>
            <th>L2 Share</th>
            <th>L3 Share</th>
            <th>Actual HS06</th>
            <th>Target HS06</th>
            <th>HS06 ratio</th>
            <th>Queued HS06</th>
            <th>Actual share</th>
            <th>Target share</th>
        </tr>
        {% for row in tablerows %}
            <tr>
                <td>{{ row.level1 }}</td>
                <td>{% if row.link %} <a href="{% url "jobList" %}{{ row.link }}" target="_blank">{{ row.level2 }}</a>
                    {% else %}{{ row.level2 }} {% endif %}</td>
                <td>{% if row.link %} <a href="{% url "jobList" %}{{ row.link }}" target="_blank">{{ row.level3 }}</a>
                    {% else %}{{ row.level3 }} {% endif %}</td>
                <td style="text-align:right">
                    {% if row.executing %}{{ row.executing|floatformat:2|intcomma }} {% else %} 0.00 {% endif %}</td>
                <td style="text-align:right">
                    {% if row.pledged %}{{ row.pledged|floatformat:2|intcomma }} {% else %} 0.00 {% endif %}</td>
                <td style="text-align:right">{% if row.ratio %} {{ row.ratio |floatformat:2|intcomma }} % {% else %}
                    --- {% endif %}</td>
                <td style="text-align:right">
                    {% if row.queued %}{{ row.queued|floatformat:2|intcomma }} {% else %} 0.00 {% endif %}</td>
                <td style="text-align:right">{% if row.used %} {{ row.used |floatformat:2|intcomma }} % {% else %}
                    --- {% endif %}</td>
                <td style="text-align:right">
                    {% if row.value %}{{ row.value|floatformat:2|intcomma }}%{% else %} 0.00% {% endif %}</td>

            </tr>
        {% endfor %}
    </table>
    <br>

    <script>
        $(document).ready(function () {
            DisplayDetailedInformation();
            DisplaySharesDistribution();
            DisplaySiteworkqueues();
            $("#detailedinformation_wrapper").css("width", "1030px");
            $("#sharesdistribution_wrapper").css("width", "1030px");
            $("#siteworkqueues_wrapper").css("width", "1030px");

        });

        function ReverseDisplay(d, hlink) {
            if (document.getElementById(d).style.display == "none") {
                document.getElementById(d).style.display = "block";
                var urlname = document.getElementById(hlink).innerText;
                urlname = urlname.replace("Show", "Hide");
                document.getElementById(hlink).innerText = urlname;
            }
            else {
                document.getElementById(d).style.display = "none";
                var urlname = document.getElementById(hlink).innerText;
                urlname = urlname.replace("Hide", "Show");
                document.getElementById(hlink).innerText = urlname;
            }
        }

        function DisplayDetailedInformation() {
            var detinf = $('#detailedinformation').dataTable({
                //"bRetrieve": true,
                "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
                paging: true,
                //"bProcessing": true,
                //"bAutoWidth": false,
                //"bStateSave": true,
                order: [[3, 'desc']],
                "ajax": {
                    "processing": true,
                    "url": "{% url 'detailedInformationJSON' %}",

                    "dataSrc": ''
                },

                "createdRow": function (row, data, index) {
                    if (data["jobstatus"] == 'running') {
                        $('td', row).eq(0).addClass('running_fill');
                        $('td', row).eq(1).addClass('running_fill');
                        $('td', row).eq(2).addClass('running_fill');
                        $('td', row).eq(3).addClass('running_fill');
                        $('td', row).eq(4).addClass('running_fill');
                    }
                },
                "aoColumns": [
                    {
                        "data": "gshare",
                        sDefaultContent: ""
                    },
                    {
                        "data": "corecount",
                        sDefaultContent: "",
                    },
                    {
                        "data": "jobstatus",
                        sDefaultContent: "",
                    },
                    {
                        "data": "count",
                        sDefaultContent: "",
                    },
                    {
                        "data": "hs06",
                        sDefaultContent: "",
                    }
                ],
                initComplete: function () {
                    this.api().columns([0, 1, 2]).every(function () {
                        var column = this;
                        var select = $('<select><option value="">Show all</option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });

                }
            });
        }

        function DisplaySharesDistribution() {
            $('#sharesdistribution').dataTable({
                //"bRetrieve": true,
                "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
                paging: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csvHtml5',
                        filename: function () {
                            var today = new Date();
                            var dd = today.getDate();
                            var mm = today.getMonth() + 1; //January is 0!
                            var yyyy = today.getFullYear();

                            if (dd < 10) {
                                dd = '0' + dd
                            }
                            if (mm < 10) {
                                mm = '0' + mm
                            }
                            today = dd + '_' + mm + '_' + yyyy;
                            return 'Shares_distribution_' + today;
                        },
                    },
                    {
                        extend: 'pdfHtml5',
                        filename: function () {
                            var today = new Date();
                            var dd = today.getDate();
                            var mm = today.getMonth() + 1; //January is 0!
                            var yyyy = today.getFullYear();

                            if (dd < 10) {
                                dd = '0' + dd
                            }
                            if (mm < 10) {
                                mm = '0' + mm
                            }
                            today = dd + '_' + mm + '_' + yyyy;
                            return 'Shares_distribution_' + today;
                        }
                    }
                ],
                //"bProcessing": true,
                //"bAutoWidth": false,
                //"bStateSave": true,
                order: [[4, 'desc']],
                "ajax": {
                    "processing": true,
                    "url": "{% url 'sharesDistributionJSON' %}",

                    "dataSrc": ''
                },
                "aoColumns": [
                    {
                        "data": "gshare",
                        sDefaultContent: ""
                    },
                    {
                        "data": "computingsite",
                        sDefaultContent: "",
                    },
                    {
                        "data": "corecount",

                        sDefaultContent: "",
                    },
                    {
                        "data": "jobstatus",
                        sDefaultContent: "",
                    },
                    {
                        "data": "count",
                        sDefaultContent: "",
                    },
                    {
                        "data": "hs06",
                        sDefaultContent: "",
                    },
                    {
                        "data": "hs06/count",
                        sDefaultContent: "",
                    }
                ],
                "createdRow": function (row, data, index) {
                    if (data["jobstatus"] == 'running') {
                        $('td', row).eq(0).addClass('running_fill');
                        $('td', row).eq(1).addClass('running_fill');
                        $('td', row).eq(2).addClass('running_fill');
                        $('td', row).eq(3).addClass('running_fill');
                        $('td', row).eq(4).addClass('running_fill');
                        $('td', row).eq(5).addClass('running_fill');
                        $('td', row).eq(6).addClass('running_fill');
                    }
                },
                initComplete: function () {
                    this.api().columns([0, 1, 2, 3]).every(function () {
                        var column = this;
                        var select = $('<select><option value="">Show all</option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });

        }

        function DisplaySiteworkqueues() {
            $('#siteworkqueues').dataTable({
                //"bRetrieve": true,
                "lengthMenu": [[20, 50, 100, 200, -1], [20, 50, 100, 200, "All"]],
                paging: true,
                order: [[4, 'desc']],
                "ajax": {
                    "processing": true,
                    "url": "{% url 'siteWorkQueuesJSON' %}",
                    "dataSrc": ''
                },
                "aoColumns": [
                    {
                        "data": "computingsite",
                        sDefaultContent: "",
                    },
                    {
                        "data": "gshare",
                        sDefaultContent: ""
                    },
                    {
                        "data": "corecount",
                        sDefaultContent: "",

                    },
                    {
                        "data": "jobstatus",
                        sDefaultContent: "",
                    },
                    {
                        "data": "count",
                        sDefaultContent: "",
                    }
                ],
                "createdRow": function (row, data, index) {
                    if (data["jobstatus"] == 'running') {
                        $('td', row).eq(0).addClass('running_fill');
                        $('td', row).eq(1).addClass('running_fill');
                        $('td', row).eq(2).addClass('running_fill');
                        $('td', row).eq(3).addClass('running_fill');
                        $('td', row).eq(4).addClass('running_fill');
                    }
                },

                initComplete: function () {
                    this.api().columns([0, 1, 2, 3]).every(function () {
                        var column = this;
                        var select = $('<select><option value="">Show all</option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
        }
    </script>
    <a href="javascript:ReverseDisplay('sharesdistributiondiv','sharesdistributionlink')" id="sharesdistributionlink">Show
        shares distribution</a> <br/><br/>
    <div id="sharesdistributiondiv" style="display: none">
        <hr/>
        <a href="{% url 'sharesDistributionJSON' %}">JSON</a><br/><br/>

        <table id="sharesdistribution" style="width: 100%">
            <caption style="height: 30px;vertical-align: middle">Shares distribution (4 days)</caption>
            <thead>
            <th>Global share</th>
            <th>Computing site</th>
            <th>Core count</th>
            <th>Job status</th>
            <th>COUNT</th>
            <th>HS06</th>
            <th>HS06/COUNT</th>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <hr/>
    </div>
    <a href="javascript:ReverseDisplay('siteworkqueuesdiv','siteworkqueueslink')" id="siteworkqueueslink">Show site
        workqueues occupations</a>  <br/><br/>
    <div id="siteworkqueuesdiv" style="display: none">
        <hr/>
        <table id="siteworkqueues" style="width: 100%">
            <caption style="height: 30px;vertical-align: middle">Site workqueues occupations (4 days)</caption>
            <thead>
            <th>Computing site</th>
            <th>Global share</th>
            <th>Core count</th>
            <th>Job status</th>
            <th>COUNT</th>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <hr/>
    </div>
    <a href="javascript:ReverseDisplay('detailedinformationdiv','detailedinformationlink')"
       id="detailedinformationlink">Show detailed information</a> <br/><br/>

    <div id="detailedinformationdiv" style="display: none">
        <hr/>
        <table id="detailedinformation" style="width: 200px">
            <caption style="height: 30px;vertical-align: middle">Detailed information (4 days)</caption>
            <thead>
            <th>Global share</th>
            <th>Core count</th>
            <th>Job status <span class="hasTooltip"> (?)
<table>
      <thead>
          <th>Table job status</th>
          <th>Database job status</th>
      </thead>
      <tr>
          <td>scheduled</td>
          <td>defined,waiting,pending,assigned,throttled,activated,merging,starting,holding,transferring</td>
      </tr>
      <tr>
          <td>running</td>
          <td>sent,running</td>
      </tr>
      <tr>
          <td>did run</td>
          <td>failed,cancelled,closed</td>
      </tr>
  </table></span>
            </th>
            <th>COUNT</th>
            <th>HS06</th>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <hr/>
    </div>
{% endblock %}

