{% extends "_base_bigpandamon.html" %}{% load url from future %}
{% block title %}ATLAS PanDA{% endblock %}
{% block page_title %}ATLAS PanDA Monitoring{% endblock %}
{% block bl_page_title %}ATLAS PanDA Monitoring{% endblock %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
{% block gacode %}UA-44940804-1{% endblock %}
{% block gaweb %}pandawms.org{% endblock %}
{% block subtitle %}FileBrowser
{% if scope %} for <span style="font-weight: bold;">scope</span>={{scope}}
{% if lfn %} <span style="font-weight: bold;">lfn</span>={{lfn}}{% endif %}{% endif %}
{% endblock %}
{% block header-nav-chain-1 %}<a href="#">FileBrowser</a>{% endblock %}{% block header-nav-chain-1-separator %}{{ SEPARATOR_NAVIGATION_ITEM|safe }}{% endblock %}
{% block header-nav-chain-2 %}{% endblock %}{% block header-nav-chain-2-separator %}{% endblock %}
{% block header-nav-chain-3 %}{% endblock %}{% block header-nav-chain-3-separator %}{% endblock %}
{% block header-nav-chain-4 %}{% endblock %}{% block header-nav-chain-4-separator %}{% endblock %}
{% block header-nav-chain-5 %}{% endblock %}{% block header-nav-chain-5-separator %}{% endblock %}
{% block header-nav-chain-6 %}{% endblock %}
{% block left_menu %}{% endblock %}
{% block body_mobile %}{% endblock %}
{% block body %}
<div><span style="color: navy; font-weight: bold;">File lookup parameters</span></div>
<div><br/>
<table>
{% if scope %}<tr><th>Scope</th><td>{{scope}}</td></tr>{% endif %}
{% if lfn %}<tr><th>LFN</th><td>{% if errors %}{{lfn}}{% else %}<a href="http://{{ HOSTNAME }}{{MEDIA_URL}}{{dirprefix}}/{{lfn}}" >{{lfn}}</a>{% endif %}</td></tr>{% endif %}
{% if site %}<tr><th>Site</th><td>{{site}}</td></tr>{% endif %}
{% if guid %}<tr><th>GUID</th><td>{{guid}}</td></tr>{% endif %}
</table> 
</div>

{% if files %}
<div><span style="color: navy; font-weight: bold;">File listing</span></div>
<br/>
<table>
<thead>
<th>Modification time</th>
<th>Size [B]</th>
<th>File</th>
</thead>
<tbody>
{% for f in files %}
<tr>
<td>{{f.modification}}</td>
<td align='right'>{{f.size}}</td>
<td><a href="http://{{ HOSTNAME }}{{MEDIA_URL}}{{dirprefix}}/{{tardir}}{{f.dirname}}/{{f.name}}" >
{% if f.dirname %}{{f.dirname}}/{% endif %}{{f.name}}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
{% if errors.missingparameter %}<div><span style="color: red; font-weight: bold;">Query error.</span> {{errors.missingparameter}}</div>{% endif %}
{% if errors.improperformat %}<div><span style="color: red; font-weight: bold;">Improperly formatted parameters.</span> {{errors.improperformat}}</div>{% endif %}
{% if errors.lookup %}<div><span style="color: red; font-weight: bold;">Lookup error.</span> {{errors.lookup}}</div>{% endif %}
{% if errors.download %}<div><span style="color: red; font-weight: bold;">Download error.</span> {{errors.download}}</div>{% endif %}
{% endif %}

{% endblock %}
