{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}iDDS monitor{% endblock %}
{% block subtitle %}<font size=-1>{{ viewParams.selection|safe }}</font> {% endblock %}

<link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.css" %}">
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
<div>

        <h1>Collections:</h1>
        <table id="collections_table" class="stripe">
         <thead>
            <th></th>
            <th>Collection ID</th>
         </thead>
         <tbody></tbody>
        </table>
        <script type="text/javascript">

        var json_ev=JSON.stringify({{ events_progress_wrap.events_progress | safe }});

        var collections_table = $('#collections_table').dataTable({
            "order": [],
            searching: false,
            paging: false,
            info: false,
            "bSort" : false,
            "ajax": {
                "processing": true,
                "url": 'href="{% url 'iddscollections' %}"',
                "dataSrc": ''
            },
        });
        </script>

{% endblock %}
