{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}
{% load common_tags %}

{% block page_title %}Workflow monitor{% endblock %}
{% block subtitle %}Workflow monitor{{ viewParams.selection|safe }} {% endblock %}

{% block css_page_library %}
    <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.min.css" %}">
{% endblock %}
{% block css_page %}
    <link rel="stylesheet" href="{% static "css/idds.css" %}?{% cache_bust "css/idds.css" %}">
{% endblock %}

{% block js_head_page_library %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
{% endblock %}

{% block body %}

{#    <div class="card bp-container-simple">#}
{#      <div class="card-divider">#}
{#        <p>Requests summary:</p>#}
{#      </div>#}
{#      <div class="card-section">#}
{#        <table id="requests_summary_table" class="display data-table" >#}
{#         <tbody>#}
{#         <tr>#}
{#             <td>Status</td>#}
{#             <td>#}
{#                {% for status, count in requests_summary.items %}#}
{#                    <a href="{% url 'iddsmain' %}?reqstatus={{ status }}">{{ status }}({{ count }})</a>#}
{#                {% endfor %}#}
{#             </td>#}
{#         </tr>#}
{##}
{#         </tbody>#}
{#        </table>#}
{#      </div>#}
{#    </div>#}


    <div class="card bp-container-simple">
      <div class="card-divider">
        <p>Requests:</p>
      </div>
      <div class="card-section">
        <table id="requests_table" class="display data-table" >
         <thead>
             <th>Request ID</th>
             <th>Request Status</th>
             <th>Created At</th>
             <th>Total tasks</th>
             <th>Tasks</th>
             <th>Remaining files</th>
             <th>Processed files</th>
             <th>Processing files</th>
             <th>Total files</th>
         </thead>
         <tbody></tbody>
        </table>
      </div>
    </div>
{% endblock %}

{% block js_body_page %}

<script type="text/javascript">

{#var requests_summary_table = $('#requests_summary_table').DataTable(#}
{#    {#}
{#        columns: [#}
{#            {title:"Summary category",},#}
{#            {title:"Value",}#}
{#        ],#}
{#        "columnDefs": [#}
{#            { "width": "20%", "targets": 0 }#}
{#        ],#}
{#        "paging":   false,#}
{#        "ordering": false,#}
{#        "info":     false,#}
{#        "searching": false,#}
{#    }#}
{#);#}


var iDDSrequests=JSON.parse(JSON.stringify({{ iDDSrequests | safe }}));

function preprocData(dataIn){
   var dataOut = [];
   for(id in dataIn){
      if(dataIn.hasOwnProperty(id)){
         dataOut.push(dataIn[id]);
         dataOut[dataOut.length - 1].Id = id;
      }
   }
   return dataOut;
}


var requests_table = $('#requests_table').DataTable({
    scrollX: true,
    order: [[0, "desc"]],
    columns: [
        { data: "request_id", title: "request_id", className: "num" },
        { data: "r_status", title: "r_status" },
        { data: "created_at", title: "created_at" },
        { data: "total_tasks", title: "total_tasks" },
        { data: "tasks_links", title: "tasks",
           render: function(data, type, row, meta) {
            retVal = ""
            for (var key in row['tasks_links']) {

                switch(key) {
                  case 'Finished':
                    retVal += '<a target=blank href = "{% url "taskList" %}?jeditaskid='+row['tasks_links'][key]+'"><span class="finished">'+key+'</span></a> ';
                    break;
                  case 'Failed':
                    retVal += '<a target=blank href = "{% url "taskList" %}?jeditaskid='+row['tasks_links'][key]+'"><span class="failed">'+key+'</span></a> ';
                    break;
                  case 'Running':
                    retVal += '<a target=blank href = "{% url "taskList" %}?jeditaskid='+row['tasks_links'][key]+'"><span class="running">'+key+'</span></a> ';
                    break;
                  case 'Submitted':
                    retVal += '<a target=blank href = "{% url "taskList" %}?jeditaskid='+row['tasks_links'][key]+'"><span class="registered">'+key+'</span></a> ';
                    break;
                  default:
                    retVal += '<a target=blank href = "{% url "taskList" %}?jeditaskid='+row['tasks_links'][key]+'">'+key+'</a> ';
                }
            }
            return retVal;
           }
        },

        { data: "remaining_files", title: "remaining_files" },
        { data: "processed_files", title: "processed_files" },
        { data: "processing_files", title: "processing_files" },
        { data: "total_files", title: "total_files" },

        {#{ data: "scope", title: "scope",},#}
        {#{ data: "name", title: "name",#}
        {#   render: function(data, type, row, meta) {#}
        {#        return '<a target=blank href = "{% url "taskInfo" %}'+row['workload_id']+'">'+data+'</a>';#}
        {#   }#}
        {#},#}
        {#{ data: "status", title: "status" },#}
        {#{ data: "transform_status", title: "transform_status" },#}
        {#{ data: "in_status", title: "in_status" },#}
        {#{ data: "in_total_files", title: "in_total_files" },#}
        {#{ data: "in_processed_files", title: "in_processed_files" },#}
        {#{ data: "out_status", title: "out_status" },#}
        {#{ data: "out_total_files", title: "out_total_files" },#}
        {#{ data: "out_processed_files", title: "out_processed_files" },#}
    ],
    data: preprocData(iDDSrequests),
    selectable: true,
    select: {
        style: 'single'
    },

});


(function ($) {
    $.fn.goTo = function () {
        $('html, body').animate({scrollTop: $(this).offset().top + 'px'}, 'fast');
        return this;
    }
})(jQuery);

</script>

{% endblock %}
