{% extends "_base_core.html" %}
{% load humanize %}
{% load static %}
{% load common_tags %}

{% block page_title %}Workflow monitor{% endblock %}
{% block subtitle %}Workflow monitor{{ viewParams.selection|safe }} {% endblock %}

{% block css_page_library %}
    <link rel="stylesheet" href="{% static "js/datatables/DataTables-1.10.13/css/dataTables.foundation.min.css" %}">
{% endblock %}
{% block css_page %}
    <link rel="stylesheet" href="{% static "css/idds.css" %}?{% cache_bust "css/idds.css" %}">
{% endblock %}

{% block js_head_page_library %}
    <script src="{% static 'js/humanize.min.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/datatables/DataTables-1.10.13/js/dataTables.foundation.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.num-html.js' %}"></script>
    <script src="{% static "js/jquery.shorten.1.0.js" %}"></script>
{% endblock %}

{% block body %}

{% if iDDSrequests|length > 0 %}
<table class="bp-table secondary">
<thead>
  <tr><th colspan=2>Workflows attribute summary</th></tr>
</thead>
<tbody>
  {% for attribute, occurences in iDDSsummary.items %}
  <tr>
    <th> {{ attribute }} ({{ occurences|length }}) </th>
    <td>
      <div class="comment more">
      {% for property, count  in occurences.items %}
        <span class="item">
          <span {% if attribute == 'status' %} class="{{ property|lower }}" {% endif %}>{{ property }}</span>
          <a href="{% url 'workflowprogressitems' %}?{{attribute}}={{property}}">({{ count }})</a>
        </span>
      {% endfor %}
      </div>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>

<div class="card bp-container-simple secondary">
  <div class="card-divider">
    <p>Requests:</p>
  </div>
  <div class="card-section">
    <table id="requests_table" class="data-table hover" >
      <thead><tr>
        <th>Request ID</th>
        <th>Username</th>
        <th>Request Status</th>
        <th>Plot</th>
        <th>WorkFlow Name</th>
        <th>Created At</th>
        <th>Total tasks</th>
        <th>Tasks</th>
	<th>Transform Type</th>
        <th>Total files</th>
        <th>Released files</th>
        <th>Unreleased files</th>
        <th>Finished files</th>
	<th>Failed files</th>
      </tr></thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% else %}
  <div class="card bp-container-simple info">
    <div class="card-divider"><p>No iDDS requests found.</p></div>
  </div>
{% endif %}
{% endblock %}

{% block js_body_page %}

<script nonce={{request.csp_nonce}}>
var iDDSrequests=JSON.parse(JSON.stringify({{ iDDSrequests | safe }}));

function preprocData(dataIn){
   var dataOut = [];
   for(id in dataIn){
      if(dataIn.hasOwnProperty(id)){
         dataOut.push(dataIn[id]);
         dataOut[dataOut.length - 1].Id = id;
      }
   }
   return dataOut;
}


var requests_table = $('#requests_table').DataTable({
    scrollX: true,
    order: [[0, "desc"]],
    columns: [
        { data: "request_id", title: "request id", className: "num" },
        { data: "username", title: "username" },
        { data: "r_status", title: "workflow status", className: "state" },
        { data: "request_id", title: "graph",
            render: function(data, type, row, meta) {
                return '<a target=blank href = "' + '{% url "daggraph" %}' +'?idds_request_id='+row['request_id']+'">'+'plot'+'</a>';
            }
        },
        { data: "r_name", title: "workflow name",
            render: function(data, type, row, meta) {
                return '<a target=blank href = "{% url "taskList" %}?idds_request_id='+row['request_id']+'">'+row['r_name']+'</a>';
            }
        },
        { data: "created_at", title: "created on (UTC)" },
        { data: "total_tasks", title: "total tasks", className: "num"},
        { data: "tasks_statuses", title: "tasks",
           render: function(data, type, row, meta) {
            let retVal = ''
            for (let key in row['tasks_statuses']) {

                switch(key) {
                  case 'Finished':
                    retVal += '<a target=blank href = "{% url "taskList" %}?idds_request_id='+row['request_id']+'&idds_transform_status=Finished'+'"><span class="finished">'+key+'('+row['tasks_statuses'][key]+')'+'</span></a> ';
                    break;
                  case 'Failed':
                    retVal += '<a target=blank href = "{% url "taskList" %}?idds_request_id='+row['request_id']+'&idds_transform_status=Failed'+'"><span class="failed">'+key+'('+row['tasks_statuses'][key]+')'+'</span></a> ';
                    break;
                  case 'Running':
                    retVal += '<a target=blank href = "{% url "taskList" %}?idds_request_id='+row['request_id']+'&idds_transform_status=Running'+'"><span class="running">'+key+'('+row['tasks_statuses'][key]+')'+'</span></a> ';
                    break;
                  default:
                    retVal += '<span class="'+key.toLowerCase()+'">'+key+'('+row['tasks_statuses'][key]+')'+'</span> ';
                }
            }
            return retVal;
           }
        },
	{ data: "transform_type", title: "transform type", className: "num" },
        { data: "total_files", title: "total files", className: "num",
          sDefaultContent: "-",
          render: function ( data, type, row, meta ) {
              if (row['transform_type'] == "Processing" && row['transform_tag'] != "lsst") {
                  return '-';
              }
              else {
                  return row['total_files'];
              }
          }
	},
        { data: "released_files", title: "released files", className: "num" },
        { data: "unreleased_files", title: "unreleased files", className: "num" },
	{ data: "finished_files", title: "finished files", className: "num",
          render: function ( data, type, row, meta ) {
	      let retVal = '-'
              if (data > 0) {
                 retVal = "<span class='finished nowrap'> " + data + "%</span>";
              }
	      return retVal;
          }
        },
        { data: "failed_files", title: "failed files", className: "num",
          render: function ( data, type, row, meta ) {
	      let retVal = '-'
              if (data > 0) {
                 retVal = "<span class='failed nowrap'> " + data + "%</span>";
              }
	      return retVal;
          }
        },
    ],
    data: preprocData(iDDSrequests),
    selectable: true,
    select: {
        style: 'single'
    },
    createdRow: function ( row, data, index ) {
        $('td', row).eq(2).addClass(data['r_status'].toLowerCase() + '_fill');
    }
});


$(document).ready(function () {
  $(".comment").shorten({showChars: getNCharsShorten(), minHideChars: 250});
})


</script>

{% endblock %}

{% block help %}
{% include "iddsWorkflowHelp.html" %}
{% endblock %}
