
#hpc{
 background-color: #F2D7D5;
}
#GRID{
 background-color: #D4E6F1;
}
#cloud{
 background-color: #D5F5E3;
}
#hpc_special{
 background-color: #FCF3CF;
}
.test {
    color: black;
}

.hasTooltip {
    color:#0a47ff;
}
.hasTooltip table {
    display: none;
    color: #222222;
    text-decoration: none;
    padding: 3px;
    z-index: 10;
    border-radius: 6px;
    width: auto;
}
.hasTooltip:hover {

    text-decoration:underline;
    color:red;
}
.hasTooltip:hover table {
    display: block;
    position: absolute;
    background-color: #FFF;
    border: 1px solid black;
    margin: 2px 10px;
    z-index: 10;
}
.hasTooltip:hover table td {
    text-align:left;
    border-style:solid;
    border-width:1px;
    border-color:lightgrey;
    font-weight:normal;
    background-color: #222222;
    color: #fff;

}

.hasTooltip:hover table th {
   text-align:left; border-style:solid; border-width:1px; border-color:grey;
    background-color: #222222;
    color: #fff;

}