/* Styles for buttons on logon page*/

.button-group-v {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.button-group-v .button.social {
  display: inline;
  color: #fefefe;
  line-height: 100%;
  vertical-align: middle;
  width: 370px;
  margin: 0.5rem;
  padding: 1.5rem;
  font-size: 1rem;
}

.button-group-v .button.social.cern {
  background-color: #0053A1;
}
  .button-group-v .button.social.cern > img {
    padding-right: 0.7rem;
  }
  .button-group-v .button.social.cern:hover, .button-group-v .button.social.github:focus {
    background-color: #004d85;
    color: #fefefe;
  }

.button-group-v .button.social.indigoiam {
  background-color: #008951;
}
  .button-group-v .button.social.indigoiam > i {
    padding-right: 0.7rem;
    font-size: 1.7rem;
    vertical-align: middle;
  }
  .button-group-v .button.social.indigoiam:hover, .button-group-v .button.social.indigoiam:focus {
    background-color: #006d40;
    color: #fefefe;
  }
