/* Main  menu style*/

.top-bar {
  background: #333;
  color: #fefefe;
  padding:0;
  margin: 0;
  font-size: 10pt;
}

.top-bar .menu-text {
    padding: 0;
}

.top-bar .menu {
  background: #333;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.top-bar .menu a {
  color: #fefefe;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #333;
}

.top-bar .submenu {
  background: #333;
}

.top-bar .menu a:hover {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #fefefe;
}
.top-bar .submenu a:hover {
  background: black;
  border: 0;
}

.top-bar .is-dropdown-submenu {
  border: 0;
}

.top-bar .js-accordion-back > a::before {
  border-color: transparent #fefefe transparent transparent;
}

.top-bar .is-accordion-submenu-parent > a::after {
  border-color: transparent transparent transparent #fefefe;
}

.top-bar .dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a::after {
  border-color: #fefefe transparent transparent;
}


.title-bar {
  background: #333;
  padding: 0.9rem;
}

.settings-button button{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;

}

.settings-button button:hover{
  color: #fefefe;
}

.canvas-settings {
  background: #333;
  color: #fefefe;
  padding: 20px;
}

.canvas-settings > .menu {
  margin-bottom: 1rem;
}

.canvas-settings .menu a {
  color: rgba(254, 254, 254, 0.6);
  padding-top: 7px;
  padding-bottom: 7px;
  transition: color 0.2s ease-in;
}

.canvas-settings .menu a:hover {
  color: #fefefe;
}

.canvas-settings .is-accordion-submenu-parent > a::after {
  border-color: rgba(254, 254, 254, 0.6) transparent transparent;
}

.switch-toggle-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-toggle-wrapper .switch {
  margin-bottom: 10px;
}

.switch input:checked ~ .switch-paddle {
  background: #4ba173;
}

.canvas-settings .save {
    background: #4ba173;
    color: #fefefe;
}

.top-subbar {
  background-color: #DDDDDD;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1em;
  padding-right: 1em;
  height: 1.8em;
  margin-bottom: 5px;
}

.top-subbar .right {
    float: right;
}

.top-subbar .left {
    float: left;
}

