.showentries {
  background-color : transparent;
  font-size: 1em;
  color: #FFFFFF;
  display: block;
  font-weight: 500;
  margin-bottom: 0.1875em;
}
.showentries.label {
  background-color : transparent;
  font-size: 1em;
  color: #FFFFFF;
}

.tdF{
vertical-align: top;
}

.inputW{
width:10em;
}

/* always show scrollbars */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


body {
  position: relative;
  height: 100vh;
}

p {
  line-height: inherit;
  margin-bottom: 0.3rem;
}

a, a:link {
  color: #0a47ff;
}

a:hover, a:visited, a:active
{
  text-decoration: none;
  color: #0a47ff;
}

a.button, a.button.primary {
  color: #fefefe;
  background-color: #5e789a;
}
a.button:hover, a.button:focus, a.button.primary:hover, a.button.primary:focus {
  color: #fefefe;
  background-color: #222222;
}

a.disabled {
  cursor: not-allowed;
  pointer-events: auto;
}

select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

pre.wrap {
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.section{ font-weight:bold; color:darkblue; padding-bottom:10px }

.docsection{ background-color:#b2d546; font-weight:bold; border-style:solid; border-width:1px; border-color:#324f00;}
.doctext{ background-color:#e4f9a6; border-style:solid; border-width:1px; border-color:#324f00;}
.doctextlight{ background-color:#F4FFDD; border-style:solid; border-width:1px; border-color:#324f00;}
li.news{padding:0px; margin-left: 0em; text-indent: -.4em;}
.help { color: #88C8A6 }
.helpsection{ font-weight:bold; font-size:14pt; background-color:#4ba173; color:white; border-style:solid; border-width:1px; border-color:#4ba173;}
.helplight { background-color:#bce0cd; color: #222222 }
.helpdark { color:forestgreen }
.highlightcell { background-color:#ECE6E6 }
.whitecell { background-color:white }
.whitesmokecell { background-color:whitesmoke }

.invisibletable{ border-width:0px; border-color:white; vertical-align: top;}


.inputW{width:10em}
.input8{width:8em}
.inputN{width:2em}
.input4{width:4em}

.row {
  max-width: 100%;
}

.row .column.column-block {
  /*padding: 0 0.3rem 0 0.3rem;*/
}

.panel {
  width: 600px;
  height: 500px;
}

.label {
  border-radius: 0.8rem;
}
.label.medium {
  font-size: 0.9rem;
  margin: 0.3rem;
}
.label.ok {
  background-color: #4ba173;
  color: #fefefe;
}
.label.neutral {
  background-color: #acacac;
  color: #fefefe;
}

table tr th p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

a.uservisits {
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
}
a.uservisits:hover {
    text-decoration: underline;
}

h2 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	position: relative;
	font-size: 14px;
	line-height: 30px;
	background: #355681;
	background: rgba(53,86,129, 0.8);
	border: 1px solid #fff;
	padding: 5px 15px;
	color: white;
	border-radius: 10px 10px 0px 0px;
	font-family: 'Muli', sans-serif;
}

h4 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	position: relative;
	font-size: 14px;
	line-height: 20px;
	color: rgba(53,86,129, 0.8);
	font-family: 'Muli', sans-serif;
}

hr {
    background-color: rgba(53,86,129, 0.8);
    height: 3px;
    width: 100%;
    max-width: 100%;
}

div.bp-selected-params p {
  font-size: inherit;
  margin-bottom: 0;
}

.callout p {
  font-size: 0.875rem;
  margin-bottom: 0.7rem;
}
.callout ul li {
  font-size: 0.875rem;
}
.callout pre {
  font-size: 0.875rem;
}

.callout.info {
  background-color: #e1faea;
}
  .callout.info h5 {
    font-weight: bold;
  }
  .callout.info a {
    color: black;
    border-bottom: 1px dotted;
  }

div.normal {
  font-size: 0.875rem;
}

.killbutton {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-color: firebrick;
  color: white;
  padding: 10px;
}
.killbutton:hover {
    background-color: #222222;
    color: white;
}

a.bp-button {
  vertical-align: middle;
  display: inline-block;
  min-width: 100px;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  background-color: #5e789a;
  color: #fefefe;
  padding: 0.875rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  line-height: 1;
}
  a.bp-button:hover {
    background-color: #272727;
  }


.bp-button.kill {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
  background-color: firebrick;
  color: #fefefe;
  padding: 0.875rem;
  line-height: 1;
}
  .bp-button.kill:hover {
    background-color: #272727;
    color: #fefefe;
}

a.bp-button-with-logo {
  vertical-align: middle;
  font-size: 0;
  min-width: 100px;
  margin: 0 0.25rem 0 0;
  padding: 0;
  height: 2.5rem;
  line-height: 1;
  white-space: nowrap;
}

a.bp-button-with-logo > .img-box {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875rem;
  min-width: 30px;
  height: 2.5rem;
  padding: 0.5rem;
  margin: 0.25rem 0 0.25rem 0;
  background-color: #fefefe;
  border-color: #5e789a;
  border-style: solid;
  border-width: 1px 0 1px 1px;
}
a.bp-button-with-logo > .img-box > img {
  height: 1.4rem;
}

a.bp-button-with-logo > .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875rem;
  min-width: 30px;
  height: 2.5rem;
  color: #fefefe;
  margin: 0.25rem 0 0.25rem 0;
  padding: 0.75rem;
  background-color: #5e789a;
  border-color: #5e789a;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

a.bp-button-with-logo:hover > .img-box {
  border-color: #272727;
}

a.bp-button-with-logo:hover > .text {
  border-color: #272727;
  background-color: #272727;
}



.bp-dropdown-button {
    position: relative;
    display: inline-block;
    margin: 0 0.3rem 0 0;
}
  .bp-dropdown-button > button.dropdown {
    background-color: rgba(53,86,129, 0.8);
    color: white;
    width: auto;
    min-width: 10rem;
    padding: 0.875rem 0.7rem 0.875rem 0.7rem;
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    line-height: 1;
  }
  .bp-dropdown-button > button.dropdown::after {
    width: 0;
    height: 0;
    border: inset 0.3rem;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #fefefe transparent transparent;
    position: relative;
    top: 0.3rem;
    display: inline-block;
    float: right;
    margin-left: 0.3rem;
  }
  .bp-dropdown-button > div.dropdown-items {
    display: none;
    position: absolute;
    background-color: #fefefe;
    min-width: 10rem;
    border-left: 1px solid #272727;
    box-shadow: 8px 8px 16px 0 #272727;
    z-index: 1002;
  }
    .bp-dropdown-button:hover div.dropdown-items {
      display: block;
    }
    .bp-dropdown-button:hover button.dropdown {
      background-color: #272727;
    }
    .bp-dropdown-button > button.dropdown:hover {
      background-color: #272727;
    }
  .bp-dropdown-button > div.dropdown-items a {
    color: #272727;
    padding: 0.5rem 0.7rem;
    font-size: 0.875rem;
    text-decoration: none;
    display: block;
    line-height: 1;
  }
  .bp-dropdown-button > div.dropdown-items a.disabled {
    color: gray;
    pointer-events: none;
    cursor: not-allowed;
  }
    .bp-dropdown-button > div.dropdown-items a:hover {
      background-color: rgba(53,86,129, 0.3)
    }


.dropdownplots {
    position: relative;
    display: inline-block;
    margin: 0 0.3rem 0 0;
}
.dropdownbutton{
    background-color: rgba(53,86,129, 0.8);
    color: white;
    width: 180px;
    padding: 10px 5px;
    margin-bottom: 0px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    line-height: 1.5;
}
.dropdown-plot {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    border-left: 1px solid #222222;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1002;
}
.dropdown-plot a {
    color: #222222;
    padding: 6px 8px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}
.dropdown-plot a:hover {background-color: rgba(53,86,129, 0.3)}
.dropdownplots:hover .dropdown-plot {
    display: block;
}

.dropdownplots:hover .dropdownbutton {
    background-color: #222222;
}


.bluebutton {
  display: inline-block;
  min-width: 200px;
  font-family: sans-serif;
  text-align: center;
  font-size: 14px;
  /*font-weight: bold;*/
  text-decoration: none;
  background-color: rgba(53,86,129, 0.8);
  color: white !important;
  padding: 10px;
}

.row.left-aligned {
    margin: 0;
    padding: 0;
}
.column.left-aligned {
margin-left: 0;
margin-right: 0;
padding: 0;
float: none !important; }


/* Tooltips for task errors scattering matrix */

.tooltiptesm {
    position: relative;
    display: inline-block;
}

.tooltiptesm a {
    color: #0a0a0a !important;
}

.tooltiptesm .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    max-width: 400px;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltiptesm .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0a0a0a transparent transparent transparent;
}

.tooltiptesm:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.blacklink {
    color: #0a0a0a !important;
}

.blacklink.bold {
    font-weight: bold;
}

.blacklink.hover:hover {
    text-decoration: underline;
}

.graylink {
    /*text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;*/
    color: #0a0a0a !important;
}

.bluelink {
    color: rgba(53,86,129, 0.8);
    font-weight: bold;
}

.bluelink:hover {
    color: #0a0a0a;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

/*Colors for errors scattering matrix*/

.sm_alarm_fill {  color:black;  background-color:#ff6666 }
.sm_warning_fill { color:black;  background-color:#FFCB2F }
.sm_ok_fill {color:black;  background-color:#70db70 }

.sm_alarm_light_fill {  color:black;  background-color:#ffcccc }
.sm_warning_light_fill { color:black;  background-color:#fff0b3 }
.sm_ok_light_fill {color:black;  background-color:#d6f5d6}

.sm_alarm {  color:#ff6666; font-weight: bold }
.sm_warning { color:#FFCB2F; font-weight: bold  }
.sm_ok {color:#70db70; font-weight: bold  }

.search-form {
    font-size: 85%;
}
.search-form div, select, option {
    font-size: 100%;
}
.search-form input {
    font-size: 100%;
}

.removefromcomparisonbutton {
  display: inline-block;
  min-width: 200px;
  font-family: sans-serif;
  text-align: center;
  font-size: 14px;
  /*font-weight: bold;*/
  text-decoration: none;
  background-color: firebrick;
  color: white !important;
  padding: 10px;
}

.addtocomparisonbutton {
  display: inline-block;
  min-width: 200px;
  font-family: sans-serif;
  text-align: center;
  font-size: 14px;
  /*font-weight: bold;*/
  text-decoration: none;
  background-color: #4ba173;
  color: white !important;
  padding: 10px;

}

.removefromcomparisonbuttoncompact {
  display: inline-block;
  width: 90px;
  font-family: sans-serif;
  text-align: center;
  font-size: 0.65rem;
  /*font-weight: bold;*/
  text-decoration: none;
  background-color: firebrick;
  color: white !important;
  padding: 2px;
}

.addtocomparisonbuttoncompact {
  display: inline-block;
  width: 90px;
  font-family: sans-serif;
  text-align: center;
  font-size: 0.65rem;
  /*font-weight: bold;*/
  text-decoration: none;
  background-color: #4ba173;
  color: white !important;
  padding: 2px;

}

a.close-x-sign {
    color: firebrick !important;
}

a.close-x-sign:hover {
    color: #0a0a0a !important;
}


/* pure CSS tooltips */

.tooltip-upper {
    position: relative;
    display: inline-block;
}

.tooltip-upper .tooltip-text {
    visibility: hidden;
    overflow: visible;
    min-width: 200px;
    max-width: 200px;
    background-color: #272727;
    color: #fefefe;
    text-align: center;
    font-size: 0.75rem;
    font-weight: normal;
    white-space: pre-wrap;
    line-height: 1.3;
    height: auto;
    border-radius: 3px;
    padding: 5px 2px;
    position: absolute;
    z-index: 10000;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0s;
}

.tooltip-upper .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #272727 transparent transparent transparent;
}

.tooltip-upper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Tooltip right for datatable where horizontal scroll cut off upper tooltip  */

.tooltip-right {
  position: relative;
  display: inline-block;
}

.tooltip-right .tooltip-text {
  visibility: hidden;
  min-width: 100px;
  max-width: 400px;
  background-color: #272727;
  color: #fff;
  text-align: left;
  font-weight: normal;
  font-size: 0.8rem;
  /*white-space: pre-wrap;*/
  /*height: auto;*/
  border-radius: 3px;
  padding: 0.3rem 0.7rem;
  position: absolute;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0s;

  top: 50%;
  bottom: auto;
  left: calc(100% + 0.4rem);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.tooltip-right .tooltip-text::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: inset 0.3rem;
    border-left-width: 0;
    border-right-style: solid;
    border-color: transparent #272727 transparent transparent;
    top: 50%;
    bottom: auto;
    left: -0.25rem;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}

.tooltip-right:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}



/* Cards */
.card.card-tabs {
  margin: 0.3rem 0;
}
.card-tabs .card-divider {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.7rem;
    background-color: #d3deed;
}

.card-tabs .card-divider h1, .card-tabs .card-divider h2, .card-tabs .card-divider h3, .card-tabs .card-divider h4, .card-tabs .card-divider h5, .card-tabs .card-divider h6 {
    margin-bottom: 0;
}

.card-tabs .card-divider h6 {
    font-weight: bold;
    font-size: 0.875rem;
}


.card-tabs .card-divider .fa {
    position: relative;
    margin-right: 0;
}

.card-tabs .tabs {
    padding-top: 0;
}

.card-tabs .tabs,
.card-tabs .tabs a {
    background: none;
    border: none;
}

.card-tabs .tabs a {
    padding: 0;
    margin: 0 10px;
    font-size: 0.875rem;
    font-weight: bold;
    color: rgba(53,86,129, 0.8);
}

.card-tabs .tabs a:hover,
.card-tabs .tabs .is-active a {
    font-weight: bold;
    color: #0a0a0a
}

.card-tabs .tabs-panel {
    padding: 0;
}

.card-tabs .tabs-content .card-section {
    padding: 0;
}


.accordion.light {
  margin-left: 0;
  background: #fefefe;
  list-style-type: none; }

.accordion-item.light:first-child > :first-child {
  border-radius: 0 0 0 0; }

.accordion-item.light:last-child > :last-child {
  border-radius: 0 0 0 0; }

.accordion-title.light {
  position: relative;
  display: block;
  padding: 1.25rem 1rem;
  border: 0px solid #e6e6e6;
  border-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #333333; }
  :last-child:not(.is-active) > .accordion-title {
    border-bottom: 0px solid #e6e6e6;
    border-radius: 0 0 0 0; }
  .accordion-title:hover, .accordion-title:focus {
    background-color: #e6e6e6; }
  .accordion-title::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.5rem;
    content: '+'; }
  .is-active > .accordion-title::before {
    content: '\2013'; }

.accordion-content.light {
  display: none;
  padding: 1rem;
  border: 0px solid #e6e6e6;
  border-bottom: 0;
  background-color: #fefefe;
  color: #333333; }
  :last-child > .accordion-content:last-child {
    border-bottom: 0px solid #e6e6e6; }


.accordion.secondary {
  margin-left: 0;
  background: #d3deed;
  list-style-type: none; }

.accordion.secondary .accordion-item:first-child > :first-child {
  border-radius: 0 0 0 0; }

.accordion.secondary .accordion-item:last-child > :last-child {
  border-radius: 0 0 0 0; }

.accordion.secondary .accordion-title {
  position: relative;
  display: block;
  padding: 0.7rem;
  border: 0px solid #d3deed;
  border-bottom: 0;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.5;
  color: #232323; }
  :last-child:not(.is-active) > .accordion-title {
    border-bottom: 0px solid #d3deed;
    border-radius: 0 0 0 0; }
  .accordion-title:hover, .accordion-title:focus {
    background-color: #d3deed; }
  .accordion-title::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.75rem;
    content: '+'; }
  .is-active > .accordion-title::before {
    content: '\2013'; }

.accordion.secondary .accordion-content {
  display: none;
  padding: 0;
  border: 1px solid #d3deed;
  border-bottom: 0;
  background-color: #fefefe;
  font-size: 0.9rem;
  color: #232323; }
  :last-child > .accordion-content:last-child {
    border-bottom: 1px solid #d3deed; }

.accordion.secondary .accordion-content p {
  padding: 0 0.7rem;
}


.tiles {
  max-width: 100%;
  width: 100%;
}

.tiles .column {
    margin: 0;
    padding: 0.7rem 0.3rem;
}

.card.tile {
    margin: 0;
    padding: 0;
    height: 10rem;
}

.card.tile .card-divider {
    padding: 0.3rem;
    color: #0a0a0a;
    background-color: inherit;
    text-align: center;
    text-decoration: underline;
}

.card.tile .card-section {
    padding: 0.3rem;
    color: #0a0a0a;
    background-color: inherit;
}

.card.tile .card-section p {
    margin-bottom: 0.3rem;
    font-size: 90%;
    line-height: 1.15;
}

.card.tile a {
    font-weight: bold;
    color: #0a0a0a;
    text-decoration: underline;
}

.card.tile.alert {
    background-color: #ffcccc;
}

.card.tile.warning {
    background-color: #ffddba ;
}

.card.tile.warning-light {
    background-color: #fff0b3;
}


.inline-div {
    display: inline-block;
}

.parent{
    background-color: #e6f7ff !important;
}


li.list-item {
    margin-bottom: 0;
}

li.list-item > input {
    vertical-align: middle;
    margin: 0;
}

li.list-item > label {
    vertical-align: middle;
}


.form-container {
    max-width: 100%;
}
  .form-container .column {
      padding: 0.7rem 0.3rem;
  }
  .form-container .no-bullet {
      margin: 0;
  }
  .form-container .column a.button {
      margin: 1.5rem 0;
  }
  .form-container fieldset {
      margin-bottom: 0;
      padding-top: 0 !important;
  }
  .form-container fieldset legend {
      padding-top: 0.7rem;
      margin-bottom: 0;
      font-size: 0.875rem;
  }
  .form-container select, .form-container select > option[selected] {
    font-weight: bold;
  }
  .form-container select > option {
    font-weight: normal;
  }

fieldset.inline {
  margin: 0.3rem 0.7rem;
}
  fieldset.inline legend {
    font-size: 0.875rem;
    font-weight: bold;
    float: left;
    display: inline-block;
    margin: 0 0.7rem 0 0;
  }
  fieldset.inline label {
    line-height: 1.5;
    font-size: 0.875rem;
    display: inline-block;
    margin-right: 0.7rem;
    vertical-align: top;
  }
  fieldset.inline label input {
    margin-bottom: 0.3rem;
  }



.c3-plots-row {
    max-width: 100%;
}

.c3-plots-row-block {
    max-width: 100%;
    margin: 1rem 0 0 0;
}

.c3-line {
  stroke-width: 1.5px;
}

.c3-chart-block {
    float:left;
    margin: 1rem 0;
}

.bp-container-wrapper {
  margin: 0 0 0.7rem 0;
}
.row.bp-container-wrapper .columns, .row.bp-container-wrapper .column {
  padding: 0 0.3rem 0 0.3rem;
}


.card.bp-container-simple {
  width: 100%;
  margin: 0 0 0.7rem 0;
  border: 1px solid #5e789a;
}
  .card.bp-container-simple .card-divider {
    padding: 0.7rem;
    background-color: #5e789a;
    color: #fefefe;
    font-weight: bold;
    font-size: 0.9rem;
    justify-content: space-between;
  }
  .card.bp-container-simple .card-section {
    padding: 0;
    margin: 0;
    color: #0a0a0a;
    font-size: 0.875rem;
  }
  .card.bp-container-simple > .card-section.scrollable {
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
  }
  .card.bp-container-simple .card-section > p {
    margin: 0.3rem 0.7rem;
  }
  .card.bp-container-simple .card-section a {
    color: #49668d;
    font-weight: bold;
  }
  .card.bp-container-simple .card-section > ul {
    margin: 0 0.7rem 0.3rem 1.5rem;
  }
  .card.bp-container-simple .card-section > .dataTables_wrapper {
    padding: 0 0.3rem;
    margin: 0.3rem 0;
  }
  .card.bp-container-simple .card-section > table {
    margin: 0;
  }

.card.bp-container-simple.secondary {
  border: 1px solid #d3deed;
}
  .card.bp-container-simple.secondary .card-divider {
    background-color: #d3deed;
    color: #0a0a0a;
  }
    .card.bp-container-simple.secondary .card-divider a {
      color: #49668d;
      border-bottom: 1px solid #49668d;
    }
      .card.bp-container-simple.secondary .card-divider a:hover {
        color: #0a0a0a;
        border-bottom: 1px solid #0a0a0a;
      }

.card.bp-container-simple.help {
  border: 1px solid #bce0cd;
  font-size: 0.875rem;
}
  .card.bp-container-simple.help .card-divider {
    background-color: #bce0cd;
    color: #0a0a0a;
  }
  .card.bp-container-simple.help .card-section {
    background-color: #fefefe;
    color: #0a0a0a;
    padding: 0 0.7rem;
  }
  .card.bp-container-simple.help .card-section a {
    font-weight: bold;
    color: #439067;
    border-bottom: 1px dotted;
  }
  .card.bp-container-simple.help .card-section p {
    margin: 0.3rem 0 0.7rem 0;
    line-height: 1.5;
  }
  .card.bp-container-simple.help .card-section code {
    font-size: 0.75rem;
  }
  .card.bp-container-simple.help .card-section h1 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.7rem 0 0.7rem 0;
  }

.card.bp-container-simple.info {
  border: 1px solid #FFF5D6;
  font-size: 0.875rem;
}
  .card.bp-container-simple.info .card-divider {
    background-color: #FFF5D6;
    color: #0a0a0a;
  }
  .card.bp-container-simple.info > .card-section pre {
    font-size: 0.75rem;
  }

.card.bp-container-simple.warning {
  border: none;
  font-size: 0.875rem;
}
  .card.bp-container-simple.warning > .card-divider {
    background-color: #FFF5D6;
    color: firebrick;
  }
  .card.bp-container-simple.warning > .card-section {
    font-size: smaller;
    background-color: #f1f1f1;
    padding: 0.3rem 0.7rem;
  }
  .card.bp-container-simple.warning > .card-section > pre {
    padding: 0.3rem 0.7rem;
  }

.card.bp-container-simple.alert {
  border: 1px solid #FFABA2;
  font-size: 0.875rem;
}
  .card.bp-container-simple.alert > .card-divider {
    background-color: #FFABA2;
    color: #272727;
  }
  .card.bp-container-simple.alert > .card-section {
    font-size: smaller;
    padding: 0.3rem 0.7rem;
  }
  .card.bp-container-simple.alert > .card-section > pre {
    padding: 0.3rem 0.7rem;
  }


.card.bp-container-simple > .card-section > ul.uservisits a {
  color: #272727;
  font-weight: normal;
  border-bottom: 1px dotted;
}
  .card.bp-container-simple > .card-section > ul.uservisits a:hover {
    color: #49668d;
    border-bottom: none;
  }


.card.bp-container {
  width: 100%;
  margin: 0 0.7rem 0.7rem 0.7rem; }
  .card.bp-container .card-divider {
    color: #fefefe;
    font-weight: bold;
    font-size: inherit;
    justify-content: space-between; }
    .card.bp-container .card-divider a {
      color: #fefefe;
      padding: 0; }
      .card.bp-container .card-divider a:hover, .card.bp-container .card-divider a:focus {
        color: #b8cae1; }
    .card.bp-container .card-divider ul.tabs {
      padding: 0;
      margin: 0;
      border: none;
      background-color: #355681;
      color: #fefefe; }
      .card.bp-container .card-divider ul.tabs li {
        padding-left: 0.7rem;
        padding-top: 0.3rem; }
      .card.bp-container .card-divider ul.tabs .tabs-title > a {
        color: #fefefe;
        background-color: #355681;
        padding: 0; }
        .card.bp-container .card-divider ul.tabs .tabs-title > a:hover {
          background-color: #355681; }
        .card.bp-container .card-divider ul.tabs .tabs-title > a:focus, .card.bp-container .card-divider ul.tabs .tabs-title > a[aria-selected='true'] {
          color: #b0c4de;
          background-color: #355681; }
  .card.bp-container .tabs-content {
    padding: 0;
    margin: 0; }
    .card.bp-container .tabs-content .tabs-panel {
      padding: 0;
      margin: 0; }
      .card.bp-container .tabs-content .tabs-panel .card-section {
        padding: 0;
        margin: 0; }
  .card.bp-container .card-section {
    padding: 0;
    margin: 0; }


/* ---------------------------------------------------------- */
/* Side bar contents */
/* ---------------------------------------------------------- */
.side-contents {
  margin-left: 1rem;
}
.side-contents li {
  font-size: 0.75rem;
  line-height: 1;
  margin: 0.3rem 0 0.3rem 0;
}
.side-contents li a {
  color: #355681;
  font-weight: bold;
}
.side-contents li a:hover {
  color: #0a0a0a;
}

.side-contents li > ul > li {
  font-size: 0.75rem;
  line-height: 1;
  margin: 0.3rem 0 0.3rem 0.7rem;
}

/* ---------------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------------- */
.body-content {
  min-height: calc(100vh - 66px - 87px - 0px);
}

footer {
  width: 100%;
  display: inline-block;
  font-size: 14px;
}

.footer-wrap {
  height: 66px;
}
.sub-footer {
  height: 22px;
  background-color: #DDDDDD;
  font-size: 85%;
}
  .sub-footer.row {
    margin: 0;
  }
  .sub-footer p {
    margin: 0;
    padding: 2px 0.7rem;
  }
.footer {
  height: 44px;
  background-color: #333;
  color: #fefefe;
}
  .footer.row {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .footer.row .columns {
    margin: 0;
    padding: 0;
    height: inherit;
    background-color: #333;
  }
  .footer.row .columns > img {
      max-width: 100%;
      max-height: 100%;
  }
  .footer.row .columns p {
    padding: 0.7rem;
    color: #fefefe;
    margin: 0;
  }
  .footer.row .columns p a {
    margin: 0;
    padding: 0;
    color: #fefefe;
    font-weight: bold;
     border-bottom: 1px dotted;
  }
  .footer.row .columns p a > img {
    height: 17px;
    vertical-align: top;
  }
  .footer.row .columns:last-child:not(:first-child), .sub-footer.row .column:last-child:not(:first-child) {
    text-align: right;
  }
  .footer.row .columns:first-child > p {
    display: inline;
  }




/* ---------------------------------------------------------- */
/* Tabs */
/* ---------------------------------------------------------- */
.bp-tabs {
  margin: 0;
  border: none;
  background-color: #5e789a;
  list-style-type: none; }
  .bp-tabs::before, .bp-tabs::after {
    display: table;
    content: ' '; }
  .bp-tabs::after {
    clear: both; }

  .bp-tabs li.bp-tabs-title {
    background-color: #5e789a;
    color: #fefefe;
    float: left;
  }
  .bp-tabs li.bp-tabs-title a {
    display: block;
    line-height: 1;
    padding: 0.7rem 1rem;
    background-color: #5e789a;
    color: #fefefe;
    font-size: 0.875rem;
    font-weight: bold;
    border-right: 1px solid #d3deed;
    border-top: 1px solid #d3deed;
  }
  .bp-tabs li.bp-tabs-title a:hover, .bp-tabs li.bp-tabs-title a.selected {
    background-color: #333333;
    /*border-right: 1px solid #333333;*/
    /*border-top: 1px solid #333333;*/
  }
  .bp-tabs-content {
    border: 1px solid #e6e6e6;
    border-top: 0;
    background: #fefefe;
    color: #0a0a0a;
    transition: all 0.5s ease;
    margin-bottom: 0.7rem;
  }
  .bp-tabs-content .tabs-panel {
    display: block;
    padding: 0.3rem 0;
    border-right: 1px solid #5e789a;
    border-left: 1px solid #5e789a;
    border-bottom: 1px solid #5e789a;
  }



/* ---------------------------------------------------------- */
/* Multi select drop-down with checkboxes   */
/* https://github.com/icyz/zurb-foundation6-multiselect/blob/master/src/zmultiselect.less   */
/* ---------------------------------------------------------- */
.zselect {
  margin: 0 0 1rem 0;
  padding: 0.5rem 24px 0.32rem 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fefefe url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>") no-repeat;
  background-origin: content-box;
  background-position: right -1rem center;

  background-size: 9px 6px;
  border: 1px solid #cccccc;

  font-size: 0.77778rem;
  font-family: inherit;
  font-weight: normal;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}

.zselect ul {
  position: absolute;
  background-color: #fefefe;
  border: 1px solid #cccccc;
  border-top: none;
  padding: 0;
  margin: 5px 0 0 -0.55rem;
  z-index: 10;
  list-style-type: none;
  display: none;

  overflow-y: auto;
  max-height: 400px;
}

.zselect span.zmshead {
  font-size: 1rem;

}

.zselect ul li {
  display: table;
  width: 100%;
  padding: 4px 0.70rem 0px 0.70rem;
  font-size: 0.9rem;
}

.zselect ul li span {

}

.zselect ul li.disabled {
  color: #808080;
}

.zselect ul li:hover {
  background-color: #b8cae1;
  color: #fff;
}

.zselect ul li.zmsfilter,
.zselect ul li.zmsfilter:hover,
.zselect ul li.filterResult,
.zselect ul li.filterResult:hover,
.zselect ul li.optgroup,
.zselect ul li.optgroup:hover {
  background-color: transparent;
  color: #000;

}

.zselect ul li.zmsfilter input {
  margin-bottom: 0.3rem;
}

.zselect ul li input[type='checkbox'] {
  padding: 0;
  margin: 0;
  display: table-cell;
  margin-right: 4px;
}

.zselect ul li.filterResult {
  font-size: 0.8em;
}

.zselect ul li.optgroup {
  font-weight: bold;
  cursor: pointer !important;
}

.zselect ul li.selectall,
.zselect ul li.deselectall{
  cursor: pointer!important;
}
