.showentries {
  background-color : transparent;
  font-size: 1em;
  color: #FFFFFF;
  display: block;
  font-weight: 500;
  margin-bottom: 0.1875em;
}
.showentries.label {
  background-color : transparent;
  font-size: 1em;
  color: #FFFFFF;
}

.tdF{
vertical-align: top;
}

.inputW{
width:10em;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:#0a47ff;
}


.section{ font-weight:bold; color:darkblue; padding-bottom:10px }

.docsection{ background-color:#b2d546; font-weight:bold; border-style:solid; border-width:1px; border-color:#324f00;}
.doctext{ background-color:#e4f9a6; border-style:solid; border-width:1px; border-color:#324f00;}
.doctextlight{ background-color:#F4FFDD; border-style:solid; border-width:1px; border-color:#324f00;}
li.news{padding:0px; margin-left: 0em; text-indent: -.4em;}
.help { color:#b2d546 }
.helpsection{ font-weight:bold; font-size:14pt; background-color:forestgreen; color:white; border-style:solid; border-width:1px; border-color:forestgreen;}
.helplight { color:#e4f9a6 }
.helpdark { color:forestgreen }
.highlightcell { background-color:#ECE6E6 }
.whitecell { background-color:white }
.whitesmokecell { background-color:whitesmoke }

.invisibletable{ border-width:0px; border-color:white; vertical-align: top;}


.inputW{width:10em}
.input8{width:8em}
.inputN{width:2em}
.input4{width:4em}



a.uservisits {
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
}
a.uservisits:hover {
    text-decoration: underline;
}

h2 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	position: relative;
	font-size: 14px;
	line-height: 30px;
	background: #355681;
	background: rgba(53,86,129, 0.8);
	border: 1px solid #fff;
	padding: 5px 15px;
	color: white;
	border-radius: 10px 10px 0px 0px;
	font-family: 'Muli', sans-serif;
}

h4 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	position: relative;
	font-size: 14px;
	line-height: 20px;
	color: rgba(53,86,129, 0.8);
	font-family: 'Muli', sans-serif;
}

hr {
    background-color: rgba(53,86,129, 0.8);
    height: 3px;
    width: 100%;
    max-width: 100%;
}
.killbutton {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-color: firebrick;
  color: white;
  padding: 10px;
}
.killbutton:hover {
    background-color: #222222;
    color: white;
}
.dropdownplots {
    position: relative;
    display: inline-block;
}
.dropdownbutton{
    background-color: rgba(53,86,129, 0.8);
    color: white;
    width: 200px;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    line-height: 1.5;
}
.dropdown-plot {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border-left: 1px solid #222222;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1002;
}
.dropdown-plot a {
    color: #222222;
    padding: 6px 8px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}
.dropdown-plot a:hover {background-color: rgba(53,86,129, 0.3)}
.dropdownplots:hover .dropdown-plot {
    display: block;
}

.dropdownplots:hover .dropdownbutton {
    background-color: #222222;
}

.bluebutton {
  display: inline-block;
  min-width: 200px;
  font-family: sans-serif;
  text-align: center;
  font-size: 14px;
  /*font-weight: bold;*/
  text-decoration: none;
  background-color: rgba(53,86,129, 0.8);
  color: white !important;
  padding: 10px;
}

.row.left-aligned {
    margin: 0;
    padding: 0;
}
.column.left-aligned {
margin-left: 0;
margin-right: 0;
padding: 0;
float: none !important; }

.card.scrollable {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

.card-divider.errorlog {
    background-color: #FFFBDA;
    color: brown;
    border-bottom: 1px solid #ececec;
}

.card-section.errorlog {
    font-size: smaller;
    background-color: #f1f1f1;
}

/* Tooltips for task errors scattering matrix */

.tooltiptesm {
    position: relative;
    display: inline-block;
}

.tooltiptesm a {
    color: #0a0a0a !important;
}

.tooltiptesm .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    max-width: 400px;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltiptesm .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0a0a0a transparent transparent transparent;
}

.tooltiptesm:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.blacklink {
    color: #0a0a0a !important;
}

.blacklink.bold {
    font-weight: bold;
}

.graylink {
    /*text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;*/
    color: #0a0a0a !important;
}

/*Colors for errors scattering matrix*/

.sm_alarm_fill {  color:black;  background-color:#ff6666 }
.sm_warning_fill { color:black;  background-color:#FFCB2F }
.sm_ok_fill {color:black;  background-color:#70db70 }

.sm_alarm_light_fill {  color:black;  background-color:#ffcccc }
.sm_warning_light_fill { color:black;  background-color:#fff0b3 }
.sm_ok_light_fill {color:black;  background-color:#d6f5d6}

.sm_alarm {  color:#ff6666; font-weight: bold }
.sm_warning { color:#FFCB2F; font-weight: bold  }
.sm_ok {color:#70db70; font-weight: bold  }