
.alarm { color:red }
.errspan {color: red}
.error { color:red !important; background-color:white !important; font-size:12pt !important; font-style:normal !important;  }
.info { color:black }
.messageinfo { color:forestgreen }
.finished { color:#207f20 }
.completed { color:#207f20 }
.done { color:#207f20 }
.cached { color:#207f20 }
.online { color:#207f20 }
.merged { color:#207f20 }
.broken { color:firebrick }
.lost { color:firebrick }
.tobroken { color:firebrick }
.missed { color:firebrick }
.deleted { color:red }
.failed { color:red }
.aborted { color:red }
.aborting { color:red }
.paused { color:darkgrey }
.skipped { color:darkgrey }
.notcheckedskipped { color:darkgrey }
.debug { color:darkgrey }
.pending { color:#deb900 }
.waiting { color:#deb900 }
.sent { color:#deb900 }
.brokeroff { color:#deb900 }
.holding { color:#FF9933 }
.throttled { color:#FF9933 }
.exhausted { color:#FF9933 }
.finishing { color:#FF9933 }
.cancelled { color:#e67300 }
.warning { color:#e67300 }
.missing { color:#e67300 }
.timeout { color:#e67300 }
.discarded { color:#e67300 }
.approved { color:#47D147 }
.topreprocess { color:#47D147 }
.preprocessing { color:#47D147 }
.starting { color:#47D147 }
.submitting { color:#47D147 }
.scouting { color:#47D147 }
.scouted { color:#47D147 }
.picked { color:#47D147 }
.running { color:#34a934 !important; }
.merging { color:#34a934 }
.partial { color:#34a934 }
.transferring { color:#34a934 }
.activated { color:#3b8e67 }
.prepared { color:#3b8e67 }
.ready { color:#3b8e67 }
.submitted{ color:#3b8e67 !important; }
.assigning { color:#099999 }
.scheduled { color:#099999 }
.assigned { color:#099999 }
.defined { color:#2174bb }
.registered { color:#2174bb }
.test { color:#2174bb }
.to_submit { color:#2174bb !important;}
.staging { color:#934fff }
.toretry { color:grey }
.toincexec { color:grey }
.rerefine { color:grey }
.queued { color:grey }
.idle { color:grey }
.offline { color:#4a4a4a }
.closed { color:#4a4a4a}
.reassign { color:#FF8174 }
.corrupted { color:red }
.alert { color: firebrick }
.fatal {color:firebrick}
.ok {color:#0a47ff}

[class$="_fill"] {
  color: #0a0a0a;
}
[class$="_fill"] a {
  font-weight: bold;
  color: #0a0a0a;
}

.tobroken_fill { color:black;  background-color:#db9591; }
.broken_fill { color:black;  background-color:#db9591; }
.lost_fill { color:black;  background-color:#db9591; }
.missed_fill { color:black;  background-color:#db9591; }

.corrupted_fill { color:black;  background-color:#FF8174 }
.alarm_fill { color:black;  background-color:#FF8174 }
.error_fill { color:black;  background-color:#FF8174 }
.reassign_fill { color:black;  background-color:#FF8174 }

.failed_fill { color:black;  background-color:#FFABA2;  }
.aborted_fill { color:black;  background-color:#FFABA2;  }
.aborting_fill { color:black;  background-color:#FFABA2;  }
.deleted_fill { color:black;  background-color:#FFABA2 }

.info_fill { color:black; }
.debug_fill { color:black;  background-color:darkgrey }

.failedscouting_fill { color:white;  background-color:firebrick }
.fatal_fill {color:white; background-color: firebrick}

.done_fill { color:black;  background-color:#62AC21;  }
.toincexec_fill { color:black;  background-color:#62AC21;  }
.rerefine_fill { color:black;  background-color:#62AC21;  }
.merged_fill { color:black;  background-color:#62AC21 }

.prepared_fill { color:black;  background-color:#96ca69;  }
.finished_fill { color:black;  background-color:#96ca69;  }
.completed_fill { color:black;  background-color:#96ca69 }
.toretry_fill { color:black; background-color:#96ca69;  }

.transferring_fill { color:black;  background-color:#addf80 }
.finishing_fill { color:black;  background-color:#addf80;  }
.merging_fill { color:black;  background-color:#addf80 }
.partial_fill { color:black;  background-color:#addf80 }

.running_fill { color:black;  background-color:#C7E9A9 !important;  }
.starting_fill { color:black;  background-color:#C7E9A9;  }
.scouted_fill { color:black;  background-color:#C7E9A9;  }
.cached_fill { color:black;  background-color:#C7E9A9 }
.online_fill { color:black;  background-color:#C7E9A9 }

.scouting_fill { color:black;  background-color:#DBF1C6;   }
.topreprocess_fill { color:black;  background-color:#DBF1C6;  }
.preprocessing_fill { color:black;  background-color:#DBF1C6;  }
.picked_fill { color:black;  background-color:#DBF1C6 }

.submitting_fill { color:black;  background-color:#EBF5E2;  }
.approved_fill { color:black;  background-color:#EBF5E2 }
.processed_fill { color:black;  background-color:#EBF5E2 }

.assigning_fill { color:black;  background-color:#d9efef;  }
.assigned_fill { color:black;  background-color: #d9efef }
.scheduled_fill { color:black;  background-color:#d9efef }


.activated_fill { color:black;  background-color:#d9efde }
.ready_fill { color:black;  background-color:#d9efde;  }
.submitted_fill { color:black;  background-color:#d9efde !important; }

.defined_fill { color:black;  background-color:#e6f0f6;  }
.queued_fill { color:black;  background-color:#e6f0f6;  }
.registered_fill { color:black;  background-color:#e6f0f6;   }
.test_fill { color:black; background-color:#e6f0f6 }
.to_submit_fill { color:black; background-color:#e6f0f6 !important;}

.paused_fill { color:black;  background-color:#edeeef;  }
.passed_fill { color: black; background-color:#edeeef; }

.staging_fill { color:black;  background-color:#f1e8ff }

.warning_fill { color:black;  background-color:#FFCB2F }
.missing_fill { color:black;  background-color:#FFCB2F }

.discarded_fill { color:black; background-color:#FFD65D }
.timeout_fill { color:black; background-color:#FFD65D }
.cancelled_fill { color:black; background-color:#FFD65D }

.holding_fill { color:black; background-color:#FFE38E }
.throttled_fill { color:black; background-color:#FFE38E; }
.exhausted_fill { color:black; background-color:#FFE38E; }

.pending_fill { color:black;  background-color:#FFF5D6; }
.waiting_fill { color:black; background-color:#FFF5D6 }
.sent_fill { color:black; background-color:#FFF5D6 }
.brokeroff_fill { color:black; background-color:#FFF5D6 }

.closed_fill { color:black; background-color:#bdbdbd }
.offline_fill { color:black; background-color:#bdbdbd }
.idle_fill { color:black; background-color:#bdbdbd }

/*States of requests*/

.monitoring_fill { color:black;  background-color:#C7E9A9;}
.working_fill { color:black;  background-color:#C7E9A9;}

/* States of task inputs */

.input_ready_fill { color:black;  background-color:#DCDCDC; }
.input_queued_fill { color:black; background-color: #d9efef; }
.input_running_fill { color:black;  background-color:#C7E9A9; }
.input_merging_fill { color:black;  background-color:#A0D670; }
.input_transferring_fill { color:black;  background-color:#A0D670; }
.input_finished_fill { color:black;  background-color:#62AC21; }
.input_failed_fill { color:black;  background-color:#FF8174; }

.input_ready { color: grey; }
.input_queued { color: #099999; }
.input_running { color: #47D147; }
.input_merging { color: #62AC21; }
.input_transferring { color: #62AC21; }
.input_finished { color: #248F24; }
.input_failed { color: red; }


/* States of iDDS requests */
.transforming { color:#34a934 }
.subfinished { color:#deb900 }
.suspended { color:#4a4a4a }

.transforming_fill { color:black;  background-color:#C7E9A9;  }
.subfinished_fill { color:black;  background-color:#FFF5D6; }
.suspended_fill { color:black; background-color:#bdbdbd }
