table {
    border-collapse: collapse;
}

.tablesection{
    font-weight:bold;
    background-color:lightcyan;
    border-style:solid;
    border-width:1px;
    border-color:grey;}


th {
    text-align:left;
    border-style:solid;
    border-width:1px;
    border-color:grey;
    font-size: 0.875rem;
}

td {
    text-align:left;
    border-style:solid;
    border-width:1px;
    border-color:lightgrey;
    font-size: 0.875rem;
}

th.num {
  text-align: right;
}

td.num {
  text-align: right;
}

td.wrap{
    word-break: break-word;
}

th.main {
    font-weight: 600;
	font-family: 'Muli', sans-serif;
    color:white;
    background-color:rgba(53,86,129, 0.8);
	border: 1px solid white;
    border-radius: 10px 10px 0px 0px;
}

th.sub {
    font-weight: 600;
	font-family: 'Muli', sans-serif;
    color:#355681;
    background-color:white;
}

table.tableinlinel {
    float:left;
    width:25%;
}
table.tableinliner {
    float:left;
    width:25%;
}
table.tableinlinem {
    float:left;
    width:40%;
}


table.v-scroll {
    display: block;
    width: 100%;
    height: 30rem;
    overflow-y: scroll;
}

table.v-scroll tbody {
    display: inherit;
}

table.v-scroll tr {
    display: inherit;
}

table.v-scroll td {
    display: inherit;
}

table.v-scroll pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.tableFilter{
vertical-align: top;
}
.tableFilter.td{
vertical-align: top;
}

.headerSortDown:after{
    content: '';
    position: relative;
    left: 0px;
    top: 13px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px dashed #0a47ff;
}
.headerSortUp:after{
    content: '';
    position: relative;
    left: 5px;
    bottom: 15px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px dashed #0a47ff;
}
.headerSortedDown:after{
    content: '';
    position: relative;
    left: 0px;
    top: 13px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px dashed black;
}
.headerSortedUp:after{
    content: '';
    position: relative;
    left: 5px;
    bottom: 15px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px dashed black;}


.table-wrap {
  overflow: scroll; /* needed to hide stuff outside the height/width */
  height: 90vh;
  max-width: 100%;
  display: inline-block;
}

.errorsscat {
    width: 72rem;
    text-align: center;
}

  .errorsscat tbody th,
   .errorsscat thead th,
   .errorsscat thead td,
    .errorsscat tbody td {
      padding: 0.2rem;
      text-align: center;
  }

  .errorsscat thead th,
    .errorsscat tbody th {
      border: 1px solid #fefefe;
  }

  .errorsscat tbody td {
      border: 1px solid lightgray;
      line-height: 1.1rem;
      width: 5rem;
      min-width: 5rem;
      max-width: 5rem;
  }

  .errorsscat a {
    color: #0a0a0a;
  }



th.rotate {
  /* Something you can count on */
  height: 210px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    /* Magic Numbers */
    translate(-15px, 90px)
    /* 45 is really 360 - 45 */
    rotate(285deg);
  max-width: 35px;
}
th.rotate > div > span {
  /*border-bottom: 1px solid #ccc;*/
  padding: 5px 10px;
}

/*Class to rotate headers of table*/

table.matrix tbody th,
 table.matrix thead th,
  table.matrix tbody td {
    padding: 0.2rem; }

table.matrix tbody th,
 table.matrix thead th {
    border: 1px solid #fefefe;
}

table.matrix thead th {
    width: 4rem;
    min-width: 4rem;
    max-width: 4rem;
}

table.matrix tbody th {
    padding-left: 1rem;
    width: 6rem;
    min-width: 6rem;
    max-width: 6rem;
}

table.matrix tbody td {
    border: 1px solid lightgray;
    text-align: center;
    line-height: 1.1rem;
    width: 4rem;
    min-width: 4rem;
    max-width: 4rem;
}

/*Class to rotate headers of table*/

div.vertical-dash-header
{
 margin-left: -2.3rem;
 position: absolute;
 width: 90px;
 transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg); /* Safari/Chrome */
 -moz-transform: rotate(-90deg); /* Firefox */
 -o-transform: rotate(-90deg); /* Opera */
 -ms-transform: rotate(-90deg); /* IE 9 */
}

th.vertical-dash-header
{
 height: 100px;
 line-height: 14px;
 padding-bottom: 20px;
 text-align: left;
}

div.vertical-dash-header > a {
    color: black !important;
}

div.vertical {
  margin-left: -7.5rem;
  position: relative;
  width: 295px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  /* Safari/Chrome */
  -moz-transform: rotate(-90deg);
  /* Firefox */
  -o-transform: rotate(-90deg);
  /* Opera */
  -ms-transform: rotate(-90deg);
  /* IE 9 */
}

th.vertical {
  height: 300px;
  line-height: 14px;
  padding-bottom: 20px;
  text-align: left;
  max-width: 20px;
}

.legend {
    width: 2rem;
    min-width: 2rem;
    max-width: 2rem;
}

.no-border {
    border: none !important;
}

.lesspadding {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 1rem;
}

.minimalistic-table {
    width: 100%;
    background-color: #fefefe;
    margin-bottom: 0.7rem;
}

table.minimalistic-table > thead, table.minimalistic-table > thead tr, table.minimalistic-table > tbody, table.minimalistic-table > tbody tr {
    border: none;
}

.minimalistic-table > thead > tr > th {
    background-color: #fefefe;
    color: #272727;
    text-align: left;
    border: none;
    padding: 0.3rem 0.7rem;
}

.minimalistic-table > tbody > tr > th {
    border: none;
    padding: 0.3rem 0.7rem;
    background-color: #e6e6e6;
}

.minimalistic-table > tbody > tr > td {
    border: none;
    padding: 0.3rem 0.3rem 0.3rem 0 ;
}

.minimalistic-table th.mid,  .minimalistic-table td.mid {
  text-align: center;
}

.minimalistic-table td > select, .minimalistic-table td label > input, .minimalistic-table a.button {
  margin-bottom: 0;
}
.minimalistic-table input[type="checkbox"] {
  margin-right: 0.3rem;
}

.minimalistic-table div.c3-chart-block {
  margin: 0;
}

/* New style for BP tables */

.bp-table {
  width: 100%;
  background-color: #fefefe;
  border: 1px solid #5e789a;
  border-collapse: separate;
  border-spacing: 0;
}
  .bp-table thead {
    border: solid 1px #5e789a;
  }
  .bp-table tbody {
    border: solid 1px #5e789a;
  }
  .bp-table thead th {
    background-color: #5e789a;
    color: #fefefe;
    border: none;
  }
  .bp-table thead th a {
    color: #fefefe;
    font-weight: bold;
    text-decoration: underline;
  }
  .bp-table thead th a:hover {
    color: #fefefe;
    text-decoration: none;
  }
  .bp-table thead td {
    background-color: #fefefe;
    color: #272727;
    font-weight: bold;
    border: none;
  }
  .bp-table tbody td {
    border: none;
    padding: 0.3rem 0.7rem;
  }
  .bp-table tbody th {
    border: none;
    background-color: #fefefe;
  }
  .bp-table tbody td a {
    color: #355681;
    font-weight: bold;
  }
  .bp-table tbody td a:hover {
    color: #272727;
  }
  .bp-table tbody tr:nth-child(even):hover td{
    background-color: #d4dfed !important;
  }
  .bp-table tbody tr:nth-child(odd):hover td {
    background-color: #d4dfed !important;
  }
  .bp-table tbody tr:last-child td {
    border-bottom: none !important;
  }


/* New style for dataTables */

.dataTables_wrapper {
  width: 100%;
  margin: 0;
  padding: 0.7rem 0.3rem;
}
.dataTables_wrapper .row {
  max-width: 100%;
}
.dataTables_wrapper .row .columns {
  padding: 0.3rem 0;
}

.dataTables_wrapper .dt-buttons {
  margin-bottom: 0;
}

.dataTables_wrapper .dataTables_length label {
  margin-right: 1rem;
}

.dataTables_info {
  color: #272727;
  font-size: inherit;
}

.dataTables_paginate ul.pagination {
  margin-bottom: 0;
}
.dataTables_paginate .paginate_button.current {
  background-color: #333333;
  color: #fefefe;
  font-weight: bold;
}

.dataTables_paginate .paginate_button > a {
  background-color: #5e789a;
  color: #fefefe;
}

.data-table {
  width: 100% !important;
  max-width: 100%;
  border: none;
}
  .data-table caption {
    border: none;
    padding: 0;
    vertical-align: middle;
    font-size: 0.875rem;
    color: #272727;
    text-align: left;
    margin-left: 0.3rem;
  }
  .data-table thead, .data-table tbody, .data-table tfoot {
    border: none;
  }
  .data-table thead tr, .data-table tbody tr, .data-table tfoot tr {
    border: none;
  }
  .data-table thead th {
    color: #272727;
    background-color: #fefefe;
    border: none;
    text-align: left;
    font-size: 0.875rem;
    padding: 0.25rem 0.35rem 0.25rem 0.35rem;
  }
  .data-table tfoot th {
    color: #272727;
    background-color: #fefefe;
    border: none;
    text-align: left;
    font-size: 0.875rem;
    padding: 0.25rem 1.5rem 0.25rem 0.35rem;
  }
  .data-table tfoot th.num {
    padding: 0.25rem 0.35rem 0.25rem 1.5rem;
  }
  .data-table thead th.vertical {
    height: 6rem;
    padding: 0;
    width: 1.8rem;
    max-width: 1.8rem;
    min-width: 1.8rem;
  }
  .data-table tfoot th.vertical {
    height: 6rem;
    padding: 0;
    width: 3.3rem;
    max-width: 3.3rem;
    min-width: 3.3rem;
  }
  .data-table div.rotate70 {
           text-align: left;
               margin: 3rem 0 0 0;
               filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
           -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
       -moz-transform: rotate(-70.0deg);  /* FF3.5+ */
        -ms-transform: rotate(-70.0deg);  /* IE9+ */
         -o-transform: rotate(-70.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-70.0deg);  /* Safari 3.1+, Chrome */
            transform: rotate(-70.0deg);  /* Standard */
  }
  .data-table tfoot div.rotate70 {
    text-align: right;
    margin: 0 0 0 -2rem;
    width: 6rem;
    padding: 0 1rem 0 0;
  }
  .data-table tbody td {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    text-align: left;
    padding: 0.25rem 0.35rem 0.25rem 0.35rem;
    font-size: 0.875rem;
  }
  .data-table.nowrap tbody td {
    white-space: nowrap;
  }
  .data-table.nowrap thead th, .data-table.nowrap tfoot th {
    white-space: normal !important;
  }
  .data-table tbody td.nowrap {
    white-space: nowrap;
  }
  .data-table td > a {
    color: #272727 !important;
    font-weight: bold;
  }
  .data-table.bluelinks td > a {
    color: #355681 !important;
    font-weight: bold;
  }
  .data-table td.bold {
    font-weight: bold;
  }
  .data-table td.icons3 {
    padding-right: 3rem;
  }
  .data-table tbody td > a.alert {
    color: firebrick !important;
  }
  .data-table tbody td > a.warning {
    color: #FF9933 !important;
  }
  .data-table .num {
    text-align: right !important;
  }
  .data-table .text {
    text-align: left !important;
  }
  .data-table .state {
    text-align: center !important;
  }
  .data-table tbody tr:nth-child(even):hover td{
    background-color: #d4dfed !important;
  }
  .data-table tbody tr:nth-child(odd):hover td {
    background-color: #d4dfed !important;
  }

/*Style for compare table*/

.compare-table {
    width: 100%;
    background-color: #fefefe;
    table-layout: fixed;
    margin-top: 1rem;
}

.compare-table thead {
    border: none;
}

.compare-table tbody {
    border: none;
}

.compare-table tfoot {
    border: none;
    background-color: #fefefe;
    display: none;
}

.compare-table thead th {
    background-color: #f1f1f1;
    color: #272727;
    text-align: center;
    border-left: 1px solid #fefefe;
    border-right: 1px solid #fefefe;
    border-bottom: none;
    border-top: none;
}

.compare-table tbody td {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-align: left;
    word-wrap: break-word;
}

.compare-table tbody th {
    background-color: #f1f1f1;
    color: #272727;
    text-align: right;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fefefe;
    border-top: 1px solid #fefefe;
    font-weight: bold;
}

.compare-table tfoot td {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-align: left;
    word-wrap: break-word;
    font-weight: normal;
}

.compare-table tfoot th {
    background-color: #f1f1f1;
    color: #272727;
    text-align: right;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fefefe;
    border-top: 1px solid #fefefe;
    font-weight: bold;
}

.different {
    background-color: lightsteelblue;
}

.fresh-table {
    width: 100%;
    background-color: #fefefe;
}

.fresh-table thead {
    border: none;
}

.fresh-table tbody {
    border: none;
}

.fresh-table thead th {
    background-color: #d3deed;
    color: #272727;
    text-align: left;
    border: solid 1px #d3deed;
}

.fresh-table thead th a {
    color: rgba(53,86,129, 0.8);
    font-weight: bold;
}

.fresh-table thead th a:hover {
    color: #272727;
}

.fresh-table thead td {
    background-color: #f1f1f1;
    color: #272727;
    font-weight: bold;
    border: solid 1px #d3deed;
}

.fresh-table tbody td {
    border: solid 1px #e9e9e9;
}

.fresh-table tbody th {
    border: solid 1px #dbdbdb;
    background-color: #f1f1f1;
}

.fresh-table tbody td a {
    color: rgba(53,86,129, 0.8);
    font-weight: bold;
}

.fresh-table tbody td a:hover {
    color: #272727;
}

.wrap-words {
    word-wrap: break-word;
}

.fixed {
    table-layout: fixed;
}

.fixed col.w10 {
    width: 10%;
}
.fixed col.w5 {
    width: 5%;
}
.fixed col.w15 {
    width: 15%;
}
.fixed col.w80 {
    width: 80%;
}
.fixed col.w90 {
    width: 90%;
}

