.node circle {
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.node text {
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
}

#tooltip {
    text-align: left;
    padding: 5px;
    font: 12px sans-serif;
    background: #ffff66;
    border: 0.3px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    pointer-events: none;
}
