.bp_tooltip {
  position: relative;
  /*overflow-x: inherit;*/
  display: inline-block;
}
  .bp_tooltip:hover {
    cursor: hand;
    text-decoration: underline;
    z-index: 100;
  }
  .bp_tooltip::after {
    visibility: hidden;
    content: '';
    /*display:none;*/
    width: 250px;
    background-color: #272727;
    color: #fff;
    text-align: center;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.3;
    border-radius: 6px;
    padding: 0.3rem;
    position: absolute;
    z-index: 100;
    top: -5px;
    left: 110%;
  }
  .bp_tooltip::before {
    content: '';
    position: absolute;
    display:none;
    top: 50%;
    right: -10%;
    z-index: 100;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #272727 transparent transparent;
  }
  .bp_tooltip:hover:before, .bp_tooltip:hover:after {
    display: block;
    visibility: visible;
  }

  .bp_tooltip.task_registered:after {
    content: 'the task information is inserted to the JEDI_Tasks table';
  }
  .bp_tooltip.task_defined:after {
    content: 'all task parameters are properly defined';
  }
  .bp_tooltip.task_assigning:after {
    content: 'the task brokerage is assigning the task to a cloud';
  }
  .bp_tooltip.task_ready:after {
    content: 'the task is ready to generate jobs. New jobs are generated once computing resources become available.';
  }
  .bp_tooltip.task_pending:after {
    content: 'the task has a temporary problem';
  }
  .bp_tooltip.task_scouting:after {
    content: 'the task is running scout jobs to collect job data';
  }
  .bp_tooltip.task_submitting:after {
    content: 'the task is running scout jobs to collect job data';
  }
  .bp_tooltip.task_scouted:after {
    content: 'all scout jobs were successfully finished';
  }
  .bp_tooltip.task_running:after {
    content: 'the task is running jobs';
  }
  .bp_tooltip.task_prepared:after {
    content: 'the task is ready to go to a final status';
  }
  .bp_tooltip.task_done:after {
    content: 'all inputs of the task were successfully processed';
  }
  .bp_tooltip.task_failed:after {
    content: 'all inputs of the task were failed';
  }
  .bp_tooltip.task_finished:after {
    content: 'some inputs of the task were successfully processed but others were failed or not processed since the task was terminated';
  }
  .bp_tooltip.task_aborting:after {
    content: 'the task is being killed';
  }
  .bp_tooltip.task_aborted:after {
    content: 'the task is killed';
  }
  .bp_tooltip.task_finishing:after {
    content: 'the task is forced to get finished';
  }
  .bp_tooltip.task_topreprocess:after {
    content: 'preprocess job is ready for the task';
  }
  .bp_tooltip.task_preprocessing:after {
    content: 'preprocess job is running for the task';
  }
  .bp_tooltip.task_tobroken:after {
    content: 'the task is going to broken';
  }
  .bp_tooltip.task_broken:after {
    content: 'task cannot be executed, task definition is wrong';
  }
  .bp_tooltip.task_toretry:after {
    content: 'the retry command was received for the task';
  }
  .bp_tooltip.task_toincexec:after {
    content: 'the incexec command was received for the task';
  }
  .bp_tooltip.task_rerefine:after {
    content: 'task parameters are going to be changed for incremental execution';
  }
  .bp_tooltip.task_paused:after {
    content: 'the task is paused and does not do anything until it is resumed';
  }
  .bp_tooltip.task_throttled:after {
    content: 'the task is throttled to generate jobs since the largest attemptNr in the task is a multiple of 5. The throttled period is 120 x int(max(attemptNr)/5)**2 minites';
  }
  .bp_tooltip.task_exhausted:after {
    content: 'all reattempts were done but some inputs were still unsuccessful, and the task is configured to go to this state instead of finished to wait for manual intervention or timeout of 10 days. Also, if cpuTime of scouts jobs > 2x cpuTime of task definition, the task goes to exhausted';
  }
  .bp_tooltip.task_paused:after {
    content: 'the task is ready to go to a final state after manual intervention or timeout';
  }
  .bp_tooltip.task_staging:after {
    content: 'inputs for the task are staging from tape';
  }

